[2018-10-20 06:54] lpatmo commented on #1022
We use SASS, and the CSS compiles automatically when you run localhost:3000. Docs are at docs.codebuddies.org. Let me know if you have any questions. Thanks!

[2018-10-20 06:56] lpatmo commented on #588
Marking this as unclaimed again, since it's been a year!

[2018-10-20 07:01] lpatmo opened #1024 "Remove the "Get your Slack invite here" links from the home page"
Easy issue, in preparation for #1021 ("redirect new users to /welcome page).

The idea of the new signup flow is:

1) User logs in using Slack or Github and signs up.
2) User gets redirected to the the welcome page, and also gets a welcome email and an email invite to the CodeBuddies Slack. The welcome email/welcome page will contain a link to https://codebuddiesmeet.herokuapp.com just in case the

[2018-10-20 07:02] TomerPacific commented on #588
@lpatmo ,
I would like to take this issue. Let me know if it is possible.

[2018-10-20 07:05] lpatmo commented on #588
@TomerPacific Thanks, go ahead! I haven't looked into the specifics of the fix, but let me know if it's not straightforward, since it's more a `nice-to-have` rather than a priority issue. :)

[2018-10-20 07:10] lpatmo commented on #1020
@yoksanherlie I noticed that in the #codebuddies-ops test channel, there were some reminder alerts. Were they from you? And did you get them to fire after changing any code, or did they simply seem to work? Also, did you notice any duplicates firing?

![image](https://user-images.githubusercontent.com/4512699/47252617-85836400-d3fc-11e8-8c26-2a6624d7b987.png)

[2018-10-20 07:12] toshitapandey commented on #1024
I'll pick this one up.

[2018-10-20 07:19] lpatmo commented on #1024
Thanks @toshitapandey.

[2018-10-20 07:31] FrikanRw commented on #1021
Can I pick this issue up, please?

[2018-10-20 07:50] ekanshiag commented on #1023
Hi, I will pick this one up.

[2018-10-20 07:54] railsstudent commented on #1021
@FrikanRw  It is yours.

[2018-10-20 10:28] n0zg commented on #1023
Hi, i made a pull request updating both pages :)

[2018-10-20 11:04] yoksanherlie commented on #1020
@lpatmo Yes, it's from me because I tried to debug it with my own dummy data. It will notify through the #codebuddies-ops channel by default because of the settings-development.json but it hasn't notify to the #announcements channel, that's the bug I want to fix from your request of this issue

[2018-10-20 11:05] imsmokie opened #1033 "Suggestion : Implementing a Discord server"
Discord is an application similar to slack

[2018-10-20 14:59] TomerPacific commented on #1022
@lpatmo , seeing as there is a pull request to close this issue, there is no need for me to work on it. Right?

[2018-10-20 18:53] TomerPacific commented on #588
@lpatmo ,
I have a development environment running and I have read the comments above and their suggestions on how to fix this issue. I have two things I want to know:

1. How can I see a real world example of this issue (without joining a study group)? Tried to find the Learnings section, but came up short.

1. In the development environment, there are no study groups, so I was wondering how, whe

[2018-10-21 00:14] lpatmo commented on #588
@TomerPacific You can create a study group in localhost:3000 and write a learning inside it. On the localhost:3000/hangouts page, you should also see learnings on the sidebar, so you can save a test learning and see the upvote/downvote buttons there too.

Similarly, you can create a study group at localhost:3000/study-groups.

In terms of seeding test hangouts/groups... I don't remember if this is

[2018-10-21 04:33] lpatmo opened #1034 "Make existing `swal` code compatible with sweetalert 2 package"
See: https://github.com/codebuddies/codebuddies/pull/1025#issuecomment-431624545

@thunatos has started working on this.

[2018-10-21 04:34] #1019 closed

[2018-10-21 04:44] lpatmo commented on #1022
@TomerPacific I took a look at @bgalek's PR. It was bad form for them to take on the issue w/out commenting first to check if anyone else had already claimed it, but looks like the fix was that easy. Sorry this happened.

[2018-10-21 04:45] #1022 closed

[2018-10-21 15:34] ronnykaizer commented on #964
this is a great idea but i also suggest that your studygroup should also support a skype for members who a apart from each

[2018-10-21 15:41] lpatmo commented on #964
@ronnykaizer Can you say more? Study groups do support remote hangouts. All of the meetings/groups on CodeBuddies are remote and we don't have any that are in-person because part of the mission is not to be geographically exclusive.

[2018-10-21 16:02] yoksanherlie commented on #1020
Yes, I was able to recreate the bug.
So, is this fix necessary? That will remind to the slack #announcements channel when there is a upcoming hangout in 2 hours?
If yes, I will make a pr.

[2018-10-22 21:57] thunatos commented on #1014
Hi @lpatmo I have submitted my pull requests yesterday. I tested it out on multiple features and I also had to create a few different cases, say if users click off the overlay, or dismiss the option, or cancel, it will alert users with an info screen instead of just simply "closeOnConfirm".

I would like to get a few more pull requests in for Hacktoberfest. So let me know and I hope that the chang

[2018-10-23 01:31] lpatmo commented on #588
@TomerPacific Thanks!

Re: signing in -- signing in/signing up using Github will also work. :) Let me know if it didn't or if it wasn't clear that it would.

Re: down arrow -- I'm thinking we should only have it appear after a user has already upvoted once, since generally we want to applaud learnings and let people undo their upvote only if they hadn't intended to.

[2018-10-23 07:46] #971 closed

[2018-10-23 07:47] lpatmo commented on #1021
@FrikanRw Do you need any help with this issue?

[2018-10-23 16:52] FrikanRw commented on #1021
@lpatmo I have been trying to log in just to test my changes, can I add the FlowRouter.go("/welcome") on the "updateBasicInformation" call?

[2018-10-23 17:01] FrikanRw commented on #1021
Took a stab at it [here](https://github.com/codebuddies/codebuddies/pull/1039).

[2018-10-23 18:07] lpatmo commented on #1021
@FrikanRw Thanks, will take a look! Is login using Github working for you on localhost:3000? If you type `meteor reset` that's how you can clear the database to simulate logging in as a new user again.

[2018-10-25 20:03] TomerPacific commented on #588
I have opened a [PR](https://github.com/codebuddies/codebuddies/pull/1040)

[2018-10-25 22:59] lpatmo opened #1042 "Sweetalert2 upgrade: refactor piece of code in client/layout/layout.js so that Slack signin works"
See: PR#1035.

[code]

[2018-10-25 22:59] lpatmo commented on #1042
Assigned to @thunatos!

[2018-10-25 22:59] #1014 closed

[2018-10-27 05:52] #1034 closed

[2018-10-27 16:42] lpatmo opened #1044 "Add an anchor link to the "Where should I share a commercial post on Slack?" header on codebuddies.org/slack"
I occasionally find myself referencing the "Where should I share a commercial post on Slack?" section on codebuddies.org/slack, but right now users have to scroll, since there is no _direct_ link to that section.

Proposal:
Add an anchor tag to the ```<h1>Where should I share a commercial post on Slack?</h1>``` on codebuddies.org/slack page, so that users can type in https://codebuddies.org/slack#

[2018-10-27 16:57] distalx opened #1045 "increase prettier's default line length to 100."
default line length is 80, increase that to 100. [here](https://github.com/codebuddies/codebuddies/blob/staging/package.json#L17)
i.e. `"prettier --print-width 80 --write"`
Ref : https://prettier.io/docs/en/options.html#print-width

[2018-10-27 17:06] GurpreetSK95 commented on #1045
Is anyone working on this issue yet? I would like to take this up.

[2018-10-27 17:12] GurpreetSK95 commented on #1045
Is someone working on this issue?

[2018-10-27 17:16] distalx opened #1047 "add seeder for `discussions` collection."
Current seeders can be found [here](https://github.com/codebuddies/codebuddies/tree/staging/server/seeder), These seeders are being used to populate the dummy data.

Seeders can be turn on and off by updating this [flag](https://github.com/codebuddies/codebuddies/blob/staging/settings-development.json#L32), inside seetings-development.json file.

here is the schema for discussions collection.
[cod

[2018-10-27 17:19] akarshsingh9 commented on #1044
Can I take this one?

[2018-10-27 17:28] distalx commented on #1045
@GurpreetSK95  It is yours.

[2018-10-27 22:00] #588 closed

[2018-10-27 22:19] #1023 closed

[2018-10-27 23:07] lpatmo opened #1049 "Scroll back up after redirect to /welcome page for new user signup"
To reproduce:
1) `meteor reset`
2) Start up the app (`meteor --settings settings-development.json`)
3) Log in using Github or Slack to "sign up" a new user

[code]
-- @distalx

For context, see: #1039

[2018-10-27 23:08] #1021 closed

[2018-10-27 23:08] #986 closed

[2018-10-27 23:51] Blasz commented on #1049
I'll work on this if that's okay.

[2018-10-27 23:55] wuworkshop commented on #1049
Go for it @Blasz

[2018-10-28 00:13] #964 closed

[2018-10-28 02:43] wuworkshop opened #1051 "Minor changes to the copy on the CB homepage"
Currently on the CodeBuddies homepage it says:

I would like the homepage copy to set more accurate expectations and just have the "4000+" part removed. It might also be good to add the word "global". So the revised line would say:

The second sentence to change is the following:

CodeBuddies is really more a not-for-profit than a non-profit. See the differences listed here:
https://strategiccfo.c

[2018-10-28 02:59] #1049 closed

[2018-10-28 03:16] wrejcodes commented on #1051
I can take this one if you would like :)

[2018-10-28 03:20] lpatmo opened #1052 "Fix grammar in alerts"
See:
[code]

[2018-10-28 03:31] lpatmo opened #1053 "Remove extra text from hangout cards"
Remove the "Scheduled by X with Y RSVPed" text from hangout cards.

Ideal:
![image](https://user-images.githubusercontent.com/4512699/47611679-3d30fb00-da27-11e8-84df-a7d3bbbebbc0.png)

Not ideal:
![image](https://user-images.githubusercontent.com/4512699/47611685-45893600-da27-11e8-9a57-a108553410df.png)

[2018-10-28 04:00] #1053 closed

[2018-10-28 04:08] #1051 closed

[2018-10-28 04:26] #1052 closed, assigned to arturolei

[2018-10-28 05:12] lpatmo opened #1057 "Support "sign in with Github" on Sweetalert popup"
Now that https://github.com/codebuddies/codebuddies/issues/1014 is merged, we can support Github login from the sweetalert popup now.

![image](https://user-images.githubusercontent.com/4512699/47612252-2644d580-da34-11e8-8cd8-d229e4d03328.png)

Relevant file to edit:
`client/layouts/layout.js`

(This is a fresh clone of https://github.com/codebuddies/codebuddies/issues/821.)

[2018-10-28 05:34] lpatmo commented on #821
See: https://github.com/codebuddies/codebuddies/issues/1057

[2018-10-28 05:34] #821 closed

[2018-10-28 05:55] lpatmo commented on #1057
I will take a look at this.

[2018-10-28 07:05] lpatmo opened #1059 "Update codebuddies.org/welcome with screenshots"
The new welcome guide that new users get redirected to after they sign up is great, but looks a bit text-heavy:

![image](https://user-images.githubusercontent.com/4512699/47613070-1f728e80-da45-11e8-9e32-ae4e57b3a3a3.png)

Proposal: add screenshots to this page.

Place to add screenshots:
`/public/images`

File to edit:
`/client/templates/other/welcome.html`

[2018-10-28 08:53] ahmadnurus commented on #1047
Can i work on this?

[2018-10-28 09:00] railsstudent commented on #1047
@ahmadnurus  Yep.

[2018-10-28 09:01] dantesolis commented on #1047
may I take this one?

[2018-10-28 09:10] railsstudent commented on #1047
@dantesolis   Sorry, @ahmadnurus  already claimed it.

[2018-10-28 09:34] Bobeta commented on #1059
I'll help you with this 😅

[2018-10-28 11:08] railsstudent commented on #1059
Claimed by @Bobeta

[2018-10-28 15:37] #1057 closed

[2018-10-28 16:08] akarshsingh9 commented on #1044
How can I reproduce this issue? I am not able to locate the file

[2018-10-28 16:15] lpatmo commented on #1044
@akarshsingh9 The file is here:
[code]

[2018-10-28 16:16] lpatmo commented on #1044
@akarshsingh9 If you have trouble setting up the development environment based on the steps at docs.codebuddies.org, let me know!

[2018-10-28 18:19] #1045 closed

[2018-10-29 03:12] lpatmo opened #1064 "Add the #mud channel to the list of Slack notification channels"
We need to add `mud` to the list of channels in these two files: `imports/data/slack_channels.js` and `imports/data/discussion_tags.js`

[2018-10-29 03:15] RoyJia commented on #1064
Pick

[2018-10-29 03:35] RoyJia commented on #1064
@lpatmo Please help to review - https://github.com/codebuddies/codebuddies/pull/1065

[2018-10-29 04:28] lpatmo commented on #1064
Thanks @RoyJia!

[2018-10-29 04:28] #1064 closed

[2018-10-29 04:57] #1059 closed

[2018-10-29 06:52] akarshsingh9 commented on #1044
Hi, please review PR #1066. Sorry it took some time to set up the working environment on my laptop

[2018-10-31 07:29] #1047 closed

[2018-10-31 07:36] #1020 closed

[2018-10-31 07:47] #1044 closed

[2018-10-31 07:47] #1042 closed

[2018-10-31 07:47] #1009 closed

[2018-10-31 07:48] #985 closed

[2018-11-02 07:52] lpatmo commented on #1003
@AnnaDodson Btw, thanks for coming back and contributing to CB for two consecutive Hacktoberfest years! (Saw that you've posted here before in 2016. :))

[2018-11-02 08:00] lpatmo opened #1070 "Idea: Start tracking how many people step in to the 24/7 silent hangout room"
Might be good to display this metric on the 24/7 page itself (codebuddies.org/silent). Right now we only see notifications in the Slack #coworking channel whenever people enter.

[2018-11-02 13:20] railsstudent commented on #990
Let me try to do it.

[2018-11-02 13:52] TomerPacific commented on #850
@lpatmo ,
is this issue still relevant? I am willing to take this one.

[2018-11-02 17:48] AnnaDodson commented on #1003
Thank you! It was nice coming back to it and being able to fix something :smile:

[2018-11-03 03:55] railsstudent commented on #990
@lpatmo Welcome, anything for Codebuddies.  Let me study at #943 to see how the incredible @gauravchl  did. I hope not to disturb him unless I am really stuck on the task.

[2018-11-03 08:33] lpatmo commented on #990
Looks like the syntax `#til I learned something` won the poll. :) So, no need to reference @cb_jarvis.

![image](https://user-images.githubusercontent.com/4512699/47949950-4ed34080-df08-11e8-97c5-d07a789349d8.png)

[2018-11-03 09:45] TomerPacific commented on #850
@lpatmo ,
no problem.
Just to make sure, I am going to edit the contributing.md file with the necessary information (found in the welcome directory).

[2018-11-03 19:04] lpatmo commented on #1033
Thanks for filing this, @imsmokie! I see many people in the community who love Slack, and many people who dislike Slack (but aren't as vocal about it on Slack, for obvious reasons).

The main problem we have with Slack is the lost messages (we have about ~400K messages not viewable in history), so we created forum.codebuddies.org to try to preserve more of those conversations.

That said, I think

[2018-11-03 22:00] TomerPacific commented on #850
Created a [PR](https://github.com/codebuddies/documentation/pull/25)

[2018-11-04 07:20] sebbel opened #1071 "fix project structure"
we should structure our project according to this document https://guide.meteor.com/structure.html
right now we have some stuff in imports, but also libs, server, client and that makes it a bit weird.
Could also be good in preparation for #211

[2018-11-04 18:41] lpatmo commented on #1071
Forum post: https://forum.codebuddies.org/t/codebase-walk-through-refactor/138

Branch @sebbel started: https://github.com/codebuddies/codebuddies/tree/feature/unfurl

[2018-11-11 20:49] brylie opened #1075 "Learnings stripping out '@' character from Twitter post"
What is the current behavior?

When adding learnings with the '@' character, it seems to be stripped from the output on Twitter.

What is the expected behavior?

Learnings would publish to Twitter with the '@' symbol, so I can @mention participants.

[2018-11-12 10:19] distalx commented on #989
mizzao's meteor-user-status [package](https://github.com/mizzao/meteor-user-status/) has recently received the fixes/updates. we should give that a try one more time. currently few functionalities are broken because that package's removal.

[2018-11-13 04:14] lpatmo opened #1077 "Investigate expanding char count limit on tweets"
Reported by @brylie: some links in the "Today I Learned" section were not appearing on https://twitter.com/codebuddiesmeet. Maybe because of a char count limit.

[2018-11-13 04:15] lpatmo commented on #1075
Thanks for filing this! We made a conscious decision to limit this behavior for security reasons. Will explain more in DM.

[2018-11-13 04:15] #1075 closed

[2018-11-13 04:35] lpatmo opened #1078 "Feedback: inbox/messaging future"
Please share your thoughts/feedback on how the inbox/messaging feature could be improved here!

[2018-11-13 09:52] brylie commented on #1077
It may have to do with linebreaks. I was composing the tweet text in a separate textarea, so that it could contain multiple lines, and then submitting it in the 'learning' text area. It seems to truncate after the first linebreak.

[2018-11-13 19:28] artoodeeto commented on #989
@distalx @lpatmo  hello I was thinking of suggesting a new feature from code buddies website. As a user, they can receive notifications if someone is online in their study group or the study group is currently active. we dont need any 3rd parties for this we just need service worker and push notification API. I feel like this is relevant because as a user we want to know if the study group is acti

[2018-11-13 19:28] artoodeeto opened #1079 "Feature Request. Push notification"
Before you open an issue, please check if a similar issue already exists or has been closed before. Also please remember that you can also get help in the [#codebuddies-meta channel on the CodeBuddies Slack](https://codebuddiesmeet.slack.com/messages/codebuddies-meta/). (If you are not a member, you can get your invite from [here](http://codebuddiesmeet.herokuapp.com/).

Do you want to request a f

[2018-11-13 19:29] artoodeeto commented on #989
heres the link for the suggested feature. https://github.com/codebuddies/codebuddies/issues/1079

[2018-11-14 11:21] railsstudent commented on #990
@lpatmo  @gauravchl  Can I use the cb_jarvis bot to process todayILearnt event and then call meteor server to create today I learnt record in mongodb?

If not, I will need to create a new bot. Will each slack callback process by cb_jarvis and my new bot.

Please correct me if I am wrong.  Should I add til logic to message-parser.js and webhook.js or make new message parser and webhook?

Please adv

[2018-11-14 12:43] gauravchl commented on #990
Yup +1

[2018-11-15 01:53] lpatmo commented on #990
My prediction is users will find it easier to type #2 (#til message) but I
don't mind #1 (@cb_jarvis til message) if it's much easier to implement. We
can try it out and see what people do!

On Wed, Nov 14, 2018, 5:28 PM Connie Leung <notifications@github.com wrote:

[2018-11-15 05:13] lpatmo commented on #990
Thank you both! Enjoy the conference, Connie!

On Wed, Nov 14, 2018, 6:22 PM Connie Leung <notifications@github.com wrote:

[2018-11-15 18:20] gauravchl commented on #990
Sweet!

The setup is:

1. Update the message-parser.js, add new command and reply inside `ActionTable` variable.
[code]
      reply is optional.

2. Update webhook.js:
[code]
Let me know if you need any help.

Cheers!

[2018-11-18 02:31] railsstudent commented on #990
@gauravchl  Thanks. I will make a stab at this issue after my trip.

[2018-11-20 01:03] wuworkshop opened #1080 "[BUG] Study Group 24/7 Hangout Incorrectly Shows Number of Users in Hangout"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
In study groups' 24/7 Hangout tab, it incorrectly shows that there are users in the hangout when there is no one in the hangout.

Example from Colt CS Study Group:
https://codebuddies.org/study-group/colt-steele's-javascript-algorithms-and-data-structures-masterclass/pBChFYKfqXPz7shao

It shows "2 people are curre

[2018-11-23 14:47] TomerPacific commented on #850
@lpatmo ,
consider closing this issue.

[2018-11-23 20:11] #850 closed

[2018-12-05 05:16] distalx commented on #1080
This issue is related to #989.

This [code](https://github.com/codebuddies/codebuddies/blob/staging/server/main.js#L207) is how we used to keep track of these numbers, it stoped working after removal of mizzao's meteor-user-status [package](https://atmospherejs.com/mizzao/user-status).

[2018-12-05 08:49] lpatmo commented on #1078
Feedback from @gauravchl:

![image](https://user-images.githubusercontent.com/4512699/49500757-43847500-f826-11e8-858f-d428657e18ee.png)

![image](https://user-images.githubusercontent.com/4512699/49500951-aece4700-f826-11e8-9a9e-638e35a5fb94.png)
![image](https://user-images.githubusercontent.com/4512699/49500977-b68deb80-f826-11e8-9165-3cc9fa15a295.png)

From @robgoelz:

![image](https://user-im

[2018-12-05 08:53] lpatmo opened #1082 "UI improvement to let study group owners know how to send a blast message to every member"
If a study group owner goes to one of their Study Group `Discussion` tabs and clicks on "Add," the message they create will send an email to all subscribed members of the group.

![image](https://user-images.githubusercontent.com/4512699/49501524-eb4e7280-f827-11e8-982b-3ea36178d729.png)

This lets study group organizers communicate with group members, but this feature is woefully underused.

Wond

[2018-12-05 08:56] lpatmo commented on #1078
@distalx mentioned that console.log() is automatically disabled on production https://github.com/codebuddies/codebuddies/blob/staging/client/templates/main.js

[2018-12-05 09:01] lpatmo commented on #1078
From Julian:
- Check out Windows
![image](https://user-images.githubusercontent.com/4512699/49502128-4f256b00-f829-11e8-9c33-aa360b9a16a1.png)

Or alternatively add a "New PM" option to the add icon where you can add a new hangout, etc.

[2018-12-06 04:40] lpatmo commented on #1079
@distalx just created a PR for #989, so soon users will be able to see who else in their study group is online in the space below the study group meta box, e.g.:

![image](https://user-images.githubusercontent.com/4512699/49561829-de845a00-f8cd-11e8-9d17-c2430274b638.png)

@artoodeeto How often were you imagining that the push notifications would appear? Would they appear as soon as a user's fello

[2018-12-06 15:00] gauravchl commented on #990
@railsstudent cbJarvisId is userid of the bot, you can hover/click on the bot name from slack web UI and it will show you the ID, ex:(BCKRMFPR6)

<img width="540" alt="screen shot 2018-12-06 at 8 25 11 pm" src="https://user-images.githubusercontent.com/3471415/49591743-4fdb1000-f995-11e8-9411-ff9465b08347.png">

Yes you can, I do also have a slack channel created for testing the jarvis, You can al

[2018-12-08 02:59] artoodeeto commented on #1079
@lpatmo Hello, I was thinking if theres a member joining you will have a notification. so it will happen if there are users joining the study group. just a suggestion. 😄

[2018-12-10 02:17] railsstudent commented on #958
@lpatmo @gauravchl  Should create hangout command split into create silent hangout, create collab hangout and create teaching hangout commands respectively or add a new segment to create hangout to hold hangout type?

[2018-12-10 08:14] lpatmo commented on #958
Sadly, not many people are using the `@cb_jarvis` command to create new hangouts. Besides `hangout type`, there are two other arguments we could add:
- specify the description
- specify an optional external link (like Twitch or Zoom) - requested by @julianjohannesen

I'm not sure which of all of the above would be most important, though, if our ultimate goal was to encourage more usage of `cb_jarv

[2018-12-10 09:01] railsstudent commented on #958
@lpatmo I believe optional external link has highest priority because Julian requested it and he is an active hangout creator.

I believe we have to advertise cb_jarvis in slack channels such that people can develop habit of using slack to create hangout.
It depends on their willingness to  context switch between slack and codebuddies.org

[2018-12-10 10:04] lpatmo commented on #958
Yeah, makes sense :)

[2018-12-11 05:51] gauravchl commented on #958
@lpatmo @railsstudent Personally i'm also finding it difficult to mention cb_jarvis in slack and perform any action.
I think it would be way much easier to just perform actions directly with hash tags.
Like if sentence starts with `#createHangout` or `#listHangout` or `#til`

So i'm thinking to update the existing solution a bit and add support for above solutions.

Let me know if what do you thin

[2018-12-11 05:55] gauravchl commented on #958
[code]

[2018-12-11 06:34] lpatmo commented on #958
Agree! Maybe a refactor can happen after https://github.com/codebuddies/codebuddies/pull/1083 is merged?

[2018-12-11 07:34] gauravchl commented on #958
@lpatmo Yeah, of course.

[2018-12-12 07:21] #990 closed

[2018-12-13 02:54] railsstudent commented on #1079
@artoodeeto @lpatmo Maybe push notification to channel/study group owner in slack when someone joins the study group in codebuddies is better. Otherwise, users will be littered with notifications when people login/logout to have hangouts or simply do nothing.

However, I question the need of this feature because study group owner/admin can click settings tab to see who joins or leaves the study gr

[2018-12-13 04:54] gauravchl commented on #958
@lpatmo Sweet! I will start working on hashtag version.

[2018-12-13 08:18] lpatmo commented on #958
Thank you! I am due to pick a time to work on https://github.com/sourcecred/sourcecred/issues/576 (wrapping up inboxes); perhaps all of this can go out in the same release within the next couple of weeks. :)

[2018-12-13 10:13] railsstudent commented on #958
It could be the start of partnership between both projects;  codebuddies contributes to the project and come back to share in hangout.

[2018-12-13 19:58] artoodeeto commented on #1079
@railsstudent I didn't think of that. but I think you can suppress succeeding notification if that's the problem. anyway I like the slack integration. 😄 @lpatmo that would be cool feature too. hope I can work with that.

[2018-12-14 06:30] lpatmo commented on #958
@railsstudent Can you elaborate on what you mean?

[2018-12-14 06:51] railsstudent commented on #958
@lpatmo  People in codebuddies help fix issues in sourcecred project and share their experiences in hangout to attract interest from other members to help contribute. If number of contributions rise through this method, other maintainers will come to codebuddies to have code walkthrough and look for volunteers.

[2018-12-17 00:02] lpatmo commented on #1078
Add username bubbles:

![image](https://user-images.githubusercontent.com/4512699/50060685-ebb20c00-014b-11e9-81ab-a33283f5833b.png)

[2018-12-17 01:58] lpatmo opened #1085 "IDEA: Add dropdown to user avatars with two links: 1/ DM (new inbox feature) 2/ Profile"
Idea up for discussion, inspired by feedback @julianjohannesen gave:

"I think it would be helpful to add a drop-down to the letter icon to start a new message and enable folks to search for other users by either name or username"

[2018-12-17 02:01] railsstudent commented on #1085
@lpatmo good idea.  It is common to group features in a menu under user avatar.  At least, my previous company did that in the web application.

[2018-12-17 02:02] lpatmo opened #1087 "IDEA: Search by username"
Inspired by feedback from @julianjohannesen:

"I think it would be helpful to ... enable folks to search for other users by either name or username"

Now that we support inbox messaging on the site, would be helpful to have a directory of usernames/names, and the ability to toggle to DM that person.

[2018-12-17 02:05] lpatmo opened #1088 "[UI Bug] Scrollbars showing on Windows/Chrome"
![image](https://user-images.githubusercontent.com/4512699/50062668-338d5f00-015d-11e9-858d-5fe90c5b8bee.png)

Reported by @julianjohannesen.

[2018-12-20 07:31] lpatmo opened #1090 "[Inbox] Update mailbox icon near status names to point to new inbox (!), not to Slack"
![image](https://user-images.githubusercontent.com/4512699/50270309-21325000-03ff-11e9-8a9b-091823a19705.png)

We need to update the link here to point to the inbox for the user (e.g. https://codebuddies.org/conversation/nMdLpfujpSXH). Right now clicking on it sends the user to something like `https://codebuddies.slack.com/messages/@username/`.

[2018-12-22 06:32] lpatmo opened #1092 "/createhangout (or #createhangout) with ability to pass in external link/description/hangout type"
Currently:
`#createhangout Advent of Code Day 1, starting now`
will schedule a hangout.

Parameters we do not support (yet), in order of priority:
1/ let users pass in external link in case folks want to use Zoom, LiveStream, etc.
2/ let users pass in description
3/ let users pass in hangout type (silent, collab, teaching)

The priority of this issue depends on the popularity of the `createHangout

[2018-12-22 06:33] lpatmo opened #1093 "Create a /learnings page"
Now that it's easy to share`#til` / `/til` learnings directly from Slack, would be nice to have a codebuddies.org/learnings we could access that the Slack bot autoresponder would point to, instead of having to go to the sidebar on codebuddies.org/hangouts and click on the appropriate tab.

[2018-12-22 06:34] lpatmo commented on #1093
I will create a PR for this.

[2018-12-23 04:58] #1090 closed

[2019-01-01 19:14] stain88 opened #1098 "STUDY GROUPS: card css could have more height"
Do you want to request a feature or report a bug?
**Bug**

What is the current behavior?
<img width="384" alt="low_height" src="https://user-images.githubusercontent.com/8461452/50575594-2e850c80-0df9-11e9-9819-4a05ed1f2c6c.png">

What is the expected behavior?
Bit more height to avoid the overflow on the bottom.

Which browser / OS are affected by this issue? (An *isolated* way to reproduce the b

[2019-01-01 19:17] stain88 commented on #1098
As a second tweak, I'd add a `white-space: nowrap;` on the `small` around the user class, to avoid that breaking on two lines:
<img width="377" alt="split_user_count" src="https://user-images.githubusercontent.com/8461452/50575647-d8649900-0df9-11e9-8eec-8da5b47fd8f3.png">

[2019-01-11 03:38] lpatmo opened #1099 "Update text on codebuddies.org/learnings page"
![image](https://user-images.githubusercontent.com/4512699/51011886-3f2b3600-150f-11e9-9e31-cde065571c6e.png)

Mention that `TIL` is supported as well.

[2019-01-11 03:59] lpatmo opened #1101 "[UI Bug] Two Patreon icons appear on profile page"
Noticed that two Patreon icon appeared when I submitted a Patreon link:

![image](https://user-images.githubusercontent.com/4512699/51012490-3851f280-1512-11e9-9b29-2857e29e47d8.png)

Probably an easy bug to fix.

[2019-01-12 23:21] noragne commented on #1101
I am working on

[2019-01-13 04:53] #1101 closed

[2019-01-13 06:51] sebbel commented on #1071
this is inactive for now .. seems to be more of a super high hanging fruit :cherries:

[2019-01-13 06:52] #1033 closed

[2019-01-13 06:54] #1093 closed

[2019-01-13 07:17] lpatmo commented on #1101
Thank you @noragne and @sebbel!

[2019-01-17 08:36] lpatmo opened #1103 "Update /learnings page to say "Learnings and Accomplishments""
On codebuddies.org/learnings:
- change title to "Learnings and Accomplishments"
- remove `TIL` from triggering a Slackbot response (`#TIL` should be okay)
- Add #100daysofcode to the lineup of hashtags (possibly larger project)
- Change Slack auto-message to "Thank you for sharing something you learned/accomplished! It has been archived on codebuddies.org/learnings"

Idea from Megan:
- If first le

[2019-01-17 08:45] lpatmo opened #1104 "Rename "hangouts" to be... a friendlier term? Like "code share sessions"?"
Idea sparked by recent discussion in the #codebuddies-meta channel:

[code]

[2019-01-17 08:48] lpatmo commented on #1104
Mockup 2:
![image](https://user-images.githubusercontent.com/4512699/51306212-a22a3a80-19f1-11e9-923c-49c9d43e4865.png)

[2019-01-17 19:10] wuworkshop commented on #1099
Is that an actual feature or a bug?

[2019-01-18 01:19] wuworkshop commented on #1104
Hm.... what about "CB Meet"?

Random aside, why is the site using a version of the logo without the circle?

[2019-01-18 08:02] lpatmo commented on #1104
Mockup:

![image](https://user-images.githubusercontent.com/4512699/51373165-5a201c00-1ab4-11e9-90ba-4d198596524c.png)

![image](https://user-images.githubusercontent.com/4512699/51373119-28a75080-1ab4-11e9-84aa-3dd99df5ae6a.png)

I think the circle logo would be hard to read.

[2019-01-18 08:03] lpatmo commented on #1099
Yep, it's a feature!

[2019-01-18 08:05] lpatmo commented on #168
Thanks @RuubixO! I will reopen this issue.

[2019-01-20 07:44] lpatmo opened #1105 "Make "Leave this group" button a red color vs. the "Join this group" button on codebuddies.org/study-groups"
Thanks to @cs-util-com for suggesting:

![image](https://user-images.githubusercontent.com/4512699/51436549-296eec80-1c44-11e9-8f2c-632d95ecab8d.png)

[2019-01-22 03:58] #1105 closed

[2019-01-22 18:59] wuworkshop commented on #1099
So based on the number of `TIL` triggers in the Slack that were NOT meant to be real learnings, I'm starting to wonder if `TIL` is more a bug that should removed. 🤔

[2019-01-23 07:18] lpatmo commented on #1099
Heh, as much as I love typing `TIL`, every time I see it accidentally used now I wince. Sorry, @jtkaufman737!

[2019-01-23 07:19] lpatmo commented on #1099
(So, basically saying I agree w/ you and will add a line into #1103 to change.)

[2019-01-24 18:22] barrycarter opened #1107 "Study groups page should be sorted by last activity, at least as an option"
https://codebuddies.org/study-groups is currently not sorted by last active date, but maybe should be, or that should at least be an option. Not sure what the current sort order and/or if there is one.

[2019-01-25 07:16] lpatmo commented on #1107
Thank you for filing! Took a quick look, and I think this diff should fix it:

[code]
If someone wants to double check it and create the PR, feel free; otherwise I will submit it sometime this weekend.

[2019-02-01 05:48] #1107 closed

[2019-02-09 19:01] lpatmo opened #1109 "Windows/Chrome login issues?"
![image](https://user-images.githubusercontent.com/4512699/52525126-ee1b7880-2c59-11e9-89cd-b775eefa5dc5.png)

Thanks to Annie and Bill for reporting.

Should look in console to see if there are any errors.

[2019-02-14 09:25] lpatmo opened #1110 "IDEA: Feed scheduled hangouts automatically into a google calendar"
Proposed by @gauravchl:

```Feature Proposal: Create a Codebuddies google calendar and whenever a new hangout is scheduled add that hangout entry to calendar as well. Others can subscribe to the calendar and can see upcoming or ongoing hangouts right into their own choice of app(apple/yahoo/google whatever calendar they use).```

[2019-02-14 09:29] lpatmo commented on #1110
Maybe we should embed the Google Calendar to the sidebar on codebuddies.org/hangouts, if this happens.

[2019-02-14 09:33] gauravchl commented on #1110
Totally 💯

[2019-02-14 09:36] railsstudent commented on #1110
Does google calendar required to be under codebuddies gmail account and grant public for codebuddies members to see?

[2019-02-14 09:46] lpatmo commented on #1110
So in the early days (2014) before CB had a proper events website I actually did use Google Calendar to keep track of hangouts in the Google Groups; here is the public calendar:

https://calendar.google.com/calendar/embed?src=codebuddiesdotorg%40gmail.com&ctz=America%2FLos_Angeles

And embed code: <iframe src="https://calendar.google.com/calendar/embed?src=codebuddiesdotorg%40gmail.com&ctz=America

[2019-02-14 09:48] lpatmo commented on #1110
Mockup in browser:

![image](https://user-images.githubusercontent.com/4512699/52778319-9767c300-2ffa-11e9-96ff-acc644aee0a0.png)

[2019-02-14 09:53] gauravchl commented on #1110
Google calendar will be under Codebuddies Google account. Codebuddies app(Meteor) will use API tokens to add events to it whenever a new hangout is scheduled(+ other CRUD operation).
https://developers.google.com/calendar/quickstart/nodejs

For other peoples(codebuddies user +non user) this calendar will be read only. and they can subscribe to it using ical feed. Like this one(Liverpoo FC matches)

[2019-02-14 11:47] railsstudent commented on #1110
Will there be design in mobile view? The current design will have narrow calendar day cell on mobile phone.  Or should we look for responsive calendar control that looks good on desktop browser and mobile browser?

cc @lpatmo

[2019-02-14 13:08] billglover commented on #1110
Is there a reason we’d publish a Google Calendar over an iCal feed?

[2019-02-14 14:00] gauravchl commented on #1110
@railsstudent May be 🤷‍♂️, it's an iframe  essentially.

[2019-02-14 14:08] gauravchl commented on #1110
@billglover That's a good point! I haven't thought about this before. In fact we don't need a calendar API setup at all. Just one iCal feed url will do the magic.
Flow would be:
- Create a iCalFeed url(https://codebuddies.org/icalfeed) on website, Publish all upcoming and current hangouts from the past month.
- Users can just use that iCalFeed url to see events inside their own calendars.
- Additi

[2019-02-14 14:22] billglover commented on #1110
I think this simplifies things but also removes a dependency on Google.

[2019-02-14 16:31] gauravchl commented on #1110
Here we go:
https://youtu.be/bD10mGCIo7g
https://github.com/codebuddies/codebuddies/pull/1111

[2019-02-14 18:42] lpatmo commented on #1110
Thank you so much! I will take a look as soon as I can tonight!

[2019-02-16 07:15] lpatmo commented on #1110
Ah, it's disappointing that Google Calendar's refresh frequency is "up to every 12 hours" (http://help.cheqroom.com/frequently-asked-questions/how-often-does-google-update-its-calendar-feeds), but still very exciting that we can link up the `i-cal-feed` into a google calendar!

[2019-02-16 09:21] lpatmo commented on #1104
Another option:

![image](https://user-images.githubusercontent.com/4512699/52897425-1db20f80-3189-11e9-8b29-7323d698ff61.png)

[2019-02-16 10:21] #1103 closed

[2019-02-16 10:24] lpatmo commented on #1098
I don't see a PR related to this but I _think_ it looks fixed on codebuddies.org/groups now (and maybe I forgot to close). Feel free to re-open if I'm wrong!

[2019-02-16 15:19] stain88 commented on #1098
Both issues are still present on all Mac browsers:

<img width="1325" alt="card issues" src="https://user-images.githubusercontent.com/8461452/52901652-23960800-31fe-11e9-9357-37c86dbcbe0d.png">

[2019-02-16 19:53] lpatmo commented on #1098
D'oh, you're right, not sure how I confused it with some other cards. Sorry!

[2019-02-17 06:40] lpatmo commented on #1110
UPDATE: @gauravchl's work has been merged! Check out https://codebuddies.org/i-cal-feed. :)

Sorry @railsstudent, forgot I didn't respond to your question. Decided not to do the embed in part because you're right that the narrow calendar view isn't ideal, and also because the feed not updating automatically will be confusing.

Re: a calendar view in general -- https://fullcalendar.io/ could be an

[2019-02-17 06:40] #1110 closed

[2019-02-17 06:41] lpatmo opened #1117 "Calendar view?"
Might be fun to play with https://fullcalendar.io/ to display the calendar of hangouts in a different way.

[2019-02-17 06:51] wuworkshop commented on #1117
I don't find this FullCalendar's timezone view all that great. =/

I prefer to see times in my timezone instead of displayed as "4p -05:00".

Here's the demo link of their timezones feature:
https://fullcalendar.io/releases/fullcalendar/3.10.0/demos/timezones.html

[2019-02-17 06:55] lpatmo commented on #1117
Ah, thanks. I was assuming that since _we_ already convert users' timezones to their appropriate timezones on codebuddies.org/hangouts, we'd be able to somehow display the conversions automatically too if we used that library. Further research required!

[2019-02-17 10:28] stain88 commented on #1098
So, "Large" windows are fine, "Small" windows are fine, but the 992-1200px range is still not quite there. "Readings in Computer Science and Technology" seems to be a particularly long one. But at exactly 992px width, this happens:

<img width="1104" alt="992px_cards" src="https://user-images.githubusercontent.com/8461452/52911656-ab335380-329e-11e9-88d2-8c1788303424.png">

[2019-02-17 23:17] lpatmo commented on #1098
Ah wow, 992px exactly! I had to install a browser width chrome extension to capture that since I kept sliding the browser past 992px.

[2019-02-19 03:21] RuubixO opened #1118 "RVSP Feature for CB Hangout viewers/organizers"
Before you open an issue, please check if a similar issue already exists or has been closed before. Also please remember that you can also get help in the [#codebuddies-meta channel on the CodeBuddies Slack](https://codebuddiesmeet.slack.com/messages/codebuddies-meta/). (If you are not a member, you can get your invite from [here](http://codebuddiesmeet.herokuapp.com/).

Feature:
A way for interes

[2019-02-19 03:34] RuubixO opened #1119 "Feature: Let CodeBuddies vote on hangout topics they would like someone to host."
Do you want to request a feature or report a bug?
Feature.

What is the current behavior?
Currently not available through slack or the app.

What is the expected behavior?
Have a place to propose desired topics people would like to be guided through like a 'most wanted' for code topics, and then make it visible to other members, who can add their votes to a specific topic, if they like. There shou

[2019-02-19 06:41] railsstudent commented on #1118
Just my 5 cents.

In study group of codebuddies website, there is availability tab for member to input their free time and see the schedule of other group members.
Can hangout owner consult this page and decide the optimal time hold a hangout where max number of people can join?

[2019-02-19 17:07] RuubixO commented on #1118
@railsstudent That's a good point, but I don't think someone should HAVE to be a part of a group in order for this functionality to work. From the reverse perspective: organizing hangouts could help to define and encourage more active (group) membership participation.

[2019-02-20 06:04] lpatmo commented on #1109
Windows 7 Chrome + Firefox issues reported by @h2c on Slack:
![image](https://user-images.githubusercontent.com/4512699/53069859-3e80aa80-3492-11e9-8385-c669316eb86f.png)

![image](https://user-images.githubusercontent.com/4512699/53069868-44768b80-3492-11e9-89fb-71e896034c82.png)

[2019-02-20 06:10] lpatmo commented on #1109
The error is happening on line 18 of `.meteor/local/build/programs/web.browser/packages/oauth/end_of_popup_response.js`, and this is line 18: `if (window.opener && window.opener.Package &&`

Full code:
[code]

[2019-02-20 06:44] lpatmo commented on #1119
Missing from this screenshot:
- When a user thumbs up the original post, they should see a popup asking for their timezone and general availability. Would that make sense?

Then, when a user clicks into the thread, they'll see everyone else who expressed interest (and their timezones/availability), and be able to reply and subscribe to the thread (feature that already exists).

[2019-02-20 06:57] wuworkshop commented on #1109
I initially thought this was a Windows-only error, but I just now had an issue logging in using Slack. I didn't get the first error message in h2c's screenshot. I did get the second error message:

After a couple of tries, I was able to log in. This is on macOS High Sierra + Firefox 65.0

[2019-02-20 16:00] lpatmo commented on #1109
@wuworkshop Thank you! Maybe that other issue has weight too; will look into it. :)

[2019-02-21 03:16] RuubixO commented on #1119
Yes! This would be awesome. From the flip side: those who start these posts
should be able to invite other CodeBuddies with whom they want to see this
post. And, maybe to avoid spam, that they can only do so many invites every
day for any given user, just to keep the noise down.

On Wed, Feb 20, 2019 at 1:44 AM Linda <notifications@github.com> wrote:

[2019-02-21 03:19] RuubixO commented on #1119
I would also consider adding some filtering options for the search. You could have it dynamically add slack channels as tags that can be added to posts to help other people find them. It could also be good to let users add in custom tags if they're not already present. This could make finding specific CB-Connect proposals more effective.

[2019-02-23 08:07] Dan-Y-Ko opened #1120 "Issue: Column headings for 'Topic' and 'Author' out of place on Discussions page"
On the discussion page, in mobile view, the topic and author text is kind of just lingering there and doesn't look quite right.

![image](https://i.imgur.com/tSbOqOW.png)

[2019-02-23 10:26] billglover commented on #13
Is this issue still open? It is tagged as `needs code review` but unclear what code needs to be reviewed.

[2019-02-23 10:29] billglover commented on #34
I'm going to propose closing this issue due to its age. Any objections?

[2019-02-24 01:24] lpatmo commented on #1109
@tgrrr also reports problems logging in from Chrome mobile.

[2019-02-24 01:25] lpatmo commented on #34
lol.

Thanks Bill! Closing.

[2019-02-24 01:25] #34 closed

[2019-02-24 01:26] lpatmo commented on #34
(For the record, we have study groups a pretty good search now.)

[2019-02-24 01:26] #13 closed

[2019-02-24 09:16] billglover commented on #38
Closing this issue as stale. If this feature is still of interest, please open a new issue and include a reference to this issue by including issue number #38 in the description.

[2019-02-24 09:16] #38 closed

[2019-02-24 09:20] billglover commented on #82
Closing this issue as stale. If this feature is still of interest, please open a new issue and include a reference to this issue by including issue number #82 in the description.

[2019-02-24 09:20] #82 closed

[2019-02-24 09:23] billglover commented on #85
@mahamshahid18 are you still working on this issue? If so, do you need any help/support?

If not, that's ok. Let me know and I'll remove the 'claimed' tag.

[2019-02-24 09:36] billglover opened #1121 "Feature: Store Search Queries to help prioritise features and bugs"
**Feature Request:** Store Search Queries

**Current behaviour:** No record of search queries is maintained. It is not possible to see what users are searching for and whether they find what they need.

**Desired behaviour:** Visibility into what users are searching for will help identify and prioritise features and bugs.

**Considerations:** There is no need to associate search terms with any use

[2019-02-24 09:37] billglover commented on #114
It looks as though most of these features have been implemented. The only outstanding feature is the proposal to store user search terms. I've raised this feature request as a separate issue #1121 and am now closing this.

[2019-02-24 09:37] #114 closed

[2019-02-24 09:39] billglover commented on #116
Closing this issue as stale. If this feature is still of interest, please open a new issue and include a reference to this issue by including issue number #116 in the description.

[2019-02-24 09:39] #116 closed

[2019-02-24 09:41] billglover commented on #119
Closing this issue as stale. If this feature is still of interest, please open a new issue and include a reference to this issue by including issue number #119 in the description.

[2019-02-24 09:41] #119 closed

[2019-02-24 09:43] billglover commented on #143
Closing this issue as stale. If this feature is still of interest, please open a new issue and include a reference to this issue by including issue number #143 in the description.

[2019-02-24 09:43] #143 closed

[2019-02-24 12:51] billglover commented on #61
Closing this issue as stale. This doesn't mean we have ruled out gamification. If this feature is still of interest, please open a new issue and include a reference to this issue by including issue number #61 in the description.

[2019-02-24 12:51] #61 closed

[2019-02-24 13:02] billglover commented on #168
I'm removing the assignment to @leewaygroups as this was done before the issue was re-opened. It also looks as though upcoming and past hangouts are now sorted correctly and so I'm marking this as closed.

[2019-02-24 13:02] #168 closed

[2019-02-24 13:07] billglover commented on #516
This one is ready for implementation. This would be a good first issue if anyone is up for it.

Based on the current status it looks as though agreement has been reached that the corner radius should be 4px.

[2019-02-24 13:30] billglover commented on #502
Closing this issue as stale. If this feature is still of interest, please open a new issue and include a reference to this issue by including issue number #502 in the description.

[2019-02-24 13:30] #502 closed

[2019-02-24 13:34] billglover commented on #451
I'm closing this as a known limitation with Jitsi. Safari lets you open the hangout but you are presented with a warning. Screen sharing is not a support feature.

https://web-cdn.jitsi.net/meetjitsi_3216.76/static/recommendedBrowsers.html

[2019-02-24 13:34] #451 closed

[2019-02-24 13:41] billglover commented on #449
Closing this issue as stale. If this feature is still of interest, please open a new issue and include a reference to this issue by including issue number #449 in the description.

Additional considerations if re-opened:
- It is possible to export Etherpad documents as Text or HTML.
- How frequently are the Etherpad sessions used?
- Code editors increasingly support shared coding sessions, do thes

[2019-02-24 13:41] #449 closed

[2019-02-24 13:44] billglover commented on #415
How far did we get with demonstrating the mechanics of CodeBuddies translation? Do we still need to demonstrate that this works, or do we now know that we need people to contribute `*.i18n.json` files for various languages?

[2019-02-24 13:56] billglover commented on #501
I've just confirmed this issue in Safari on OSX. It doesn't appear to be possible to complete the Schedule Hangout form with the keyboard alone. As tabs are not significant in a hangout description I propose we revert to standard browser behaviour and allow users to tab through the form fields. This could be an accessibility issue.

[2019-02-24 14:02] billglover commented on #452
This feels like it needs a little further discussion.

- Notifications should be optional
- Updates fall into two groups
   - Notifications about changes to scheduling
   - Notifications about discussion and comments

[2019-02-24 14:06] billglover commented on #443
Do we want to track refactoring under a single issue or do we want to raise issues for specific work?

[2019-02-24 14:14] billglover commented on #224
I've just signed in with a different Slack team and can log in to CodeBuddies without issue. It identifies my profile correctly (presume the email address) and show the list of hangouts I completed when identified through GitHub.

I'm closing this as it is old and I'm not able to replicate but please feel free to re-open if this is an issue for you.

[2019-02-24 14:14] #224 closed

[2019-02-24 14:19] billglover commented on #563
Closing this issue as Study Groups feature appears to be live on the main site.

[2019-02-24 14:19] #563 closed

[2019-02-24 14:22] billglover commented on #151
Closing this issue as stale. If this feature is still of interest, please open a new issue and include a reference to this issue by including issue number #151 in the description.

[2019-02-24 14:22] #151 closed

[2019-02-24 14:26] billglover commented on #746
This appears to relate to #143

Closing this issue as stale. If this feature is still of interest, please open a new issue and include a reference to this issue by including issue number #746 and #143 in the description.

[2019-02-24 14:26] #746 closed

[2019-02-24 14:32] billglover commented on #216
I strongly suspect we just need to enable that cron job. It should do nothing until the certs are about to expire. Then it renews them and updates the certificates for you.

Do we have certbot certificates in staging? If so, we could enable the cron job there and then let the certificates expire and verify this behaviour.

[2019-02-24 14:37] billglover commented on #759
Is there any reason we don't point users to GitHub issues?

If the use of the name 'issue' puts people off raising feature requests, we could look at how to overcome that. Things like issue templates, links to filtered lists (i.e. open feature requests) and encouraging people to vote with the 👍 or 👎 would really help.

[2019-02-25 09:13] billglover commented on #561
Closing this issue as stale. If this feature is still of interest, please open a new issue and include a reference to this issue by including issue number #561 in the description.

[2019-02-25 09:13] #561 closed

[2019-02-25 09:25] billglover commented on #1120
Page: https://codebuddies.org/discussions

In contrast to the mobile view the two columns show correctly. As author is not a term that can be sorted or filtered, I'm not sure it makes sense to have this broken out as a separate column. One idea could be to remove the column headings and include the author name as part of the hangout description. The mobile view appears to do this already.

[2019-02-25 09:43] billglover commented on #1117
Is there an existing calendar view we are looking to replace or are we looking for alternate views to this page: https://codebuddies.org/hangouts

[2019-02-25 14:01] billglover commented on #1104
I like "Meet", please just don't call the list of "Hangouts" a list of "Meetings".

[2019-02-25 14:14] billglover commented on #1092
Aside: I'm sensing a growing trend to expose codebuddies.org functionality through Slack. If this is something we want to support more generally, we may want to consider providing some common APIs that can be used by both the main site and Slack.

[2019-02-25 17:38] lpatmo commented on #761
I was not awake 8 hours ago; not sure how this issue was automatically triggered open once again...

[2019-02-25 17:38] #761 closed

[2019-02-26 02:32] RuubixO opened #1122 "Feature: support text formatting options for posts on the Discussion page"
Do you want to request a feature or report a bug?
Feature

What is the current behavior?
This would be an expansion of the options for setting up a proposal in "Discussions".
![screenshot from 2019-02-25 21-19-03](https://user-images.githubusercontent.com/20217139/53382961-f820c500-3943-11e9-8a10-0f6ef9daef94.png)

What is the expected behavior?
When I got to 'write' the new Discussion, I would li

[2019-02-26 03:15] RuubixO opened #1123 "Add calender/scheduling feature into Discussion threads"
Do you want to request a feature or report a bug?
Feature.

What is the current behavior?
Discussion is made for a proposed CB Hangout, but there's no option for a quick reference to everyone's availability.

What is the expected behavior?

1. Once I've made a new Discussions post/thread for a Hangout Proposal,

2. A Calendar widget should appear on the left sidebar menu underneath "PEOPLE IN THIS

[2019-02-26 12:36] angelocordon commented on #1109
Definitely something weird going on - I've signed on once, then refreshed about two or three times (without signing on again) and the session finally started.

[2019-02-26 16:11] RuubixO commented on #1123
I just realized these two might be close enough to be combined: https://github.com/codebuddies/codebuddies/issues/1118

[2019-02-27 12:57] billglover commented on #1123
In the use case that you describe, where is this discussion happening? The forum, on Slack or on the CodeBuddies site? After a quick look around it looks as though you are describing the [discussion](https://codebuddies.org/discussion/i5jdgkKh5Mg4jGevm). There is no reason the functionality shouldn't apply to all three.

This feature sounds like it is aligned with the primary goal of [CodeBuddies]

[2019-02-27 13:05] billglover commented on #1122
If implemented I would have a strong preference for the use of Markdown.

[2019-02-27 13:07] billglover commented on #1122
I think there is a solid use-case for supporting links. I'm less convinced on the need to attach documents, support the embedding of pictures, or the use of custom font styling. Shared study materials could be linked rather than duplicated as attachments.

Is there a use-case that is not served by the addition of support for links?

[2019-02-27 13:16] billglover opened #1124 "Issue: no descriptions on GitHub labels leads to inconsistent interpretation"
**What is the current behaviour?**
We currently have 50 issue labels defined in GitHub. 21 of these are not assigned to open issues (i.e. are unused).

**What is the expected behaviour?**
1. All issue labels should have an issue description set. This description should make it clear when the label should be used and how it should be interpreted.
2. It should be clear, and documented, how issue lab

[2019-02-27 13:36] billglover commented on #1124
The beauty of labels is that they are fairly flexible, but I've found myself struggling to know how to use them and occasionally clashing with a different interpretation on how they are used. I've had a quick look through the existing labels and am going to propose the following as a starting point.

Labels for type:
- bug - something isn't working the way you'd expect or you are unable to accompl

[2019-02-27 15:21] billglover commented on #1124
Comment from Ben D on Slack:

I originally used these categories as more of a guide for my thought process, but it is worth thinking about whether they make it into the issue labels themselves. For me, these categories started out as a the list of reasons we use labels. For example: all issues have a type, a state and a functional area. The majority will have a technology and the community labels

[2019-02-27 15:23] billglover commented on #1124
Comment from @angelocordon on Slack:

This context for this issue was confusion I faced when trying to go through the backlog.

[2019-02-28 07:29] lpatmo commented on #1124
👏👏This is a lot of work -- thank you so much, Bill.

A few label additions I've appended to the bottom of some lists:

=================================
Labels for type:

* bug - something isn't working the way you'd expect or you are unable to accomplish a task
* feature - you'd like to enhance an existing feature or propose something new

Labels for state:

* backlog - issue has been raised but

[2019-02-28 09:57] billglover commented on #1124
I'll take this. I'm going to start by documenting the use of labels so we can have something to reference or point people to. Once I've done that I'll update issue label descriptions on GitHub before looking at the challenge of labelling open issues.

[2019-02-28 09:58] lpatmo commented on #1124
A suggestion (feel free to argue down): Instead of `slack` or `forum`, etc., use prefixes for those functionalities --
[code]

I went through and started doing a bit of cleanup/adding descriptions to labels (I didn't know Github allowed it; this is _great_) on https://github.com/codebuddies/codebuddies/labels?page=1&sort=name-asc but haven't finished, so if anyone who's already been added as a col

[2019-03-01 04:17] RuubixO commented on #1122
@billglover I thought about it, and agree that links are sufficient for me. It would be nice to have google drive integration so that links would go directly to a specific shared document or folder, though.

[2019-03-01 04:18] RuubixO commented on #1122
Separately, I've been frustrated that I can't format my text in the discussion page. The lack of paragraph or bullet-point formatting can make more than a few lines of texts messy and disorganized.

[2019-03-01 04:28] RuubixO commented on #1123
Admittedly, I'm making the assumption that the discussion is centralized on the post within the codebuddies.org/discussions page. Otherwise, the discussion page itself doesn't serve much of a purpose for me. I have noticed that when I did make the discussion page, it did not generate a lot of traffic/views. Or at least, it's not clear if slack's higher activity de-incentivizes members from moving

[2019-03-01 04:31] RuubixO commented on #1124
From an outsider, it feels like having both a "category-member" format would be more effective overall, instead of piecemeal.

[2019-03-01 04:35] RuubixO commented on #1119
I also think that, along with a selected channel, that new Discussion-posts should always end up in the Announcements channel, too. I frequently go there to look at wider community updates and we might have fellow members miss out on events they otherwise wouldn't see because they usually live in specific channels separate from where the Discussion-post is being advertised.

[2019-03-01 09:28] billglover commented on #1124
I've added this to the documentation: [contribution/labels](https://github.com/codebuddies/documentation/blob/master/contribution/labels.md).

It doesn't yet seem to be live on the docs site, but I'm assuming this will sync at some point.

I'll make a start on updating GitHub issue definitions today.

[2019-03-01 10:58] ArcTanSusan commented on #1104
How will you eventually decide on a mockup option to execute and what are the success criteria?

[2019-03-01 11:02] ArcTanSusan commented on #1070
I once stepped into the 24/7 page randomly for a few seconds becuz i was curious what that room was like. I think total duration of time spent per person in that room is a strong engagement metric as well as the total number of people in the room at any given time.

[2019-03-01 12:40] billglover commented on #1104
Very good question. Our ability to get metrics out of hangouts is somewhat limited. See #1080 for our current challenges with figuring out the number of current users. Any thoughts on metrics that might indicate a beneficial use of the 24x7 hangouts?

[2019-03-01 13:40] billglover commented on #1124
Now that I'm almost through with implementing this I've started to wonder about the use of the word *feature* to describe functional area. We now have:

* `[type] feature`
* `[feature] hangouts`

Is this confusing, or am I overthinking it? Only alternative I can think of is:

* `[type] feature`
* `[area] hangouts`

Thoughts?

[2019-03-01 13:58] billglover commented on #1121
What areas of the site are covered by the search functionality?

[2019-03-01 14:12] billglover commented on #1079
I would be interested in understanding the perceived benefit in knowing that someone in a study group is online, or that someone has joined a study group. I believe there may be merit in showing/alerting on active hangouts. I want to caution against driving discussion towards being real-time any more than Slack already is. This has a negative impact on the experience for those based outside the US

[2019-03-01 14:41] billglover commented on #1071
There are a number of approaches to refactoring at the scale hinted at here. It feels like the whole topic needs agreement on a higher level approach and then almost certainly a series of smaller issues to get things moving.

Is there a core group of people who need to be involved in such a discussion?

[2019-03-01 14:43] billglover commented on #1104
See #1070 for tracking of 24x7 hangouts.

[2019-03-01 14:54] billglover commented on #963
If we are looking to give an indication of community activity, we may need a different metric.

Discussion is split across forums, discussion groups, inbox and Slack and so a count of any one of these is not reflective of the engagement users are likely to see. The dominant discussion tool is undoubtedly Slack, but 440k messages is so large that it is difficult to relate to.

I'd love to see a cou

[2019-03-01 15:08] billglover commented on #897
It looks like Letter Avatars avoids the need to go to a third party service, I'm a fan of that.

[2019-03-01 15:15] billglover commented on #876
This is current assigned to @sebbel, should this be moved to @lpatmo now?

[2019-03-01 15:19] billglover commented on #849
As someone who always opens hangouts in new windows, this would be really useful.

Looks like something that could be considered as part of: #547

[2019-03-01 15:40] billglover commented on #696
With the re-design under #998 now complete, I'm closing this issue.

[2019-03-01 15:40] #696 closed

[2019-03-01 15:47] billglover commented on #547
Do we want to break out the points that haven't yet been implemented/agreed into separate issues?

[2019-03-01 15:57] billglover commented on #378
I'm closing this issue as stale. We can re-visit once work on #829 has made progress.

[2019-03-01 15:57] #378 closed

[2019-03-01 15:59] billglover commented on #370
I'm closing this issue as stale. If this issue persists, please open a new issue and reference #370 in the description.

[2019-03-01 15:59] #370 closed

[2019-03-01 16:04] billglover commented on #89
I'm closing this because work on it has started and it isn't clear that this issue can ever complete. If we want to track the implementation of specific unit tests, we can raise issues covering specific areas of coverage we'd like to add. When doing so, feel free to reference #89.

[2019-03-01 16:04] #89 closed

[2019-03-01 16:05] billglover commented on #85
I've moved this back to the backlog and removed the claimed label.

[2019-03-01 16:07] billglover commented on #72
I'm closing this issue as the documentation is live on GitBook and it is not clear what work needs to be done to close the issue. Work on specific sections can be tracked under new issues. Please feel free to reference #72 in the description.

[2019-03-01 16:07] #72 closed

[2019-03-01 16:39] billglover opened #1125 "Issue: broken link to on-boarding PPT for new contributors"
**Current Behaviour:**
Documentation references a link to the Onboarding PPT for New Contributors in the following places. Both of these are dead links.
* [Welcome](https://docs.codebuddies.org)
* [Quick Steps](https://docs.codebuddies.org/code-contribution/quick_steps)

**Expected behaviour:**
I would expect to be able to view a presentation showing me how to get started with contributing to Code

[2019-03-01 17:10] billglover opened #1126 "Issue: multiple meteor versions referenced in on-boarding docs"
**Current Behaviour:**
Documentation references two different meteor versions. It is unclear which version I should use.

**Expected behaviour:**
If the meteor version is important, I would expect the version to be consistent across documentation. I would also expect documentation to cover what I should do if I already have a different version installed.

**Steps to Reproduce:**
1. visit [Setting

[2019-03-01 17:19] billglover commented on #1126
This StackOverflow answer seams to indicate that any version of meteor can be used to target releases since v0.6.0 using the `--release` flag. Do we know if this is possible, and if so, which version we should be using?

[2019-03-01 23:44] wuworkshop commented on #963
If we're going to show community activity, we should show more realistic metrics instead of misleading metrics.

In Slack, if you're an admin, you can go to https://codebuddies.slack.com/admin/stats and look at the Active Users charts.

I don't know what forums, discussion groups, inbox gives for stats. Quite frankly, I think some underutilized features should just be killed altogether.

[2019-03-02 00:08] RuubixO commented on #1123
@billglover It would be good to have a way for people to view a given thread from either the post on "Discussions" OR on slack. I noticed you have an app which can add github "issue" comments directly from there. Having a similar feature would be convenient for this and keep the flow organized by the thread on the website, but also organic, in the way active slack users can respond directly from t

[2019-03-02 00:11] RuubixO commented on #1123
I agree that giving flexibility for participants to create and participate in Discussion posts both from slack and from GitHub would be ideal.

[2019-03-02 00:38] RuubixO opened #1127 "Feature: invite other CodeBuddies to Discussion threads"
### Do you want to request a feature or report a bug?
Feature.

### What is the current behavior?
None exists yet, but builds on other comments I've made in issues #1119, #1122, and #1123.

### What is the expected behavior?

**-  Before I post the Discussion-thread:**

1. Have a search bar--like the "Slack channel to notify"-- in-between the "Topic" and "Tags" boxes.
2. Show each desired CodeBudd

[2019-03-02 22:44] lpatmo opened #1128 "Add additional `discussion` tags"
Do you want to request a feature or report a bug?
Enhancement

What is the current behavior?
Our list of tags in `imports/data/discussion_tags.js` is missing a few new tags we want to add.

What is the expected behavior?
Add the following tags:
- TDD
- testing
- hangout-proposal
- loc-nyc
- editors

[2019-03-03 21:42] tgmiller5 commented on #516
What is the status of this? Is it completed? If not, I would like to work on this one.

[2019-03-03 21:47] billglover commented on #516
It doesn't look as though it has been worked. I'm not seeing the rounded corners in either Safari or Chrome. It's all yours.

[2019-03-03 23:30] osanseviero commented on #1125
Hi everyone. Sadly I was the person who created and had ownership of the documents. I've done some changes in my drive, and I'm not sure that I still have access to the presentation. I'll be back in one day or two. Sorry for the issues!

[2019-03-03 23:38] lpatmo commented on #1125
Thanks @osanseviero! If you don't find a backup of the presentation, don't worry about it -- we'll remove the links from the docs. I'm surprised I forgot to make a backup of the presentation as well; that's my bad. FWIW I remember it was a really great presentation, but the existing docs cover everything as well.

[2019-03-04 21:26] billglover commented on #1126
Looks like @lpatmo has fixed this one: codebuddies/documentation@9dd5357d62ebc3957695e6340e7d6c341983d7dc

Current version used is 1.7.0.3.

[2019-03-04 21:26] #1126 closed

[2019-03-04 22:30] billglover commented on #1123
I notice the original discussions post has been removed. Are you able to provide a link to a discussion regarding hang-out scheduling to help illustrate the context. I've tried to illustrate what I think is being requested below.

As I understand it currently:
- a person visits codebuddies.org/discussions and proposes a hangout
- other people comment on the proposal
- the initial author decides to

[2019-03-04 22:38] billglover commented on #963
Slack usage feels like a better indicator of community activity than any of the other discussion platforms, but I'm biased as it's the only one I use. Looking at the charts we have access to on the free plan, weekly active users seems like the best indicator we have available.

[2019-03-06 21:16] billglover opened #1129 "Issue: CB Jarvis posts a public response when I use the /til Slack command"
*What is the current behaviour?*
When you log a learning by using the `/til` command on Slack, CB Jarvis responds publicly with the following message:

*What is the expected behaviour?*
As the learning was never posted publicly, the response from CB Jarvis is out of context and confuses other members of the channel.

[2019-03-08 03:23] distalx commented on #1122
@RuubixO,  Styling with Markdown is already supported :)

I think we need to mention that somewhere on the discussion creation modal to improve the user experience.
i.e.  `Styling with Markdown is supported`.

[2019-03-08 14:34] billglover commented on #1122
@RuubixO It looks as though this feature was already supported but wasn't obvious that it existed. I have subsequently used markdown to format text in discussion posts and to include links to documents hosted on Google Drive. This sounds like it gives you the tools you need.

Markdown support is live at the moment. Whilst the help text is worked on to give the feature greater visibility, can you c

[2019-03-08 14:39] billglover commented on #1127
I can see how this would give visibility to new discussions.

My concern with this proposal is that I don't want people to invite me to discussions. I prefer to opt-in to discussions, study groups and channels.

Would be interested to hear other views.

[2019-03-08 14:51] billglover commented on #1124
Issue labels are now fully documented: https://docs.codebuddies.org/code-contribution/issue/labels

[2019-03-08 14:51] #1124 closed

[2019-03-08 15:32] cbelsole opened #1131 "Feature: Redirect to current page after login."
Before you open an issue, please check if a similar issue already exists or has been closed before. Also please remember that you can also get help in the [#codebuddies-meta channel on the CodeBuddies Slack](https://codebuddiesmeet.slack.com/messages/codebuddies-meta/). (If you are not a member, you can get your invite from [here](http://codebuddiesmeet.herokuapp.com/).

**Do you want to request a

[2019-03-10 06:13] #1122 closed

[2019-03-10 17:11] cbelsole commented on #1120
Sorry @Dan-Y-Ko. I did not see you were assigned to this until after I put out the review.

[2019-03-10 17:37] cbelsole commented on #1109
I looked into this a little and was not able to recreate the login issue. I did experience the one @angelocordon referenced. My guess is that it is a server-side syncing issue. The client code looks good and once the server is "warm" the problem does not happen again.

[2019-03-11 06:15] #1120 closed

[2019-03-13 09:10] osanseviero commented on #1125
Sorry for the delay. I'm really sorry to say that I don't have a backup of the presentation.

[2019-03-13 09:39] billglover commented on #1125
No problem at all. Thanks for the update. Hopefully the documentation includes much of the material covered in the presentation. I'll go ahead and remove the links.

[2019-03-13 10:16] billglover commented on #1125
Fix has been pushed to GitHub, just waiting on sync to GitBook before closing this issue.

[2019-03-13 17:41] billglover commented on #1125
Over 7+ hours without a sync to GitBook 👎

[2019-03-13 18:35] lpatmo commented on #1125
Thanks -- I logged into gitbook.com and saw there was a "you need to upgrade" message, then got an error when I tried to upgrade. I've contacted their support form, so 🤞

[2019-03-24 14:32] tgmiller5 commented on #516
Thank you @billglover.

[2019-03-26 19:56] #1128 closed

[2019-03-27 21:01] lpatmo opened #1135 "Add legal text to Hangout Tips section"
Insert the following text into the `Hangout Tips` list:

2/ You agree not to stream copyrighted or otherwise objectionable content in the hangout.

![image](https://user-images.githubusercontent.com/4512699/55111845-80f06500-5098-11e9-988f-d78b334a59ca.png)

[2019-03-29 15:52] lpatmo commented on #1109
Encountered by @cbelsole:

[2019-03-29 16:30] angelocordon commented on #1109
That's weird... kind of looks like an SVG background being injected as an icon

[2019-04-01 19:18] angelocordon opened #1136 "Discussion: CodeBuddies v3 Future Projects"
The original CB platform was built to serve a mission --

Over the years, it's served that mission quite well and has evolved to so much more with projects revolving around building out our community, from slackbots to discussion forums. At this step, one could ask, what's next? Where do we go from here and where can we go?

It's not necessarily that we as a community lack ideas, in fact, we have

[2019-04-01 21:20] lpatmo commented on #1136
Thanks @angelocordon! Curious if @RuubixO, @tgmiller5, @Dan-Y-Ko, and other newer contributors (or who've expressed interest in contributing) have thoughts about pain points they've encountered.

[2019-04-02 01:57] d3vild06 commented on #1136
Here's my thoughts:

 - As noted and highlighted by Angelo and Linda. The project is serving it's purpose and mission. Would I consider it a "platform"? No. I think this is limited by the current tech stack.
 - If we are simply saying since the project is serving its mission, we don't need to consider improving it or keep it modern, then we've already failed this community.
 - I strongly believe t

[2019-04-02 02:33] lpatmo commented on #1136
What features do you envision in v3 that would make it a true platform, @d3vild06?

Side note: my original dream was multiple spontaneous coding meetups happening at the same time, and in the course of building this I've realized that it's less of a features problem and more of a finding-meetup-organizers problem.

IMO it's less of a "let's not improve the codebase" issue and more of a maintainer

[2019-04-02 03:55] distalx commented on #1136
Things evolve.

This discussion was started with a suggestion of porting to a new tech stack (MERN). & now we are discussing version 3.

When the project was started things were not as tightly coupled with Slack as it has become today. And most of the feature requests that are being filed includes slack.

Slack has its limitations, And people have created a bot to address those limitations - even

[2019-04-02 15:04] d3vild06 commented on #1136
To help with the discussion (and @distalx's point around outlining specific use-cases and features) here are some ideas and vision for **CB v3**:

##### Product/Feature Focused
 - Create better engagement through different forms of communication and incentives (i.e. push notifications to your mobile device, desktop notifications, robust member profiles, gamification)
 - Make the match-making code

[2019-04-02 16:23] lpatmo commented on #1136
My questions around running a Kickstarter are:
1/ Should we run a Kickstarter, or run it on Open Collective for easier management (and to dodge the taxes question, since Open Collective will be fiscally sponsoring the project as a 501c3)?
2/ What rate would be fair to pay the core contributors?
3/ Say we raise $3K, or $10K on Kickstarter. How will that get budgeted? Which contributors should get p

[2019-04-02 17:46] angelocordon commented on #1136
Really appreciate the great dialogue so far 🙌🏽🙌🏽

Before we get too deep, it might be a good idea to figure out our evolved mission now that the community has grown, so that we have something these visions can anchor to.

In the beginning, it seemed like it was all about being able to remote meetups but basing on our current Slack channel, it seems like the core mission of the community now is to

[2019-04-02 17:53] angelocordon commented on #1136
Re: funding, I agree - I think trying to make Open Collective work might be better for us, at least this way we can concentrate on the things that matter and less on accounting/taxes. Eventually, if we become much bigger, it might be worth the effort of figuring that out more but until then, let’s try our best to keep that side simple.

I’d be curious to see how other OSS splits their funding; Vue

[2019-04-02 22:46] lpatmo commented on #1136
Thoughts on the mission: https://medium.com/codebuddies/codebuddies-in-2018-a-project-status-letter-to-the-community-7f8c2c34e950

The primary mission: Connect people who have the potential to help each other become better at software development, regardless of where they live.

Secondary missions:
1/ Support and feature the personal projects created by members in the community.
2/ Support members

[2019-04-03 15:41] peoray commented on #1135
Can you provide more details on this. Would love to work on it

[2019-04-03 15:43] cbelsole commented on #1136
### My thoughts on funding:

One big way I could see CB improving is how we market ourselves. I didn't even know that I could sponsor CB on the Open Source Collective. I have rectified that.

- The splash screen on every hangout could say something like, "This hangout is provided by the good people at Codebuddies. Please sponsoring us on the Open Source Collective in order to keep us running."
- P

[2019-04-04 08:41] peoray commented on #1135
Which of the template is this?

[2019-04-04 16:21] lpatmo commented on #1135
Do you have https://github.com/ggreer/the_silver_searcher installed? If so,
try typing `ag "Hangout Tips"`, and you should be able to see where the
template is. Or try using `grep` to search for where the file is located.
Let me know if you get stuck.

On Thu, Apr 4, 2019 at 1:41 AM Emmanuel Raymond <notifications@github.com>
wrote:

[2019-04-04 16:34] peoray commented on #1135
Is this on my editor?

[2019-04-04 17:14] lpatmo commented on #1135
On your terminal. :)

On Thu, Apr 4, 2019 at 9:34 AM Emmanuel Raymond <notifications@github.com>
wrote:

[2019-04-04 17:17] peoray commented on #1135
Okay, figured it out. Although, I'm having issues with the installation. Seems like I need to install some package. I already did `meteor npm install`

[2019-04-04 17:27] lpatmo commented on #1135
Can you share a screenshot?

On Thu, Apr 4, 2019 at 10:17 AM Emmanuel Raymond <notifications@github.com>
wrote:

[2019-04-04 17:29] peoray commented on #1135
Working now, although it posted it in the slack group.

From my ag search, there are three files that have Hangout tips, I'll include the addition in all three?

[2019-04-04 17:47] lpatmo commented on #1135
Sure!

On Thu, Apr 4, 2019 at 10:29 AM Emmanuel Raymond <notifications@github.com>
wrote:

[2019-04-05 07:50] angelocordon commented on #1136
Re:

While I'm not opposed to this, I was also thinking that we can try to make opportunities for other contributors are really great at other languages as well -- not just JavaScript. I.e., if the backend was in Ruby, Python or Go, then we'd open up other opportunities for other "kinds" of developers to contribute to.

Of course, the complex tradeoff here would be we'd need some contributors to b

[2019-04-05 08:17] angelocordon commented on #1136
Some more `:rubber_duck:` thoughts based on the convo above:

We could essentially break down v3 platform/community goals to be something like:

and our community values should be:

Based on these, we can see which aspects of everyone's suggestions would help move the needle forward in terms of the community mission and values.

I'd like to highlight some of @cbelsole's [suggestions](https://githu

[2019-04-05 19:33] wuworkshop commented on #1136
@lpatmo will have to fill in the actual numbers of the CB Survey results from 2017. I just wanted to bring the survey results so the feedback from users is actually factored in for v3.

https://medium.com/codebuddies/codebuddies-community-survey-results-really-insightful-commentary-from-yall-8dcb36965d71

In particular, I'm more concerned about the less experienced developers since they appear to

[2019-04-05 19:38] angelocordon commented on #1136
Thanks @wuwuworkshop - those are excellent insights

[2019-04-05 19:44] wuworkshop commented on #1136
It occurred to me that the survey question was phrased "how we could improve our **community**".

Now that ~2 years have past and some changes were made to the site, Slack, etc., perhaps a new user survey should be sent out to ask "how could we improve the CodeBuddies site/app?". 🤔

Also, since people clearly want MOAR hangouts, I'd like to know what is preventing users from starting their own han

[2019-04-05 20:24] lpatmo commented on #1136
++

This would help inform V3. Is putting together a draft of a new survey something you might be interested in, @wuworkshop?

IMO, creating hangouts at the moment is very much like creating remote meetup.com events -- very formal, since a user would have to fill in several details. I'm imagining a version where it'll be common to see several remote meeting rooms open all at once... kind of like T

[2019-04-05 21:25] #1135 closed

[2019-04-05 21:44] wuworkshop commented on #1136
I feel like this can't be stressed enough - "Simplicity Wins over Abundance".

https://www.nngroup.com/articles/simplicity-vs-choice/

[2019-04-07 14:42] d3vild06 commented on #1136
@lpatmo I love that idea of a "twitch" like streaming UI where folks can peruse for an interesting topic to join.

I know we're  starting to get into implementation details but I love the ideas that are already flowing!

Do we want to decide where we want create and manage the project? We can always use Github's own project boards and manage the whole thing right here.

Thoughts?

[2019-04-07 20:24] lpatmo commented on #1136
I have no objection to using Github's own project boards!

[2019-04-08 06:36] billglover commented on #1136
I’ve been quiet here as I’m struggling to separate what *I* want from CodeBuddies from what would benefit the community as a whole. We probably should run a another survey. Was the previous one a Google forms survey? Are the questions available?

I strongly agree with @wuworkshop that simplicity, and clarity of purpose is incredibly important. Clarity needs to come long before we consider interfac

[2019-04-08 07:25] lpatmo commented on #1136
Thanks @billglover for your thoughts! The questions/results from the December 2017 survey are here: https://medium.com/codebuddies/codebuddies-community-survey-results-really-insightful-commentary-from-yall-8dcb36965d71

Core mission: ```Connect people who have the potential to help each other become better at software development, regardless of where they live.```

Although many people have conne

[2019-04-08 18:39] wuworkshop commented on #1136
After reading some more links like these:

1. https://jdittrich.github.io/userNeedResearchBook/

2. https://www.nngroup.com/articles/first-rule-of-usability-dont-listen-to-users/

I'm starting to wonder if onsite user research should be done instead of an online survey. Or perhaps some of the money in Open Collective could be offered on https://opensourcedesign.net/jobs/ to do usability testing, u

[2019-04-11 19:07] lpatmo commented on #1136
I created a draft here: https://docs.google.com/document/d/1W4THgyKx9juLZNevHtnqkYN3rwDM95nxp8RqgMdBUi0/edit

We could definitely do both! (A community survey + user research.) Curious if anyone would be interested in coming up with a plan for usability testing/user research.

[2019-04-12 08:11] angelocordon commented on #1136
I think a lot of these questions are a bit too poignant and can result in some biased results. I'd propose we mix some of them with more open ended questions and less choice-based questions to allow our members be able to articulate more what's important to them. I've drafted a good few ones below the original questions.

I pulled some from: https://hackernoon.com/20-user-experience-survey-questio

[2019-04-12 09:04] lpatmo commented on #1136
Really love what you added here:

![image](https://user-images.githubusercontent.com/4512699/56025337-cb8ff500-5cc6-11e9-8c30-ae57aa2fbeab.png)

Currently thinking that we could have a few short multiple-choice questions to get an idea of the demographics (especially using Bill's suggestion):
![image](https://user-images.githubusercontent.com/4512699/56025424-f11cfe80-5cc6-11e9-8470-7feb0dc6463b.p

[2019-04-12 12:30] tgmiller5 commented on #1136
@angelocordon To add, I would agree to just include a couple of free text fields because when sending out a survey, most people may want to fill out the survey real quick instead of just typing so much based on their time and also if they are using mobile.

[2019-04-12 12:41] tgmiller5 commented on #516
@billglover , which browser is this affecting?

[2019-04-12 12:59] billglover commented on #516
The original issue says all but I only checked Safari and Chrome. I’m on a mobile at the moment so not easy to check multiple browsers.

Try visiting this URL:
https://codebuddies.org/hangouts

You should see the square corners on hangout cards.

[2019-04-12 18:16] angelocordon commented on #1136
All good points 🚀

[2019-04-12 19:59] wuworkshop commented on #1136
Just wanted to add another link with some useful tips on creating a qualitative survey:

https://www.nngroup.com/articles/qualitative-surveys/

[2019-07-10 17:55] RuubixO commented on #1136
I'm coming to this very late, but the most powerful commodity of CodeBuddies is its ability to "glue" together the right people organically.

A lot of what I think about personally about what can be improved, and that could summarize a lot of what I've read here, is the ability to make and maintain connections easily, and to make our technology easy for others to contribute.

Slack:
I really don't

[2019-07-11 19:52] billglover opened #1139 "Issue: open security vulnerabilities"
[issue redacted]

[2019-07-11 19:58] billglover commented on #1139
Open Vulnerabilities at the time of posting:

* 💥 js-yaml
* 💥 lodash
* 💥 tar
* 🔥 braces
* 🔥 stringstream
* 🔥 fstream
* 🔥 jquery
* 🔥 mem
* 🔥 underscore.string

Do we want to break these out as separate issues to make them more manageable/easy to pick off?

[2019-07-14 06:18] sebbel commented on #1139
@billglover ?

[2019-07-14 13:23] lpatmo commented on #1139
@sebbel We're fixing this privately so it's more secure!

[2019-07-14 13:23] #1139 closed

[2019-07-14 20:32] ideaguy3d commented on #1119
What's going on with this? Is anyone building it?

[2019-07-14 21:15] ideaguy3d commented on #876
How far along is this? Where can I go to check out the code? I'd be willing to spend about 10 hours a week solving this problem.

[2019-07-15 05:06] lpatmo commented on #1119
@ideaguy3d This'll probably get folded into V3 of the website (see: https://github.com/codebuddies/codebuddies/issues/1136)

In the meantime, we do have a recurring Slack reminder going out every Friday that's testing out this idea:

![image](https://user-images.githubusercontent.com/4512699/61196450-8becf680-a683-11e9-8709-03c91a313329.png)

[2019-07-15 05:08] lpatmo commented on #876
@ideaguy3d Thanks for your interest! We've got some code here: https://github.com/codebuddies/cb-connect. Please join our Discord's #cb-connect channel at https://discord.gg/yvtBmEW.

I'm happy to do a code walkthrough with you sometime next weekend, if you're interested. Feel free to ask any questions on the Discord channel.

[2019-07-18 07:36] adachiu commented on #876
@lpatmo Maybe we could make the page more engaging. I was playing with a CB "Connect" logo and also a potential new look for the page. I have some more ideas to mock up for the different states. More to come next week.

![Connect Main Screen v1](https://user-images.githubusercontent.com/13413986/61438267-a10ea180-a971-11e9-9ae5-fdbe41410877.png)

[2019-07-18 17:43] ideaguy3d commented on #876
@lpatmo yeah we can spend an hour or so this weekend on it. I would also be more useful if I could create a separate web service to build this because I'd want to do some heavy duty SQL coding.

@adachiu It looks pretty, but the interaction design is far more useful than the visual design with something this complex. I can see the UI view's going into so many branches and sub branches

[2019-07-19 01:57] lpatmo commented on #876
@Julius We might explore a relational DB stack with CodeBuddies V3, but
this project is meant to be a quick MVP so we can connect people. It's
missing a key feature (letting people submit more than one entry) but is
close to being done.

@Ada Love the icons, and I like that you've organized the entry points so
that it's 4 instead of 6. Do you have thoughts on the rest of the signup
flow? Have you

[2019-07-19 02:06] adachiu commented on #876
@lpatmo Yes, I am basing the rest of the flow I'm doing with the current website content. I will post more progress today.

@ideaguy3d I'm working on the ux of the user flow for this.

[2019-07-19 02:10] lpatmo commented on #876
@ideaguy3d There won't be a lot of opportunity for SQL for this project,
sorry. :(

If you're still interested, let's figure out a time to pair on Discord!

On Thu, Jul 18, 2019, 7:06 PM Ada Chiu <notifications@github.com> wrote:

[2019-07-19 03:47] adachiu commented on #876
I updated the layout of the cards so that it is vertical. This would give us space to have a horizontal expansion of the form.

Sketch Cloud Link: https://sketch.cloud/s/PKPgL

![Connect Main Screen 3](https://user-images.githubusercontent.com/13413986/61508031-cb686980-aa1a-11e9-9b50-c11cede9ee95.png)
![Flow - Partner 1](https://user-images.githubusercontent.com/13413986/61508034-cefbf080-aa1a-11

[2019-07-19 04:02] distalx commented on #876
@adachiu, it looks fantastic.

[2019-07-19 06:22] adachiu commented on #876
(Copy and Paste from my Slack comment so we can save the thought here)

Perhaps we can add the breadcrumbs that I mentioned earlier.  What if we break it down like this:

First form section is *all about the User*
1) Name 2) Intro 3) My skill(s)

Second form section is all about what the *User wants to do*
1) I’m looking for 2) What skill(s) I want to improve

Third form section is *contact inform

[2019-07-19 07:01] lpatmo commented on #876
What the matching dashboard currently looks like:

![image](https://user-images.githubusercontent.com/4512699/61515801-52d0c100-a9b8-11e9-8a98-924e8908617e.png)

![image](https://user-images.githubusercontent.com/4512699/61515824-5d8b5600-a9b8-11e9-8c83-db4b1609594b.png)

[2019-07-24 15:05] JoeStrout opened #1140 "Study Groups page could use more instruction"
I found my way to the Study Groups page, and clicked Learn More to get the pop-up, but it seemed to be assuming I was already familiar with Jitsu.

In fact I had never heard of Jitsu, and had no idea what software was depicted in the diagram until a helpful CB user on Slack filled me in.  And now, having downloaded Jitsu, I still can't figure out how to use it — apparently, unlike all other confer

[2019-07-25 04:33] lpatmo commented on #1140
Thank you for filing this issue, @JoeStrout!

To clarify, are you talking about the "Learn More" popup here?

![image](https://user-images.githubusercontent.com/4512699/61846007-4f2ab780-ae5a-11e9-9b05-e5fd23e63ac4.png)

I'd love to brainstorm ways in this issue about how we could improve the copy in that popup so that it's clear that a "Jitsi iframe hangout" is immediately embedded onto the page

[2019-07-26 23:50] bengineerdavis commented on #599
I noticed this feature isn't implemented within Study Groups at the moment. If someone could look into this, that would be greatly appreciated!

My system:
Fedora 30. Chrome.
![cb_group_'YOUR AVAILABILITY'](https://user-images.githubusercontent.com/52514382/61986641-9b9f0000-afde-11e9-93fa-baf3856b3b0a.png)

[2019-08-14 05:39] tgrrr opened #1141 "Login on Android Chrome with github auth"
When I try to login with the `signin with slack` button, I get correctly redirected to github, authorised, and then see a screen that reads

Url: https://codebuddies.org/_oauth/github?code=`<hash string>`&state=`<hash string>`

Note: `<hash string>`'s are removed

- I then click the link, it doesnt close that window.
- I refresh/navigate on another browser tab, and am still not logged in.
- Tested

[2019-08-22 04:54] lpatmo commented on #1141
Possibly related:

The first night, folks were having trouble logging in, and logged-in users were having trouble scheduling hangouts. Console errors looked like this:

![image](https://user-images.githubusercontent.com/4512699/63486651-4929f580-c45d-11e9-9432-8d89902f2e08.png)

The next night, a little less than 24 hours after https://github.com/codebuddies/codebuddies/pull/1137 was merged in, ev

[2019-10-09 21:24] akosasante commented on #1098
I'd like to take a look at this issue if it's still occurring 👋

[2019-10-10 08:05] stain88 commented on #1098
Yep, I'm still reproducing this at exactly 992px width, on several browsers.
All yours, @akosasante

[2019-10-11 05:46] lpatmo opened #1142 "Put Netlify logo onto README.md"
Netlify has sponsored CodeBuddies with an open source plan!

We need to put their logo on our README.md, on our future site, and on main repo for v3 when it is more active.

![image](https://user-images.githubusercontent.com/4512699/66627175-ba5d6d80-ebaf-11e9-8a78-554e3e8a4987.png)

[2019-10-11 10:27] wait-what commented on #1142
I'll do this

[2019-10-11 20:04] akosasante commented on #1098
I've opened a PR 😄  I may have mishandled my git-fu though, it looks like it brought in a bunch of extraneous commits :/

https://github.com/codebuddies/codebuddies/pull/1143

[2019-10-13 07:21] lpatmo commented on #1142
I've added this to README on the `staging` branch.

[2019-10-21 05:06] chechunaidu opened #1146 "Any one of you worked on jitsi to create custom web conference app"
Before you open an issue, please check if a similar issue already exists or has been closed before. Also please remember that you can also get help in the [#codebuddies-meta channel on the CodeBuddies Slack](https://codebuddiesmeet.slack.com/messages/codebuddies-meta/). (If you are not a member, you can get your invite from [here](http://codebuddiesmeet.herokuapp.com/).

Do you want to request a f

[2019-12-08 09:16] brylie opened #1147 "Forms not submitting on Firefox"
Do you want to request a feature or report a bug?
This seems to be a bug.

What is the current behavior?
Codebuddies.org forms, like the "Schedule Hangout" or "What I learded", aren't submitting on Firefox. I click the "Schedule Hangout" and nothing happens. Likewise, pressing return in the "What I learned" just makes a new line, rather than submitting the form.

What is the expected behavior?
The

[2019-12-08 09:22] brylie commented on #1147
I have reproduced this bug on two browsers now, Firefox and Chromium.

[2019-12-08 09:27] brylie opened #1148 "Can't sign in to Codebuddies.org via GitHub oauth"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
I am unable to sign in to codebuddies.org.

What is the expected behavior?
When completing the GitHub oauth flow, I would be signed in to codebuddies.org

Which browser / OS are affected by this issue? (An *isolated* way to reproduce the bug)
Chrome 78.0.3904.108
Kubuntu 19.10

[2019-12-08 09:29] brylie commented on #1147
Oh no! The form finally submitted *all* the submissions! Now there are tons of duplicate events. I'm sorry for the event SPAM.

[2019-12-08 09:36] brylie commented on #1147
If there is some async code in the "schedule hangout" callback, like sending a Tweet, it should probably be moved to a scheduled process.

[2019-12-16 03:38] #1146 closed

[2019-12-16 03:40] lpatmo commented on #1142
Netlify sent out a new form (to be completed March 2020) that requests a link to Netlify be on the main page, so I am reopening this issue.

The form: https://opensource-form.netlify.com/

[2019-12-16 04:14] #1142 closed

[2020-02-24 17:30] lpatmo opened #1151 "Ignore #TIL or #til message in Slack if message is empty"
## Context
When someone typed #TIL (with nothing else after it) in a thread, we saw:

![image](https://user-images.githubusercontent.com/4512699/75176005-3633fe80-56e8-11ea-91ef-3e0c753185ab.png)

## Acceptance Criteria
- [ ] When someone type "#TIL" in a Slack message and nothing after it, the Slack API Tester should ignore it.

The fix should probably live in here: https://github.com/codebuddies

[2020-05-22 03:06] wuworkshop opened #1152 "Make a page for Code of Conduct"
Do you want to request a feature or report a bug?
Feature

What is the current behavior?
Currently, codebuddies.org's CoC is on GitHub here:
https://github.com/codebuddies/codebuddies/blob/master/CODE_OF_CONDUCT.md

And I _think_ the only page that links to it is the About page here:
https://codebuddies.org/about

What is the expected behavior?
I think it would be better for it to have its own pag

[2020-05-22 04:04] lpatmo commented on #1152
Maybe we could simply say after that list: "We have a zero tolerance policy for scammers, who will be deactivated immediately."

[2020-09-29 06:47] praveeno opened #1160 "24/7 slient hangout: Jitsi and codebuddies, people online count mismatch."
Do you want to request a feature or report a bug?
Bug
What is the current behavior?
jitsi says you are only one here, and at bottom codebuddies UI suggest there are people in 24/7 hangout.
![image](https://user-images.githubusercontent.com/19618730/94522748-c07bac80-024d-11eb-95ce-2c5fb9466692.png)

What is the expected behavior?
both jitsi and codebuddies suggest same number
Which browser / OS ar

[2020-09-29 06:49] praveeno commented on #1160
lpatmo suggested to remove showing online people count in codebuddies as quick fix.
@lpatmo is this right, can I submit a PR for this ?

[2020-09-29 06:52] praveeno commented on #1148
working fine for me, can you check console, if there are some errors there.

[2020-09-29 07:39] lpatmo commented on #1160
@praveeno Yes, go ahead! Thank you!

[2020-09-29 07:46] brylie commented on #1148
This may have been a transient bug, as it was reported in 2019.

[2020-09-29 07:46] #1148 closed

[2020-10-05 02:04] lpatmo commented on #1160
@praveeno Let me know if you need any help! Also, if you want Hacktoberfest credit, I can update this with the label.

[2021-04-02 20:31] Budda0ne opened #1164 "Kody"

[2021-04-03 15:17] #1164 closed

[2021-05-02 19:13] stain88 opened #1165 "Update GitDuck logo to Duckly"
Following their rebranding, we should update references to the CodeBuddies sponsor from GitDuck to Duckly

[2021-09-22 18:42] Lauro235 commented on #1109
Im having trouble signing in via git hub. I have an email co firming that code buddies has been allocated its github permissions, and I can click the link and see it. But if I click applications from git hub neither type of application shows codebuddies. When I log into codebuddies via github, I get redirected to codebuddies page without completing sign in.. Not sure if anyone has experienced this

[2021-10-02 07:48] Veercodeprog opened #1171 "Not able to sign up on codebuddies website"
Before you open an issue, please check if a similar issue already exists or has been closed before. Also please remember that you can also get help in the [#codebuddies-meta channel on the CodeBuddies Slack](https://codebuddiesmeet.slack.com/messages/codebuddies-meta/). (If you are not a member, you can get your invite from [here](http://codebuddiesmeet.herokuapp.com/).

Do you want to request a f

[2021-10-08 11:01] stain88 commented on #1165
Looks like this has been done - I guess because we're pointing directly to the OpenCollective image, and that got updated. Closing

[2021-11-22 00:32] #1171 closed

[2022-03-26 21:42] lpatmo opened #1182 "[BUG] New login issues"
## What is the current behavior?

`Undefined` error on login (both Slack and GitHub):
![image](https://user-images.githubusercontent.com/4512699/160257962-c3c51066-7bf8-4305-9240-5c544e9abb9c.png)

If I run the app in localhost:3000, both GitHub and Slack login work. But login doesn't work on staging.codebuddies.org and codebuddies.org.

@distalx and I debugged for a couple of hours and found that