[2016-10-11 04:23] sergeant-q commented on #92
@lpatmo @adachiu I believe this is a non-issue correct? We agreed to keep the single hangout post pages public but users must login in order to RSVP or leave a comment.  Close?

[2016-10-11 04:26] sergeant-q commented on #49
This has been implemented with PR #107 - closing issue.

[2016-10-11 04:26] #49 closed

[2016-10-11 04:31] sergeant-q commented on #289
Changes have been implemented. Closing issue

[2016-10-11 04:31] #289 closed

[2016-10-11 04:35] sergeant-q commented on #270
@William-R-Wilson can you checkout PR #319 and see if it addresses your issue? @BratCat can you let us know if you're still actively trying to work this issue?

[2016-10-11 04:40] sergeant-q commented on #249
@adachiu will issue #288 also address this?

[2016-10-11 05:12] adachiu commented on #249
@sergeant-q yes, looks like #288 is the same as this issue.

[2016-10-11 05:15] adachiu commented on #92
@sergeant-q Yup! Closing.

[2016-10-11 05:15] #92 closed

[2016-10-11 05:30] gytdau commented on #314
Hosting it with Github Pages is my first suggestion, too. It's reliable, free, and works great with static sites.

You'd need to make another repo for the page though, and then I'd recommend linking that repo to a subdomain like `down.codebuddies.org`. It'd be great if there was some simple Javascript that checked if the site was up before refreshing.

[2016-10-11 05:36] gytdau commented on #309
Bug fixed.

[2016-10-11 05:36] #309 closed

[2016-10-11 05:40] gytdau commented on #257
Issue solved, thanks @cosmologist10.

p.s. Wasn't Eddie supposed to do this one?

[2016-10-11 05:44] gytdau opened #321 "Volunteers descriptions are just lorem ipsum"
On the bottom of https://codebuddies.org/about - under the heading `And all those who've made a positive impact on the project and the community`, everyone's popup box is a paragraph of filler text and a generic username. The links don't go anywhere meaningful either.

Did we originally plan to have a system where people fill this info in?

[2016-10-11 05:46] lpatmo commented on #257
@gytdau True, but there was no update for a few days. We've since added (or at least there's a PR open!) to add something to contributing.md that says an issue can be un-claimed if there's been no update from the person who claimed it for 2 days. (The original claimant doesn't necessarily need to have solved the issue in two days, just update that they're working on it still or something.)

Anyway

[2016-10-11 05:46] #257 closed

[2016-10-11 05:51] adachiu opened #322 "FAQ UI Update"
I'm updating the layout of the FAQ page to better utilize the space.

Also, working on creating a subtle background illustration for the header. I'll post here for reviews.

Currently everything's crammed to one side.
![screen shot 2016-10-10 at 10 37 52 pm](https://cloud.githubusercontent.com/assets/13413986/19259875/3ce1c826-8f3a-11e6-9dcb-4523eab2a6a8.png)

[2016-10-11 08:03] lpatmo commented on #321
@gytdau Heh, yes -- sorry, that's on me! I have to finish contacting everyone and make sure they're okay with their descriptions / notes about how they've helped.

[2016-10-11 08:03] lpatmo commented on #301
Merged in the fix from @dantesolis!

[2016-10-11 08:03] #301 closed

[2016-10-11 08:10] lpatmo opened #324 "[Deployment question] 'Cannot find module' error on cbv2-staging.herokuapp.com (our test staging site)"
The error below didn't show up in `localhost:3000`, but showed up in http://cbv2-staging.herokuapp.com. If this were on localhost, I normally would do a `meteor npm install` to fix the problem. But not sure how to fix this on a live heroku instance.

![screen shot 2016-10-11 at 1 11 14 am](http://i.imgur.com/tDbLEuN.jpg)

[2016-10-11 08:31] gytdau commented on #321
Oh, okay. That sounds difficult to coordinate - maybe we should have a unified form for everyone?

[2016-10-11 13:54] distalx commented on #324
@lpatmo @camilleriluke
I'm not able to pinpoint the exact issue, either it's quill package itself or it's a [buildpack](https://github.com/AdmitHub/meteor-buildpack-horse), that we are using with heroku. Also other `npm` packages are working just fine so maybe it's `quill`.

The workaround is to add `quill.js` locally and I have tested it with heroku - [meteor-quill-example](https://meteor-quill-e

[2016-10-11 21:45] adachiu commented on #321
@lpatmo I created a Google Form for collecting CodeBuddies volunteer descriptions. Shared it with you already. Perhaps you can pin the link to `codebuddies-meta` channel using the `@channel` so you don't have to ask each volunteer to submit information.

[2016-10-12 05:17] lpatmo commented on #324
Thanks @distalx! Do you want to submit branch `issue-324` as a pull request, with the `import Quill from './quill.js';` line change?

Btw, I'm not sure what does this was meant for:
[code]

[2016-10-12 05:19] lpatmo commented on #321
Thanks @adachiu! Maybe we can add it to `contributing.md` as one of the last steps, for those who want their information added to the `Contributors` list.

[2016-10-12 05:27] lpatmo opened #325 "Idea: Tweet newly created hangouts to the @codebuddies twitter account with hashtag #codebuddies"
![automate all the things](https://intellyx.com/wp-content/uploads/2015/11/automate-all-the-things.jpg)

We've discussed this idea in the CodeBuddies Slack before; just logging it here so that we remember. Not a priority feature by any means, but would be nice to have automated tweets going out linking to new hangouts that are scheduled on the site.

[2016-10-12 05:29] #310 closed

[2016-10-12 06:03] abhiii5459 opened #326 "Made a mistake in Slack notification (displaying current hangout time instead of scheduled)"
` value: ${now_formatted_time + '\n ('+time_left+')'}` should not be using now_formatted_time. Fixing this.

[2016-10-12 07:49] camilleriluke commented on #324
@lpatmo that will run the unit tests

[2016-10-12 13:11] distalx commented on #62
Would it make sense to  add [commitizen](https://commitizen.github.io/cz-cli/) into workflow ?

[2016-10-12 13:59] duffbuster opened #327 "The 'Load More' button under Join Hangouts is a bit aggressive."
I want to add a button class called `no-outline` that sets `outline: none`. I found the outline on the load more button mildly annoying.

[2016-10-12 14:02] duffbuster commented on #211
+1

[2016-10-12 21:45] wuworkshop commented on #293
Just recently came across this repo - https://github.com/sindresorhus/xo

[2016-10-13 00:40] lpatmo commented on #324
@camilleriluke Doh, of course! It was too late for me last night. -_-

[2016-10-13 03:17] wuworkshop opened #328 "Add Backers and Sponsors Sections To README"
Now that CB is on Open Collective (yay! 🎉 ), might be good to add a Backers and Sponsors section linking to the Open Collective page. Here are some other Open Collective projects that have what I'm referring to:

https://github.com/24pullrequests/24pullrequests
https://github.com/yoshuawuyts/choo

[2016-10-13 04:09] sharynneazhar commented on #328
Can I work on this? :)

[2016-10-13 08:14] lpatmo commented on #328
@sharynneazhar Go ahead! :)

(On my plate, talking out loud: I have to figure out if there's more we need to do to finalize the page, and after that I think we can create a new issue to update the site to link to it, and then we can start contacting potential sponsors.)

[2016-10-13 14:58] sharynneazhar commented on #328
Anything specific you guys would like to add to the verbiage?

[2016-10-15 01:14] adachiu commented on #322
Some updates. I'll also edit the about page (will open a separate issue) so it has the same header background image.

![screen shot 2016-10-14 at 6 11 28 pm](https://cloud.githubusercontent.com/assets/13413986/19406393/c8133a18-9239-11e6-8a79-86d734b1a7c6.png)

[2016-10-15 05:56] adachiu opened #335 "About UI update"
Updating the About page UI so it matches the new updates in FAQ page.

[2016-10-15 07:02] adachiu commented on #203
@lpatmo We discussed this mock on Slack previously. Posting here to get help on building this. Also we could continue discussing it.

Recap:
The `hangout cards` would have a hover state where the hangout details are shown. The user will be able to do the following on the hover state:

- Click on a `join` button
- Click on a `leave` button (if they already joined)
- Click on the `expand` icon to vi

[2016-10-15 08:28] Briix commented on #293
@wuworkshop That looks really interesting! Maybe a good alternative to eslint?

[2016-10-15 08:29] Kartikkh commented on #298
I want to work on this issue !

[2016-10-15 09:02] Kartikkh commented on #327
Hey is this feature still needed ?
actually, this would be my first contribution. so if this is needed ! let me give this opportunity .
Thanks

[2016-10-15 13:38] abhiii5459 commented on #286
Closing as solved.

[2016-10-15 13:38] #286 closed

[2016-10-15 15:01] distalx commented on #70
@lpatmo  is this issue has been resolved in PR #73  ?

[2016-10-15 16:02] #70 closed

[2016-10-15 16:09] lpatmo commented on #203
Update: @abhiii5459 and I have been working on this issue in the `issue-203` branch. Feel free to check it out. I still have to finish the hover effect and turn the "leave" link into a button, but it's on its way. The right-hand UI might become its own issue.

[2016-10-15 17:47] #324 closed

[2016-10-15 20:37] wuworkshop commented on #298
hmm... @mohit3011 are you still working on this issue? or should @Kartikkh work on it?

[2016-10-16 03:00] lpatmo opened #339 "Slack alerts not appearing for scheduled hangouts"
@distalx found the bug -- something in `server/slack/methods.js`.

[2016-10-16 03:14] #328 closed

[2016-10-16 03:20] distalx commented on #339
Right now alert for newly created hangout is not being posted to slack channels, maybe because of following code block.
[code]

@lpatmo I believe @abhiii5459  is already working on this feature, #326 . @abhiii5459 would you mind take a look at it ?

[2016-10-16 03:56] wuworkshop commented on #288
@nachiketdhamankar Are you still working on this? If not, I can change the label back to `not-claimed`.

[2016-10-16 04:01] abhiii5459 commented on #339
@distalx @lpatmo I'll check it out today!

[2016-10-16 04:03] wuworkshop commented on #249
@raj-maurya are you still working on this issue? If not, I can change the label back to `not-claimed`.

[2016-10-16 04:04] abhiii5459 commented on #288
@wuworkshop i believe he is working on it :)  he's been collaborating with me to set things up etc. @nachiketdhamankar, please correct me if I'm mistaken!

[2016-10-16 04:16] nachiketdhamankar commented on #288
Hello! @wuworkshop @abhiii5459 Yes I've been working on it

[2016-10-16 04:17] ryzokuken commented on #300
He claimed it seven days ago... If he hasn't been working on it, could I?

[2016-10-16 04:32] sharynneazhar commented on #85
This sounds pretty awesome 😄. Are we still interested in implementing this?

[2016-10-16 04:37] adachiu commented on #85
@sharynneazhar yep we sure are! We are most likely implementing a unicorn. Actually, let me label this as in progress.

[2016-10-16 08:30] lpatmo commented on #300
@ryzokuken Sorry, should've updated this thread... there is an open pull request for this issue (https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/306) that is in progress.

[2016-10-16 08:39] #322 closed

[2016-10-16 08:42] lpatmo opened #340 "Fix broken logo image in "cancelled hangout" email template"
![screen shot 2016-10-16 at 1 40 55 am](https://cloud.githubusercontent.com/assets/4512699/19416278/b0f32466-9341-11e6-9c11-88299ff8b957.jpg)

The fix probably needs to be in this template: `private/email-hangout-alerts.html`

[2016-10-16 08:43] #335 closed

[2016-10-16 09:29] techtolentino commented on #340
I can give this a shot - reading contribution docs now...

[2016-10-16 09:53] techtolentino commented on #340
Update - I have the fix, working on the PR

[2016-10-16 09:58] lpatmo commented on #340
@techtolentino Great, thanks! Will add the `claimed` label here.

[2016-10-16 10:09] #325 closed

[2016-10-16 10:11] lpatmo commented on #270
Changing this issue back to `not-claimed`, since it's been a couple of days without updates.

[2016-10-16 10:17] lpatmo commented on #201
Sorry for the slow follow-up on this.

I think the UI ideas are interesting, but to start, it'd be easier if we simplified it and put a `learnings` textarea with submit button next to the `comments` textarea -- maybe a 50-50 grid, though other design ideas are welcome.

@jsoranno Are you still interested in working on this issue in a hangout? And are you by any chance free tomorrow? If you're not

[2016-10-16 10:17] #196 closed

[2016-10-16 10:18] #152 closed

[2016-10-16 10:19] lpatmo commented on #327
@Kartikkh I wasn't sure if @duffbuster had been interested in taking this on since he filed this issue, but if not, then you're welcome to it!

[2016-10-16 14:05] ricjon commented on #148
Why is this still open? My pr is merged and it is also in production now.

[2016-10-16 16:29] AnnaDodson commented on #270
Please can I claim this and take a look?

[2016-10-16 21:14] lpatmo commented on #148
@ricjon Thanks for the flag! losing this issue.

On a related note, we should probably start taking advantage of github's feature that lets us close issues by referencing it in a git commit.

[2016-10-16 21:14] #148 closed

[2016-10-17 01:23] BratCat commented on #270
Sorry everyone. I had to wipe my hard drive and start from scratch. I was
able to save a lot of stuff but I have to redo my entire setup for coding.
It's taking longer to get back up and running than I thought it would.
Hopefully I can help out with something else once I'm up and going again.

On Sun, Oct 16, 2016 at 11:29 AM, Anna <notifications@github.com> wrote:

--
Marcia McAvoy
http://www.bra

[2016-10-17 02:23] lpatmo commented on #270
@BratCat Erg, sorry to hear about that. Good luck with the re-setup. Let us know if there's anything we can do to help.

@AnnaDodson If you'd like, feel free to claim this one -- and let us know if you have any questions or run into any issues! Only thing is, I might wait to look until issue #339 is resolved.

[2016-10-17 02:59] abhiii5459 commented on #270
@lpatmo  @AnnaDodson  Yes. Please wait up on this one till I'm done with #339 :) I'll let you know if it needs work.

[2016-10-17 03:16] lpatmo commented on #339
In the `issue-193-make-hangout-start/end-time-optional` branch, I was just able to get new Slack alerts appearing in #cb2-test *as long as* I changed the start time. May be a clue.

[2016-10-17 03:20] abhiii5459 commented on #339
@lpatmo  Then I think I have that covered in #338  :) PR has been raised! Can you please check?

[2016-10-17 07:46] #326 closed

[2016-10-17 07:47] #340 closed

[2016-10-17 08:00] lpatmo commented on #339
Looks good! The only remaining bug I see happens when I create a hangout now and don’t change the start time. If I increase the start time by even a minute, the Slack notification is successful.

[2016-10-17 15:57] duffbuster commented on #327
@lpatmo Yeah I just created this issue to jump into stuff. I'll submit a PR.

[2016-10-17 21:54] RichardTran commented on #300
@lpatmo @ryzokuken Sorry about that. I was just waiting for the code to be reviewed on this issue, and did not realize it was looked at recently. Made changes in the open pull request -- my branch.

[2016-10-17 22:53] abhiii5459 commented on #339
Let me see if even that last nail in the coffin can be addressed

[2016-10-18 08:43] lpatmo commented on #298
@Kartikkh Feel free to take a stab at this, Kartik -- I'm not sure that Mohit was able to get his setup issues resolved, sadly. (And I couldn't figure out how to solve the error pasted.)

[2016-10-18 08:43] lpatmo commented on #288
@nachiketdhamankar Let us know if you need any help!

[2016-10-18 09:28] lpatmo opened #346 "HTML: Update all the "Help us keep this project alive!" or "Sponsor us" links to point to the Open Collective"
I see a few places where we need to link to https://opencollective.com/codebuddies:

- [ ] FAQ page - very bottom
Change ```This project is hosted on DigitalOcean. You can help keep this project alive by becoming a sponsor of the month.``` to:
```This project operates in full transparency as a member of the <a href="http://opencollective.com/codebuddies" target="_blank">Open Collective</a>. Please

[2016-10-18 09:34] lpatmo opened #347 "Update Contributing.md: mention the new #troubleshooting Slack channel"
In https://github.com/codebuddiesdotorg/cb-v2-scratch/blob/master/contributing.md, underneath "How do I start up the app?" but above the "First 6 steps..." title, write:

[code]

[2016-10-18 09:37] lpatmo opened #348 "Question: anyone else having issues starting up the app on Windows?"
The report is that running `meteor --settings setting-development.json` while on a Windows 10 machine just ends up halting, and the application (localhost:3000) never starts.

[2016-10-18 09:41] stevenkayter commented on #346
On it

[2016-10-18 09:46] vharsh commented on #347
I'd like to try.

[2016-10-18 09:58] vharsh commented on #347
Please give me a feedback on the quality of the commit message.

[2016-10-18 12:42] techtolentino opened #351 "Breathing room around icons"
It would be nice to have a bit more spacing (padding/margin) around the icons in the contributors popovers. I believe that this would enhance usability and make for a better UX.

![screen shot 2016-10-18 at 7 38 18 am](https://cloud.githubusercontent.com/assets/6276074/19478007/68d290b0-9506-11e6-98ae-45329261d258.png)

[2016-10-18 13:29] salaxander commented on #351
I can take care of this if it's up for grabs!

[2016-10-18 13:49] techtolentino commented on #351
@salaxander I'd wait for @lpatmo to comment on if it's something they'd want. But thanks for volunteering to handle it!

🎉

[2016-10-18 15:22] richa-coder commented on #346
hey ! Is the bug fixed? Can i work on it?

[2016-10-18 16:44] adachiu commented on #351
@salaxander @techtolentino Thanks for pointing that out. It does need some padding/margin around the icons. Please go ahead and take this issue.

I'm sure @lpatmo agrees too :)

[2016-10-18 16:59] lpatmo commented on #351
Yep, no complaints here -- thanks @salaxander and @techtolentino!

[2016-10-18 17:02] lpatmo commented on #346
@richa-coder Looks like @stevenkayter tackled the first three bullet points and opened a pull request for faq.html. You're welcome to tackle the remaining three!

[2016-10-18 17:03] #347 closed

[2016-10-18 17:36] stevenkayter commented on #346
I've tackled the rest of the bullets. Please check

[2016-10-18 21:07] adachiu opened #353 "Footer placement"
The footer is currently stuck at the bottom of the viewport. The footer should show when you scroll to the bottom of the page instead. That way, the footer won't cover the content within the viewport.

This applies to all pages.

![screen shot 2016-10-18 at 2 02 36 pm](https://cloud.githubusercontent.com/assets/13413986/19496332/e2c7511e-953b-11e6-8c1b-580e2ca25f0e.png)

[2016-10-18 21:14] sharynneazhar commented on #353
I can work on this :)

Just to clarify, we don't want the footer to be sticky, correct? Only visible when the user scrolls to the end of the page?

[2016-10-18 21:33] adachiu commented on #353
@sharynneazhar correct. Thanks!

[2016-10-19 02:22] richa-coder commented on #346
Stephen,did u tackle all the bullets? Nothing left for me to do :(

[image: --]

Richa Singh
[image: https://]about.me/richa-singh
<https://about.me/richa-singh?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

On 18 October 2016 at 23:06, Stephen Nyamweya <notifications@github.com>
wrote:

[2016-10-19 02:40] foxiae commented on #13
@wuworkshop I was actually thinking about this the other day. In Slack, we can add an automatic response for when someone asks. But also, we can advertise it on the site as part of how members show what they're learning/working on. I'm thinking it can be another snippet on the About page? At least for now?

[2016-10-19 12:22] salaxander commented on #351
@lpatmo @adachiu PR merged :)

[2016-10-19 16:23] #353 closed

[2016-10-19 21:56] techtolentino commented on #351
@lpatmo can this be closed?

[2016-10-20 04:35] lpatmo commented on #351
Yep! Closing now. :)

[2016-10-20 04:35] #351 closed

[2016-10-20 09:45] techtolentino commented on #224
I'm curious what the current status of this is. I have not been able to reproduce the non-error and I'm wondering what I'm missing.

- I clicked on the _Sign in_ link on the homepage
- I Authorized using my own personal Slack team (`randytolentino.slack.com`)
- I was signed in to CodeBuddies through my own Slack team and not my codebuddiesmeet.slack.com account

[2016-10-20 09:48] techtolentino commented on #30
Is this done or still needed?

[2016-10-20 09:49] techtolentino commented on #87
Is this still wanted or needed?

[2016-10-20 15:49] techtolentino opened #357 "Add 'Fixes' to Pull Request template"
Currently, if a Pull Request is merged amd the author didn't reference an issue with either a "Fixes" or "Closes", the issues doesn't get closed automatically.

To automate the process, the pull request template can be updated to include something like:

`Fixes #< issue number >`

[2016-10-20 15:54] lpatmo commented on #87
I think this feature is deprioritized for now, but we may want it in the future.

[2016-10-20 17:05] lijulat commented on #288
Is this still claimed?

[2016-10-21 01:09] distalx commented on #357
Thanks a lot for filing this issue! Would you like to write a patch for this?

[2016-10-21 02:19] techtolentino commented on #357
I can... But someone else also can - could be an easy #hacktoberfest PR!

(if no one claims it by 4am CST, I'll do it)

[2016-10-21 03:27] sharynneazhar commented on #357
This sounds like a great idea. I would love to learn and give this a try!

[2016-10-22 07:54] lpatmo opened #358 ""Browse" page should have the same background as About and FAQ pages"
See: https://codebuddies.org/browse

[2016-10-22 07:59] #358 closed

[2016-10-23 07:39] adachiu opened #360 "Privacy page UI"
Updating the privacy page column layout so it isn't squished to one side.

[2016-10-23 08:36] kostakos14 commented on #298
Is it still open?

[2016-10-23 08:41] lpatmo commented on #298
@kostakos14 Yep!

[2016-10-23 16:16] abhiii5459 commented on #288
@lijulat  You can take it!

@nachiketdhamankar I think the contributing.md guidelines have been stretched quite a bit on this one :) We can't let this be blocked for so long :( We'll find another issue for you :)

Marking it as not-claimed for @lijulat to respond and claim it.

[2016-10-23 16:33] distalx commented on #62
Enforce contribution guidelines for PRs, commits, branch names and issues using http://gitmagic.io   !!!

[2016-10-24 00:58] techtolentino commented on #357
@sharynneazhar have you had a chance to look at this?

[2016-10-24 01:04] sharynneazhar commented on #357
Oh, I don't realized I was assigned since I didn't get a response haha. Sorry! I will work on it in the next day or two 🙂

[2016-10-24 02:58] sharynneazhar commented on #357
PR ready for review :)

[2016-10-24 04:50] adachiu opened #363 "Footer layout"
Restructuring the footer layout to include links to: about, FAQ, Privacy.

[2016-10-24 06:19] #357 closed

[2016-10-24 07:13] #346 closed

[2016-10-24 12:07] jsoranno commented on #201
Sorry - I just wasn't able to carve out time. Hopefully someone else can do it for Hacktoberfest!

[2016-10-24 15:04] jmabry111 commented on #298
Hey guys... I believe it was my character count PR that introduced this bug. (trying to move the counter over near the update button) If it's still open I'll be glad to push up a fix? Since the previous PR was my first contribution, I suppose I could indirectly be a `first-timer` 😛

[2016-10-24 15:28] lijulat commented on #288
Yes I would like to claim this.

[2016-10-24 16:29] abhiii5459 commented on #288
@lijulat  it's yours. Adding the claimed tag.

[2016-10-24 17:19] nachiketdhamankar commented on #288
Okay :)  @abhiii5459

[2016-10-24 23:48] aaronraff commented on #363
Do you still need someone to work on this?

[2016-10-25 00:48] adachiu commented on #363
@aaronraff I'm working on it 😊

[2016-10-25 05:07] lpatmo opened #364 "Google Hangout API alternatives"
The context: When you create a new post on codebuddies.org, you'll see a "Start the hangout" button that you can click on to launch a new Google Hangout. And when the time of the hangout arrives, others will be able to click on a "Join" button to join this Google Hangout. In the background, we're using the Google Hangout API to remember the link of the hangout that was generated (a link that looks

[2016-10-25 16:00] wuworkshop commented on #364
Another possible alternative - https://www.uberconference.com/

[2016-10-25 23:05] tekhaus commented on #201
I'd like to tackle this

[2016-10-25 23:28] foxiae commented on #364
Hadn't @distalx mentioned something that was open source awhile back?

[2016-10-26 01:47] newswim commented on #270
Is this an issue of UTC versus local time? Is your local time correct? I would be interested in looking into this further, just asking for a bit more context.

[2016-10-26 03:50] aaronkim5 opened #366 "README.me isn't clear that there is a slack community"
Let people know that there is actually a slack community of 1000+ active users, not just a google hangout meetup.

[2016-10-26 06:50] sergeant-q commented on #339
I am not sure if this bug exists in the `master` branch because I am unable to reproduce this issue. (I am working in the master branch). Can someone confirm what branch should we be testing the Slack alerts not firing off for new hangouts?

[2016-10-26 06:52] lpatmo commented on #339
@sergeant-q I see this in the `master` branch. If you schedule a hangout in advance, the alerts should appear... but not if you don't change the start time when you first click to create the hangout.

[2016-10-26 06:53] #366 closed

[2016-10-26 06:55] #363 closed

[2016-10-26 06:57] #186 closed

[2016-10-26 06:59] #360 closed

[2016-10-26 07:00] sergeant-q commented on #173
@abhiii5459 this has been deployed to `master` correct? Can we close this issue?

[2016-10-26 07:05] sergeant-q commented on #151
@distalx how would we populate the `json` file? Would this be a manual process if we're not using an API? Would it be a section/page accessible to administrators of the site/app where they can input/add contributors and their details?

I understand not all contributions are code-based so it does make sense to capture those somehow. Trying to understand how this would be implemented and managed if

[2016-10-26 07:33] lpatmo commented on #119
@sergeant-q @distalx submitted PR #333 that accomplishes this. :) That is, when a hangout is created on codebuddies.org, a tweet about it is automatically posted to http://twitter.com/codebuddiesmeet.

We're not really on other social media platforms apart from the Facebook group we technically share with The Odin Project because the name of that group is called https://www.facebook.com/groups/TOP

[2016-10-26 07:48] lpatmo commented on #298
@jmabry111 Go for it! (It's been a few days since @kostakos14 responded so I'm going to assume this issue is up for grabs again.)

@jmabry111 And feel free to ask in the #codebuddies-meta channel if you have any questions...

[2016-10-26 07:48] #259 closed

[2016-10-26 07:49] #118 closed

[2016-10-26 07:52] lpatmo commented on #87
Restarting the conversation about this feature idea...

What should this resources feature look like?

Should we have a codebuddies.org/resources page, with:
- a submit button the top right?
- the ability to add links under certain pre-defined categories
- or maybe the ability to add links with newly defined categories?
- Should other users be able to upvote your links?
- How should these resource

[2016-10-26 07:58] lpatmo commented on #270
@newswim Not quite an issue of UTC displaying instead of the local time. Actually, thanks to a PR submitted by @abhiii5459, in production now is this format:

![screen shot 2016-10-26 at 12 55 51 am](https://cloud.githubusercontent.com/assets/4512699/19717753/00501a28-9b17-11e6-9380-fd0cd4fe3ae2.jpg)

The issue @William-R-Wilson initially filed concerned the 2-hour reminder Slack alert appearing i

[2016-10-26 09:29] distalx commented on #133
resolved in #258

[2016-10-26 09:29] #133 closed

[2016-10-26 09:38] distalx commented on #52
Resolved in #329

[2016-10-26 09:38] #52 closed

[2016-10-26 12:30] jmabry111 commented on #298
Thanks... PR #369 submitted 😄

[2016-10-26 14:32] distalx commented on #151
Adding/maintaining  list of the contributors will be manual process, we will maintain a `json` file containing details of contributors , and those who've made a positive impact on the project and the community.
format could be ...
[code]
Also this information is not going to change frequently, so having entire `CURD` operation around it would only increases the roundtrips to the server and code/ma

[2016-10-26 15:21] distalx commented on #364
Thanks for reminder, I had suggest use of [jitsi-meet](https://github.com/jitsi/jitsi-meet).
AFAIK Rocket chat uses it.

[2016-10-26 15:44] distalx commented on #119
@sergeant-q It appears that They have recently declared it as `Currently Unmaintained`.

@lpatmo I'm thinking about covering `twitter`, `facebook`, `linkedin`, and `gplus`.

[2016-10-26 15:52] sergeant-q commented on #339
@abhiii5459 I have a fix for this. Please take a look at it and let me know if you're good to go with it.

[2016-10-26 17:30] distalx commented on #72
I think we should start working on this one ASAP, because already we have started repeating code, and templates multiple times.

Documenting a project is a fairly lengthy task so let's break it down into ...

1. coding guidelines and app structure

    for coding guidelines we could use `wiki` pages and we could address/include following things.
    - coding conventions. (I'd suggest we adopted [h

[2016-10-26 22:12] foxiae commented on #270
I'll try and work on this tonight.

[2016-10-27 00:45] foxiae commented on #270
Hmmm... I don't think Slack is dynamic enough to post a different timezone for each user view. (Dynamic meaining, I'd only see EST times whereas someone in California would only see PST.) I think it would work more like this...
![image](https://cloud.githubusercontent.com/assets/15113564/19750107/73fe31c6-9bbc-11e6-9426-e0ab7d81af3c.png)
If this is something we want, I can definitely work on addin

[2016-10-27 00:58] foxiae commented on #321
@lpatmo I think that goes along with what we all talked about in Slack a couple of weeks ago. I'll template something up in contributing.md and submit it in.

[2016-10-27 01:42] abhiii5459 commented on #339
@sergeant-q Checking.

[2016-10-27 01:55] lpatmo commented on #270
@foxiae Agree that it'll expand the notification, so I don't think we should worry about adding more time zones to the list. The "Upcoming in.." text is a good indicator, and if folks are interested in the hangout they can cilck through to see the real time/date of the hangout in their own timezone on the single post itself.

The title might be a little confusing -- the issue still present is that

[2016-10-27 04:11] lpatmo opened #370 "Require that users are logged into the CodeBuddies Slack when they sign in with Slack"
If a user signs in with a Slack team other than codebuddiesmeet.slack.com, they should be redirected to a page (or a popup?) that asks them to sign in with codebuddiesmeet.slack.com, or to join the Slack community if they don't already have an account.

![screen shot 2016-10-26 at 8 33 41 pm](https://cloud.githubusercontent.com/assets/4512699/19753736/1b5bb75a-9bbc-11e6-97ac-9330807e6a83.jpg)

The

[2016-10-27 04:51] lpatmo opened #371 "Add link to https://codebuddiesmeet.slack.com/messages/@username1,username2,username3,username3/ on single hangout post page"
Note: before this issue can be tackled, #370 need to be completed.

For hangouts, I've noticed that it's been useful to start a group chat between all the participants -- just in case someone is late, or needs to cancel last-minute, or even simply as a reminder that a hangout is happening.

On a single post page like https://codebuddies.org/hangout/foy5uGm9S7yitgE9o, let's add a button that says "

[2016-10-27 06:20] lpatmo opened #372 "Remove dodgerblue background color from "Upcoming" text on single post page"
Should look like this:

![screen shot 2016-10-26 at 11 17 16 pm](https://cloud.githubusercontent.com/assets/4512699/19756586/8391ff12-9bd2-11e6-99e7-9b4e9f0a317d.jpg)

How to recreate the bug:
1. In localhost:3000, after you're logged in, create a hangout that starts sometime in the future (e.g. tomorrow or in an hour)
2. Click on the title to see the single post page.
3. You'll notice a blue bar

[2016-10-27 06:27] lpatmo commented on #224
Thanks for testing this out, @techtolentino! And sorry for the slow response.

I tested again signing into two different alternate Slack teams, and wasn't able to log in. (After you logged in using randytolentino.slack.com, did you see the list of hangouts, out of curiosity? Or did you remain on the home page?)

I wonder if this might be attributed to different permission settings on Slack teams,

[2016-10-27 06:29] lpatmo commented on #224
(Btw, this issue is related to the newly-created #370)

[2016-10-27 06:51] kindlingscript commented on #372
Hi @lpatmo, I'm up for claiming this. I've noticed the font color ("Starting in # hours") clashes with the $bg-white (already started working on it), so is $primary-grey the appropriate color to change the font to?

[2016-10-27 07:03] lpatmo commented on #372
Hi @kindlingscript! Yep, $primary-grey is appropriate. :) Thanks! And let me know (or ask in #codebuddies-meta) if you have other questions.

[2016-10-27 08:06] kindlingscript opened #374 "Extra padding on landing page & mobile padding/width"
1) When accessing the site on a Macbook Pro in Chrome, Firefox, and Safari, there's two sections on the landing page that have extra padding (top and bottom, respectively) that may not be needed. Here's the two sections, as screenshot recently on codebuddies.org:

<img width="1436" alt="screen shot 2016-10-27 at 2 20 32 am" src="https://cloud.githubusercontent.com/assets/13127241/19758234/cd1f5836

[2016-10-27 08:12] adachiu commented on #374
@kindlingscript please go ahead and fix the padding!

For the padding above the "Learn...", you can try to trim that by half b/c the screenshot of the change you made is slightly too crammed at the top. Thanks!

[2016-10-27 12:34] foxiae commented on #321
Actually... I was thinking. If we have people edit both files, when they go do their PR, wouldn't there be a merge conflict? (Just seems like it'll produce a huge headache.)

Would a possible workflow be:
1. Create branch
2. Work and commit stuff
3. If it's been less than 3 days (just an example), merge master changes into your branch
4. Submit PR
5. Once PR has been approved, merge master changes

[2016-10-27 15:54] LaurenDoughty opened #378 "digital badging"
This is a feature request. I'm interested in adding digital badging and levels/gamification.

[2016-10-27 16:28] lpatmo commented on #378
I can imagine a "Hangout Leader" badge on the profile page for someone who's created at least three hangouts. And maybe a similar one for someone who's participated in at least five hangouts.

[2016-10-27 17:17] lpatmo commented on #321
Makes sense generally, though I have a question about step 6 -- are you suggesting that contributors add their information to the /about page themselves, instead of submitting their info to the google form Ada started?

[2016-10-27 17:59] foxiae commented on #321
I was also thinking we could just have a standing branch for contributing files, and they could just commit there. Then we can do periodic releases of it.
Yes. We can template out the HTML and have them update the information - with instruction. (This is for new contributors. The ones existing on the page now, the Google Forms will work and we can paste the information in.) It would save work on u

[2016-10-28 06:48] #372 closed

[2016-10-28 07:36] sergeant-q commented on #364
I really like the idea of leveraging an API. However, I still think **_appear.in_** has a few kinks with Chrome with audio working intermittently. It seems to work well with FireFox. It is also important to note that this is a peer-to-peer service, so audio/video performance can be hindered if anyone has a poor connection or low bandwidth.  Lastly, it seems that it will also require you to install

[2016-10-28 17:18] foxiae commented on #370
@lpatmo I'll take a look at this a bit later today.

[2016-10-28 22:44] wuworkshop commented on #364
@sergeant-q hmm.. is that for people who have to dial by phone? TBH, I've only used Uberconference in a web browser which was quite easy. I just go the conference url and just click a button to enter a conference call. I think for screen-sharing, you have to install their Chrome extension or something.

[2016-10-28 23:56] foxiae commented on #270
Found the potential issue within the cron job. I'll report back if it resolves it.

[2016-10-29 00:38] adachiu commented on #378
We had started some discussion about gamification here #61 😄

[2016-10-29 00:58] adachiu opened #380 "Navbar link color"
Currently the nav bar link color is `$cta-blue`, let's change it to match the link colors of the footer.
![screen shot 2016-10-28 at 5 43 34 pm](https://cloud.githubusercontent.com/assets/13413986/19826092/ed67ee54-9d37-11e6-893e-ea4d4e843d04.png)

In `_navbar.scss`
- [ ] Change the color variable to `$secondary-grey`

- [ ] Update the `a:hover` color to `$cta-blue`

[2016-10-29 01:22] morris-jason commented on #380
I'll do this and submit a PR. Thx.

[2016-10-29 01:27] adachiu commented on #380
@morris-jason perfect, thanks!

[2016-10-29 01:34] morris-jason commented on #380
There's no a:hover in _navbar.scss.

[2016-10-29 01:43] adachiu commented on #380
Maybe try to find if there is a global a:hover in base.scss and change or add it there.

If there is a a:hover in base.scss , then we should also update the footer.scss to remove the redundant a:hover

[2016-10-29 01:46] morris-jason commented on #380
That's it - thanks!

[2016-10-29 01:55] morris-jason commented on #380
Please review https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/381

[2016-10-29 16:37] #380 closed

[2016-10-29 16:38] #339 closed

[2016-10-29 16:47] #298 closed

[2016-10-29 16:54] lpatmo commented on #293
This has been merged, but at some point we should update contributing.md to teach people how to take advantage of .editorconfig: http://editorconfig.org/. For example, I think if you're using Sublime, there's a plugin you should install: https://github.com/sindresorhus/editorconfig-sublime#readme

[2016-10-29 16:56] #374 closed

[2016-10-29 17:08] lpatmo opened #384 "Gradient has outdated direction syntax. New syntax is like `to left` instead of `right`."
```autoprefixer: /tmp/build_a5973f8d93a0312bd3f111e2bf346164/codebuddiesdotorg-cb-v2-scratch-f462539/client/css/_about.scss:18:4: Gradient has outdated direction syntax. New syntax is like `to left` instead of `right`.
autoprefixer: /tmp/build_a5973f8d93a0312bd3f111e2bf346164/codebuddiesdotorg-cb-v2-scratch-f462539/client/css/_faq.scss:13:4: Gradient has outdated direction syntax. New syntax is li

[2016-10-29 17:24] lpatmo commented on #384
https://www.w3.org/TR/css3-images/#linear-gradients

[2016-10-29 17:24] #384 closed

[2016-10-29 17:26] newswim commented on #371
reference: https://api.slack.com/methods/chat.postMessage

[2016-10-29 19:13] lpatmo opened #387 "Add a $ icon to the footer that links to opencollective.com/codebuddies"
Add a fontawesome $ icon to the right of the Facebook icon on the footer:
![screen shot 2016-10-29 at 12 12 34 pm](https://cloud.githubusercontent.com/assets/4512699/19832151/172bf7d2-9dd1-11e6-9d08-3990302e9da1.jpg)

Here's the fontawesome icon: http://fontawesome.io/icon/usd/

The new icon should link to http://opencollective.com/codebuddies, and open up in a new tab.

[2016-10-29 19:36] adachiu commented on #387
@lpatmo I'm not sure if the $ icon is the best choice under "Connect with Us" since it might be misconstrued as paying for CB.

The bottom line of text already mentions sponsoring. However, we could put more emphasis to the line. Or better yet, add a section on About and Home page that emphasizes sponsorship.

[2016-10-29 19:41] lpatmo opened #388 "Change CSS color on hover for links in the footer"
On the header, the links turn #333 when they're hovered over.

On the footer, the links don't change color on hover.

For consistency, we should make the links in the footer change color on hover too.

We need something like this added to _footer.scss:

[code]

[2016-10-29 19:43] lpatmo commented on #387
@adachiu Ah, good point. I mainly thought it'd be a good idea to include a pointer to the Open Collective as one of the handy, easily-grabbagle links. Maybe we can find a better icon for it.

[2016-10-29 19:47] adachiu commented on #387
@lpatmo I wonder if there is an open source icon in Font awesome. However, is the open source icon well-known? If people don't recognize the icon, they might not click it.

We could emphasize the bottom sponsor text instead.

[2016-10-29 19:48] lpatmo commented on #387
Maybe http://fontawesome.io/icon/circle-o-notch/? The Open Collective icon sort of looks like this open circle.

[2016-10-29 19:53] adachiu commented on #388
I thought this was fixed in #381
Global a:hover color $cta-blue

[2016-10-29 19:54] lpatmo commented on #387
@adachiu Or to emphasize the Open Collective link a bit better, maybe we can move it up like this?

![screen shot 2016-10-29 at 12 53 48 pm](https://cloud.githubusercontent.com/assets/4512699/19832363/c6a2d500-9dd6-11e6-9d8e-31485a45dbb9.jpg)

[2016-10-29 19:57] adachiu commented on #387
@lpatmo that feels a bit off. Hmm how about adding one more column? So beside "Connect with Us" will be another column called "Help Sponsor Us" and then the text under it.

[2016-10-29 20:01] lpatmo commented on #387
Screenshot upcoming!

![screen shot 2016-10-29 at 12 53 48 pm](https://cloud.githubusercontent.com/assets/4512699/19832402/c4cdc1c6-9dd7-11e6-9628-2ba18b0da366.jpg)

How does it look?

[2016-10-29 20:04] lpatmo commented on #387
(Accidentally uplodaed the old screenshot; edited with the new one.)

[2016-10-29 20:05] adachiu commented on #387
Looks good! It adds emphasis to the sponsorship now. Can we decrease the gutter between the 3 text columns? It looks a bit too far apart.

[2016-10-29 20:08] lpatmo commented on #388
Strangely it looks fixed on codebuddies.org, but it doesn't look fixed on my localhost:3000.

[2016-10-29 20:08] adachiu commented on #387
We could probably get rid of that divider line at the very bottom as well if we are not putting any additional info there. Did you want to put license info? Or add back the "Built by people all around the world ❤️" text? Might be a nice friendly touch.

[2016-10-29 20:13] adachiu commented on #387
Could we not have "-5", because it's awkwardly long 🙈. Let's have the text fill two lines!

[2016-10-29 20:20] lpatmo commented on #387
Having it be 3-2-2-2 introduces a lot of blank space on the right, though. :/

[2016-10-29 20:25] adachiu commented on #387
Can't move the 3 text columns to float right?

[2016-10-29 20:30] lpatmo commented on #387
Ohhh, yeah, we can do 6-2-2-2! So there'll be a space to the right of the logo, but that's okay.

[2016-10-29 20:40] lpatmo commented on #387
Thanks Ada! I'm going to close this thread and open a new one since this is getting long.

Sorry for the changing specs, @stratosgear and @bennycarlsson -- will tag you in the new issue thread in case you're interested.

[2016-10-29 20:41] #387 closed

[2016-10-29 20:46] lpatmo opened #393 "(HTML/CSS) redesign of footer to follow this screenshot"
Let's change the footer from this:
![screen shot 2016-10-29 at 12 12 34 pm](https://cloud.githubusercontent.com/assets/4512699/19832630/ae4aca92-9ddd-11e6-9a13-a90359c9dff5.jpg)

... to THIS:
![screen shot 2016-10-29 at 1 09 12 pm](https://cloud.githubusercontent.com/assets/4512699/19832628/9ac550aa-9ddd-11e6-99c2-1232b7fb238b.jpg)

Two changes to the screenshot above:
- remove the ___ border at t

[2016-10-29 21:26] garri-ribeiro commented on #393
hey i will try to fix this :)

[2016-10-29 21:52] adachiu commented on #388
@lpatmo Wouldn't it be better if the `a:hover` had a global color variable? instead of putting the color in footer and navbar separately?

[2016-10-30 04:03] lpatmo commented on #388
@adachiu Yes! I was lazy here because I wasn't sure how we'd distinguish between the header/footer links vs. the links in the hangout cards, for example. Maybe this theoretically should really be in a new _typography.scss file with #header a, #footer a { color: $black; } or something.

[2016-10-30 11:28] PedroCSSilva commented on #388
Is this fixed?

[2016-10-30 18:44] bu7ch commented on #388
claimed or not ?

[2016-10-30 18:54] lpatmo commented on #388
@PedroCSSilva @bu7ch Not claimed, if you'd like to work on moving it out of _footer.scss (and creating a _typography.scss). And finally, double-checking that the link hovers for the rest of the content page isn't affected.

[2016-10-30 18:56] lpatmo commented on #393
@maryna-yanul @garri-ribeiro had already commented here to claim this issue, sorry!

[2016-10-30 23:19] PedroCSSilva commented on #388
Ok, I'll try to do it!

[2016-10-31 00:58] foxiae commented on #270
I think this is no longer an issue.

The cron job is supposed to fire off a new and a reminder Slack alert. If hangout was created right when it was supposed to start, both will fire up (as seen below). With this case, I think it was just lag. I couldn't reproduce it locally with many different scenarios.

With @abhiii5459's PR on the timing of the hangout, this alleviates the confusion on when th

[2016-10-31 02:22] #270 closed

[2016-10-31 04:06] newswim opened #404 "Odd hover behavior on contributors section of About page"
![hover](https://cloud.githubusercontent.com/assets/6667096/19843935/249de306-9ef5-11e6-9076-3c39d1ef42a9.gif)

I think the mouseover event trigger should have 20-30px buffer around the pop-up, so you don't have to follow the pseudo element to access links, and the behavior is a little more predictable.

Possible fix could be using an "invisible box" as a parent div and tying the event actions to

[2016-10-31 06:43] lpatmo commented on #270
Thanks for looking into this, Olivia! I do think the reminder alert for a hangout that's already started is confusing, so I'll file a separate issue for that.

[2016-10-31 06:50] lpatmo commented on #404
Thanks for filing this, @newswim.

[2016-10-31 07:00] anmrdz commented on #404
Working on it.

[2016-10-31 10:44] Briix opened #405 "Add editorconfig section to contributing.md"
As @lpatmo said (#293), since we're now including an .editorconfig in the project (#337) it would be good to include how to take advantage of the this in contributing.md, so new and current contributors knows how to install and use it in their current editor.

http://editorconfig.org/#download already has a good list of plugins for various editors. I don't know if it's a complete list, but it migh

[2016-10-31 10:45] Briix commented on #293
@lpatmo Created an issue for this now https://github.com/codebuddiesdotorg/cb-v2-scratch/issues/405

[2016-10-31 10:48] Briix commented on #388
Might be worth considering creating a small utility class for this.
Something like `.hover--grey { color: #333 }` and then just add that class to where we want the links to be grey on hover. That way we won't have to worry about accidentally messing with other elements' styling

[2016-10-31 13:56] foxiae commented on #270
@lpatmo It's easy to re-create! Just start up a hangout below the two hour mark, and it'll fire.

But thinking about @William-R-Wilson's issue, it wasn't lag. The cron job checks for both reminder/new Slack hangout each hour (which is the reason why I couldn't recreate it, because I had the debugging on cron on, which checks for missions each minute). The new hangout message was posted at 5:48. Th

[2016-10-31 14:29] lpatmo commented on #270
Oh, huh -- in localhost, I'd created a hangout that started now, but didn't see a second reminder alert fire off in #cb2-test, so I wasn't sure that it was still happening. But anyway, will create the new issue. :)

[2016-10-31 14:37] lpatmo opened #406 "Stop Slack notification in #cb2-test channel from firing a 2-hour reminder alert when a hangout has already started within those two hours"
When a hangout has been scheduled below the two-hour mark, we should stop it from firing the 2-hour alert reminder.

![image](https://cloud.githubusercontent.com/assets/4512699/19857936/c4a72352-9f3c-11e6-9f9b-1e9a7d0c264e.png)

Note from @foxiae: "The cron job checks for both reminder/new Slack hangout each hour (which is the reason why I couldn't recreate it, because I had the debugging on cron

[2016-10-31 14:56] foxiae commented on #270
@lpatmo It would probably fire within the next hour when cron is looking for the next job to fire.

[2016-10-31 17:05] kevincoleman commented on #404
I’ll take a look into this. Other options might be adding a slight delay after mouse-out before the window disappears, or widening the hit box of the “bridge” that lets your mouse get there.

[2016-10-31 21:34] kevincoleman commented on #404
PS, @newswim, nicely described with the video. Made it easy to spot. 👍

[2016-10-31 21:47] newswim commented on #404
No problem, that's awesome!

btw, I used this app for making the gif, very easy to use: http://www.cockos.com/licecap

[2016-10-31 21:48] kevincoleman commented on #404
Ooooh, slick! I’ve been using droplr, but when you hit the monthly upload limit it gets slightly cumbersome. Good share. 😄

[2016-11-01 08:16] #406 closed

[2016-11-02 05:30] sergeant-q commented on #364
@wuworkshop I confirmed and it is for dial-in. So that piece is not critical. I researched if UberConferenced offered an API and it [does](https://www.uberconference.com/developers). However, firstly, it is in closed beta and secondly, it requires each organizer to have a registered account. I am not sure if that's feasible for what we want.

[2016-11-02 07:25] #404 closed

[2016-11-02 07:26] #293 closed

[2016-11-02 07:27] lpatmo commented on #249
Closing (duplicate issue).

[2016-11-02 07:27] #249 closed

[2016-11-02 07:28] lpatmo commented on #282
We could definitely do more SCSS refactoring in general, but let's make that a new issue since a PR has already been submitted for $bg-white, etc.

[2016-11-02 07:28] #282 closed

[2016-11-02 07:29] lpatmo commented on #201
@jsoranno No worries -- thanks for trying!

[2016-11-02 07:30] lpatmo commented on #193
This feature has been deployed!! 🎆

[2016-11-02 07:30] #193 closed

[2016-11-02 07:30] #170 closed

[2016-11-02 07:31] #181 closed

[2016-11-02 07:31] lpatmo commented on #101
Whoops, forgot to close this issue -- thanks again @mankinchi :)

[2016-11-02 07:31] #101 closed

[2016-11-02 09:09] Briix commented on #405
@lpatmo Was this done?

[2016-11-02 17:30] lpatmo commented on #405
Whoops, closed this by mistake, sorry!

[2016-11-03 20:19] wuworkshop opened #415 "Translations for CodeBuddies app"
This is something I've thought about in the past seeing as how we are a global community and the ability to do this is possible in the code base. osanseviero's recently created Hangout (
https://codebuddies.org/hangout/qBCttLqQajuZArkmg) just made me decide to create an issue for it. 😄

It would be great to have translations for the app. My understanding of the code base is that a translation woul

[2016-11-04 08:54] techtolentino commented on #405
I can take this 😄

[2016-11-05 03:17] JohnHillegass commented on #288
@lpatmo I will claim it. This will be my first open source contribution :) and I should have it fixed by EOD Sunday.

[2016-11-05 05:43] lpatmo commented on #288
Thank you @JohnHillegass! Let us know if you need any help with it.

[2016-11-05 14:38] JohnHillegass commented on #288
@lpatmo thank you ! Actually, I do have a question. How can I view this locally ? I'd imagine its not as easy as running a simple server, correct ? *Reading the documentation now* but hoping you could give a quicker answer.

[2016-11-05 15:17] JohnHillegass commented on #288
@lpatmo Actually ! I was wondering if I can update the meteor version to 1.4.2. Whenever I run meteor it tries to download and install the 1.3.4 release. Do I need this ? Or is it ok to upgrade the project ?

[2016-11-05 22:23] lpatmo commented on #288
@JohnHillegass No need to update to 1.4.2, actually! There's a compatibility problem between 1.4 and deployment, which is why we haven't upgraded it yet. Let us know if you have more questions! (Can also ask in the #codebuddies-meta channel on Slack.)

[2016-11-07 04:16] #405 closed

[2016-11-07 04:48] #388 closed

[2016-11-07 04:49] JohnHillegass commented on #288
@lpatmo please count me out. I can't get the app to run. There are errors having to do with MongoDb sometimes and most times when I have tried running it in a VM it times out after an hour of trying to install some packages.

[2016-11-07 05:08] lpatmo commented on #288
@JohnHillegass Oh no, sorry to hear about the app running issues! No worries. Out of curiosity, were you on a Windows machine? We had another person complain that it wasn't working on their Windows machine, and there's an open issue about it -- but other Windows users have had no problem.

[2016-11-07 07:20] #393 closed

[2016-11-08 23:12] sergeant-q commented on #370
@foxiae are you still tackling this issue?

[2016-11-09 00:34] sergeant-q commented on #371
I think it would be better if we leveraged Slack's API to create a group chat. Creating a link such as the one recommended might be too brittle and as you noted @lpatmo can create undesired behavior for the user.

I found the **multi-party im** method: https://api.slack.com/methods/mpim.open that we should be able to call. However there is a limitation of up to **8** users it can open a new group

[2016-11-12 21:42] lpatmo opened #417 "10 minutes before a hangout starts, send a Slack alert reminder to all the RSVPers of a hangout"
We already have a 2-hour Slack hangout reminder that goes to the #general channel (or #cb2-test, if on localhost:3000).

Many people don't follow the #general channel, however. And they'll forget about the 24-hour reminder sent out via email.

We should ping all the attendees of the hangout 10 minutes before the hangout on Slack. The message could say something like:

```Hi @username! This is a re

[2016-11-16 02:54] lpatmo opened #421 "Feature idea: add "Hangouts On Air" option in the *create hangout* modal"
Because we're using the Google Hangouts API, it should be fairly easy to add an option that loads in a "Hangout on Air" button instead of the normal "Start Hangout" button.

See documentation here: https://developers.google.com/+/hangouts/button

[2016-11-16 02:55] lpatmo commented on #288
Closing this thread since it's getting a little long. Will reopen a new issue with the same issue. :)

[2016-11-16 02:55] #288 closed

[2016-11-16 02:57] lpatmo opened #422 "Remove duplicate starbursts on single post page"
This is a [starter issue](http://hood.ie/blog/starter-issues.html), highly inspired by the great job of the folks at [Hoodie](http://hood.ie). 👍
## 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers

[2016-11-16 03:16] lpatmo opened #423 "Add note to CONTRIBUTING.md about how to make a hangout button active"
Clicking on the "start hangout" button won't load a google hangout link into the "Launch Hangout" button if you're running the app locally (localhost:3000) because the google hangout API only works on the production site (http://codebuddies.org).

Let's update the instructions to note that a user can:
- Hit control-m on their keyboard to open up mongol
- Click on the "hangouts" tab
- Click on "upd

[2016-11-16 03:20] lpatmo commented on #371
Yes, an 8-user group chat limitation is fine! We usually don't have more than 6 people in a hangout. :)

[2016-11-16 04:00] lpatmo opened #424 "Should we change the name of our repo to `codebuddies` instead of `cb-v2-scratch`?"
Just a thought, so that when clone or fork it you can type `cd codebuddies` instead of `cd cb-v2-scratch`

[2016-11-16 04:36] foxiae commented on #424
^^ In case it wasn't obvious, I agree 100000%. Will we need to reset the upstream branch on our local machines?

[2016-11-16 05:08] nehalita commented on #422
hello! @lpatmo @mckpm and I are working on this

[2016-11-16 05:27] #422 closed

[2016-11-16 05:48] lpatmo commented on #424
lol. Yeah, I think:
- the upstream branch will need to updated
- links need to be changed to reference `https://github.com/codebuddiesdotorg/codebuddies`

[2016-11-16 06:15] nehalita commented on #417
didn't have time to commit but here are my findings:

in [cron_job/methods.js](https://github.com/codebuddiesdotorg/cb-v2-scratch/blob/master/server/cron_job/methods.js):
 - need to change [time_diff](https://github.com/codebuddiesdotorg/cb-v2-scratch/blob/master/server/cron_job/methods.js#L21) variable (it's an integer representing hours right now so you can't detect if it's within 10 minutes)
 -

[2016-11-16 06:21] #423 closed

[2016-11-17 08:25] lpatmo commented on #424
Note: once we change the names, everyone will have to do this:
[code]

And then everyone needs to check that they have the correct origin URL set:
[code]

[2016-11-19 10:34] ericathedev opened #427 "Removing commented out code"
When fixing my first issue I saw some commented out code.

It is usually good practice to avoid commented code so as to maintain clean coding standards/avoid code rot 👻.

Is it okay if I remove any existing commented out code?

[2016-11-19 10:35] ericathedev commented on #427
If you agree that this is needed I would love to do it 😸 .

[2016-11-19 19:52] lpatmo commented on #424
I made the change!

Please run the commands above.

[2016-11-19 19:54] lpatmo commented on #427
@ericathedev In general, yes! Thank you! My only flag is that if the commented out code is useful in some way, it's probably a good idea to keep it in with a comment about why it's a good reference.

[2016-11-20 04:52] wuworkshop commented on #424
If you forked the repo, then you update your `origin` branch like this:
[code]

And update your `upstream` branch like this:
[code]

Then verify the changes were updated with:
[code]

[2016-11-20 18:42] lpatmo opened #428 "Fix logo in CB hangout reminder email"
![screen shot 2016-11-20 at 10 41 23 am](https://cloud.githubusercontent.com/assets/4512699/20465253/036a0ede-af0e-11e6-9864-c95ee9f99f1d.jpg)

[2016-11-20 18:46] ericathedev commented on #427
@lpatmo okay thanks! Then I will start submitting some small code deletions for easier review, if I accidentally remove a useful piece of commented code please flag it in the pull request? 😸

[2016-11-20 19:23] lpatmo opened #429 "Link does not open to new tab"
On a single post page, let's make the links open up to a new tab.

![screen shot 2016-11-20 at 11 20 28 am](https://cloud.githubusercontent.com/assets/4512699/20465509/6259b002-af13-11e6-8083-b97a3ff6bd64.jpg)

QuillJS should be supported in the version we're running (1.0.6): https://github.com/quilljs/quill/issues/935

[2016-11-23 02:06] lpatmo commented on #427
@ericathedev Of course! :)

[2016-11-27 10:19] lpatmo opened #431 "Change all mentions of codebuddiesmeet.slack.com to codebuddies.slack.com"
We are now `codebuddies` instead of `codebuddiesmeet` on Slack, woohoo!!

There are a couple places on codebuddies.org where we link to our Slack channel as "codebuddiesmeet.slack.com" instead of "codebuddies.slack.com." We should change each of these instances.

For the time being, since we were the last to use it, typing in `codebuddiesmeet.slack.com` will redirect you to `codebuddies.slack.com`

[2016-11-27 18:58] lpatmo commented on #431
@abhiii5459 has submitted a PR https://github.com/codebuddiesdotorg/codebuddies/pull/432.

[2016-11-27 21:17] #431 closed

[2016-12-03 05:38] anish-shekhawat commented on #428
I would like to give it a try!

[2016-12-03 06:33] wuworkshop commented on #428
it's all yours @anish-shekhawat

[2016-12-03 15:12] anish-shekhawat commented on #428
@wuworkshop Thanks! So I got the app running but I still couldn't get the cron job to send emails. I get the following in powershell which means the `emailNotification` in [method.js](https://github.com/codebuddiesdotorg/codebuddies/blob/8fe86898316d47acea274e60ba58a3867cdfd732/server/email/methods.js) is called.

20161203-06:38:00.009(-8) (percolate_synced-cron.js:71) SyncedCron: Starting "Hangou

[2016-12-04 00:50] sergeant-q commented on #428
@lpatmo didn't we already fix this in the recent release? I swore someone had addressed this issue already.

[2016-12-04 00:52] sergeant-q commented on #424
This is completed.

[2016-12-04 00:52] #424 closed

[2016-12-04 04:01] lpatmo commented on #428
@sergeant-q Nope, this is a different issue. :P Or rather, both logos were broken, but the last issue that was fixed addressed the cancellation email, I think, and this one addresses the reminder email.

@anish-shekhawat Are you not getting the reminder emails after you've created new hangouts that occur between 24-48 hours in the future? Will take a look soon.

[2016-12-04 17:58] anish-shekhawat commented on #428
@lpatmo Since my email was not authorized with the mailgun sandbox account, I had to create a mailgun sandbox account separately and use that instead. I have fixed the issue and will be submitting a pull request.

![image](https://cloud.githubusercontent.com/assets/23295486/20868082/73085c42-ba07-11e6-955b-cc66dd2f2294.png)

Well, as a beginner, I think it would be helpful if the mailgun sandbox i

[2016-12-05 07:40] lpatmo commented on #428
@anish-shekhawat Ahh, I didn't realize that a mailgun sandbox account had to be created in order for the reminder emails to be sent! Thanks for solving the problem!

[2016-12-07 20:48] mercyg commented on #429
@lpatmo I would love to give it a try to fix this issue

[2016-12-13 05:13] lpatmo commented on #429
@mercyg Sorry for the slow reply! Are you still interested in working on this issue? Have you looked at the contributing.md docs? https://github.com/codebuddiesdotorg/codebuddies/blob/master/contributing.md

Looking through this pull request might also be helpful: https://github.com/codebuddiesdotorg/codebuddies/pull/280

[2016-12-24 01:56] wuworkshop commented on #428
@lpatmo
uh... shouldn't all the email templates just reference the `logo` key that was modified in this PR https://github.com/codebuddiesdotorg/codebuddies/pull/241/files#diff-641fec1802230bc6359cf3d92b8d47d9

The image path just needs to be updated, no?

[2016-12-24 08:21] lpatmo commented on #428
@wuworkshop Yeah, I think you're right. I asked about it in the PR: https://github.com/codebuddiesdotorg/codebuddies/pull/434

[2016-12-26 03:31] anish-shekhawat commented on #428
@wuworkshop I was about to do the same thing but since this is my first PR, I checked the alert template [file] (https://github.com/codebuddiesdotorg/codebuddies/blob/master/private/email-hangout-alerts.html#L581) for guidance and the src was pointing to the URL and not the {logo} parameter. Also, when I started working on it, the image src was pointing to the {logo} parameter which was causing th

[2016-12-26 22:42] sergeant-q commented on #428
@anish-shekhawat thank you for working on this issue by the way! A couple of things to note about this functionality:

 - The image src should be referenced by the `{{logo}}` template variable.  This is the right way to do this.
 - The image src URL resolves to the server's absolute URL + path to the image (/images/logo.svg)
 - While testing locally, your server's path will more than likely be `ht

[2016-12-27 07:08] anish-shekhawat commented on #428
@sergeant-q Thanks! I will try deploying it to some publicly available server and will change the reference in both the templates.

[2016-12-27 23:26] isaacbazan commented on #429
@lpatmo I'd love to fix this issue

[2016-12-30 18:48] wuworkshop commented on #429
@isaacbazan Since we never heard back from @mercyg, you can take a crack at it.

[2017-01-10 12:23] camilleriluke commented on #429
Oops sorry for the spam. Miss click 😞

[2017-01-17 04:36] lpatmo commented on #421
Since Google is deprecating its hangouts API, this feature is now moot. :(

[2017-01-17 04:36] #421 closed

[2017-01-18 23:49] osanseviero commented on #415
Ok, so I'll first create a sp.i18n.json. Then I'll try to add a button to be able to change from one language to another.

[2017-01-19 05:09] lpatmo opened #436 "Separate out "community contributors" from "code contributors"?"
On about page!

[2017-01-19 06:23] lpatmo commented on #415
Thank you, @osanseviero! For some reason I thought i18n.json would detect the language you configured in your browser automatically. If it doesn't, then a link that says "Español" definitely makes sense.

[2017-01-19 06:27] osanseviero commented on #415
Oh, I'll research into that. I'll work on that this weekend. If it does not work automatically, maybe a dropdown with a spanish flag could be a nice thing, but maybe too complicated hehe. Will look into that.

[2017-01-19 06:38] lpatmo commented on #436
I will take this issue.

[2017-01-19 06:40] lpatmo commented on #364
@distalx, @BethanyG and I tested out audio and screensharing with jitsi.org, and it seemed to work really well. It's open-sourced and designed very much like Google Hangout, so it felt easy to use:

![screen shot 2017-01-18 at 9 54 40 pm](https://cloud.githubusercontent.com/assets/4512699/22096220/f9f16ff6-ddce-11e6-8e3b-79fd2d0c12cb.jpg)

[2017-01-19 23:51] wuworkshop commented on #415
@osanseviero I believe for español, other OSS projects have used "es" for the locale name. For example, Moment does that - https://github.com/moment/moment/blob/develop/locale/es.js

[2017-01-19 23:57] wuworkshop commented on #427
Looks like this issue can be closed.

[2017-01-19 23:57] #427 closed

[2017-01-20 00:03] wuworkshop commented on #84
Since Google is deprecating its hangouts API, and it looks like we're considering Jitsi which claims to support "unlimited users", this issue can be closed now.

@longp Hopefully you haven't spent too much time on this one. ^^'

[2017-01-20 00:03] #84 closed

[2017-01-20 00:11] wuworkshop opened #437 "Change "Browse" link in top nav to "Browse Hangouts""
It appears that the wording "Browse" isn't clear to some people when they initially go to Codebuddies.org. To make it more obvious, it would be good to change it to "Browse Hangouts".

[2017-01-20 01:36] distalx commented on #225
merged with #283

[2017-01-20 01:36] #225 closed

[2017-01-20 04:03] wuworkshop commented on #429
@isaacbazan Are you working on this issue? If not, I'll remove the "claimed" label.

[2017-01-20 05:41] lpatmo commented on #364
Very easy to embed: https://jsfiddle.net/1vq278cj/

[2017-01-20 10:26] AndreSchwarzer opened #438 ""CodeBuddies Alerts" (BOT) Time Bug"
# Do you want to request a feature or report a bug?

Bug

# What is the current behavior?

Incorrect remaining time / time until event starts.

# What is the expected behavior?

Correct remaining time / time until event starts. 😃

# Which browser / OS are affected by this issue?

All. It is a general problem.

See images attached.

# Images

## Notification
![notification](https://cloud.githubuser

[2017-01-25 04:57] lpatmo opened #440 "Start archiving important Slack messages/links"
Came up in the #codebuddies-meta hangout with @BethanyG and @distalx on January 24th:
- Let's archive some links/messages
- Case study: CodeSelfStudy (raw dump of data)
- Could we tag/favorite certain messages that we want to save?

[2017-01-26 09:16] BethanyG commented on #440
First crack at this:
[**Outgoing webhooks:**  ](https://api.slack.com/outgoing-webhooks)

Setting a keyword or /   trigger (i.e. /archive or /save or /remember) that will only archive what's flagged is what codeselfstudy has done with the keyword "Tag", I think.

So we could POST what we wanted to save to an API on codebuddies.org - and either  stuff it in Mongo, or do something automated with it

[2017-01-26 09:18] BethanyG commented on #440
Another thought is, of course, a bot that could both use the outgoing webhook for messages, but also use the full Slack API to do things like export files and attachments.

[2017-01-26 09:36] BethanyG commented on #417
This may be the same thing, but I found this interesting - you can set /remind in Slack for other users - and it can be done with a timestamp - so it could be set at the time a user RSVP'd to a hangout, theoretically:  https://api.slack.com/methods/reminders.add instead of setting an slackNotification.

[2017-01-26 09:52] BethanyG commented on #440
And one last one:  [](https://levels.io/slack-export-to-html/ ) is a script to use Slacks Export feature to dump all public content out and convert it to HTML.  So I am thinking a chron job could be set up do use something like this at a weekly (?) interval to export things, convert them to HTML, and .... post them to a wiki?  Make static pages?  I don't know....

[2017-01-29 03:45] coltonehrman commented on #438
Working on this.

[2017-01-29 09:36] lpatmo opened #443 "Code Refactoring"
Related to coding standards: https://github.com/codebuddiesdotorg/codebuddies/issues/72:

We need to discuss next steps for code refactoring. Which files are impacted? Where do we see repetition? Where do we need to use es6 standards?

[2017-01-29 15:10] Grimmaldi commented on #437
I'd like to work on this issue.  But, instead of changing the label to "Browse Hangouts, can I just change it to "Hangouts"?  I think it reduces clutter, and, since it's in the navbar, shouldn't confuse anyone.

[2017-01-29 17:58] coltonehrman commented on #443
I have created a sample refactoring of `server/slack/methods.js` file you can see the commit [here](https://github.com/coltonehrman/codebuddies/commit/c3da5d1fcea89cf9e1f17f5fc55d5c31e9b94f9e)

I decided to create 3 new files each containing there own class and then convert the functionality into OOP. This is my first edit, so any suggestions would great!

[2017-01-30 03:54] wuworkshop commented on #437
@Grimmaldi It's all yours. I just added the "claimed" label. I think your suggestion to use "Hangouts" instead is a good idea. Go for it. 👍

[2017-01-30 05:18] Grimmaldi commented on #437
@wuworkshop Thanks for changing the label, and for the words of encouragement.  I've reviewed the file structure of the site, updated the navbar-related HTML, and then commited the change through Git.  It seemed okay...  But, this is my first attempt at anything like this, and, unfortunately, my understanding of Git isn't so hot.  Did it register properly?  Did I update the right section?  If not,

[2017-01-30 06:13] lpatmo commented on #443
@coltonehrman I give you many kudos for attempting to refactor this file! I'm still not sold on using classes in javascript, though -- I think we clean up the repetition in the code without them, and also dodge the [landmines](https://github.com/getify/You-Dont-Know-JS/blob/master/this%20%26%20object%20prototypes/ch4.md) associated with using them.

[2017-01-30 06:21] lpatmo opened #446 "Detect user language to take advantage of i18n translations"
@osanseviero added an es.i18n.json file, which means we now have the capacity to translate to Spanish.

According to https://github.com/TAPevents/tap-i18n#quickstart, we need to detect the language used by the user:
[code]

Will research later how to do this.

[2017-01-30 07:51] lpatmo commented on #437
@Grimmaldi Thanks for tackling this! A couple of notes:
- Did you go through the steps on contributing.md and fire up an instance of the app in your localhost:3000? I would encourage that you test to see what happens with your changes.
- In this meteor app, we're using the i18n package, which lets us create a "dictionary" of reusable keys and values (aka "translations"). The i18n/en.i18n.json file

[2017-01-30 14:24] coltonehrman commented on #443
Ok no problem! :)

[2017-01-31 02:21] Grimmaldi commented on #437
Hi @lpatmo , Okay, I've tested out the app on my localhost:3000, and tested out the changes on my test version of the Code Buddies app.  I didn't previously know about the i18n json file, but, with your gentle nudge, I've made the necessary changes and committed it through my fork of the site.  Please let me know if I've misunderstood something or need to tweak something else.  (And thank you for

[2017-01-31 08:06] lpatmo commented on #437
@Grimmaldi Thanks for running it in localhost; I looked in your fork, and that change looks great! Maybe to minimize confusion we could check if the "browse" key in the i18n.json is used anywhere else (you can grep or [ag](https://github.com/ggreer/the_silver_searcher) for it, and get a returned list of files where that keyword appears in the codebase) -- and if it's *not* used anywhere else, chan

[2017-01-31 20:03] wuworkshop commented on #437
@lpatmo uh, I originally thought it should say "Browse Hangouts". The link already says "Browse". ^^

The list of all hangouts only shows up on the homepage when the user logs in to their Slack account. So perhaps the "Hangouts" link should only be visible for people who are NOT logged in. The original purpose of the link was so people who aren't Slack members yet could see what kind of hangouts w

[2017-02-01 05:14] lpatmo opened #447 "Add Facebook og:image tag to templates/head.html"
A profile photo of one of our members is currently popping up when we share codebuddies.org on Facebook; reason is that we forgot to add an og:image tag, heh.

[2017-02-01 05:14] lpatmo commented on #447
Credit: @sergeant-q discovered this bug, and @distalx created a branch in https://github.com/codebuddiesdotorg/codebuddies/tree/open-graph-tags to deal with it.

[2017-02-01 05:54] lpatmo commented on #437
@wuworkshop Ah sorry, I misremembered the original suggestion.

Yep! I'm down with this idea. So we'll need to wrap the link with something like `{{#unless currentUser}} ... {{/unless}}` (used elsewhere in home.html already; this means "if not currentUser, aka if not logged in").

Anyone disagree?

[2017-02-01 06:54] sergeant-q commented on #428
@anish-shekhawat how are we looking here? Did you make the appropriate updates and test on a publicly available server?

[2017-02-01 09:31] anish-shekhawat commented on #428
@sergeant-q I am really sorry I didn't give any update. I had a vacation so I was traveling for the past one month. Before leaving I actually tried to test it on cloud9 server but couldn't because their free tier has only 2 GB storage which was insufficient for the app to run. I also tried to run it on Codeanywhere server but bumped into a lot of issues on their server. Is there any other public s

[2017-02-01 20:07] foxiae commented on #443
@lpatmo This is an old article, but here's a [blog post](http://perfectionkills.com/refactoring-javascript-with-kratko-js/) on linter/refactoring tools. Kratko.js seems like the tool to fit the job?

Also - are we still playing on switching over to React from Blaze? This issue would tie in nicely if we're going to do a re-write.

[2017-02-02 05:24] Grimmaldi commented on #437
@lpatmo @wuworkshop I have tried to apply the changes that you mentioned above.  Please let me know if I have missed or misunderstood something.  Thanks for walking me through this and for your patience.

[2017-02-02 21:38] distalx commented on #300
fixed #306 .

[2017-02-02 21:38] #300 closed

[2017-02-02 21:42] distalx commented on #173
Yes @sergeant-q

[2017-02-02 21:43] #173 closed

[2017-02-03 03:16] lpatmo commented on #437
@Grimmaldi Looks great! Want to go ahead and submit a PR for this issue? You just click a button, and select your branch where you pushed your commits. :)

[2017-02-03 03:24] distalx commented on #428
Hey  @anish-shekhawat Thanks for taking this issue.

`Meteor.absoluteUrl` returns an absolute URL.
We are using it to inject an image to our email template, checkout [here](https://github.com/codebuddiesdotorg/codebuddies/blob/master/server/email/methods.js#L17)
on production this will return `http://codebuddies.org/images/logo.svg`
on local it will return `http://localhost:3000/images/logo.svg`
S

[2017-02-03 03:41] Grimmaldi commented on #437
Okay, done...  That was my very first PR submission!  Thank you so much @lpatmo and @wuworkshop !!!!

[2017-02-03 04:14] #438 closed

[2017-02-03 05:23] #437 closed

[2017-02-06 03:34] anish-shekhawat commented on #428
Hi @distalx Thanks for the info.

Is there a way I can test this on a staging server available online? As previously mentioned I have tried CodeAnywhere and Cloud9's free tier but couldn't deploy it on them.

[2017-02-07 03:49] lpatmo opened #449 "Figure out a way to save/archive Etherpad notes from Jitsi"
On Jitsi hangouts, we can open up an etherpad notepad and get its URL (or iframe embed HTML) and paste it somewhere.

The downside: the notes are hosted on jitsi's servers.

Ideally, we'd be able to grab the contents and push it to our own site.

[2017-02-07 04:01] lpatmo commented on #443
Based on discussions from 2/6 weekly hangout:
1) Jitsi
2) Adding in mocha tests
3) ReactJS
4) Refactoring! (And making sure they don't break tests)

[2017-02-11 21:22] #436 closed

[2017-02-11 21:35] #447 closed

[2017-02-12 07:42] lpatmo opened #451 "CodeBuddies Staging Site: Screensharing sometimes not working in Safari"
Can folks confirm that screensharing is not working in some cases in a Jitsi hangout, and paste the console error message here if they see it?

Jitsi hangout test link (sign in with your CodeBuddies Slack account and RSVP, then click the green button to load the hangout): https://codebuddies.herokuapp.com/hangout/gAexvBQMdXAC4oagh

So far I've only seen this in incognito browsers (which is okay...

[2017-02-12 07:44] lpatmo commented on #451
This is the error message I saw in Safari when I loaded the Jitsi hangout on https://codebuddies.herokuapp.com/hangout/gAexvBQMdXAC4oagh :

![screen shot 2017-02-11 at 11 43 41 pm](https://cloud.githubusercontent.com/assets/4512699/22860477/f898dc32-f0b3-11e6-9578-d7047d16f6ea.jpg)

[2017-02-13 09:40] lpatmo commented on #451
Happens in Chrome too. Figured out that the cause might be related to trying to screenshare in Jitsi initially via an iframe *versus* in a http://jit.si/example link.

I filed this issue here: https://github.com/jitsi/jitsi-meet/issues/1315

[2017-02-14 04:10] lpatmo commented on #451
Update: this issue is partly solved for Chrome in the beta version (beta.meet.jit.si). Also, in the beta version, strings with hyphens aren't allowed, so are hangouts will have to be titled `cb[post-id]` instead of `cb-post-id`. Have committed this change in branch `issue-364`.

[2017-02-14 08:14] lpatmo commented on #451
Update: screensharing is fine with `beta.meet.jit.si`in Chrome and Firefox.

The remaining issue: Safari and (I assume -- haven't tested yet!) -- IE.

According to http://lists.jitsi.org/pipermail/users/2016-October/011873.html, the issues with screensharing were known as of October 2016.

Am considering detecting the user's browser on the page, and recommending that they use Chrome or Firefox.

[2017-02-15 07:50] lpatmo commented on #451
According to https://github.com/jitsi/jitsi-meet/issues/1318, screensharing not working on Safari is a known issue.

Idea: detect if a user is NOT on Chrome or Firefox, and suggest that they use Chrome or Firefox. Otherwise, do not show the warning.

[2017-02-15 09:08] lpatmo commented on #451
This is done:
![screen shot 2017-02-15 at 1 07 41 am](https://cloud.githubusercontent.com/assets/4512699/22967413/3e99e1fe-f31b-11e6-9259-5449161fd4ec.jpg)

[2017-02-15 09:30] lpatmo opened #452 "Comments left in a thread could fire an email notification to all the attendees"
Just noticed that it can be easy to not notice comments left by hosts, sometimes:

![screen shot 2017-02-15 at 1 26 58 am](https://cloud.githubusercontent.com/assets/4512699/22968138/14c3c644-f31e-11e6-82ed-aa4a8b15ce14.jpg)

The proposal: fire an email notification to everyone who RSVPed to a hangout when comments are left.

Alternative idea (maybe a separate issue): fire an email notification to

[2017-02-15 10:20] lpatmo opened #453 "Add second-by-second countdown to text on green button on hangout post page"
It would be cool to see a second-by-second countdown on the green button here:

![screen shot 2017-02-15 at 2 18 38 am](https://cloud.githubusercontent.com/assets/4512699/22969954/29e7cb9a-f325-11e6-8783-c0064b179c30.jpg)

Then, when the hangout starts, the button text will change from the countdown to  say (as it does now) "Click to load hangout":
![screen shot 2017-02-15 at 2 19 41 am](https://c

[2017-02-15 10:28] lpatmo opened #454 "Show "most recent" instead of "oldest" first on Profile"
On the profile page, the "oldest" of the hangouts the user has created or joined is shown first. Let's show "most recent" at the top instead.

[2017-02-16 07:36] lpatmo opened #455 "Jitsi testing on Windows machines (Chrome and Firefox)"
We need to make sure Jitsi (https://codebuddies.herokuapp.com/hangout/JcAkTyHixM3oPPSQT) loads and has good audio + screensharing from Windows machines.

Chrome - @ycodebuddies tested on Windows 8.1 and confirms audio + screensharing works
Firefox - @ycodebuddies tested on Windows 8.1 and confirms audio + screensharing works
Microsoft Edge - not yet formally tested, but heard there were problems f

[2017-02-16 07:38] lpatmo commented on #453
Update:

We should continue to display the Jitsi hangout even after the time for the hangout ends, because hangouts often run long, and we don't want to boot users out when the page updates.

 With the soon-to-be-deprecated Google Hangouts API, it was always opened in a separate window, so we didn't really run into this issue.

This means that in the future, anyone will be able to load the Jitsi h

[2017-02-16 11:57] stain88 commented on #455
Don't think there's anything to do for Microsoft, based on [this thread](http://markmail.org/message/7ps2swm7rywjtupx#query:+page:1+mid:7ps2swm7rywjtupx+state:results) (admittedly from almost a year ago) the plugin jitsi uses isn't compatible with IE/Edge. Console on Edge throws quite a few errors along the lines of "Unable to get property of undefined"

[2017-02-16 12:13] stain88 commented on #454
dibs?

[2017-02-16 12:40] stain88 commented on #429
Quill seems to do this by default now [ref issue](https://github.com/quilljs/quill/issues/189). If I click create hangout, then add a link, inspect element shows `target="_blank"`: does this not get passed on after creation? Does the local quill version need to be updated?

[2017-02-16 16:38] lpatmo commented on #454
@stain88 Go ahead, thanks! Let me know if you run into any questions or trouble.

[2017-02-17 06:32] lpatmo opened #457 "Add support for logging in using Github authentication"
Slack sign-in often confuses users, because if you're not logged into any Slack account, you have to remember to type in `codebuddies`.slack.com and then remember your login to that Slack account.

If we add support for Github authentication, we'll have to make sure to at least get the following fields from the Github API:
- user's email
- user's username
- user's avatar image URL

[2017-02-18 23:29] #454 closed

[2017-02-19 02:48] distalx commented on #428
@anish-shekhawat  we do have a staging site setup at heroku, how about once you update you branch with the changes, we will deploy it to staging site for testing ?

[2017-02-19 10:33] anish-shekhawat commented on #428
Hey, @distalx I just setup an Amazon AWS EC2 instance and got the app running. But I can't seem to make the slack authorization work because after authorizing it goes back to localhost:3000 instead of the AWS public IP.

[2017-02-19 17:15] stain88 opened #458 "Move hangouts that are in progress but not yet completed to the top"
What is the current behavior?
Hangouts on the homepage are listed, presumably in order of creation, but with the furthest date at the top.

What is the expected/_wished for_ behavior?
Hangouts should be sorted by completion date/time, with the closest future date at the top, and all hangouts-to-be above completed ones

Which browser / OS are affected by this issue? (An *isolated* way to reproduce

[2017-02-21 23:07] newswim commented on #458
FWIW, the same behavior you describe is on Firefox, Safari and Chrome - I think this is just an issue with the ordering. This is the order that makes sense to me, let me know what you think and if there any exceptions that should be made.

[code]

[2017-02-21 23:34] wuworkshop commented on #458
@newswim Per Slack conversation, this is all yours.

[2017-02-22 02:36] newswim opened #460 "List contributors in alphabetical order"
How would you like the contributors list in the readme to be in alphabetical? Additionally, it might make sense to create a 'core' list, which is really easy to determine just by looking at the [contribution numbers](https://github.com/codebuddiesdotorg/codebuddies/graphs/contributors).

Just throwing it out there, obviously everyone's contribution is helpful and appreciated, but this might be a l

[2017-02-22 17:52] maudem commented on #13
I've never contributed before and I thought this would be a good place to start.

[2017-02-22 18:14] newswim commented on #457
I really like this idea, it's been confusing for myself and others in the past. ++

[2017-02-24 07:06] #458 closed

[2017-02-26 20:54] lpatmo opened #461 "TypeError: Cannot read property 'dispose' of undefined"
Occasionally I will see this error in the console on branch `issue-364`:

![screen shot 2017-02-26 at 12 52 42 pm](https://cloud.githubusercontent.com/assets/4512699/23343575/a51706ae-fc22-11e6-9f71-b50ac72b54fd.jpg)

The relevant code is in `hangout-frame.js`:
[code]

[2017-03-01 03:09] anish-shekhawat commented on #428
@distalx I updated my branch with the required changes.

cc @sergeant-q

[2017-03-02 03:36] wuworkshop commented on #428
@anish-shekhawat I think there needs to be one more change to fix the logo in all the email templates. In the file @distalx mentioned (https://github.com/codebuddiesdotorg/codebuddies/blob/master/server/email/methods.js#L17), could you change the logo image from `logo.svg` to `logo-circle.png`?

According to this comment from @lpatmo in this PR https://github.com/codebuddiesdotorg/codebuddies/pull

[2017-03-02 04:00] lpatmo commented on #428
Good call, @wuworkshop!

[2017-03-06 03:32] anish-shekhawat commented on #428
@wuworkshop Done!

[2017-03-08 05:47] lpatmo opened #462 "Continue showing "Click to load hangout" button even after hangout has ended"
Because hangouts often go long (or later than the hour or two hours the host has scheduled it for), we should maybe consider showing the green "click to launch hangout" button on the page for those who RSVP even after a hangout officially ends.

![screen shot 2017-03-07 at 9 45 34 pm](https://cloud.githubusercontent.com/assets/4512699/23691784/803dbde6-037f-11e7-91c1-45e91ec33744.jpg)

[2017-03-12 00:35] adachiu opened #464 "Padding for Home page "community hangouts" section"
The community hangouts section needs padding to be added.

1. Padding above title "Community Organized Hangouts"
2. Padding around the text inside each hangout box

<img width="1401" alt="screen shot 2017-03-11 at 4 29 51 pm" src="https://cloud.githubusercontent.com/assets/13413986/23828020/57177d20-0678-11e7-812b-43842a91eceb.png">

[2017-03-12 00:40] stain88 commented on #464
Hmm, the css is there, looks like that section got missed during commit 3aba4e4

[2017-03-13 06:05] lpatmo commented on #464
Thanks for the issue, @adachiu and nice sleuthing, @stain88!

Yes it looks like the `padding: 0 30 40` in `_home.scss` was missed (supposed to be 0px 30px 40px) and what happened to the margin above "Community-organized hangouts", but should be `margin-top: 40px` or something added above `#home .home-middle h2` in `_home.scss` file as well.

Good issue for a beginner to tackle.

[2017-03-15 06:41] lpatmo opened #465 "Update screenshot on FAQ to show Jitsi hangout instead of Google Hangouts"
Unless anyone has objections, maybe we can replace the Google Hangouts screenshot on the FAQ (https://codebuddies.org/faq) with this Jitsi screenshot:

![screen shot 2017-03-11 at 11 22 25 am](https://cloud.githubusercontent.com/assets/4512699/23936489/afcf2dfc-090f-11e7-9705-f595dc4573d6.jpg)

[2017-03-15 06:45] lpatmo opened #466 "Update FAQ with screenshots showing how to log in using Slack"
1. Update "How do I use this website?" to say "How do I login to this website?"
2. Add the following screenshots:
- A screenshot of the "Sign in with Slack" button
- A screenshot of what you see if you are already logged in to codebuddies.slack.com on your browser
- A screenshot of what you see if you're NOT logged into codebuddies.slack.com, and instructions to type "codebuddies" as the Slack tea

[2017-03-15 06:48] lpatmo opened #467 "Separate out the "home logged in" from the "home logged out" templates"
This will have the side effect of fixing the reload problem, where users see a glimpse of the logged-out home page view before they see the logged-in view.

But I'm starting to think we should make the logged-in home page view available for non-users, so that they can browse the hangouts that have occurred in the past.

This is NOT a priority issue, but thought I'd raise this for discussion.

[2017-03-15 06:52] lpatmo opened #468 "HOME PAGE: Add a screenshot and explanation of an example Jitsi hangout to the non-logged-in home page"
Wow, I didn't think we're already at this day, but... Jitsi embedded on the page as a Google Hangout so far seems okay! And it's in good use!!!

On the home page, we're lacking an explanation of what a user might expect after they create a hangout. We should show a screenshot of an embedded Jitsi hangout, sort of like this:

![screen shot 2017-03-11 at 11 22 25 am](https://cloud.githubusercontent.

[2017-03-15 06:53] lpatmo commented on #468
Or maybe separate this out into two tasks:

1) Add screenshot showing the Jitsi hangout
2) Add screenshot showing the "create hangout" popup form to signify the idea that anyone can schedule/start a hangout.

[2017-03-15 06:57] lpatmo commented on #468
We should also try to make it clear on the home page that hangouts are NOT "video calls" but tend to be "screensharing" meetings looking at code. I think too many people, when they hear "hangouts", still think of a google hangout video call and are thus shy about joining.

[2017-03-17 04:59] lpatmo opened #469 "Consider updating the button text to say "Schedule a Hangout" instead of "Create a Hangout""
Does anyone have strong opinions about this? I could go either way, but maybe leaning slightly towards it saying "Schedule a hangout"

![screen shot 2017-03-16 at 9 58 40 pm](https://cloud.githubusercontent.com/assets/4512699/24029498/c129668c-0a93-11e7-98f4-6a3aee171019.jpg)

[2017-03-17 05:47] adachiu commented on #469
Sounds good to change it to "Schedule a Hangout"

[2017-03-17 07:13] lpatmo opened #470 "Favicon may be missing"
@sergeant-q reports that the favicon is not showing up on the site, and is instead a blank document. If you're seeing the same thing, please comment.

[2017-03-17 14:42] stain88 commented on #470
Can confirm missing on chrome, firefox, safari.
The link is to `/images/cb-logo.svg`:
a) Is there such an icon in the /public/ folder?
b) shouldn't a favicon be png, gif or ico only?

[2017-03-17 15:09] sergeant-q commented on #469
I like it. It's more intuitive to what the user will actually be doing.

[2017-03-17 18:24] wuworkshop commented on #469
Sounds good to me.

Just a reminder, any changes in English should also be changed in Spanish (and any future languages that get added).

[2017-03-19 06:37] lpatmo commented on #470
@stain88 Good points!

If you guys don't mind, I want to take on this issue (even though it's technically a beginner issue) because I think I can fix it fairly quickly. Going to create a new favicon and upload it to the site.

(Still not entirely sure why I was seeing a favicon while other people weren't.)

Update: turns out there are a lot more steps involved to creating a favicon than committing

[2017-03-19 06:47] lpatmo opened #473 "Consider updating the twitter and facebook featured images to be a screenshot of a hangout instead of the CB logo"
The CB logo looks kind of gigantic on the automated twitter feed: https://twitter.com/codebuddiesmeet

Wondering if we should change the featured image to be something like

![screen shot 2017-03-18 at 11 23 16 am](https://cloud.githubusercontent.com/assets/4512699/24078807/270040e6-0c35-11e7-8988-ba25316c7447.jpg)

... or another screenshot of a hangout that members of the community actually part

[2017-03-19 06:48] lpatmo commented on #469
@wuworkshop Good call!

[2017-03-19 21:02] morrme commented on #469
I'd like to help update the English version. I can update other localized versions with the correct/approved text.

[2017-03-19 21:23] lpatmo commented on #469
@morrme It's yours if you'd like to take this issue! The files you should be looking at are `i18n/en.i18n.json` and `es.i18n.json`. Please take a look at https://github.com/codebuddiesdotorg/codebuddies/blob/master/contributing.md, and let us know if you have any questions. Thanks!

[2017-03-19 21:45] morrme commented on #469
Great! Should "Create this Hangout" also be changed?

For the ES version, what would be the approved text? I speak the language but nowhere near natively enough to make this call.

[2017-03-19 21:53] lpatmo commented on #469
I think we can keep the keyword `{{_ "create_a_hangout"}}` in `client/templates/home/home.html` that references `"create_a_hangout": "Create a Hangout",` in `i18n/en.i18n.json`. In other words, let's just change the value in the en.i18n.json file. (Did I understand your question correctly?)

As for the spanish version -- no idea. :P I took Spanish for several years but I'm not a native speaker eit

[2017-03-19 21:58] lpatmo commented on #469
UPDATE: Okay, @osanseviero responded very quickly on Slack and the correct translation en espanol es "Programa un hangout"

[2017-03-19 22:06] morrme commented on #469
@lpatmo  I was referring to the next line of the file , another button that says "Create This Hangout"

![create hangouts](https://cloud.githubusercontent.com/assets/26514778/24085245/48956416-0cc6-11e7-9433-cd5e36370f6f.PNG)

Thanks for the ES translation ! :+1:

[2017-03-19 22:08] lpatmo commented on #469
@morrme Ah, I see -- that's the text when someone clicks to clone/duplicate an existing hangout. Yes, I think that can be changed to "Schedule this hangout". Thanks for the clarification!

[2017-03-19 22:14] morrme commented on #469
@lpatmo no problem ! i will be joining slack as well but would the ES translation of the next line be "Programa este hangout"  ? And do you want to keep the capitalization as it currently exists on each button?

[2017-03-19 22:19] lpatmo commented on #469
Oh sorry, yes "Programa este Hangout" should be right. And yeah, good question on the capitalization not being standard... that could be a separate issue, but maybe let's start making "Hangout" with a capital H be the standard.

[2017-03-19 22:21] morrme commented on #469
OK, I'll change these as per the issue, and if needed I can help with standardizing the rest.

[2017-03-19 22:21] lpatmo commented on #469
Gracias!

[2017-03-19 22:34] morrme commented on #469
¡De nada! All done! PR #474

[2017-03-19 23:08] morrme commented on #473
I agree.

[2017-03-20 00:18] lpatmo commented on #469
@morrme
![image](https://cloud.githubusercontent.com/assets/4512699/24086177/ff1c458c-0cc7-11e7-8b89-01972d771c9e.png)

@morrme Did you just join the CodeBuddies Slack as `rmcnair`, or is that somebody else?

[2017-03-20 00:24] morrme commented on #469
No , I'll be joining as ` emmo`

`

[2017-03-20 03:57] lpatmo opened #475 "Standardize the capitalization of "Hangout" with a capital H"
See: `en.i18n.json` and `es.i18n.json` files. :)

[2017-03-20 06:52] lpatmo opened #477 "Updated "Sorry, please sign in first" popup to include a link to register on Slack"
I'm already working on this as part of the `learnings` branch; just wanted to log the change here for archival purposes.

New:
![screen shot 2017-03-19 at 11 46 41 pm](https://cloud.githubusercontent.com/assets/4512699/24090582/d92ae450-0cfe-11e7-88ed-3bf6f0dd1ecd.jpg)
- includes a link to sign up for the CB Slack
- includes a screenshot of what you might see if you're not currently logged into an

[2017-03-20 10:18] morrme commented on #477
should the modal text include links to the privacy policy, etc when they're mentioned?

[2017-03-20 10:32] morrme commented on #464
are these the two sections that need to be changed?
![home middle](https://cloud.githubusercontent.com/assets/26514778/24096188/8aa34d88-0d2e-11e7-9e83-aa9c198be390.PNG)

and

![hangout cards](https://cloud.githubusercontent.com/assets/26514778/24096187/8aa31bce-0d2e-11e7-848d-4588389f5895.PNG)

[2017-03-20 10:40] morrme commented on #348
I can test this if it still needs to be verified.

[2017-03-21 04:34] lpatmo commented on #464
@morrme Yep, that looks right! Were you able to get the app started up in your localhost:3000 from the contributing.md instructions, out of curiosity?

[2017-03-21 04:35] lpatmo commented on #477
They're on the popups now, but I'm leaning towards thinking we don't need them. (They're a little obtrusive, and we don't see messages like that on other sites.)

[2017-03-21 05:51] morrme commented on #464
It is building now.

[2017-03-21 07:49] morrme commented on #464
How does this look?

![464-fix-0](https://cloud.githubusercontent.com/assets/26514778/24137234/eac555a0-0de0-11e7-93bd-c68255af4bdf.PNG)

[2017-03-21 07:53] lpatmo commented on #464
Looks excellent! :) When you resize the browser to be narrow, it should be ok too, right?

I think these changes are what @adachiu had in mind, but will let her chime in in case she has any thoughts I missed.

[2017-03-21 07:55] morrme commented on #464
yes
![464-fix-1](https://cloud.githubusercontent.com/assets/26514778/24137462/d9d6effa-0de1-11e7-9d01-6cea7c5c7df0.PNG)

[2017-03-22 06:46] lpatmo commented on #464
@morrme Perfect. :) Sorry, I should've said last night -- feel free to create a PR for this issue with your changes!

[2017-03-22 07:32] morrme commented on #464
@lpatmo sure ! one more thing....the .home-middle is also missing "px" (see above response) . Can I add that one back in as well?

[2017-03-22 08:16] lpatmo commented on #464
@morrme Yes, that makes sense! Thanks!

[2017-03-22 08:38] #462 closed

[2017-03-22 08:38] #470 closed

[2017-03-22 08:38] #469 closed

[2017-03-22 08:38] #475 closed

[2017-03-22 09:02] #201 closed

[2017-03-22 09:07] dantesolis commented on #466
hey @lpatmo I can take care of this, is no one has claimed it.

[2017-03-22 09:13] lpatmo commented on #466
@dantesolis Thank you, I'll mark it as claimed! Let me know if you have any questions...

[2017-03-23 02:47] viinasu opened #479 "Fix staging link on contributing.md"

[2017-03-23 03:05] colleenboodleman commented on #479
hi ting, i would like to help solve this!

[2017-03-23 03:26] wuworkshop commented on #479
@colleenboodleman Go for it. I've added the "claimed" label.

[2017-03-23 06:49] lpatmo opened #482 "Let users upvote their own learnings?"
Wondering if we should let users upvote their own learnings!

Thoughts:
- it's fun to upvote your own learning and to see that clickable blue arrow
- an inflated point for each learning doesn't really matter in the larger context

If anyone has strong opinions *against* letting users upvote their own learnings, happy to hear it and keep it the status quo.

[2017-03-23 07:12] #479 closed

[2017-03-23 19:49] morrme commented on #482
Most social media platforms allow you to do that, and if it brings even a little more continued delight to users, why not? :)

[2017-03-25 19:39] lpatmo opened #485 "Add icon linking to Github repo to the header of the page"
Folks don't often scroll to the very bottom of the site, so I'm thinking we should link to the Github repo (where contributors are welcome!) to the header.

Could use the Github fontawesome icon.

[2017-03-25 19:40] #477 closed

[2017-03-25 19:41] lpatmo commented on #473
Just created this screenshot:

![jitsi-example](https://cloud.githubusercontent.com/assets/4512699/24325551/4ba39a42-1158-11e7-8412-54bb30ad07c5.jpg)

[2017-03-25 19:48] lpatmo commented on #485
Going to take this one; please don't hate me! :)

[2017-03-25 20:00] abhiii5459 commented on #429
@wuworkshop @lpatmo @stain88   Can I take this? Or is it taken?

[2017-03-25 20:11] lpatmo commented on #429
@abhiii5459 I don't think this is taken, but it may be a tricky issue.

[2017-03-25 20:12] #473 closed

[2017-03-25 20:38] lpatmo commented on #467
I'm going to work on this now.

[2017-03-25 21:52] #465 closed

[2017-03-25 21:52] #482 closed

[2017-03-25 21:53] #485 closed

[2017-03-25 22:47] lpatmo opened #490 "Meta info for individual hangout pages"
I've noticed that if we share a link from a hangout (e.g. https://codebuddies.org/hangout/BFovPHAJHSR8Fgo5J) the share info isn't very useful:

![screen shot 2017-03-25 at 3 40 29 pm](https://cloud.githubusercontent.com/assets/4512699/24326733/32ef333e-1172-11e7-92ed-1995d254fddf.jpg)

There should be a way to add meta info to each individual post page, I think. Something like:

[code]

Edit: may

[2017-03-30 05:56] arturolei opened #491 "RSVP Button Location"
I received a link to RSVP for a study session. The RSVP button was positioned at the bottom of the page after a sea of text. The RSVP button should be moved to the top for better visibility.

[2017-03-30 06:11] lpatmo commented on #491
Thanks @arturolei!

[2017-03-31 09:21] morrme commented on #491
@lpatmo thoughts on this one?

[2017-04-01 15:48] morrme commented on #491
@arturolei  is this what you're referring to?

![cbrsvp](https://cloud.githubusercontent.com/assets/26514778/24579981/cc46ab36-16c5-11e7-9531-fbbd83957123.PNG)

[2017-04-01 20:52] arturolei commented on #491
Yes, that's the one I believe.

2017-04-01 8:48 GMT-07:00 morrme <notifications@github.com>:

--
Arturo Lei
PhD Candidate, Italian Studies, UC Berkeley
Director of Cultural Activities, Italian Society at Berkeley

Phone: 314-783-7214

[2017-04-02 06:55] #467 closed

[2017-04-08 19:38] sergeant-q commented on #457
@lpatmo I might have time to take this feature on. Any other specific requirements for user info and are we adding this auth strategy in addition to Slack?

[2017-04-09 02:50] lpatmo commented on #457
Cool! Thinking about it a little more, the minimum info. we need from Github are:
- username
- email
- avatar image ("image_192")

And yeah, we're adding this as an auth strategy in addition to Slack, not replacing Slack.

One possibly tricky thing that just occurred to me: `username` assumes a Slack username aka

[code]

[2017-04-09 03:13] lpatmo opened #492 "Automatically turns text starting with "http" in "learnings" section into URLs"
In the learnings sections of hangouts (e.g. https://codebuddies.org/hangout/c4a2WpcYX9AyTzamB), any text that starts with "http" or "https" should automatically be converted into an `<a href="X">X</a>` link.

Let's use regex and javascript to solve this instead of applying QuillJS to learnings' input boxes.

[2017-04-09 19:39] #464 closed

[2017-04-09 19:40] #428 closed

[2017-04-09 19:50] lpatmo commented on #492
Javascript should be put in `learning-item.js`.

[2017-04-13 14:28] stain88 commented on #440
An alternative: [http://slackarchive.io](http://slackarchive.io)

[2017-04-15 05:10] lpatmo commented on #440
Wow -- that might very well suit our purposes! Thanks for the find, @stain88! What does everyone else think?

[2017-04-17 07:29] arturolei commented on #491
I'm going to try and ameliorate this situation this week.

[2017-04-17 07:44] lpatmo commented on #491
Marking this issue as claimed for you, @arturolei! Let me know if you have any questions about how to move the button up. You should be looking in the `hangout.html` file.

[2017-04-19 06:41] arturolei opened #495 ""Learnings" No More: Change Section Title to "Things We Learned""
This is not a bug or feature request, but a clarification about nomenclature. On the Hangout page, there is a section called "Learnings." Is there are reason why we call this aspect "Learnings"? The term seems at best idiosyncratic, at worst strange.

Instead of calling the section "Learnings", what about "Things We Learned"?

"Things We Learned" seems more consonant with the prompt in the textbox

[2017-04-19 07:03] lpatmo commented on #495
I think changing "Learnings" to "Things We Learned" is a good suggestion.

[2017-04-21 14:40] xianrusso commented on #466
Hey @lpatmo , has the issue been resolved?

[2017-04-23 02:38] lpatmo commented on #468
File to edit to put the screenshot: `templates/home/home_logged_out.html`

[2017-04-23 03:22] grfraser commented on #468
**I will offer to work on this.** I forgot, sorry-I know I read it somewhere- **how do I claim this issue?** @lpatmo
I will do my best- I know I can add the image and description easily. I will try a GIF though as well and see what looks better.

[2017-04-23 03:23] lpatmo commented on #468
I just marked this issue as claimed. Thanks @grfraser!!

[2017-04-23 03:24] grfraser commented on #468
Thank you @lpatmo !

[2017-04-23 03:26] lpatmo commented on #466
@xianrusso Sorry for the slow reply! This issue hasn't been resolved yet. @dantesolis I'm going to mark this as un-claimed again, but if you're interested in it still let me know. Thanks!

[2017-04-23 03:37] grfraser opened #496 "contributing.md Table of Contents link bug."
## This is my first issue so please feel free to let me know if I am doing something incorrectly. - not sure if this is an important issue.

**Do you want to request a feature or report a bug?**
_Bug_
**What is the current behavior?**
_Table of Contents 10-15 links do not work. Regarding 1-9, they work on first click but not afterwards unless page is refreshed._
**What is the expected behavior?**

[2017-04-23 03:52] grfraser opened #497 "contributing.md change Master -> Release"
**Do you want to request a feature or report a bug?**
_Bug_

**What is the current behavior?**
_Master should now be Release, for example:_
[code]
and also:
[code]
_I may have missed a few but that is what I noticed at a quick glance._

**What is the expected behavior?**
_Master should be changed to Release._

**Which browser / OS are affected by this issue? (An *isolated* way to reproduce the bug

[2017-04-23 04:02] grfraser opened #498 "adding-contributor link in contributing.md leads to 404, adding-contributor branch no longer exists."
**Do you want to request a feature or report a bug?**
Bug.

**What is the current behavior?**
Link leads to 404 Page Not Found. https://github.com/codebuddiesdotorg/codebuddies/tree/adding-contributor

**What is the expected behavior?**
Not sure. Are we still using this concept or no?
adding-contributor branch does not even exist anymore. This may have been an old feature? Not sure as I am new.
Ex

[2017-04-23 04:33] grfraser commented on #495
I vote for "Lessons Learned".

[2017-04-23 04:45] grfraser opened #499 "Load Hangout Should Open in New Tab to Keep codebuddies.org accessible."
**Do you want to request a feature or report a bug?**
Feature.
**What is the current behavior?**
Load Hangout on main home page loads in current window.
**What is the expected behavior?**
Load Hangout should open a new tab so that codebuddies.org remains open in the browser and still easily accessible.

[2017-04-23 05:42] grfraser opened #501 "Possible to use tab to switch from Question/Goal to text box in Create Hangout?"
Do you want to request a feature or report a bug?
_Feature_
What is the current behavior?
_Tab does nothing in title, tab creates 5 spaces in text box_
What is the expected behavior?
_Tab to switch from Title to text box and if agreed upon, switch to Schedule Hangout.
Shift tab can be used for 5 spaces.
Additionally perhaps we may want the enter button to "Schedule the Hangout" and shift enter to

[2017-04-23 06:00] lpatmo opened #502 "Remind participants to share what they learned at the end of a hangout"
### Do you want to request a feature or report a bug?
Feature!

### What is the current behavior?
![screen shot 2017-04-22 at 10 58 03 pm](https://cloud.githubusercontent.com/assets/4512699/25311196/40dc6c8e-27af-11e7-9ec9-38bf429e716d.jpg)

### What is the expected behavior?
It might be beneficial to see another "What did you learn?" textarea in the area near or below the "This hangout has ended"

[2017-04-23 06:09] lpatmo commented on #495
That sounds like a fair issue to tackle, but in my localhost:3000, I do see the most recent "learning" submitted appearing at the very top.

IMO "Lessons Learned" is more concise and I would agree with it if it were in an essay, but I think "Things We Learned" sounds friendlier and matches more with the prompt in the textbox ("What did you learn?"). "Lessons Learned" also sounds a bit like "lesson

[2017-04-23 06:12] lpatmo commented on #498
Oops, good find! That branch must've gotten accidentally deleted.

[2017-04-23 06:14] lpatmo commented on #498
@grfraser Thanks for this report! https://github.com/codebuddiesdotorg/codebuddies/tree/adding-contributor now exists again (it was pretty easy to create it on the github repo, so I decided to just go ahead and do it.)

[2017-04-23 06:14] #498 closed

[2017-04-24 12:25] dantesolis commented on #466
@lpatmo I'm still interested in this issue sorry that is taking me so long, can I claim it again please.
Thanks

[2017-04-26 07:00] morrme commented on #496
@lpatmo It's an issue with how the headers are written in some of the later sections. I can clean them up if you'd like.

[2017-04-26 07:51] lpatmo commented on #496
Thanks, @morrme. I'll mark this issue as claimed!

[2017-04-26 07:52] lpatmo commented on #466
@dantesolis Sure!

[2017-04-29 03:30] #496 closed

[2017-04-29 06:16] lpatmo opened #505 "Include attendee names in 2-hour hangout start Slack reminder"
Currently, this is the message we see in the Slack alert in the #general channel on codebuddies.slack.com two hours before a scheduled hangout is set to start:

Let's add the usernames of the attendees so that they'll get a ping/reminder as well:

[2017-05-04 01:34] #468 closed

[2017-05-04 06:24] dantesolis commented on #466
thanks @lpatmo I'll work on it this weekend.

[2017-05-04 06:41] lpatmo commented on #495
I'm going to work on this bug.

[2017-05-04 06:44] morrme commented on #505
I'd like to learn how to do this.

[2017-05-04 06:53] lpatmo commented on #505
@morrme This is a juicy bug; was tempted to work on this next myself. :)

Files to start looking at are server/slack/methods.js and server/cron_job/methods.js, I believe.

[2017-05-04 06:58] morrme commented on #505
@lpatmo looks like it! we can probably work on it together 👥

[2017-05-04 07:55] sergeant-q commented on #505
I wrote the original code 🙂 so let me know if you need any help @morrme!

[2017-05-05 19:11] morrme commented on #505
@sergeant-q @lpatmo it seems like [this line](https://github.com/codebuddiesdotorg/codebuddies/blob/release/server/slack/methods.js#L23) needs to be changed, pulling in each index of the ` hangout.attendees` array , right?

[2017-05-05 22:43] sergeant-q commented on #505
@morrme that's right. Just make sure you still keep reference of the host!

[2017-05-07 02:20] ISPOL opened #508 "Remove text-align: justify on hangout posts and turn post titles black?"
Like this:
![screen shot 2017-05-06 at 10 18 48 pm](https://cloud.githubusercontent.com/assets/4441258/25777405/346977fc-32aa-11e7-954d-6355c6668552.jpg)

[2017-05-11 03:55] lpatmo commented on #508
@dmost1 has submitted a PR/effectively claimed this issue.

[2017-05-17 01:45] #508 closed

[2017-05-17 03:11] lpatmo commented on #505
@sergeant-q Any tips for getting reminder notifications to appear in #cb2-test? I changed the `hangout_reminder_interval` to `every 5 seconds` and have hangouts locally that start in a few minutes, but I'm not seeing anything in #cb2-test... 🤔

[2017-05-17 16:01] sergeant-q commented on #505
@lpatmo let me take a look. Are you working off the latest `master` branch?

[2017-05-17 16:10] sergeant-q commented on #505
@lpatmo I just tested it locally and it seems to be working just fine for me. See screenshot below (or checkout the #cb2-test channel!)

<img width="644" alt="screen shot 2017-05-17 at 9 07 04 am" src="https://cloud.githubusercontent.com/assets/1451729/26164055/5a26e6c6-3ae0-11e7-81fd-001626db25a0.png">

One thing to note. Make sure you set the **debug** flag to `true` in the /server/cron_job/meth

[2017-05-17 16:26] lpatmo commented on #505
@sergeant-q Thanks for taking a look! The "a new teaching hangout has been scheduled" shows up fine, but the reminder notification (`Reminder! collaboration hangout: *Title of Hangout* scheduled by @hostname is set to start in *less than two hours!*`) does not.

[2017-05-17 16:51] sergeant-q commented on #505
I see the issue. On hangout creation, there's a piece of code that is determining what to set the reminder fields to (either `true` or `false`) in the DB. Based on the current logic, if the hangout start time is less than or equal to 2 hours from now, then no need to send another reminder, thus it will set the

**day_reminder_sent:**
**hourly_reminder_sent:**

both to `true`

The cron job only loo

[2017-05-17 17:10] morrme commented on #505
is it possible to have a shorter reminder flag added?

[2017-05-17 20:22] sergeant-q commented on #505
@morrme I think that's the discussion we need to have. I personally don't see any value in sending out a reminder for something less than two hours if a new notification was just sent out in the Slack channel. Otherwise, we'll get too spammy.

I do, however, feel we should consider the current logic and get a consensus on what people want.

[2017-05-18 00:36] morrme commented on #505
ah ok so the issue here is, if the hangout is scheduled within 2 hours of the start, only one notification is sent, and those cant ever have the attendees because this is the first notification.  so those hangouts are the only ones affected by this. how often do people schedule  that closely?   what would be the desired notification pattern for short notice hangouts? cc: @lpatmo

[2017-05-18 02:45] lpatmo commented on #505
Thank you, @sergeant-q!! I'm an idiot and should've read the code more closely!

I think that still makes sense... if a hangout is starting within two hours, people RSVPing to it will know it's starting soon, so probably won't need a reminder. The reminder is mostly necessary for people who've RSVPed to hangouts a day or more in advance and are likely to forget they RSVPed.

Maybe in the future we

[2017-05-18 04:28] sergeant-q commented on #505
@lpatmo I think people will read their email before they go into Slack to check. Which is why I like the idea of adding the attendees to the Slack but adding the email reminder is a great idea.

[2017-05-22 09:24] lpatmo opened #511 "Migrate our database from mLab to Atlas"
Differences between mLab and Atlas:
http://www.technowise.in/2016/12/mongodb-atlas-vs-mlab.html

(Note: Atlas now has a free tier!)

Just opening this issue as a placeholder. @distalx suggested this and is lead on it.

[2017-05-24 02:48] lpatmo opened #512 "Rename the #general channel to be called #announcements"
When this change is made in the CodeBuddies Slack, `"slack_alert_channel": "#general",` in the settings-production.json file on the prod repository will also need to be changed.

[2017-05-24 15:32] morrme commented on #512
Should this be scheduled to happen at a certain time? Who has rights to make the slack channel name changes?

[2017-05-24 17:39] lpatmo commented on #512
@morrme All the core contributors on https://codebuddies.org/about have the rights, but if we make the #general name before changing the settings-production.json file in prod the Slack alert notifications will break. Haven't decided when the time would be yet! Maybe sometime tonight...

[2017-05-25 03:07] lpatmo commented on #512
I probably should've clarified there'll still be a #general channel; there'll just be a new #announcements channel as well, since it was widely requested!

[2017-05-25 05:51] #505 closed

[2017-05-25 08:35] #512 closed

[2017-05-25 19:25] wuworkshop commented on #440
Closing this issue since slackarchive.io has been set up.

[2017-05-25 19:25] #440 closed

[2017-05-27 00:45] #495 closed

[2017-05-27 00:46] #491 closed

[2017-05-28 19:01] grfraser opened #516 "Smooth out the hangoutcards w/ border radius"
Do you want to request a feature or report a bug?
**Feature**
What is the current behavior?
**Square**
What is the expected behavior?
**Smooth Square**
Which browser / OS are affected by this issue? (An *isolated* way to reproduce the bug)
**All**

[2017-05-28 19:02] grfraser commented on #516
Already finished editing- looks great, going to git push and submit a PR.
<img width="879" alt="screen shot 2017-05-28 at 1 57 29 pm" src="https://cloud.githubusercontent.com/assets/27697439/26531416/413bb50c-43ae-11e7-8a75-022b3305d090.png">

[2017-05-28 19:17] grfraser commented on #516
6px
<img width="469" alt="screen shot 2017-05-28 at 2 15 54 pm" src="https://cloud.githubusercontent.com/assets/27697439/26531520/66591152-43b0-11e7-9ac5-ef86d9ff0dfd.png">
<img width="946" alt="screen shot 2017-05-28 at 2 16 33 pm" src="https://cloud.githubusercontent.com/assets/27697439/26531522/68ea6da8-43b0-11e7-8d16-f04c0f19fbf2.png">
<img width="1217" alt="screen shot 2017-05-28 at 2 16 49 p

[2017-05-28 19:20] grfraser commented on #516
4px
<img width="539" alt="screen shot 2017-05-28 at 2 19 28 pm" src="https://cloud.githubusercontent.com/assets/27697439/26531538/bfd23542-43b0-11e7-8e00-9bb714d43051.png">
<img width="977" alt="screen shot 2017-05-28 at 2 19 39 pm" src="https://cloud.githubusercontent.com/assets/27697439/26531539/c312b8b2-43b0-11e7-8e7d-b1aa31536498.png">
<img width="1181" alt="screen shot 2017-05-28 at 2 19 48 p

[2017-05-28 19:22] grfraser commented on #516
10px
<img width="483" alt="screen shot 2017-05-28 at 2 22 18 pm" src="https://cloud.githubusercontent.com/assets/27697439/26531552/1f1d5df6-43b1-11e7-9d40-55876c4f22b4.png">
<img width="977" alt="screen shot 2017-05-28 at 2 19 39 pm" src="https://cloud.githubusercontent.com/assets/27697439/26531555/21915998-43b1-11e7-96f3-a2a1804d3ada.png">
<img width="1181" alt="screen shot 2017-05-28 at 2 19 48

[2017-05-28 19:24] grfraser commented on #516
What do you guys think, more or less on the radius pxs?

[2017-05-28 19:29] grfraser opened #517 "Update Button Issue Screen Width: ~1000-1140px"
Do you want to request a feature or report a bug?
**Bug**
What is the current behavior?
**Screwed up**
What is the expected behavior?
**Nice and neat**
Which browser / OS are affected by this issue? (An *isolated* way to reproduce the bug)
**All most likely although I am using Chrome**

[2017-05-28 19:29] grfraser commented on #517
<img width="1121" alt="screen shot 2017-05-28 at 2 26 56 pm" src="https://cloud.githubusercontent.com/assets/27697439/26531617/0b3f7174-43b2-11e7-9755-ce299f1d81f1.png">
<img width="355" alt="screen shot 2017-05-28 at 2 27 04 pm" src="https://cloud.githubusercontent.com/assets/27697439/26531619/0d780b5e-43b2-11e7-9ce9-1b339c942676.png">

[2017-05-28 20:00] lpatmo commented on #516
My vote for is for 4pm (same as on the search box radius), for consistency.

[2017-05-28 21:55] osanseviero commented on #516
I agree with 4.The consistency looks better.

[2017-05-30 15:33] labanch commented on #466
Hello @lpatmo, has this issue been resolved? If not, I'd like to give it a go.

[2017-06-03 08:40] lpatmo opened #520 "Dependencies upgrade"
Opening this issue so that the PR https://github.com/codebuddiesdotorg/codebuddies/pull/519/files has a matching issue thread.

[2017-06-08 01:48] distalx commented on #492
@lpatmo can this be closed?

[2017-06-08 02:01] lpatmo commented on #492
Yes, thanks, closing!

[2017-06-08 02:01] #492 closed

[2017-06-08 02:43] distalx commented on #490
I'm going to give it a try.

[2017-06-15 22:07] wuworkshop commented on #517
Just to add that this is also happening in Firefox 53 on Mac OSX, so this most likely happening in all browsers.

[2017-06-16 03:20] lpatmo commented on #517
Thanks for looking, @wuworkshop!

[2017-06-18 19:06] lpatmo opened #522 "Show link to Jitsi hangout on the page itself, if there are connectivity issues"
Jitsi sometimes has connectivity issues, and users will see a grey box instead of the Jitsi hangout screen loading.

If it's possible, we should try to post the link of the Jitsi meetup (e.g. ```Having connectivity issues? Join https://meet.jit.si/cbR3Q5ByHkqgzggNzX4```) at the top of the page.

[2017-06-19 06:34] #490 closed

[2017-06-22 03:29] lpatmo commented on #522
I'll take this issue.

[2017-06-24 08:00] lpatmo opened #524 "Organize a better Table of Contents structure for new CodeBuddies Contributor/Developer Docs"
Major kudos to @distalx for suggesting that we should have a separate repository to hold our docs, and for suggesting using gitbook.

Here's our Gitbook (soon to be located at docs.codebuddies.org once DNS records refresh): https://codebuddiesdotorg.gitbooks.io/documentation/content/

As you can see, it's very reader-friendly (and definitely a lot more reader-friendly than scrolling through a `.md

[2017-06-25 00:53] #522 closed

[2017-06-25 00:56] lpatmo opened #525 "Possible bug: Time on hangouts sometimes inexplicably changes"
If you've noticed this problem on hangouts you've scheduled on codebuddies.org, please leave a comment.

The time on scheduled hangouts sometimes inexplicably changes to be 24 hours in advance, etc.

[2017-06-28 18:21] akosasante commented on #517
I'd like to take a look at this today if no one is already working on it?

[2017-06-28 18:32] lpatmo commented on #517
@akosasante Go for it!

[2017-06-30 13:46] stain88 commented on #517
Can i be picky and ask for a re-open? Looking at this on stage at a width of 992-1016px, the "I'm working on..." and "Today I learned..." tabs have a different height:
<img width="170" alt="screen shot 2017-06-30 at 14 39 21" src="https://user-images.githubusercontent.com/8461452/27738098-5a81f978-5da2-11e7-831a-7979f6a66b7b.png">

When "Today I learned..." is active, this is from 992-1037px. A si

[2017-06-30 15:01] akosasante commented on #517
Looks like "I'm working on" is one character longer, and gets pushed to a second line; can we just remove the space between "on" and the ellipses? Or is that too fragile/not proper fix?

[2017-06-30 15:05] stain88 commented on #517
That doesn't work if "Today I learned …" is active, I'm afraid

[2017-06-30 15:44] akosasante commented on #517
Ah, right I see.

We could do some combination of reducing the left/right padding in those tabs and/or reducing the font-weight of the active tab.

(Can I reopen this to make a fix [if so, how?], or do I just make a new PR pointing to this same Issue #?)

[2017-06-30 16:04] stain88 commented on #517
Just reducing the left/right padding is good enough, in my opinion. Not sure about protocol for reopening after a merge, so I'd wait for @lpatmo to answer that.

[2017-07-01 00:51] lpatmo commented on #517
Thanks for noticing and flagging, @stain88.

@akosasante A new PR pointing to this same issue would be great, if you're up for it.

[2017-07-01 01:54] akosasante commented on #517
Do we generally prefer to keep things on a px basis, or would it make sense to use rem units here?

[2017-07-01 17:52] lpatmo commented on #517
`rem` is fine. (We should probably switch over `px` to `em` `rem` in general, but that's a later bug.)

[2017-07-02 01:47] #517 closed

[2017-07-04 02:27] wuworkshop commented on #524
@lpatmo uh, shouldn't this issue be part of the documentation repo? 😅

[2017-07-04 06:29] arturolei opened #531 "Hangout Screen Button Says "Click To Load Hangout" (Clicking Button Does Not Work Till RSVP)"
In order to join a hangout, you must RSVP, but the hangout confusingly displays "Click to load hangout" (which does not work/load hangout unless you RSVP).

[2017-07-06 06:37] lpatmo commented on #531
Valid bug. Thanks for filing, @arturolei.

[2017-07-06 07:13] lpatmo opened #532 "staging.codebuddies.org bug: when logged out, list of hangouts aren't available"
When I'm logged out while on staging.codebuddies.org, the list of hangouts on staging.codebuddies.org/hangouts aren't available.

This is related to PR https://github.com/codebuddiesdotorg/codebuddies/pull/530, so it's a permissions issue somewhere.

[2017-07-07 06:24] #531 closed

[2017-07-07 06:25] #532 closed

[2017-07-11 08:35] lpatmo commented on #497
`Release` is now `Staging` (heh, sorry) and the docs have been updated at docs.codebuddies.org.

[2017-07-11 08:35] #497 closed

[2017-07-16 07:06] lpatmo opened #539 "Update Github links everywhere"
Links on the site (and in our contributing.md) still point to https://github.com/codebuddiesdotorg/cb-v2-scratch; we should make it point to https://github.com/codebuddiesdotorg/codebuddies.

Right now there's an automatic redirect so there's no breakage, but we should make the link consistent with the new github URL.

This is a `good-for-beginners` issue. :)

[2017-07-23 19:08] lpatmo opened #541 "Add a link to medium.com/codebuddies on the footer"
Below "FAQ", let's add a link to our Medium publication at medium.com/codebuddies.

![screen shot 2017-07-23 at 12 08 02 pm](https://user-images.githubusercontent.com/4512699/28502090-a7e2a56e-6f9f-11e7-9cb7-31bb89997542.jpg)

[2017-07-25 04:36] valishah commented on #541
Hi @lpatmo, I'm a first time contributor . Would love to be part of the community . Can you help me to understand the requirement. If i'm not wrong we should be having one more label that says Medium and should be redirecting to medium publication ? Am i correct ?

[2017-07-25 05:23] valishah commented on #453
Hi @lpatmo . As per my understanding , After opening the post page instead of "Click to load hangouts " we should check the time that the hangout is scheduled for and show the timer accordingly. Can i take care of this ?

[2017-07-26 07:40] #541 closed

[2017-07-26 07:43] lpatmo commented on #541
@valishah Yes, you were right! Sorry I didn't make the issue clearer. (I added the word "Publication" to it, but that was it.)

We're actually working on docs.codebuddies.org -- which is unfinished so it's not live on our README.md yet, but feel free to take a look, and let me know if you have any questions! Also: have you joined the CodeBuddies Slack? You can stay up to date on project status or

[2017-07-27 04:43] #539 closed

[2017-07-27 04:55] lpatmo opened #543 "Jitsi hangout iframe broken"
![screen shot 2017-07-26 at 7 35 08 pm](https://user-images.githubusercontent.com/4512699/28654951-130d037a-724d-11e7-8b79-161c5c1e9af9.jpg)

[2017-07-27 04:58] #543 closed

[2017-08-05 17:07] lpatmo opened #546 "[Beginners] Add link to Open Collective in footer"
Let's add a link to our Open Collective (opencollective.com/codebuddies) below the "Medium Publication" link.

![screen shot 2017-08-05 at 10 05 22 am](https://user-images.githubusercontent.com/4512699/28997299-d58647c0-79c5-11e7-92f6-a3ec58736b60.jpg)

[2017-08-05 17:37] lpatmo opened #547 "Redesign of /hangouts page"
Some things to consider:
- hangout cards hard to read in blocks of 3
- Is the learnings/"current status" section on the right taking up too much space, especially if it's not being used very often?
- Should the list of study groups (currently on the very left in the `red-zebra` branch take its place?

[2017-08-06 00:38] alesfer001 commented on #546
WIP

[2017-08-20 05:44] arturolei opened #549 "End Hangout Button Grammar"
When you end a hangout, an alert box pops up. The option to end the hangout reads "Yes end it!"; there should be a comma between "Yes" and "end it".

[2017-08-21 07:18] arturolei commented on #549
I'm working on the issue.

[2017-08-22 03:27] #549 closed

[2017-08-22 03:29] lpatmo opened #551 "Forum (Discourse)"
Suggested by @sergeant-q: a forum.codebuddies.org, hosted using Discourse.

Relevant: https://www.digitalocean.com/products/one-click-apps/discourse/

Question for folks:
1) Would you join?
2) What categories/tags should we have on the forum? (e.g. AMA, Jobs, Coding-Help, etc.)

[2017-08-22 03:48] sergeant-q commented on #551
A few more benefits to highlight:

- saved chat/discussion history
- easily searchable data
- topic based discussions ( great for knowledge sharing. Focused and organized discussions)
- CB will own the data and saved long-term
- Better sense of community and engagement
- Continue to grow the amazing community our members have helped build to share and teach their knowledge in a friendly environmen

[2017-08-24 04:36] #546 closed

[2017-08-24 04:38] lpatmo commented on #443
Update:
1. Jitsi is integrated!
2. Adding in mocha tests is still a TODO.

Let's punt on ReactJS.

[2017-08-25 06:15] lpatmo commented on #417
I think we can close this issue, since users now get a 2-hour Slack @mention in the #announcements channel if they've RSVPed to a hangout.

Users are also likely to check email, so in the future, we'll have an email reminder notification. This feature has been noted in https://github.com/codebuddiesdotorg/codebuddies/projects and I will file an individual bug for it soon.

Thanks @nehalita and @Be

[2017-08-25 06:15] #417 closed

[2017-08-25 06:15] lpatmo commented on #524
Heh, yes! Thanks @wuworkshop, and am going to close this since docs.codebuddies.org now has a better outline/structure.

[2017-08-25 06:15] #524 closed

[2017-08-25 06:16] lpatmo commented on #547
Note: the redesign of codebuddies.org/hangouts is up for discussion. :)

[2017-08-25 06:21] lpatmo commented on #499
There is now a link that opens up a new containing the Jitsi hangout that appears above the embedded hangout; I believe that it satisfies this feature request.

[2017-08-25 06:21] #499 closed

[2017-08-25 06:23] lpatmo commented on #511
I met an employee who worked at Atlas about a month ago who mentioned that Atlas has a free plan for early-stage startups: https://www.mongodb.com/startup-accelerator. I asked them if the plan could apply to free open-sourced projects as well, and they weren't sure, so I have to follow up and ask again. :)

[2017-08-25 06:24] lpatmo commented on #466
@dantesolis @labanch Do either of you still want to take on this issue (creating a couple of screenshots and adding them to an answer in the FAQ)? Let me know if you have questions!

[2017-08-25 06:26] lpatmo commented on #364
Wow, this thread! :) We've successfully implemented Jitsi and have been using it for a couple of months, now, so am closing.

[2017-08-25 06:26] #364 closed

[2017-08-25 06:26] #461 closed

[2017-08-25 06:27] #455 closed

[2017-08-25 06:30] lpatmo commented on #371
I'm going to close this issue, since:
- users are able to join the Jitsi hangout before the official start of the hangout now, and use the chat interface to chat
- user RSVPs to a hangout are publicly displayed in the #announcement alert and folks can follow up individually with other participants pretty easily; no need to do a lot of work to build a group chat integration, I think.

Thanks for al

[2017-08-25 06:30] #371 closed

[2017-08-25 06:30] #321 closed

[2017-08-25 07:10] lpatmo opened #552 "Email notifications: send email reminders with Sparkpost"
- Send a reminder email after a user RSVPs to a hangout, 24 hours before the hangout starts
- Send a reminder email after a user RSVPs to a hangout, 2 hours before the hangout starts
- Send a followup email to attendees of a hangout after the hangout ends, to remind them to share what they learned

//Reminders
SUBJECT: Reminder: {{ hangout_topic }}

The hangout titled: <strong><a href="{{hangout_u

[2017-08-25 14:24] angelocordon commented on #551
Questions:

+ Would having a separate forum pull people away from the Slack channel?
+ Would core members of the community feel overwhelmed with having to cultivate the community in two separate platforms?

For what it's worth, I don't necessarily think it's a bad idea nor am I a huge member of the community so I don't have much weight on this :) Just wanted to throw out some thoughts out there so

[2017-08-25 16:39] dantesolis commented on #466
@lpatmo sorry yes, I would like to claim it and I'll work on it this weekend. Sorry for the slow replay and slow working on it.

[2017-08-26 03:01] lpatmo commented on #551
Those are legitimate questions, @angelocordon! Thanks for contributing your thoughts. Here are my opinions:

Possibly, but I think Slack still gives us the benefit of immediacy and private DMs, which Discord lacks. We're definitely not proposing a full-scale migration from Slack to Discord, but there might be benefits to having a space where our data will be better archived (since we'll own it, in

[2017-08-26 03:07] lpatmo commented on #551
Another thought is: there are quite a lot of people who just don't seem to click with the idea of using Slack; they'll join, and never return. And so maybe these folks will like a forum better (or at least get more benefit out of being able to read archives). And maybe we'll end up with primary Slack-focused users, primary forum-focused users, and primary-hangout participants. Just guessing!

[2017-08-26 08:39] lpatmo opened #554 "Give users a textbox to input a google hangout link which will replace the embedded Jitsi hangout on the page"
The elephant in the room: Google Hangout is more stable than Jitsi, at least with screensharing.

Because Google Hangout deprecated their API back in March 2017, we have no way of POSTing a hangout URL to our app.

However, users can still click on the google hangout button that we provide at the bottom of posts and generate a hangout -- and copy/paste the link of that generated hangout into the d

[2017-08-26 08:40] lpatmo commented on #466
Thanks @dantesolis!

[2017-08-26 08:41] #30 closed

[2017-08-27 05:21] sergeant-q commented on #552
Why are we moving away from mailgun?

[2017-08-27 05:22] sergeant-q commented on #547
I think the learnings/current status doesn't seem very useful at this point. I don't believe it's a feature largely used by anyone today.

[2017-08-27 07:25] lpatmo commented on #552
Mailgun was failing to send emails at all because I couldn't get the DNS settings to verify. I wanted to use Sparkpost mostly because I wanted to get more familiar with it -- and actually also couldn't get the DNS settings to verify at first, but finally was able to verify it by sending an email to a codebuddies.org email domain.

Other than that, I don't have a *terribly* good reason for moving a

[2017-08-27 15:01] sergeant-q commented on #552
Good deal. Sparkpost seems developer friendly.

[2017-09-02 02:47] lpatmo commented on #80
I started working on a redesign of the hangout post page.

Here's what it currently looks like:
![cb_hangout_old](https://user-images.githubusercontent.com/4512699/29992335-424bfcb8-8f4e-11e7-9554-2bdb0b767f91.png)

Here's the redesign:
![cb_hangout_redesign1](https://user-images.githubusercontent.com/4512699/29992326-1c320bf8-8f4e-11e7-90bc-81add69affc2.png)
![cb_hangout_redesign2](https://user-i

[2017-09-02 03:20] sergeant-q commented on #80
@lpatmo I think this design looks great!

[2017-09-02 19:52] lpatmo commented on #80
Thank you @sergeant-q! :) I got some feedback that the Jitsi preview/diagram was too busy/distracting/had too many words, so here is another update to the design:

![cb_hangout_redesign5](https://user-images.githubusercontent.com/4512699/29998354-a015b41c-8fdd-11e7-90ba-baf1afd47693.png)

[2017-09-04 02:28] #348 closed

[2017-09-04 02:32] lpatmo commented on #443
We're going to do a hangout on this sometime.

[2017-09-04 03:40] #213 closed

[2017-09-04 03:41] #203 closed

[2017-09-04 03:43] #144 closed

[2017-09-04 03:44] lpatmo commented on #143
A note: we can also use Slack API events to send email signups on Slack directly to Mailchimp (or Sparkpost) for newsletter sends.

[2017-09-04 03:47] lpatmo commented on #216
@distalx I believe we still have to manually renew ssl certificates every six months by logging into our DigitalOcean droplet, right?

[2017-09-04 03:48] #99 closed

[2017-09-04 03:54] #162 closed

[2017-09-04 03:56] distalx commented on #162
Right now we are using a sandbox db at MLab, and I believe they have already migrated all the sendbox db to WiredTiger.

We should consider switching to shared cluster once we go live !

[2017-09-04 03:58] lpatmo commented on #34
Punting this because we have search, and also (coming soon) the ability to organize hangouts by study group.

We might reconsider implementing a tagging system if the traffic for hangout increases a lot, and it's harder to search for relevant hangouts. But I don't think this feature is priority now.

[2017-09-04 03:59] #14 closed

[2017-09-04 03:59] #53 closed

[2017-09-04 04:00] #62 closed

[2017-09-04 04:02] lpatmo commented on #86
I think we can roll this onto our Discourse forum (a "show and tell" thread, where other folks can leave feedback/comments/encouragement) instead of storing it on the hangouts site or on Slack.

[2017-09-04 04:02] #86 closed

[2017-09-04 04:02] #76 closed

[2017-09-04 04:06] lpatmo commented on #87
Closing this. In Study Groups, people will be able to add links/resources to groups.

We'll also discuss resource recommendations on the Discourse forum.

[2017-09-04 04:06] #87 closed

[2017-09-04 04:09] lpatmo commented on #316
I think it makes more sense to "subscribe" to new hangouts created within a study group, rather than to subscribe to specific users. Closing this.

[2017-09-04 04:09] #316 closed

[2017-09-04 04:12] lpatmo commented on #552
See: https://github.com/codebuddiesdotorg/codebuddies/pull/555

[2017-09-04 04:15] lpatmo commented on #466
@dantesolis Do you have any questions about the issue?

[2017-09-04 04:20] lpatmo opened #558 "STUDY GROUPS: Ability to subscribe to new hangouts created within a study group via email notifications"
Note: study groups feature is currently in the `red-zebra` branch under PR review.

Let's start working on this feature after https://github.com/codebuddiesdotorg/codebuddies/pull/555 is merged.

[2017-09-04 04:22] lpatmo opened #559 "STUDY GROUPS: Add search feature to /study-groups"
People should have the ability to search for groups on /study-groups.

See: http://staging.codebuddies.org/study-groups

[2017-09-04 04:27] lpatmo commented on #72
UPDATE: new docs are now at `docs.codebuddies.org`. Please let us know if you'd like to help contribute to it! https://github.com/codebuddiesdotorg/documentation

[2017-09-04 17:16] lpatmo opened #560 "STUDY GROUPS: small problem with z-index while on the home page editing a hangout. (See Screenshot)"
See: labels from the cards on the homepage below appear when popup is open.

![screen shot 2017-09-03 at 9 13 11 pm](https://user-images.githubusercontent.com/4512699/30034993-41979ec2-915a-11e7-96f9-da901797ebf9.jpg)

[2017-09-04 18:30] lpatmo opened #561 "Is it possible to have automatically triggered builds for new branches on forked repos? (CI for forked projects)"
Came up in discussion during Labor Day sprint hangout. It'd be nice if branches contributors pushed up triggered an automatic build of tests. cc @sergeant-q

[2017-09-06 05:04] lpatmo commented on #560
Fixed in 645a8ad. Will be merged in as part of PR https://github.com/codebuddiesdotorg/codebuddies/pull/557.

[2017-09-06 05:04] #560 closed

[2017-09-06 05:06] lpatmo commented on #89
Note: started a new branch for unit tests in `issue-89-tests`.

[2017-09-09 23:46] lpatmo opened #563 "STUDY GROUPS: Feature Feedback"
Would appreciate any feedback on the new study groups feature found now on http://staging.codebuddies.org.

Please leave your feedback as a comment here, or on Slack in the #codebuddies-meta channel.

INSTRUCTIONS:
1. Log in to http://staging.codebuddies.org
2. Create a new study group, edit the description, and add some links to it under the "Resources" tab.
3. Join an existing study group

QUEST

[2017-09-09 23:47] #80 closed

[2017-09-10 00:06] lpatmo commented on #563
Some ideas:
- Add a number next to the (Links) tab so we know how many links are a part of the group
- Add a number next to the (Members) tab so we have a count of the total number of members in the group
- Allow members to subscribe to email notifications for the group whenever a new hangout is scheduled as part of the group (https://github.com/codebuddiesdotorg/codebuddies/issues/558)
- Maybe we

[2017-09-10 06:07] osanseviero commented on #563
I would change the "links" tab to "resources". Sounds fancier.

[2017-09-10 12:31] tonypnode commented on #563
Looks great!

When trying to add a new study group I didn't put in a tag line. The only indication of the error was a flash message that said "Study Group Name". You could put a more detailed error notifying the user that a tag line is required. Or place a "required" indicator next to the Tag field.

[2017-09-10 12:41] tonypnode commented on #563
Also, not sure if it was because I was the only one in the hangout, but while entering text into the jtsi chat... nothing happened when I pressed enter. The message did not appear in the chat log.

Idea - (Not sure if it's already there or not) Audible/visual notification of member joining Jitsi hangout
 - If I am the only person in the hangout, I will be working on my project or looking at differ

[2017-09-10 18:58] lpatmo opened #564 "STUDY GROUPS: Change the "links" tab to "resources". Sounds fancier. 👍 1"
Suggested by @osanseviero in https://github.com/codebuddiesdotorg/codebuddies/issues/563.

[2017-09-10 18:59] lpatmo opened #565 "STUDY GROUPS: more descriptive error message for required tagline"
Suggested by @tonypnode:

[2017-09-10 19:01] lpatmo opened #566 "STUDY GROUPS: Add number counts next to members and resources"
Add a number next to the (Links) tab so we know how many links are a part of the group.

Add a number next to the (Members) tab so we have a count of the total number of members in the group.

[2017-09-10 19:05] lpatmo commented on #563
Thanks @osanseviero and @tonypnode! :) I've filed all of our suggestions as issues:

https://github.com/codebuddiesdotorg/codebuddies/issues/564 - "Resources" instead of links
https://github.com/codebuddiesdotorg/codebuddies/issues/565 - more descriptive error message for required tagline
https://github.com/codebuddiesdotorg/codebuddies/issues/566 - add number counts next to "members" and "resourc

[2017-09-10 20:41] tonypnode commented on #563
using, Safari 10.1.2 on MacOS 10.12.6.

Re:Re visual notifs - that makes sense. Sounds like the feature is already there.

[2017-09-10 21:13] #566 closed

[2017-09-10 21:13] #564 closed

[2017-09-10 21:13] #565 closed

[2017-09-10 21:17] lpatmo commented on #563
@tonypnode Got it; did you see a warning about using Chrome or Firefox? (See screenshot below.) I wonder how we can edit that message so that it's clearer that using Jitsi in other browsers like Safari might result in problems.

![screen shot 2017-09-10 at 2 05 06 pm](https://user-images.githubusercontent.com/4512699/30253064-6e181602-9632-11e7-8ae3-701d01365cff.jpg)

By the way, I've merged in so

[2017-09-10 21:17] osanseviero commented on #563
I'm not able to create a study group from the my study groups page. The button does not seem to respond. I don't have this problem when clicking in + > new study group.

[2017-09-10 21:19] osanseviero commented on #563
Some additional feedback.
<img width="1093" alt="screen shot 2017-09-10 at 14 18 39" src="https://user-images.githubusercontent.com/7246357/30253084-00091552-9633-11e7-85e2-77196fe3b853.png">

For good user experience, try to contain things were they belong. Here the website is giving feedback on the form outside the modal, which seems a bit messy. This could potentially cause a11y issues as well.

[2017-09-10 21:21] lpatmo commented on #563
@osanseviero You were on https://staging.codebuddies.org/study-groups, and clicking on the "+" icon in the nav to create the study group? What browser are you using? There were some fixes deployed to the staging site a few minutes ago, which might've interfered with the website at that point.

[2017-09-10 21:22] osanseviero commented on #563
@lpatmo  Nope. In My Study Groups page, when you haven´t joined a study group yet, there was a button to join a study group and one to find a study group. Neither of these buttons worked.

[2017-09-10 21:24] osanseviero commented on #563
Sorry for multiple comment, I'm trying to provide feedback on issues separately. How can I exit a study group?

[2017-09-10 21:24] tonypnode commented on #565
Looks good!

A minor thing...The flash message pops up behind the "add new study group" dialog. Not sure if you can change the zed of that message.

<img width="861" alt="screen shot 2017-09-10 at 5 18 20 pm" src="https://user-images.githubusercontent.com/20878906/30253117-a412dff2-964c-11e7-8730-ce633ce34152.png">

[2017-09-10 21:26] lpatmo commented on #563
No worries, thanks for the feedback! To leave a study group, there is a button that you can click on:

![screen shot 2017-09-10 at 2 24 33 pm](https://user-images.githubusercontent.com/4512699/30253144-ed52d73a-9633-11e7-9b99-9eae6a6d76aa.jpg)

[2017-09-10 21:29] tonypnode commented on #563
@lpatmo . I didn't see the warning haha.. sorry. Chat works just fine in FF.

[2017-09-10 21:29] lpatmo opened #568 "Show form error messages inside modal, not outside of it"
Good feedback from @osanseviero:

![image](https://user-images.githubusercontent.com/4512699/30253161-5a137622-9634-11e7-93c0-217cf38da3c1.png)

For good user experience, try to contain things were they belong. Here the website is giving feedback on the form outside the modal, which seems a bit messy. This could potentially cause a11y issues as well.

[2017-09-10 21:29] osanseviero commented on #563
Oh, I'm blind!

Ok, so I was worried about this. As a tip, maybe pagination could work for the activity, and give it in reverse order.

<img width="459" alt="screen shot 2017-09-10 at 14 28 22" src="https://user-images.githubusercontent.com/7246357/30253165-686c2836-9634-11e7-96b8-8076ef964a39.png">

[2017-09-10 21:33] osanseviero commented on #563
Also, I'm really curious about the 24/7 hangouts. It seems really interesting and with high potential, but I do see cases where the organizers simply don't want that feature in their study group. Maybe there should be an option to add or remove the 24/7 hangouts?

What user scenarios do you see for the 24/7?

[2017-09-10 21:36] lpatmo opened #569 "STUDY GROUPS: Add pagination and reverse the order of listings on "Activity" tab"
Feedback from @osanseviero: As a tip, maybe pagination could work for the activity, and give it in reverse order.

![image](https://user-images.githubusercontent.com/4512699/30253216-720c6314-9635-11e7-8461-4f8f32e8dd4c.png)

[2017-09-10 21:40] osanseviero commented on #563
+bug

I already left a study group but it still appears in my study groups
<img width="1271" alt="screen shot 2017-09-10 at 14 39 44" src="https://user-images.githubusercontent.com/7246357/30253244-ff1db870-9635-11e7-9482-79d2be9a7971.png">
<img width="976" alt="screen shot 2017-09-10 at 14 39 58" src="https://user-images.githubusercontent.com/7246357/30253243-ff1a8c36-9635-11e7-923b-9f27745886ea.

[2017-09-10 21:49] lpatmo commented on #563
Man, I wish Github had "nested replies" as a feature on issue threads. Thanks guys for all this great feedback -- and btw, if you want to create a new issue starting with "STUDY GROUPS" in the subject line instead of posting it as a comment here, feel free to do so! Otherwise, I'll continue to copy/paste comments here into new issues.

Good question! :D A couple of cases:
- It takes a bit of organ

[2017-09-10 21:51] lpatmo opened #570 "STUDY GROUPS: Bug -- study groups I've left should not continue to appear in /my-study-groups list."
Thanks to @osanseviero for reporting!

[2017-09-10 21:54] lpatmo opened #571 "STUDY GROUPS: Bug -- sweetAlert error modals hidden behind "create hangout" modal"
Just discovered this. Need to fix z-index.

[2017-09-10 22:01] #571 closed

[2017-09-10 23:03] #570 closed

[2017-09-10 23:06] lpatmo opened #574 "STUDY GROUPS: Fix the buttons on the /my-study-groups page when user has not joined any groups"
Cleanup needed here:

![screen shot 2017-09-10 at 4 05 36 pm](https://user-images.githubusercontent.com/4512699/30253839-ed502b12-9641-11e7-8496-01a061ee2e12.jpg)

Thanks to @osanseviero for reporting on the https://github.com/codebuddiesdotorg/codebuddies/issues/563 thread.

[2017-09-10 23:14] osanseviero commented on #563
Ok, I understand better the feature now.

As I see it, if there's a study group like "JavaScript Learners", the 24/7 hg makes sense. If there´s a group like "Weekly Pythonic Review", or something that has a "fixed" schedule (e.g. weekend hackathon), they might not see much use for the 24/7 hg. Just my two cents. You're the one that has much more experience in the platform and the use of the hangou

[2017-09-10 23:39] lpatmo commented on #563
I think even if a group like "weekly python review" or "weekend civic hackathon" has a habit of meeting formally for a hangout only once a week, group members might still end up doing "homework" or spend some time related to the project beyond the weekly meeting time -- and so might find having a 24/7 space to chat or jump on for a spontaneous screenshare useful.

[2017-09-10 23:46] lpatmo commented on #574
New screenshot:
![screen shot 2017-09-10 at 4 43 29 pm](https://user-images.githubusercontent.com/4512699/30254069-a1747846-9647-11e7-9ce5-60f360a41a6d.jpg)

[2017-09-10 23:50] tonypnode opened #576 "STUDY GROUP: Change redirect on study group "hang up""
Clicking the "Hangup" button in the Jitsi study group redirects the user to https://meet.jit.si/.

If possible, it would be nice if it redirected back to the study group page.

[2017-09-11 00:13] #574 closed

[2017-09-11 00:22] lpatmo commented on #576
@tonypnode Thanks for filing! You mean redirect back to /study-groups, right?

According to https://github.com/jitsi/jitsi-meet/blob/master/doc/api.md, I think the event listener we want is `readyToClose`. Will look into this.

[2017-09-11 00:40] lpatmo commented on #576
Ok, turns out it wasn't too difficult to do the redirect. Code is client/templates/hangout/hangout-frame.js, and will submit a PR:

[code]
Thanks again for the suggestion!

[2017-09-11 00:41] #576 closed

[2017-09-11 01:13] arturolei commented on #563
There does not readily appear to be a way to alter or change Study Group name; this feature might be needed in the future.  Also, unclear is how to leave or rejoin a study group.

One other suggestion: when you click on a study group page, maybe the 24/7 hangout should not be the first tab open. The first tab open should be one that contains general information. In fact, it's hard to see the descr

[2017-09-11 01:20] #569 closed

[2017-09-11 01:33] lpatmo opened #579 "STUDY GROUPS: Allow admins/moderators to edit the title and tagline of a study group"
Thanks to @arturolei for reporting this in https://github.com/codebuddiesdotorg/codebuddies/issues/563! Can't believe we forgot about this. -_-

[2017-09-11 01:35] lpatmo opened #580 "STUDY GROUPS: move "description" up as a tab so it's more easily seen, and make 24/7 hangout the second tab"
@arturolei: "One other suggestion: when you click on a study group page, maybe the 24/7 hangout should not be the first tab open. The first tab open should be one that contains general information. In fact, it's hard to see the description of the group. Perhaps, there should be a splash/landing page that is not a 24/7 hangout."

[2017-09-11 01:51] arturolei opened #581 "Study Groups: Join/Leave from "My Study Groups" Page"
A drop-down menu on the listings where you could join/leave shown on "My Study Groups" page would be nice.

[2017-09-11 02:10] arturolei opened #582 "Study Groups: Members Tab and Easier Member Mgmt"
There should be an easier/more intuitive layout from the Members tab for adjusting member roles (e.g. admin or member). Take as a model, this shot from FB; clicking on the "modifica" button lets you instantly edit member roles.
![screen shot 2017-09-10 at 6 30 06 pm](https://user-images.githubusercontent.com/4889231/30255900-97e77cce-965b-11e7-83b0-90ffe204a363.png)

[2017-09-11 02:17] #580 closed

[2017-09-11 02:21] lpatmo commented on #582
Good suggestion, @arturolei!

Here is the old view:
![screen shot 2017-09-10 at 7 21 03 pm](https://user-images.githubusercontent.com/4512699/30256133-40a88910-965d-11e7-8d89-b262a02b12b1.jpg)

[2017-09-11 04:29] osanseviero commented on #563
I agree with @arturolei that it isn´t clear how to leave a group. I know that the button is right there, but maybe changing the color to red or putting it in another place might be better.

[2017-09-11 04:32] osanseviero opened #584 "STUDY GROUPS: Messy study groups dashboard"
<img width="1001" alt="screen shot 2017-09-10 at 21 30 28" src="https://user-images.githubusercontent.com/7246357/30258580-71da4e76-966f-11e7-895c-1c1f6eebe497.png">

Elements should have the same height, and new elements should go to the left.

[2017-09-11 04:36] osanseviero commented on #584
<img width="963" alt="screen shot 2017-09-10 at 21 36 25" src="https://user-images.githubusercontent.com/7246357/30258649-263055b4-9670-11e7-9fe2-6ec6b972c014.png">

[2017-09-11 04:37] osanseviero opened #585 "STUDY GROUPS: Don't allow to create a study group with the same name"
Self explanatory. I was able to create two study groups with the same name.

[2017-09-11 04:39] osanseviero commented on #563
Sorry, I just saw that there's already an issue for that. I will create some issues for other bugs.

I see your point about the 24/7 hg, @lpatmo. Sounds great. What do you think about the possibility of adding tags to your study groups? Tags like JavaScript, Rails, etc. Even if right now they just work as tags, there could be some interesting possibilities for searching and for connecting with Sla

[2017-09-11 04:42] osanseviero opened #587 "STUDY GROUPS: Creating more study groups"
When I didn't have any study group, I was able to create many without the button disappearing. After changing screens, I'm not able to create a new study group.

There are two possibilities here as I see
- Be sure that the button appears always.
- Remove the button after creating a study group.

I prefer the first option. What do you think?

[2017-09-11 04:49] osanseviero opened #588 "STUDY GROUPS: Downvoting learnings should have a different icon, color, or cue"
Maybe making the icon red?

<img width="675" alt="screen shot 2017-09-10 at 21 47 56" src="https://user-images.githubusercontent.com/7246357/30258879-f1b1c7bc-9671-11e7-91c5-42d8656e132f.png">
<img width="674" alt="screen shot 2017-09-10 at 21 48 09" src="https://user-images.githubusercontent.com/7246357/30258880-f1c5fdb8-9671-11e7-8fe8-a50cf75f5009.png">

[2017-09-11 05:13] lpatmo commented on #587
Makes sense! There should always be a button on the "my study groups" page. Otherwise, it's not entirely clear that to start a new group you'd have to click on the "+" sign on the nav.

[2017-09-11 05:17] osanseviero opened #589 "STUDY GROUPS: Really long name of study group or description"
First of all, I think there should be a char limit in the description just like there is a limit in the learnings. Second of all, the divs should manage better long titles-descriptions, specially for the dashboard screen.

<img width="925" alt="screen shot 2017-09-10 at 22 15 52" src="https://user-images.githubusercontent.com/7246357/30259361-cd7e9984-9675-11e7-910f-cb51de66d8e0.png">
<img width="

[2017-09-11 05:21] osanseviero opened #590 "STUDY GROUPS: End page row width"
I don't know if it was designed to look like it, but, in large screen, I don't like too much that the widths are different. This is a matter of taste, it really depends of what you think.

Here are the two options in small and big screens.

<img width="609" alt="screen shot 2017-09-10 at 22 17 58" src="https://user-images.githubusercontent.com/7246357/30259419-204be1ee-9676-11e7-9a0f-02ca478de091.

[2017-09-11 05:27] lpatmo commented on #590
Agreed -- bottom row should be same width.

[2017-09-11 05:29] osanseviero commented on #589
<img width="1113" alt="screen shot 2017-09-10 at 22 28 57" src="https://user-images.githubusercontent.com/7246357/30259677-760cd862-9677-11e7-8353-75e2d8120f2f.png">

[2017-09-11 05:31] #582 closed

[2017-09-11 05:32] osanseviero opened #591 "STUDY GROUPS: Bug in char count for learnings"
2 bugs in one bundle.

Let's see, first of all, the bug count is the same for both text areas in the learnings site.
<img width="989" alt="screen shot 2017-09-10 at 22 30 14" src="https://user-images.githubusercontent.com/7246357/30259717-be4ead62-9677-11e7-97d2-0b69d21aaff1.png">
If I change the one in the left, the one in the right changes. If I change the one in the right, none change. I think

[2017-09-11 05:37] osanseviero commented on #591
Probably related to this as well, when I'm in the one in the left, and I hit *space*, the focus jumps to the one in the right.
<img width="1049" alt="screen shot 2017-09-10 at 22 36 32" src="https://user-images.githubusercontent.com/7246357/30259857-94ea9e62-9678-11e7-9ecd-594c79493496.png">
<img width="1003" alt="screen shot 2017-09-10 at 22 36 35" src="https://user-images.githubusercontent.com/7

[2017-09-11 05:39] lpatmo opened #592 "STUDY GROUPS: Let owners transfer ownership of study group to another user"
Not sure if this should be a button in the "settings" tab, or if owners should automatically be able to assign "owner" in the members' tab when they click to modify the permissions of other users.

Thoughts?

[2017-09-11 05:39] lpatmo commented on #592
... and I assume there can be only one owner of a study group, but multiple admins and moderators.

[2017-09-11 05:50] distalx commented on #591
I believe if we remove learning box form the left side bar that will resolve this issue.

[2017-09-11 06:24] lpatmo commented on #591
Ha, was just going to say that!

I'm a little partial to the idea of keeping the learnings box on the sidebar so that people can share learnings no matter what tab they're in, but at the very least we definitely shouldn't have two learnings boxes appear when a user is on the "learnings" tab.

[2017-09-11 06:27] lpatmo commented on #587
I will work on this issue.

[2017-09-12 03:34] osanseviero commented on #591
Mmm I don't know. Removing the learning box just in one tab might make the experience inconsistent...I'm not sure that's the best way to fix this. Note: removing it actually fixes the bug. It might be a good way, though.

<img width="1005" alt="screen shot 2017-09-11 at 20 32 10" src="https://user-images.githubusercontent.com/7246357/30307045-779c91ae-9730-11e7-8d0e-8a83e26b3577.png">
<img width="

[2017-09-12 13:00] dantesolis commented on #590
I would go ahead and begin with this one before tackling my other PR as to get reacquainted with the project. If that's ok with you guys. :)

[2017-09-13 04:07] lpatmo commented on #590
@dantesolis I've marked this issue as claimed for you. :) Let us know if you have any questions!

[2017-09-13 04:36] osanseviero commented on #89
I'll drop some resources here if you want to check them

- http://xolv.io/blog-posts/2013/04/end-to-end-testing-for-web-apps-meteor
- https://github.com/xolvio/chimp

[2017-09-13 05:42] osanseviero opened #593 "Feature Request: Datetime of hangout"
Right now the date is in the next format

[Day of week] [Month] [Day] [Year]
[Initial Hour] [Time Zone] - [Month] [Day] [Finish Hour] [Time Zone]
<img width="1038" alt="screen shot 2017-09-12 at 22 41 52" src="https://user-images.githubusercontent.com/7246357/30361396-a0d48136-980b-11e7-8a17-b7d96fa76987.png">

Wouldn't it be better having something not repetitive like:
<img width="1040" alt="scre

[2017-09-13 05:59] #593 closed

[2017-09-13 06:02] osanseviero opened #594 "Design Request: Contrast of Hangout Tips text"
The current text in hangouts tips is a bit hard to read. It's also an a11y issue.

<img width="325" alt="screen shot 2017-09-12 at 23 00 19" src="https://user-images.githubusercontent.com/7246357/30361885-36ff07f6-980e-11e7-8a51-15c260fc9631.png">

The two ways to go are:
- Increase the contrast
- Increase the size

Or both.

The "silent hangout  started by" text is a bit hard to read as well.

[2017-09-13 06:02] osanseviero commented on #594
This is the full screen
<img width="1278" alt="screen shot 2017-09-12 at 23 02 25" src="https://user-images.githubusercontent.com/7246357/30361950-79b245f4-980e-11e7-932c-c3c34628650f.png">

[2017-09-13 06:11] osanseviero opened #595 "Feature Request: Clicking on footer links (FAQ or About Us) Sends to top of the page"
Right now, when clicking on any of this links, the content of the site changes, but we're still in the bottom.

Clicking on FAQ should send to the top of page.

[2017-09-13 06:36] lpatmo commented on #457
Backing up a step:
### Disadvantages of supporting Github signin:
- Slack signin usernames will be lost, AKA no way to tie it to a Github login
- Would be hard to tell who is who on the site, since much of the community/activity exists on Slack (but then again: what if the community moved to the site? Or to a Discourse forum with Github login?)

### Advantages of supporting Github signin:
- easier

[2017-09-13 07:46] lpatmo commented on #591
After thinking about it a bit more, I think we can remove it from the sidebar, so that it'll only show up on the "Learnings" tab.

Question: what do you guys think about renaming "Learnings" to something like "Progress Log"? Do you think it would inspire more people to write about what they learned?

[2017-09-13 08:49] #587 closed

[2017-09-14 04:12] lpatmo opened #597 "Give each group its own "status" area"
When I open up a study group page, it would be nice to see:
- who else is online
- a place to type in my current static status within the study group (e.g. "just starting out with this tutorial", or "on Ch. 5" or "interested in pairing")

This should go in the sidebar.

[2017-09-14 04:13] sergeant-q opened #598 "NEW FEATURE REQUEST- Global Activity Feed"
### Proposal
Replace the existing "**Today I learned**" and "**I'm working on**" section (right side column) with a global activity  "**Twitter like**" feed.

#### Core Requirements (Must)
 - As a user, I should be able to post a new activity via a form on the site
 - Publish activity when users create/join a hangout
 - Publish activity when users report a new learning
#### Extended features (nice

[2017-09-14 04:56] lpatmo opened #599 "STUDY GROUPS: 'Scheduler' tab"
@distalx created a demo of a scheduler that could be helpful for study groups, that'll let users see what days (and times) other people are free, and the overlap between users.

Feel free to play around with the demo here:
https://tan-wombat.herokuapp.com/jam/QPt5tYoTJAawznEEo

![screen shot 2017-09-13 at 9 52 49 pm](https://user-images.githubusercontent.com/4512699/30412739-619346d8-98ce-11e7-9c4

[2017-09-14 19:19] abdulhannanali commented on #563
@osanseviero That would lead to too much noise IMHO though, if we have mail notifications or push notifications they should be enough for alerting the users, from my experience with CodeBuddies the public  rooms on slack are very much for the human discussions. I am in support of having an integration to a Slack Webhook so people can do all type of cool stuff with them and even configure it for th

[2017-09-15 04:44] lpatmo commented on #591
I will take on this issue.

[2017-09-15 05:00] #591 closed

[2017-09-15 05:03] lpatmo commented on #579
I would like to work on this.

[2017-09-15 05:48] #579 closed

[2017-09-15 05:55] arturolei commented on #589
I'm going to work on this.

[2017-09-15 07:24] abdulhannanali commented on #563
### Study Groups Feature feedback
I gave study groups feature a try on [Codebuddies Staging](https://staging.codebuddies.com) and I am excited about it's release and looking forward to try it out in the production and re engage with the wonderful community of code buddies. Study groups  provides an instant way to connect with the people and it can make the new members of the codebuddies community

[2017-09-15 14:00] dantesolis commented on #590
Hey guys, just FYI I finished the changes, committed the changes on my fork, now trying to figure out how to create the PR for `upstream`, but you can already see the changes [here](https://github.com/dantesolis/cb-v2-scratch/commit/7cdb56574d4f04e6a0c71fe62a99444c5e503186).

[2017-09-15 15:58] lpatmo commented on #590
Thanks @dantesolis! I believe if you go to https://github.com/codebuddiesdotorg/codebuddies, you should see a green button that asks if you'd like to submit a PR.

One question, from looking at the diff: why did you remove all the underscores from the imports of the SCSS files in client/css/style.css?

[2017-09-15 16:02] stain88 commented on #590
To be fair, import statements need neither underscores, nor '.scss' at the end: it's magic

[2017-09-15 16:06] lpatmo commented on #590
Oh my god, mind blown! @stain88 You're right; the imports work looking like ```@import 'colors';
@import 'base';``` even though the filenames themselves look like _colors.scss and _base.scss!

[2017-09-15 16:22] stain88 commented on #590
If there's one thing I know, it's how to be lazy and type less...
And just to clarify, "no underscores" means no leading underscores: the ones in the middle of a file name need to stay.

[2017-09-16 13:38] dantesolis commented on #590
I'll go ahead and remove the `.scss`  from the import statement. Thanks @stain88, good eye had forgotten about that.

[2017-09-16 22:21] #590 closed

[2017-09-17 08:58] #552 closed

[2017-09-17 09:04] lpatmo commented on #558
I'd like to work on this.

[2017-09-18 03:36] osanseviero opened #603 "STUDY GROUPS: Margin of owner/member box."
This should be easy for beginners. It's just adding few pixels of margin to the member/owner box at the top.

Current
<img width="326" alt="screen shot 2017-09-17 at 20 34 12" src="https://user-images.githubusercontent.com/7246357/30528422-baa2b148-9be7-11e7-9a63-456b9ed63358.png">
<img width="327" alt="screen shot 2017-09-17 at 20 34 30" src="https://user-images.githubusercontent.com/7246357/3052

[2017-09-18 03:39] osanseviero commented on #587
Could we have this button in /my-study-groups as well?

[2017-09-18 06:22] dantesolis commented on #603
@osanseviero, @lpatmo, may I take this one? Thanks

[2017-09-18 06:46] lpatmo commented on #603
@dantesolis Go ahead, thanks!

[2017-09-18 08:52] lpatmo commented on #551
forum.codebuddies.org is now a thing.

A couple of notes:
- Hosting Discourse on DigitalOcean requires a minimum of $20/month.
- The screenshots on https://www.digitalocean.com/community/tutorials/how-to-use-the-discourse-one-click-application-on-digitalocean are a little outdated; there is a "one-click apps" tab in DigitalOcean that you need to select when you are creating the droplet.
- https://

[2017-09-22 06:16] osanseviero commented on #446
Is there any work being done related to this?

[2017-09-22 06:19] osanseviero opened #605 "Update i18n json for Spanish"
After some months it's outdated.

https://github.com/codebuddiesdotorg/codebuddies/blob/staging/i18n/es.i18n.json

If nobody picks this up, I'll do it during the weekend

[2017-09-23 19:50] #589 closed

[2017-09-24 18:46] osanseviero opened #608 "PTT deck for new contributors"
We're working on a presentation with the idea of making it easier to start contributing the project and have a better sense of how everything works. Any feedback is welcome.

https://docs.google.com/presentation/d/1tlU9hWUsP44W6I0qEre0CgqrjLUaK1Vwr-hGq7phn0Q/edit?usp=sharing

[2017-09-24 19:04] #559 closed

[2017-09-24 23:23] #603 closed

[2017-09-25 00:43] dantesolis commented on #594
@osanseviero & @lpatmo, I can pick this up if hasn't been claimed.

[2017-09-25 00:44] dantesolis commented on #588
I could also pick this one up as well, if it hasn't been claimed 😀

[2017-09-25 01:46] osanseviero commented on #605
Working on this.

[2017-09-25 01:50] dantesolis opened #609 "Centralized use of recurrent css values to a single file name '_variables.scss'"
Do you want to request a feature or report a bug?
- Please refer to discussion on  [issue-603](https://github.com/codebuddiesdotorg/codebuddies/pull/603) &  [issue-604](https://github.com/codebuddiesdotorg/codebuddies/pull/604)
 - Request/implement  a feature. Migration of frequently used variables to a `_variables.scss` file
. Or maybe use `css-vars()` for variable declaration and `scss` for `@mi

[2017-09-25 03:22] lpatmo opened #611 "STAGING: study group info content doesn't match up with labels"
On the "Edit" modal, there's an "intro" and a "description/goals". Noticed that the content doesn't match up:

![screen shot 2017-09-24 at 8 20 54 pm](https://user-images.githubusercontent.com/4512699/30791237-021a71ea-a166-11e7-891b-28edfaaae357.jpg)

Will work on this now/submit a PR soon.

[2017-09-25 03:56] #611 closed

[2017-09-25 04:01] lpatmo commented on #588
@dantesolis Thanks, I will mark this as claimed!

[2017-09-25 06:43] lpatmo opened #614 "STAGING: Need to make styles for "start a hangout" buttons consistent"
Noticing that the styling for the "start a hangout" buttons are all over the place, and we should make it consistent. Maybe consistently green, with no uppercase?

![screen shot 2017-09-24 at 11 40 37 pm](https://user-images.githubusercontent.com/4512699/30795385-256c6038-a182-11e7-94c5-4726e6a805bc.jpg)
![screen shot 2017-09-24 at 11 40 45 pm](https://user-images.githubusercontent.com/4512699/307

[2017-09-25 07:58] #614 closed

[2017-09-26 03:29] lpatmo opened #617 "Bug: admins of group are kicked out of group and have to re-join, and also show up as duplicates"
If I create a group and make a new member an admin, that member suddenly gets kicked out of the group and has to rejoin. They also can't start a hangout.

This doesn't happen when I make the new member a moderator.

Possibly relevant error:
[code]

[2017-09-26 05:39] lpatmo commented on #617
I will take a look at this tonight.

[2017-09-26 05:43] lpatmo opened #618 "Feature request: ability to invite users to study group"
Maybe:

- On the `members` tab, a dropdown list of users who are not already a member of the group
- Inviting a users sends them an... email notification? (Maybe a Slack DM??) with a link to the group

Thoughts welcome!

[2017-09-26 06:53] lpatmo opened #619 "Update homepage :)"
Problems with the home page right now:
- no mention of "open source" or our Github repo
- no mention of study groups
- Animated gif is outdated
- Explain how Jitsi is an open-sourced version of Google Hangouts, and the first time you join, you'll need to download a browser extension. Also: works best in Chrome or Firefox.

[2017-09-26 08:40] lpatmo opened #621 "Bug: CSS issues on hangout card"
When the description is long, the text gets messy:

![screen shot 2017-09-26 at 1 39 40 am](https://user-images.githubusercontent.com/4512699/30850825-a08affac-a25b-11e7-89c8-ad53bda37225.jpg)

Feel free to copy the description from https://codebuddies.org/hangout/bJweLDir2BkT86rtE to recreate the issue.

[2017-09-26 16:17] #617 closed

[2017-09-27 06:33] lpatmo opened #625 "Feature request: checkbox for admin to check that will let anyone in the group start a hangout"
Right now, owners/admins have to make members moderators or admins before they can start a hangout within the group.

Maybe we should let owners have the ability to allow any member who's joined their group to start a hangout in their group.

[2017-09-27 06:48] lpatmo opened #626 "Email notifications: alert when new member joins a study group"
Send an (optional) email notification to owner/admins/moderators of a group when a new member joins.

Note: owners/admins/moderators should be able to customize their email subscriptions within each group.

[2017-09-28 05:54] #605 closed

[2017-09-28 06:30] #621 closed

[2017-09-29 06:42] lpatmo commented on #594
@dantesolis If you're still interested in working on it, it's yours! Otherwise I will mark it as un-claimed again.

[2017-09-30 10:47] dantesolis commented on #594
@lpatmo still interested in working on it :). I'll be sending something on the following days.

[2017-10-01 01:10] lpatmo opened #628 "Make sidebar of study group hideable"
On a hangout page right now, you click on the "x" icon on the sidebar to hide it:
https://codebuddies.org/hangout/bJweLDir2BkT86rtE#

This slides the sidebar to the left and makes the hangout frame full width.

We should similarly make the sidebar on a study group hideable as well:

https://codebuddies.org/study-group/pystudy/H9qgqC7JZAro5RjsW

Relevant inspiration:
`client/templates/hangout/hango

[2017-10-01 01:11] lpatmo commented on #628
If anyone would like to work on this issue together, let me know.

[2017-10-01 02:04] kodinglife commented on #628
I'm on it!

[2017-10-01 02:06] lpatmo commented on #628
@kodinglife Let me know if you have any questions! We're also in the CodeBuddies #codebuddies-meta channel on Slack.

[2017-10-01 11:56] schoettkr commented on #584
I'm working on this!

[2017-10-01 20:01] BethanyG opened #631 "STUDY GROUPS: Duplicating a Scheduled Hangout for a Study Group Removes the Study Group Affiliation"
Currently, when you create a Hangout on Codebuddies.org, you are asked to assign the Hangout to a Study Group (either Codebuddies Default, or another group you administer via drop-down).  The Hangout is then labeled with the name of the study group.

However, when you _duplicate_ a Hangout, the Study Group flag is not copied over, and the drop-down in the creation window only has CodeBuddies Defau

[2017-10-02 02:13] 2hands10fingers commented on #628
$(".clickedItem").click(function() {
  $(".well").toggle("bye");
});

.bye {
  display: none;
}

.clickedItem can be an added x. Where would I make the pull request to?

[2017-10-02 03:40] lpatmo opened #632 "Bug: owner of study group can't start a hangout"
Oops. Thanks to @BethanyG for finding this bug. Will fix asap.

[2017-10-02 04:38] distalx commented on #632
@lpatmo , this is fixed in #633.

[2017-10-02 05:15] #625 closed

[2017-10-02 05:18] lpatmo commented on #594
@dantesolis Sounds good! Just let me know if you'd like to pass it off to another person. I've added the `Hacktoberfest` label to this issue, if you've signed up for Hacktoberfest, this can count as one of your four PRs. :)

[2017-10-02 05:57] #628 closed

[2017-10-02 06:56] lpatmo commented on #631
@distalx has a PR for the first issue in #631.

Let's talk about the second issue (ability to edit the group for a hangout) in a separate issue! It's a bit complicated because of notifications.

[2017-10-02 07:29] #631 closed

[2017-10-02 07:32] #632 closed

[2017-10-03 19:04] dantesolis commented on #588
@lpatmo hey guys still working on this. I should be sending a  PR  in the following days.

[2017-10-03 19:05] dantesolis commented on #594
@lpatmo sorry I've been a bit busy with some personal stuff, but I should be sending that PR by the end of this week.

[2017-10-04 08:37] lpatmo opened #637 "Move "Learnings" box from the study group sidebar over to the "Progress Log" tab"
Right now the "learnings" box is on the sidebar of a study group:
![screen shot 2017-10-04 at 1 29 52 am](https://user-images.githubusercontent.com/4512699/31166449-a43c9888-a8a3-11e7-8c24-a84f5e909f58.jpg)

Let's move it over to the "Progress Log" box:
![screen shot 2017-10-04 at 1 30 18 am](https://user-images.githubusercontent.com/4512699/31166480-bb65d70e-a8a3-11e7-92cf-9ca225c237b1.jpg)

If y

[2017-10-04 09:17] W01fw00d commented on #637
Hi! I would like to work on this issue :)

[2017-10-04 12:29] distalx commented on #637
@W01fw00d Great. I've updated the label to `claimed`.

[2017-10-04 14:27] railsstudent commented on #585
Hi, I would like to work on this issue. Thanks.

[2017-10-04 15:05] W01fw00d commented on #637
![codebuddies_learnings](https://user-images.githubusercontent.com/18144822/31183149-09fbcffe-a926-11e7-8cd7-81fda17c58bf.PNG)

How does it look? Any additional change needed?

[2017-10-04 15:08] distalx commented on #585
I think instead of making it mandatory to have unique names, we should encourage users to not use generic names for GROUPS by creating some sort of community guidelines about it.

[2017-10-04 15:10] distalx commented on #585
@railsstudent, It's all yours. I've updated the label to `claimed`.

[2017-10-04 15:14] railsstudent commented on #585
I will check for unique name and throw error if the name is already used.

[2017-10-04 23:29] railsstudent commented on #595
I would like to try this one even though i am not sure what the root cause is.

[2017-10-05 02:40] lpatmo commented on #637
@W01fw00d Looks great! Please submit a PR!

[2017-10-05 03:23] railsstudent commented on #581
@arturolei  I want to take on this task but i have a few questions:

1) Can owner leave his/her study group?
2) Where should the drop-down menu be put? which listings do you refer?

Thanks,

Connie

[2017-10-05 09:47] #637 closed

[2017-10-05 09:52] railsstudent commented on #597
@lpatmo Just some questions for this issue:
1) All these in the sidebar below Organizers?
2) Can other member see my current static status?
3) When I type current status, does it replace the previous status?

[2017-10-05 10:01] lpatmo commented on #597
Yep!

Yep! Was thinking this feature would be useful if the group were MOOC-focused or book-focused (i.e. there is a linear progression of materials). Even if it's not, the status area could be used for members to state that they're a beginner in the topic, or intermediate in the topic, etc.

I think so. I don't think we'd need to remember the previous status, since that history could be archived

[2017-10-05 10:50] railsstudent commented on #597
@lpatmo I think I can do the show who else is online part.
I am still not clear about the current status part. If the group has a lot of members and their status are all listed on the sidebar, the sidebar can grow very long.
I am not too sure about it.

[2017-10-06 04:35] lpatmo commented on #597
@railsstudent Good point! Perhaps if we gave the content area a `max-height: 400px` or something and made it scrollable, that would help.

[2017-10-06 05:21] railsstudent commented on #597
@lpatmo Some questions on database modelling.
1. Where is the MongoDB collection schema defined?  I look at server folder and do not see any database script. I only see MongoDB collection creation in server/app.js
2. If a member joins two study groups, A and B, does member object in collection A different than member object in collection B? If yes, adding current status is simply adding a new prop

[2017-10-06 07:33] #585 closed

[2017-10-06 07:35] #595 closed

[2017-10-06 08:25] lpatmo opened #642 "Remove 140-character limit on learnings and support code markdown (or WYSIWG)"
Within each study group on http://staging.codebuddies.org/study-groups, we have a textbox that lets users share what they learned or accomplished.

![screen shot 2017-10-06 at 1 13 27 am](https://user-images.githubusercontent.com/4512699/31269058-c3491d6e-aa33-11e7-93ad-697e99536670.jpg)

Right now the message is limited to 140 characters, but 140 characters is too limiting if I'm pasting in code

[2017-10-06 11:20] distalx commented on #642
@lpatmo, 140 character limit is there because we are twitting these learnings via `codebuddiesmeet` twitter account.  removing character limit might brake that functionality.

We should create a new collection for managing process logs, and it would be nice to have WYSIWG in place.

[2017-10-06 15:37] lpatmo commented on #642
It'd be nice if the tweets linked back to the original post, instead of being self-contained. But that would require each learnings post having a clickable URL to go to.

If we create a new collection for managing progress logs, we wouldn't be using the `learnings` collection anywhere anymore, would we?

[2017-10-06 16:21] lpatmo commented on #597
Do you know about the control-m trick from the mongol package? (https://docs.codebuddies.org/walkthroughs/tips.html) That's an easy way to look at how the schema is structured. Otherwise, you can see the schema when we insert the data into a collection -- for examples, in `hangouts/methods.js`.

Yes, exactly! e.g.:
[code]

[2017-10-07 01:37] railsstudent commented on #597
@lpatmo  I want to claim this item after having bigger understanding than before.
However, I propose to show status and status input box in members tab, similar to Learning

[2017-10-07 03:01] lpatmo commented on #597
@railsstudent Oh, that's a brilliant proposal! I did a quick mockup in the browser of what it might look like. Were you thinking of something like this?

![screen shot 2017-10-06 at 8 00 13 pm](https://user-images.githubusercontent.com/4512699/31304173-2888bdcc-aad1-11e7-9833-fe4430d5e484.jpg)

[2017-10-07 05:30] distalx commented on #642
I’ll look into it.

[2017-10-07 05:49] distalx commented on #597
Mockup looks good. we could also include a `timestamp` field in the schema so we can list members by their recent activity.

[2017-10-07 06:17] lpatmo commented on #597
Good point, re: including a timestamp!

[2017-10-07 07:11] #584 closed

[2017-10-07 07:40] lpatmo opened #643 "Bug: Changing the who-can-start-a-hangout-in-a-group permissions doesn't save"
As reported by @sabliao: changing the setting to have anybody be able to start a hangout seems to 'save' okay (I get the confirmation popup and confirm it), but when I refresh the page, it still shows only admins and moderators and start a hangout.

I can confirm that I see this bug as well.

[2017-10-07 08:24] #643 closed

[2017-10-07 08:26] sabliao commented on #643
Dang, that was fast. Nice one, @lpatmo! *I, instead, stayed up watching "Queen of Katwe" with my dad...

[2017-10-07 08:28] railsstudent commented on #597
@distalx @lpatmo  I will work on it. My CSS is not that great, so i will take longer to complete

[2017-10-08 02:04] sabliao commented on #643
I can see that the setting of 'everybody' [having permission to start a hangout] is saved.
![image](https://user-images.githubusercontent.com/4286238/31313239-2804118c-ab92-11e7-803b-c9ab618d4c5d.png)
But on the Members tab, I still see the text that says, "Only admins and moderators can schedule hangouts for this group."
![image](https://user-images.githubusercontent.com/4286238/31313247-47f7c36c

[2017-10-08 04:07] lpatmo commented on #643
Aha, thanks for finding that @sabliao! :) The feature is fixed, but I forgot that we had that piece of text there for owners. Will change the text.

[2017-10-08 05:03] lpatmo commented on #597
@railsstudent I'm happy to help with the CSS. :) Feel free to ping me @linda on Slack.

[2017-10-08 09:01] railsstudent commented on #597
@lpatmo @distalx  Please add the claim tag and I can start as early as tomorrow.  thanks.

[2017-10-08 09:47] distalx commented on #597
cool, let me know if you need any help :)

[2017-10-09 08:12] lpatmo opened #648 "Inaccurate description about who can schedule hangouts on the 'members' study group tab"
Thanks to @sabliao for pointing out that the description on the members' tab is inaccurate, now that we've added a setting that lets owners choose to give every member the ability to schedule hangouts for the group.

![screen shot 2017-10-09 at 1 06 06 am](https://user-images.githubusercontent.com/4512699/31329276-28b0fc56-ac8e-11e7-8d80-752c7dc80d22.jpg)

Proposal: change to

[code]

OR

[code]

[2017-10-09 08:31] lpatmo opened #650 "Consistent naming: 'organizer' vs. 'moderator'"
Right now, on the `members` tab, the creator/owner of a study group can click to turn a member into a `moderator` or an `admin`.

The issue: if a member is turned into a `moderator`, their label on localhost:3000/study-groups turns into the label `Organizer` instead of `Moderator`.

We should either change all the places where `Organizer` is listed into the word `Moderator`, or change all the plac

[2017-10-09 11:15] josephkmh commented on #650
I'd be happy to fix this one - I think `Moderator` is a better term than `Organizer`. Is that alright?

[2017-10-09 11:18] stain88 commented on #650
To me, "Organizer" sounds singular, while "Moderator" sounds plural (as in, you would only have 1 organizer in the group, but could easily have more than 1 moderator taking part).

So I vote for Moderator.

[2017-10-09 15:31] lpatmo commented on #650
Thanks for weighing in, @josephkmh and @stain88! It'll be straightforward, then -- changing `Organizer` to `Moderator`. I will add the `claimed` label for you, @josephkmh. Thanks! Let me know if you have questions.

[2017-10-10 03:02] #648 closed

[2017-10-10 03:03] #650 closed

[2017-10-11 07:08] lpatmo opened #652 "Add "Slack Etiquette General Rules" to FAQs on the /faq page"
Let's add our Slack etiquette guidelines (currently pinned as a post in the #general channel on Slack) to the FAQ. Maybe add it as a new question after "Why did you all work together to build this site?".

HTML content to add:

## What is the Slack etiquette for CodeBuddies members?
[code]

Note: we may way to put this on the home page when we revise it to mention "open source" and study groups (s

[2017-10-12 08:39] lpatmo commented on #652
@nickpfallon Sorry I didn't clarify the issue better, but was intending for the content to be added to codebuddies.org/faq! Would you be interested in working on and submitting another PR? If not, no worries; will mark this as `unclaimed`.

If you need to get the app running, docs are at docs.codebuddies.org. And the file you're interested in is `client/templates/other/faq.html`.

[2017-10-12 09:25] distalx opened #654 "Re-organise nav layer by adding a "Community" header with new links"
Let's move the _About_ and _FAQ_ pages under a "Community" section.

Also, let's add a few more links to this section: Slack, Github and the Open Collective.

Finally, let's add a link to our Medium publication under the name "Blog".

Please see mockup below for reference!

<img width="206" alt="screen shot 2017-10-12 at 2 45 00 pm" src="https://user-images.githubusercontent.com/11193792/31489052-

[2017-10-12 09:36] lpatmo commented on #654
A++!

Brilliant proposal. I've actually been wondering how we could better highlight our /faq, /about, Slack and other links without cluttering up the header nav.

Some steps for whoever tackles this issue:
- Create the "Community" tab on the header nav
- Remove the "Github" and "Slack" links from the Profile tab and put it into this "Community" tab
- Add the other links as well

Links:
- /about
-

[2017-10-12 09:45] lpatmo opened #655 "CSS bug: "edit" button on profile page is hidden because font color is same as background color"
See screenshots.
![screen shot 2017-10-12 at 2 30 29 am](https://user-images.githubusercontent.com/4512699/31489949-44183750-aef7-11e7-980d-060106899511.jpg)
On button hover:
![screen shot 2017-10-12 at 2 30 42 am](https://user-images.githubusercontent.com/4512699/31489951-4430c130-aef7-11e7-910c-ebefd3db94ee.jpg)

If you're new to this project and need instructions about how to run the app, pleas

[2017-10-12 10:04] digaant333 commented on #655
Ill do it

[2017-10-12 10:14] lpatmo commented on #655
@digaant333 Awesome, let us know if you have any questions!

[2017-10-12 10:24] railsstudent commented on #654
I can do it after I finish the other issue.  I would like more practice on CSS.

[2017-10-12 11:34] railsstudent commented on #592
It should be a button in Settings tab. At least, the owner is intended to transfer ownership to somebody else and leave the study group.
Doing it in member can lead to false transfer because owner makes an error when changing status of member in members tab.

[2017-10-14 17:08] #652 closed

[2017-10-14 17:54] lpatmo opened #660 "Add link to Facebook Group under "Community" nav bar"
Add link pointing to https://www.facebook.com/groups/TOPSTUDYGROUP/ below `Github`. Name this link `Facebook Groups`.

![screen shot 2017-10-14 at 10 49 28 am](https://user-images.githubusercontent.com/4512699/31578006-9a1a728a-b0cd-11e7-8c01-54fa8a23e0c5.jpg)

[2017-10-14 17:58] ganes1410 commented on #660
can i do this?

[2017-10-14 17:59] abhishek5139190 commented on #660
I can do that, just share the code.
Also i can add good icons or color them.

[2017-10-14 18:03] lpatmo commented on #660
@ganes1410 I will mark this as claimed for you (as the first to leave a comment). Let me know if you have any questions! Docs are at `docs.codebuddies.org`.

[2017-10-14 19:09] #660 closed

[2017-10-14 19:52] #597 closed

[2017-10-15 01:29] #654 closed

[2017-10-15 06:29] railsstudent opened #662 "Include timestamp of member status in members tab of single study group"
#597

[2017-10-15 09:03] #662 closed

[2017-10-15 09:25] lpatmo opened #665 "HTML: Tweak meta content"
From:
[code]

to:

[code]

[2017-10-15 09:55] batraman commented on #665
Made a PR for this

[2017-10-15 10:00] lpatmo opened #667 "HTML/CSS: Create a new codebuddies.org/slack page"
Right now, we are linking directly to codebuddies.slack.com from Community -> Slack on the header nav.

Let's create a new /slack route (codebuddies.org/slack), and link to this new page from the nav instead.

Relevant file to change:
- `lib/routes.js`

Tip: follow the example of `FlowRouter.route('/faq', {`.

On this new page, add the following content:

[code]

If you're a new contributor, pleas

[2017-10-15 10:26] lpatmo opened #668 "Send a notification to the #announcements Slack channel when a new study group is created"
In the same way that a new notification appears in #announcements whenever a new hangout is scheduled, we should send a new notification to #announcements whenever a new study group is created, ideally in this format:

A new study group has been started by @username!

Goals:
``` Goals content ```
Description:
``` Description content ```

This is a P2 issue.

[2017-10-15 10:28] #665 closed

[2017-10-15 10:45] railsstudent commented on #668
I would like to get hands-on experience of Slack API.

[2017-10-15 11:00] railsstudent commented on #668
@lpatmo  Create Study Group modal does not have description and goal fields, add new fields in there?
Or send message to announcement channel when description tab of study group is saved? Thanks.

[2017-10-15 12:49] AshishkrGoyal commented on #667
@lpatmo can i work on this ??
Thanks in advance 😄

[2017-10-15 12:52] AshishkrGoyal commented on #655
@lpatmo can you please tell me that the issue is still open ??
because i want to work for it

Thanks 👍

[2017-10-15 13:18] railsstudent commented on #667
@AshishkrGoyal  Go ahead. Thanks.

[2017-10-15 18:58] lpatmo commented on #655
@AshishkrGoyal This is issue is still open. Thanks!

[2017-10-15 18:59] lpatmo commented on #668
@railsstudent Good point -- the message should be sent when the description tab is saved!

[2017-10-15 23:05] railsstudent commented on #668
@lpatmo  Require to  user different emoji and username than bell and CodeBuddies Alert?

[2017-10-15 23:23] lpatmo commented on #668
@railsstudent We don't have to use the same bell emoji, no! Could be a simple sentence.

[2017-10-16 05:47] railsstudent commented on #668
I will try to build something this evening

[2017-10-17 07:03] lpatmo commented on #667
@AshishkrGoyal Do you need any help with this issue?

[2017-10-17 07:29] AshishkrGoyal commented on #667
@lpatmo no i am working on this and will send pr asap!!
thanks 👍

[2017-10-17 07:36] lpatmo opened #669 "Product tour of study groups feature (and platform in general)"
UPDATE: renamed issue!

When I head over to a study group page (e.g. https://codebuddies.org/study-group/tdd-with-python/AshYgJsHdyo6kuCQW), the first tab I want to click on is "Members," because it'll show the statuses of each study group member.

![screen shot 2017-10-15 at 5 50 00 pm](https://user-images.githubusercontent.com/4512699/31652079-c9dcb9e0-b2d2-11e7-8659-01058b9daad9.jpg)

I know to

[2017-10-17 11:48] angelocordon commented on #669
Moving it underneath the Description makes sense 👍

[2017-10-17 11:49] angelocordon commented on #619
@lpatmo are you looking to revamp the front page or just update some of these issues?

[2017-10-17 15:17] distalx commented on #669
I think ppl will figure it out and adopt to it. With each new feature there is always going to be a some amount of learning curve. And most of the modern web-apps are addressing this issue with a product tour. I'd suggest that we should implement a `product tour` feature before moving things around.
https://codyhouse.co/demo/product-tour/index.html#0

[2017-10-17 15:26] distalx commented on #668
@lpatmo with current system it would be a bit difficult to track down when the first edit happens to `goal` and `description`. it would be much more feasible to send an alert on the creation of the SG.
cc @railsstudent

[2017-10-17 15:56] railsstudent commented on #668
I am thinking of sending alert whenever either field is updated. I assume updating goal/description may attract new people to join the group.

[2017-10-17 16:29] lpatmo commented on #619
@angelocordon I'm planning to sit down tonight or tomorrow night and revamp the home page entirely, at least content-wise. The animated gif (maybe 30-second video?) will take a bit of time (some volunteers + a scheduled hangout) to make.

[2017-10-17 22:24] alfougy commented on #619
I’ll see if I can peep my head in. I haven’t made any pull requests yet.

[2017-10-17 23:41] railsstudent commented on #668
@distalx In that case, description and goal are input fields in new SG modal.
Please advise.

[2017-10-18 00:34] distalx commented on #668
IMO we should send a slack alert once user create the SG.
In alert we can add a SG title, tagline and username.
Also we could add a follow back link to SG.

In other case if we send an alert each time when someone updates the description and goal for SG that might clutter the feed.
cc @lpatmo.

-----Original Message-----
From: "Connie Leung" <notifications@github.com>
Sent: ‎18-‎10-‎2017 05:11 AM

[2017-10-18 00:59] railsstudent commented on #668
that would work.
need to research how to add url to slack alert.

i can start to add new methods slack api and wait for final decision

[2017-10-18 05:33] lpatmo commented on #668
Hmm, sorry, @distalx is right -- would be easier to send the Slack notification as soon as a group is created. So the announcement text would be:

[code]

(Feedback welcome on the text above.)

Re: URLs -- following the pattern in `server/slack/methods.js`, maybe something like:
`Meteor.absoluteUrl("study-group/" + studyGroup.slug + studyGroup._id);`

Not sure if that helps!

[2017-10-18 06:43] railsstudent commented on #668
@lpatmo that helps a lot. thank you

[2017-10-19 03:28] lpatmo opened #670 "CSS: Highlight the "Edit Description" error with a red border and red text if group description has not been filled out yet"
When someone creates a study group for the first time, their eyes might skip over the need to click on "Edit Description" to fill out a goal and a description for their group.

Simple UI enhancement: let's make the text red, and put a red border around the area so that anyone who has permission to edit the description area will automatically be drawn to the area.

![screen shot 2017-10-18 at 8 25

[2017-10-19 03:32] kennyhuynh125 commented on #670
I can try and do this if needed!

[2017-10-19 03:47] lpatmo commented on #670
@kennyhuynh125 I will mark it as claimed for you. Let us know if you have any questions. Thanks!

[2017-10-19 03:54] kennyhuynh125 commented on #670
@lpatmo, probably won't have time to work on this until later on, but i think to make things quicker, what file would i be able to locate the template for that page?

[2017-10-19 03:58] lpatmo commented on #670
@kennyhuynh125 Take a look at `client/templates/study_groups/study_group_description.html`, please, and you should make the CSS change in `css/_study_groups.scss`. Color variables are defined in _colors.scss. Let me know if you have other questions!

[2017-10-19 04:06] lpatmo opened #671 "Make "everyone in this group can schedule a hangout" the default option in select box"
When an organizer creates a study group, it might not be entirely apparent to them that they can go to the `Settings` tab and allow every member of the group to schedule a hangout in the group.

More likely than not, organizers will be fine with all group members starting virtual hangouts to study a topic. They'll have the option to organize specialized hangouts by only allowing admins and moderat

[2017-10-19 04:14] kennyhuynh125 commented on #670
just submitted a pull request!

[2017-10-19 04:35] kennyhuynh125 commented on #671
I can also work on this linda!

[2017-10-19 07:02] lpatmo opened #673 "Post text about virtual hangout and new study group creation to #facebook-group channel on Slack."
Folks on the Facebook Group at https://www.facebook.com/groups/TOPSTUDYGROUP/ don't often get notified about newly scheduled hangouts because we keep forgetting to cross-post/announce it there.

I previously had set up a Zapier integration that would post new messages from the #announcements channel straight to the Facebook Group, but the integration wasn't working because it got confused by our e

[2017-10-19 08:52] lpatmo commented on #619
Here is a short/quick update of the content on the homepage... feedback welcome! (I might open up another issue for the homepage, since the animated gif and various screenshots are outdated, so ideally we'd add updated screenshots and explain the features within study groups better.)

![homepage_redesign_1_oct19](https://user-images.githubusercontent.com/4512699/31762469-242550a8-b470-11e7-96c5-4f

[2017-10-19 10:54] BoYuanZheng commented on #673
Hi there, can I get assigned this? I'm not too familiar with Facebook or Slack APIs to be completely honest, but I think I can do it!

[2017-10-19 11:21] BoYuanZheng commented on #673
I would like to work on this, although I have a question. Who exactly posts the content? I don't think Facebook has automated accounts or bots of any sort.

[2017-10-19 17:19] lpatmo commented on #671
Actually, let's hold off from changing the default.

Reasons pointed out to me:
- Added layer of protection from spammers (email notification gets sent out to group members for each new hangout)
- We can highlight this permission in a product tour

[2017-10-19 17:19] #671 closed

[2017-10-19 17:22] lpatmo commented on #673
@BoYuanZheng Let us know if you have questions! We hang out in the #codebuddies-meta channel on the CodeBuddies Slack as well.