[2016-01-23 22:56] lpatmo opened #3 "Style "hangout status" radio buttons"
Remove the radio buttons and make the settings look like buttons.

[2016-01-24 05:24] wuworkshop opened #5 "See who else is online"
Ability to see who else is online when you load the frontpage (or hangout-page)

[2016-01-24 05:33] wuworkshop opened #6 ""Currently working on" status"
A spot for every person to fill in a “current status” to describe what they’re “currently working on”. This way, you’ll be able to see at a glance what everyone is working on.

[2016-01-24 06:40] wuworkshop opened #7 "One-click create a new hangout button"
Create a new (google?) hangout with a click of a button.

[2016-01-24 06:47] wuworkshop opened #8 "Start a hangout "NOW""
Ability to start a hangout “NOW” and not have to specify an end time

[2016-01-24 06:49] wuworkshop opened #9 "Show # of people currently in each hangout"
Ability to see the # of people who’ve already joined each hangout

[2016-01-24 06:56] wuworkshop opened #10 "Explanation of the types of hangouts one can create"
An explanation of the types of hangouts one can create:
* silent hangout / general study motivation hangout where video + mic is muted
* teaching hangout (hangout creator will be someone who wants to teach)
* talk through a chapter of a dense programming book or article pair program on a set of coding exercises
* work on TUTORIAL X at the same time and ask each other questions if they come up (mos

[2016-01-24 07:06] wuworkshop opened #11 "Add slackin widget"
An embed of the slackin widget to let people sign up on the codebuddiesmeet slack

[2016-01-24 07:08] wuworkshop opened #12 "Add "About" page"
An “about” page (or section of the home page?) explaining what the community is about, and some of the top contributors here -- i.e. people who’ve made pull requests, are volunteer moderators on the Slack, have lots of /prowd points, etc.

[2016-01-24 07:11] wuworkshop opened #13 "Explanation of the #100daysofcode challenge and #todayilearned hashtag"
An explanation of the #100daysofcode challenge and #todayilearned hashtag (currently side projects in development by @abdulhannanali and @linda… if you guys want to help let us know in #codebuddies-meta!)

[2016-01-24 07:12] wuworkshop opened #14 "Explanation on how to use Slack"
An explanation of how to use Slack -- e.g. recommend downloading the slack app so one can join other Slack communities as well without having to switch, short explanation of the 88 channels, highlights of some channels such as

[2016-01-24 07:13] wuworkshop opened #15 "Ability to schedule start and end times for hangouts"
Ability to schedule start and end times for future hangouts (existing feature on hangouts.codebuddies.org)

[2016-01-27 07:03] lpatmo commented on #6
We've got this function working. :)

The user has to click out of the textarea (anywhere else on the page) for the status to show up, though.

Anyone think this is confusing?

[2016-01-27 07:04] lpatmo commented on #5
We've got this functionality thanks to this package: https://github.com/mizzao/meteor-user-status.

Closing this bug.

[2016-01-27 07:04] #5 closed

[2016-01-27 07:05] lpatmo opened #16 "Port over the old database into the new app"
Have no idea how to do this / how difficult this is, but... it'd be nice if we didn't have to force people to sign up for a new account.

Users from hangouts.codebuddies.org should be ported over into this app.

[2016-01-27 08:11] lpatmo opened #17 "Port over the old database into the new app"
Have no idea how to do this / how difficult this is, but... it'd be nice if we didn't have to force people to sign up for a new account.

Users from hangouts.codebuddies.org should be ported over into this app.

[2016-01-27 08:13] lpatmo opened #18 "Add tooltips to hangout status icons explaining what "solo study" vs. "silent study" vs. "collaborative study" means"
See: http://getbootstrap.com/javascript/#tooltips

[2016-01-27 22:00] Luxisapex commented on #3
This seems to be pretty much finished?

I miss some sort of submit-button and an archive or similar. Am I understanding the purpose correctly? If so I'll happily create an issue.

[2016-01-27 22:02] Luxisapex commented on #6
I don't see it anywhere. Has it broken in the last 15 hours or am I misinterpreting something?

[2016-01-27 22:19] Luxisapex commented on #11
Is that what we have in the top right corner now, or is it supposed to be on the same page?

[2016-01-27 22:36] Luxisapex commented on #14
I intended to prototype this feature but I'm not used to the Meteor ecosystem yet.

Do we have a standard for working with multiple pages? Found this Stackoverflow answer which seems relevant, though possibly outdated:

http://stackoverflow.com/questions/26944011/proper-way-to-handle-multiple-pages-in-meteor

[2016-01-27 22:39] Luxisapex commented on #17
Does this help?

http://stackoverflow.com/questions/10588038/how-to-use-the-existing-mongodb-in-a-meteor-project

[2016-01-27 22:46] Luxisapex commented on #12
If this is not intended to be dynamic, I guess it would make sense for someone who holds the information to compile it somewhere, perhaps in this comment section. Then an ignorant fool like I could possibly implement it.

[2016-01-27 22:46] wuworkshop commented on #17
I was also wondering if a single sign on option should be implemented. I mean, if there are plans to make other CB sideprojects using different subdomains (like the links project).

There's this Meteor forum thread about single sign on:
https://forums.meteor.com/t/simple-single-sign-on-sso-solution-in-meteor/2689/9

A user shared this package which looks promising:
https://atmospherejs.com/admithu

[2016-01-27 22:59] Luxisapex commented on #7
Found this

https://github.com/withpulp/wpt-hangouts

and it works fine for this issue, but I have doubts regarding how to implement further wanted features.

[2016-01-28 04:24] lpatmo commented on #6
@Luxisapex It's in the `hangoutStatus` branch. Sorry for the confusion!

To switch between branches, you type `git checkout hangoutStatus` or `git checkout master` to switch back to master.

[2016-01-28 10:19] Luxisapex commented on #6
RIght. So is it functioning? Then it makes sense to merge it imo, unless you would prefer to refine it first.

Big branches with long time between merging just creates issues in my experience.

[2016-01-28 16:41] lpatmo commented on #6
It's working, but the hangout status icon that appears next to the text status still needs work, so I am holding off from merging it.

[2016-01-29 09:12] lpatmo opened #19 "CSS: style buttons"
Style buttons according to the beautiful mockup created by @adachiu on https://scene.zeplin.io/project/56aabe09a3edeb6a172cc4b9

You can commit this in _buttons.scss. :)

[2016-01-31 09:43] lpatmo opened #20 "Create a new collections to hold "learnings/accomplishments""
Display the learnings back, and allow users to edit or delete their own postings.

[2016-01-31 10:50] wuworkshop commented on #16
Closing this one since it's a dupe of https://github.com/codebuddiesdotorg/cb-v2-scratch/issues/17

[2016-01-31 10:50] #16 closed

[2016-01-31 21:09] lpatmo opened #21 "Click on username to send a private message to the user on Slack"
As users join the website, they'll see other people working on similar things, and they may want to contact that person to coordinate a hangout.

The Slack API lets us do this via the websocket, looks like: https://api.slack.com/rtm.

Not sure how to implement, though.

Do we absolutely need Slack, or can we figure out a way to send private DMs to users via the app itself?

[2016-02-02 05:34] lpatmo commented on #21
Solved using https://codebuddiesmeet.slack.com/messages/@username/. Also thanks @anbuselvan for a lot of the advice!

[2016-02-02 05:34] #21 closed

[2016-02-02 05:46] lpatmo opened #22 "Write a Hangouts FAQ"
There should be a "Hangouts FAQ" link on the home page, and it'll open up a pop up that explains all the different types of hangouts: silent, pair, collaborative.

And includes a screenshot of what one might expect.

And then *stresses* that people don't need to turn on their cameras or microphones.

[2016-02-03 09:44] wuworkshop commented on #22
Isn't this a duplicate of https://github.com/codebuddiesdotorg/cb-v2-scratch/issues/10?

[2016-02-09 03:15] lpatmo opened #23 "Organize code into folders"
We're going to go with Method 2: Folders inside client/ and server/ from http://docs.meteor.com/#/full/structuringyourapp

[2016-02-10 18:44] wuworkshop opened #24 "Display the person's timezone"
Displaying the timezone for the hangout times. Probably re-use this package:
https://atmospherejs.com/joshowens/timezone-picker

[2016-02-11 08:55] lpatmo commented on #23
Completed by @anbuselvan!

[2016-02-11 08:55] #23 closed

[2016-02-11 08:55] lpatmo commented on #20
Done. Will created a new issue re: editing and deleting postings.

[2016-02-11 08:55] #20 closed

[2016-02-11 08:55] #19 closed

[2016-02-11 08:56] #15 closed

[2016-02-11 08:57] lpatmo commented on #11
Appearing now on http://cbv2-staging2.meteor.com/!

[2016-02-11 08:57] #11 closed

[2016-02-11 08:57] lpatmo commented on #8
Coded in by @anbuselvan. :) Start time is automatic "now" and end time is automatically an hour from now.

[2016-02-11 08:57] #8 closed

[2016-02-11 08:57] #6 closed

[2016-02-11 08:58] #3 closed

[2016-02-11 08:59] lpatmo commented on #7
Haven't played around with it, but... nice find, @Luxisapex! Thanks!

[2016-02-11 09:06] lpatmo opened #25 "Adjustments to the hangout status/"currently working on" UI"
1. We need tooltips to appear over each icon to explain what each hangout type means.
2. The hangout status the user selected should be colored in after they've selected it.
3. Can we make the borders surrounding the names bolder, or put hangout status icons next to the names below, to make it clearer what the colors mean? (@adachiu -- any thoughts?)
4. Wondering if we should add something extra t

[2016-02-11 09:08] lpatmo opened #26 "E-mail addresses"
Need to figure out if there's a way to return the e-mail addresses from Slack login, so that we can import them into a newsletter or use for future transactional notifications (e.g. event reminders).

[2016-02-11 09:14] lpatmo opened #27 "Add pagination for learnings/accomplishments"
Could re-use code used for pagination for hangouts.

[2016-02-11 09:15] lpatmo opened #28 "CSS: Adjust styling for "load 2/2""
Make it look more clickable. Maybe add light grey background and hover color change?

[2016-02-11 09:20] lpatmo opened #29 "Limit "current status" update to 250 characters"
Doesn't have to be super short; just want to make sure people don't paste lorem ipsums in there to troll.

[2016-02-11 09:21] lpatmo opened #30 "HTML/CSS: Add "video with slash" icon next to "silent microphone" icon."
Just to make it clear to people that google hangouts don't involve video. :) (Unless the host or a participant really wants to show their face.)

[2016-02-11 09:25] lpatmo opened #31 "Usernames should link to Slack DM URLs so users can click to DM"
For example: https://codebuddiesmeet.slack.com/messages/@SLACK_USERNAME/

Should be an easy fix!

Have to check that the user belongs to the CodeBuddies team, though.

[2016-02-11 09:29] lpatmo opened #32 "User Profile Page!"
Contains:

1. list of personal learnings/accomplishments with ability to edit/remove them.
2. Graph??

This is what @adachiu mocked up:

![image](https://cloud.githubusercontent.com/assets/4512699/12973051/d92cd5ae-d05e-11e5-92d7-96a6222f769e.png)

[2016-02-11 09:30] lpatmo opened #33 "Leave kudos on learnings/accomplishments"
Secondary feature, but: wouldn't it be cool to be able to leave kudos on learnings/accomplishments? That extra boost of encouragement!

[2016-02-11 21:06] adachiu commented on #25
1. Yes, we'll need tooltips. Also, there's a slight disconnect right now with the top and bottom boxes. I
think it would be more clear and intuitive if we connect the top and bottom. I'll look into improving this ux/ui.
2. You mean the status icon should stay filled after the user clicks update? If we keep the status icon filled, then maybe the status should remain in input area after clicking upd

[2016-02-12 00:26] adachiu commented on #29
250 characters per status seem like a lot to display in the status list. Lowering it to 140 like Twitter's character count could help keep statuses concise and to the point, while saving scroll space in the list of online statuses.

Not to mention that users would just be glancing at what others are working on. They probably won't read the whole 250 character statuses. Keeping it shorter makes mor

[2016-02-12 00:30] adachiu commented on #30
I suggest we stick with material design icons for the whole app if we're going to use the "video with slash" icon from material's icon collection. So we don't mix fontawesome and material design icons (mixing may look inconsistent).

[2016-02-12 15:57] sgtquezada commented on #29
I vote for the 140 characters.  Keeps it concise and to the point.

[2016-02-13 22:04] Oliver84 opened #34 "Implement a tagging system"
I'd like to be able to add tags to my hangouts so that someone can easily filter through the hangouts and find any relevant hangouts quickly. So if a user wants to see any JavaScript related hangouts, he/she can just click on the JavaScript tag and it'll show all the hangouts that have the JavaScript tag. The tags could be listed inline right under the host, time, and status information of each ha

[2016-02-14 02:27] lpatmo opened #35 "Give host the ability to trash hangouts"
Bonus: everyone who signed up for a hangout should get a notification that it was cancelled.

[2016-02-14 05:11] lpatmo opened #36 "BUG: "cannot read property 'profile' of null"
Probably related to this commit: https://github.com/codebuddiesdotorg/cb-v2-scratch/commit/a0e3176b73a6329085044ae1d8984664dcd53c81

[code]
Exception in template helper: TypeError: Cannot read property 'profile' of null
    at Object.Template.statusItem.helpers.logged_in_using_codebuddies_team (http://cbv2-staging2.meteor.com/373d5c59ccdf41421fe58eaf6471f0e441ca2334.js?meteor_js_resource=true:241:

[2016-02-14 05:11] lpatmo commented on #29
Cool, let's keep it at 140 characters. Anyone want to work on this bug?

[2016-02-14 05:12] lpatmo commented on #31
A fix is in staging, but this bug is occurring: https://github.com/codebuddiesdotorg/cb-v2-scratch/issues/36

[2016-02-14 05:19] lpatmo opened #37 "Logged-out homepage view should look something like this."
Screenshot:

![screen shot 2016-02-13 at 9 19 03 pm](https://cloud.githubusercontent.com/assets/4512699/13031999/7a9ad2bc-d297-11e5-8406-e17e5eb1a4d8.jpg)

[2016-02-14 06:43] lpatmo commented on #37
Committed to staging in https://github.com/codebuddiesdotorg/cb-v2-scratch/commit/374721088723b9394c9526ea37e928872beb098c.

![screen shot 2016-02-13 at 10 42 23 pm](https://cloud.githubusercontent.com/assets/4512699/13032340/23338076-d2a3-11e5-9a78-2f92edd9b53d.jpg)

[2016-02-14 06:43] #37 closed

[2016-02-14 17:31] Luxisapex commented on #33
Working on this. Basically got it functioning, just wrapping up some styling and making sure it's bug free.

[2016-02-14 20:47] lpatmo commented on #33
@Luxisapex Awesome! Let me know when you want to merge it into staging!

[2016-02-18 04:40] lpatmo commented on #25
1. Cool -- and I see it's done in your newest mockups!
2. ++
3. I like how you've designed the hangout names and statuses in V7.
4. Good point -- let's try it out with how you've designed it so far! And then see if we can make improvements when it's first deployed/in user testing.
5. ++

Thank you Ada!

[2016-02-18 06:24] lpatmo opened #38 "Graph of hangouts vs. learnings count in a timeline"
Would be cool to see this on the profile page. :)

[2016-02-18 06:35] lpatmo opened #39 "Hangout FAQ text is too long, says Ada"
You can create three types of hangouts:

 silent hangout
 teaching hangout
 collaboration hangout
FIRST THING to do when you join a hangout is to turn off the video camera and the microphone by clicking on the   icons!

A  silent hangout is like a virtual coffeeshop for people who want to be productive. You can make the hangout topic general enough so that people can work on different things, or t

[2016-02-18 07:20] sgtquezada commented on #35
Working on this feature!

[2016-02-20 09:39] sgtquezada commented on #35
Code complete. Ready for review.

[2016-02-20 17:47] lpatmo commented on #35
Reviewing the branch now!

[2016-02-20 18:12] lpatmo commented on #35
Looked over your code... looks good!

A UI thing: what do you think about replacing:

<button id="delete-hangout" class="btn btn-xs btn-danger">delete hangout</button>

with something like:

<span id="delete-hangout"><i class="fa fa-trash-o"></i></span>

I'm thinking that using the fontawesome icon would look better than the red button.

[2016-02-20 20:29] sgtquezada commented on #35
Ok! I will look into a good font-awesome icon that works for delete. I have updated the "on cancel" prompt to close the modal as opposed to a separate modal confirming after.

[2016-02-20 20:50] sgtquezada commented on #35
Updates made! Please review

[2016-02-21 04:29] lpatmo commented on #35
Have merged the branch `fix/issue-35-trash-hangouts` into `staging`, and deployed it to http://cbv2-staging2.meteor.com/#.

Small changes I made before merging:
- Changed #delete-hangout to .delete-hangout, since it's possible that a user could have multiple hangouts they want to delete on the page.
- Turned the red button into a trash icon only, so that it takes up less space on the page. (I don'

[2016-02-21 04:29] #35 closed

[2016-02-21 04:33] lpatmo opened #40 "Bonus: everyone who signed up for a deleted hangout should get a notification that it was cancelled."
Was originally thinking the notification should be e-mailed to everyone RSVPed, but we could have it send Slack notifications as well.

[2016-02-23 14:07] lpatmo opened #41 "prevent “join" if the hangout has already completed"
Disable the button if the hangout says "mastered X minutes ago..."

Should be a straightforward fix if anyone wants to take it on.

[2016-02-23 21:49] sergeant-q opened #42 "Delete hangout functionality not working on mobile (delete icon does not trigger modal)"
If you access the site on mobile, when attempting to click on the delete (trash) icon - nothing happens.  The confirmation modal does not get triggered.

Tested on iOS with Safari and Chrome browser.

[2016-02-26 22:06] Luxisapex commented on #10
This is pretty much fixed with "What is a hangout?", right?

[2016-02-26 22:14] #9 closed

[2016-02-26 22:16] Luxisapex commented on #7
Did anyone actually look into making the actual hangouts yet, or is it just what is on the staging site?

[2016-02-26 22:22] sgtquezada commented on #7
Not yet. The meteor package you mentioned seems to lack some config options so will require to either build upon this package or code it ourselves outside a package.

[2016-02-26 22:57] Luxisapex commented on #12
Wrote something that I think represents us quite well. Some input from other perspectives would be welcome, then I think we can check this off.

[2016-02-26 23:00] #33 closed

[2016-02-26 23:11] Luxisapex commented on #41
Added this unless-statement in hangout-item.html  :

{{# unless getIsDone this}}
  <button id="join-hangout" class="btn btn-cb2">{{_ "join"}}</button>
{{/unless}}

which should hopefully skip displaying the button in mentioned case, but I can't really test it locally since I am the only user.

[2016-02-27 20:13] sgtquezada commented on #40
The slack API method to send a message is restricted to either a #channel or @user but not multiple users unless I loop through the method call.  Does it make more sense (and efficient) to notify the channel instead once the hangout has been deleted?

Looking for some feedback on the approach.

[2016-02-27 21:43] #24 closed

[2016-02-28 11:03] lpatmo commented on #40
@sgtquezada Hmm... good question.

I'm leaning towards NOT notifying a channel on Slack -- I think it'll get too annoying. (And already people are hesitating to `@channel` to make an announcement, so we shouldn't have it notifying deletions either.)

Three alternatives:
1) loop through the method call
2) Just return a list of users who signed up for the hangout, and in the second alert box link to

[2016-02-28 11:05] lpatmo commented on #34
We might not need a tagging system anymore if Ada's mockup gets realized -- where people can search for keywords.

What do you think?

[2016-02-28 23:48] wuworkshop commented on #14
Linking to this Slack tour would be good for more visual learners:

https://codebuddiesmeet.slack.com/getting-started

[2016-02-28 23:57] adachiu commented on #34
@lpatmo Would the search need keyword tags to search through? or does it just search through all of the description and title to find the specific keywords?

[2016-02-29 08:16] lpatmo commented on #12
Thanks for starting it, Joel! I revised it a bit in this commit: https://github.com/codebuddiesdotorg/cb-v2-scratch/commit/1701c20ee4968fc4e99544b7d85fb6d28a52c952

[2016-02-29 21:14] sheldonbarnes commented on #26
According to the docs, the users.info method contains an email address:

https://api.slack.com/methods/users.info

{
    "ok": true,
    "user": {
        "id": "U023BECGF",
        "name": "bobby",
        "deleted": false,
        "color": "9f69e7",
        "profile": {
            "first_name": "Bobby",
            "last_name": "Tables",
            "real_name": "Bobby Tables",
            "ema

[2016-02-29 21:16] sheldonbarnes commented on #29
@lpatmo did anyone take this bug? I would love to learn, and contribute.

[2016-02-29 21:49] sgtquezada commented on #26
@sheldonbarnes I would probably need this functionality since we may go down the path of notifying users via email if a hangout has been cancelled (deleted) for issue #40

Let me know if you need help or plan to work on it!

[2016-02-29 22:08] sgtquezada commented on #40
@lpatmo I might reconsider my approach and go with email notifications instead. I am making a pretty big assumption people are either logged into Slack via their mobile devices or desktop. This would be the only way someone would get notified. Which is risky as you noted.

Option 2 is not bad but it does leave it up to the hangout host to follow through and notify users via the link, which opens t

[2016-02-29 22:10] adanot commented on #36
I can take a look at this is nobody is already working on it. I have an idea of what might be going on.

[2016-02-29 22:54] sgtquezada commented on #26
Nevermind. I looked at the users collection in mongo and it appears the email address is already being captured as part of the slack user's identity (from the users.info API method call). It's stored under the user_info.profile property. I would need to do a quick test to see I can pull it out and store it somewhere just to make sure!

If so - I think we can close this issue.

[2016-02-29 22:55] sheldonbarnes commented on #26
Ok, cool.  I'll look at another feature I can help with.

~Sheldon
Sent from my iPhone

[2016-02-29 23:56] sgtquezada commented on #26
ok confirmed. I am able to see and pull the user's email addy! we can close this issue!

[2016-03-01 00:06] sheldonbarnes commented on #40
@lpatmo @sgtquezada : In terms of "Figure out a way to send notifications via email instead of Slack", might consider something like sendgrid.com.  They have an API for sending email.   I believe it is free for up to 10k emails per month, and after that you would have to subscribe to a plan.  I've used it before on a demo project, and it is pretty cool.

https://sendgrid.com/docs/API_Reference/Web

[2016-03-01 01:13] #26 closed

[2016-03-01 02:21] lpatmo commented on #40
Thanks for the sendgrid suggestion! I just gave @sgtquezada an account for mailgun, which also offers a free tier. Not sure which one is cheaper/better, though. I think SendGrid is actually more popular, so may be worth trying out and comparing.

[2016-03-01 02:48] sheldonbarnes opened #44 "character count for status update"
display a character count for the status update so users will know when they will hit the 140 limit

[2016-03-01 03:37] lpatmo opened #45 "Users should be able to join a hangout that is currently in session."
Currently the hangout just displays a flashing red light. :)

[2016-03-01 03:45] lpatmo commented on #41
Merged into http://cbv2-staging2.meteor.com/. Thanks, @Luxisapex!

[2016-03-01 03:45] #41 closed

[2016-03-01 03:46] lpatmo commented on #36
@adanot Will assign it to you if you want to take a look. Thanks Adam!

[2016-03-01 03:47] lpatmo commented on #34
@adachiu It should search through all of the descriptions and titles. Have to do more research on which method is easier...

[2016-03-02 01:12] adachiu commented on #34
@lpatmo The Meteor Elastic Search looks good!

[2016-03-02 02:48] wuworkshop commented on #34
@lpatmo what about this package? https://atmospherejs.com/matteodem/easy-search

[2016-03-02 02:53] wuworkshop commented on #39
@lpatmo Maybe this issue should be part of either #10 or #22? 3 issues about the FAQ page seems a bit much. ^^'

[2016-03-03 03:11] lpatmo commented on #45
Committed to master.

[2016-03-03 03:11] #45 closed

[2016-03-03 03:43] lpatmo commented on #40
@sgtquezada Just realized this issue is similar to "send a reminder to participants that a hangout is happening soon." So once we figure this out, the second would be easier. Win!

[2016-03-03 03:44] #31 closed

[2016-03-03 03:44] lpatmo opened #46 "Ability to edit a learning"
Give users the ability to edit their own learnings.

[2016-03-03 03:45] lpatmo opened #47 "Ability to edit a hangout post"
Give hosts the ability to click on an "edit" icon to edit their own posts.

[2016-03-03 15:40] sgtquezada commented on #40
@lpatmo hmm. I think we may need to create a separate module/class to send notifications out at one point since it sounds like there will be a need to have it for multiple uses cases.  It's something I can work on after I complete this feature.

@sheldonbarnes we went with mailgun since Meteor already integrates with it as part of their 'Email' package.  So, it's a much straightforward configurati

[2016-03-04 17:18] sgtquezada commented on #40
Code has been merged into the `master` branch! Ready for review and closure.

[2016-03-05 00:43] sheldonbarnes commented on #44
![status_length](https://cloud.githubusercontent.com/assets/10457072/13544196/5cbfb00a-e241-11e5-95d2-a11aeb3aecd9.png)
Sample of what it would look like.  Any feedback?

[2016-03-05 00:50] lpatmo commented on #44
Cool!! Maybe we should move "I'm interested" on top of the icons so it doesn't look too squeezed. (Just thinking out loud -- don't have to worry about for the purposes of this issue.)

[2016-03-05 01:06] sheldonbarnes opened #48 "I'm interested buttons should display when Today I learned tab is clicked"
![screen shot 2016-03-04 at 8 02 06 pm](https://cloud.githubusercontent.com/assets/10457072/13544491/6f081a7e-e244-11e5-865e-635e54215102.png)
![screen shot 2016-03-04 at 8 02 14 pm](https://cloud.githubusercontent.com/assets/10457072/13544492/6f0badc4-e244-11e5-8525-55288674e432.png)

When the "Today I learned" tab is clicked, the 3 buttons for I'm interested in does not display.

    <span class

[2016-03-05 07:53] adachiu commented on #48
@sheldonbarnes The "I'm interested in" text and buttons don't need to show in the "Today I learned" tab because TIL does not update the status feed on the "I'm working on" tab. The two tabs have separate content.

You can refer to the mock ups @lpatmo posted.

[2016-03-05 08:07] adachiu commented on #44
Nice work! I agree with @lpatmo about moving the "I'm interested in" on top to make it  look less crowded.

Or the "140" character count could be moved up into the text input box at the bottom right corner and make the "140" have a light grey. This way, we can have the "I'm interested in" aligned horizontally with the icons. @lpatmo  @sheldonbarnes What do you think?

[2016-03-05 08:26] adachiu commented on #44
Maybe like this?

![screen shot 2016-03-05 at 12 24 43 am](https://cloud.githubusercontent.com/assets/13413986/13546653/e191152c-e268-11e5-885b-dd984290440b.png)

[2016-03-05 08:52] adachiu commented on #48
@lpatmo I like the hearts idea, but it's getting cluttered with the heart on the right and the "+2" numbers on the left. Instead of having the heart button and the numbers separated on both ends, why not have it all on one side. Also I think the upvote arrow icon is more like saying "good job" than the heart icon? :P

Example posted:

![screen shot 2016-03-05 at 12 45 10 am](https://cloud.githubus

[2016-03-05 12:20] sheldonbarnes commented on #44
Yes, I like that.

[2016-03-05 12:26] sheldonbarnes commented on #48
I will move the text to only show on the working side.

[2016-03-05 14:26] sheldonbarnes commented on #48
Easy fix.  Committed to branch if someone wants to take it for a spin:

https://github.com/codebuddiesdotorg/cb-v2-scratch/tree/fix/issue-48-interested-in-learning-buttons

[2016-03-05 14:40] sheldonbarnes commented on #47
considering tackling this after the 140 count feature on the status update

[2016-03-05 14:54] sheldonbarnes commented on #44
@sgtquezada would it be okay to utilize the session for keeping track of the status text length:

Respond to the key presses:
`
 'keyup #working-text': function(event) {

        var currentStatus1 = $('#working-text').val();
        Session.set('statusTextLength', (140 - (currentStatus1.length) ).toString());
  }
`
helper function for getting the current characters left:

`
statusTextLength: func

[2016-03-05 15:31] sheldonbarnes commented on #46
![screen shot 2016-03-05 at 10 29 41 am](https://cloud.githubusercontent.com/assets/10457072/13548388/420875ae-e2bd-11e5-982e-efc44305947b.png)

What about a font awesome classed button for edit?  When the user clicks the edit button, it populates the existing learned text back into the text area.  When the user clicks the Update button, it updates it with all the behind the scenes magic.  By util

[2016-03-05 16:26] lpatmo commented on #46
Alternatively, on click of the edit button, we could hide the existing span or div that contains the learning and then show a textarea on top of it that contains the content of the learning.

Same idea as before basically, except user would be editing/typing directly over the post instead of on top.

Sent from my iPhone

[2016-03-07 04:05] sgtquezada commented on #44
@sheldonbarnes not a bad idea. Are we 'checking' or validating the character count on the server side before we do the insert into the collection? I don't recall if we are or not.

[2016-03-07 12:29] sheldonbarnes commented on #44
The session is only involved in displaying the count to the user.  I will check the server code for validation.

Is there any other way to store the character count session side?

[2016-03-07 12:43] sebbel commented on #44
why not just count it when the user is done typing, or am I missing something?

[2016-03-07 12:53] sheldonbarnes commented on #44
We should check server side too.  See screenshot above with visual feedback for characters remaining on client side

[2016-03-08 05:26] #40 closed

[2016-03-08 06:27] lpatmo commented on #48
@sheldonbarnes Fix looks good, thanks! Have merged into master.

[2016-03-08 06:27] #48 closed

[2016-03-08 06:34] lpatmo commented on #44
@sheldonbarnes When you have a chance, can you push your branch up? (Couldn't find the one related to issue this issue #44). Thanks!

Question: how important is it to check for the character count server-side? My impression was that client-side was enough, but I may be missing something...

@sebbel I think we want the count to change *as* the user's typing, like on Twitter.

[2016-03-08 13:41] sheldonbarnes commented on #44
I spoke with Sgt yesterday afternoon about what I've developed.  I am still working on the logic, and styling.  I should have things in order soon for testing.

It is normally a good security practice to do server side validation as well.  In this case we are trying to limit character count.  I am open to either way.

If we have higher priority tasks to tackle, we can circle back on the server sid

[2016-03-09 04:05] lpatmo commented on #47
Itching to take a stab at this issue now too. :)

[2016-03-09 07:39] lpatmo commented on #47
@sheldonbarnes I pushed up the `feature/issue-47`branch: https://github.com/codebuddiesdotorg/cb-v2-scratch/commit/785bf783cc6dea5ab436f24f42b27003f571597c

Not quite working yet, though, because in api.js `Meteor.hangouts.update` can't quite figure out which post it's supposed to be updating.

[2016-03-09 21:03] wuworkshop commented on #18
This pure CSS one might be useful - https://github.com/kazzkiq/balloon.css

[2016-03-10 06:45] lpatmo commented on #47
This is resolved in three commits: 785bf783cc6dea5ab436f24f42b27003f571597c, d3b3b4d84ce10c69e007480cd8919c793c55020c, and cd67b4f7472ec1c4c15eb5ef9d1c12986defb9fe.

Would love feedback/testers on cbv2-staging2.meteor.com.

[2016-03-10 06:54] lpatmo commented on #47
Note: re: that problem I had last night... to pass the data forward into another JS file, I ended up doing this:

hangout-edit.js:
[code]

And then in api.js:
[code]

[2016-03-10 06:58] lpatmo commented on #46
(Actually, never mind about my comments before... my excuse was that I was on an airplane. Totally makes sense to have the text re-populate back in the "today i learned" textarea, IMO.)

[2016-03-10 06:59] lpatmo commented on #36
@adanot Do you have thoughts on where you think the problem might be, without taking too much time to look? It's still stumping me.

[2016-03-10 07:00] #29 closed

[2016-03-10 07:01] lpatmo commented on #25
Closing this issue because someone's taking the tooltips bug.

[2016-03-10 07:01] #25 closed

[2016-03-10 07:06] lpatmo opened #49 "Reminder emails should go out 24 hours (and 2 hours?) before a hangout starts."
Those interested in working on this issue should look at what @sgtquezada committed to get email notifications working whenever someone cancels a hangout. (And also look at the pretty email template!)

This issue is pretty important because currently on hangouts.codebuddies.org, people often sign up for a hangout without showing up.

The email notification should include a note reminding participa

[2016-03-10 07:09] lpatmo opened #50 "Fix pagination for hangouts"
Currently, if you click on "load 2/7" on https://cbv2-staging2.meteor.com, ALL of the rest of the created hangouts show up. We need to force only a couple (three) new hangouts to load every time the button is clicked.

[2016-03-10 07:46] lpatmo commented on #50
Resolved in d88a9ad61e8e882213c61c9baae3b58a3a2086d9.

[2016-03-10 07:46] #50 closed

[2016-03-10 08:19] nestevez7 commented on #47
Edit successful on multiple tests. The text fields and radio buttons were easy to edit however, the date/time was tricky as I'm use to clicking on the actual input to edit and not the time icon.

[2016-03-11 21:59] wuworkshop commented on #7
Haven't read all the documentation yet, but this might be useful.

Google+ Hangout button
https://developers.google.com/+/hangouts/button

[2016-03-12 23:18] lpatmo commented on #47
Thanks for testing, @nestevez7! Agreed that date/time editing is tricky, but if the user saves in lowercase ("am") instead of uppercase ("AM") it results in an error. I'll file this issue in another bug.

Closing this particular bug for now.

[2016-03-12 23:18] #47 closed

[2016-03-13 01:15] sgtquezada commented on #36
Is this issue fixed?

[2016-03-13 03:49] lpatmo commented on #36
Not yet.

[2016-03-13 04:41] lpatmo commented on #32
There should be an additional "profile information" textarea that individual users can edit to insert links or add any bio description they want.

[2016-03-13 06:47] lpatmo commented on #27
This is inadvertently done in https://github.com/codebuddiesdotorg/cb-v2-scratch/commit/dca91c2bc6da867f6c47e280dfcfabe386d539ac.

Could use a code review, though!

[2016-03-13 23:36] William-R-Wilson commented on #46
I'm going to give this a shot tonight.

[2016-03-14 03:28] sgtquezada commented on #36
Is the code committed? I don't see this in the `master` branch.  What is the expected behavior or outcome here?

[2016-03-14 03:32] lpatmo commented on #36
@sgtquezada You should see the error log in the console if you sign out, then sign in back again via a Slack team that's not codebuddies. However, I could swear that I've seen it in console log even when I signed into the correct Slack...

[2016-03-14 05:28] lpatmo opened #51 "Bug: Learnings and each of the sections in the new profile page are in the wrong order"
Seems easy to solve, but...

Example:
[code]
returns a list of posts ordered by the most recent first.

The posts are returned in:
[code]

However, on the profile page itself, when "load more" is clicked, posts are populated at the *top* of the list rather than at the bottom.

[2016-03-14 06:11] lpatmo commented on #51
I am an idiot and wrote:

[code]

instead of

[code]

(I forgot the `sort:` inside the publish method, and also had to change to -1 and make sure it said "timestamp" and not "createdAt" which does not exist in the document. Yay mongo.)

[2016-03-14 06:15] #32 closed

[2016-03-14 06:15] lpatmo opened #52 "Add user fields to the user profile page -- so users can add bio info. and links about themselves"
There should be an additional "profile information" textarea that individual users can edit to insert links or add any bio description they want.

[2016-03-14 06:17] #28 closed

[2016-03-14 06:18] lpatmo commented on #51
Resolved in https://github.com/codebuddiesdotorg/cb-v2-scratch/commit/f09aa8734ae24b7b9309805f62405c78b16a514d

[2016-03-14 06:18] #51 closed

[2016-03-14 06:22] #27 closed

[2016-03-15 02:07] lpatmo opened #53 "Give users ability to log in using Google too instead of relying on Slack?"
Some thoughts from users in a hangout:
- We should use Google login. 'Cause Slack login takes two steps and also when you want to join hangout you also need login to your google account.

Downside:
- no easy way to DM a user via Slack

Upside:
- Users need to log in using google anyway to access Google Hangouts
- Asking everyone to sign up on Slack and THEN login via this app is two steps.

[2016-03-15 02:09] lpatmo opened #54 "Can we do an integration when a hangout is created be published to a channel to slack?"
Hat tip to @foxiae for suggesting.

[2016-03-15 02:12] adachiu commented on #53
Google login would be a good idea since convenience to access a Google Hangout is arguably more important than DM-ing a user.

[2016-03-15 02:20] sgtquezada commented on #54
I thought we didn't want to do this? Spam a channel?
On Mon, Mar 14, 2016 at 7:10 PM lpatmo <notifications@github.com> wrote:

[2016-03-15 02:23] lpatmo commented on #54
I think we didn't want delete events to notify a channel, but created events might make sense...

[2016-03-15 04:10] distalx commented on #42
There is one more issue with this The confirm button on modal is also not working. So user is not able to delete the hangout at this stage.

[2016-03-15 04:21] lpatmo opened #55 "Consider creating a fixtures.js for dummy data"
This file will populate the app with dummy data on a fresh instance (if no data exists).

[2016-03-15 04:27] lpatmo commented on #55
As D. pointed out, better than seeing "asdf" typed for the title and descriptions.

[2016-03-15 04:37] lpatmo commented on #36
I tried

[code]
but didn't get it to work. :/

[2016-03-16 04:25] wuworkshop commented on #7
A Hangouts alternative - https://developer.appear.in/

[2016-03-16 11:30] William-R-Wilson commented on #46
Done, merged and pushed.  Please take a look before we close the issue.

[2016-03-16 12:53] distalx commented on #46
It works just fine.
But I believe that we should also use `this.userId` with `editLearning` and `deleteLearning` methods.
And it would be a good idea if we show some _alert_ message on deletion.

[2016-03-16 14:09] William-R-Wilson commented on #46
I believe you are right!  Silly me forgetting about that detail.  I'll do some more work tonight.

[2016-03-16 16:57] sergeant-q commented on #54
For clarification, is the intent to notify a slack channel when a new hangout has been created (scheduled) on the CB site or when the actual hangout is live and in-progress?

Also - thinking about this feature seems like tagging might be a pre-req to implement this more effectively. Thoughts?

[2016-03-16 18:49] foxiae commented on #54
Tagging would need to be a pre-req if we wanted to push to a particular channel that a hangout has been created/scheduled/going on. Looking at the API, it doesn't seem that hard to do.

We could create one channel for news channel on slack that could also push when a hangout has been created/started/any other sort of news from the site - if that's something that would be of interest.

We could als

[2016-03-16 19:58] sergeant-q commented on #54
LOL - I know slack is a fantastic communication tool so it's hard to resist integrating it into an app! On the flipside, we are essentially banking on Slack if we start going down this approach and mark it as our de facto communication/authentication tool and mechanism.

This has been brought up as a concern as not everyone in the community is using Slack. However, it certainly doesn't mean it's a

[2016-03-16 22:39] lpatmo commented on #54
I think the simpler approach makes sense: creating a #news or #hangouts channel that would populate with alerts about hangouts created on the Slack.

Both types of notifications also make sense, IMO:
1) when the hangout is initially created
2) 10 minutes before a hangout starts

I'm not quite sure if each of these notifications should be prepended with `@channel` (might get too annoying if hangout

[2016-03-17 00:13] adachiu commented on #54
@sergeant-q A dedicated channel for hangouts/announcements would be effective. I've seen other Slack groups use this approach to announce news and it works really well. Keeps things organized in one place.

@lpatmo for the "10 minutes before a hangout starts" alert, wouldn't it be great if there's a Slack bot that could message joined users :stuck_out_tongue: ... or maybe email alerts if users cho

[2016-03-17 00:21] lpatmo commented on #54
@adachiu We have the "email alerts" version of that feature in this issue: https://github.com/codebuddiesdotorg/cb-v2-scratch/issues/49 :)

A few thoughts on Slack:
- The most people I've noticed having the CB slack open at the same time has been ~50 people. We're still a pretty small community. I get the sense that a lot of people register, don't really understand how to use Slack (or forget that

[2016-03-17 01:32] William-R-Wilson commented on #46
So I have it set to where you can't see the edit/delete buttons if you aren't the owner of a learning.  I assume that was what you meant distalx?

I also added an confirm on delete.  I pushed these changes to a new branch and have not merged yet:  fix/add-userId-to-edit-learning if anyone wants to check it out before merging.  \m/

[2016-03-17 04:42] lpatmo opened #58 "Code security checks"

[2016-03-17 04:44] lpatmo commented on #58
One commit that should've been part of the `issue-58` branch:

https://github.com/codebuddiesdotorg/cb-v2-scratch/commit/f7b8665a96b9c32f17d84d16b13f59c7b30996f6

[2016-03-17 04:48] lpatmo commented on #7
Appear.in looked really promising, but we ran into a few issues:

- Audio was not working on Google Chrome; only worked fully on Firefox.
- Appear.in doesn't support screensharing on Firefox
- There was a delay with the messages appearing on the chatbox.
- When we joined the hangout, there were no names attached to each of the anonymous screens; because of this, the experience felt disconcerting c

[2016-03-17 04:55] lpatmo opened #59 "Pagination could be smoother"
Right now new posts are just added to the bottom.

[2016-03-17 05:22] lpatmo opened #60 "Restyle "kudos" section"
Instead of:

![screen shot 2016-03-17 at 1 21 27 am](https://cloud.githubusercontent.com/assets/4512699/13837154/9e1bdeb0-ebde-11e5-96ec-83331cf33b59.jpg)

... combine:
![image](https://cloud.githubusercontent.com/assets/4512699/13837145/895fa7f4-ebde-11e5-85fe-ba97e6efd57c.png)
Credit: @adachiu for the design

[2016-03-17 05:52] adachiu opened #61 "Dashboard with ranking (gamification) and learning graph on the profile page"
Features to be considered in the future.

**Ranking System**
To incentivize people to show up to scheduled hangouts, we could implement a ranking point system.
Showing up at a scheduled hangout = +1 point
Signed up, but didn't show up = -1 point
(Or we could increase the penalty for "no shows" to -5 points or more...)

The ranking levels could be based on hangouts completed in increments of 25.
Ex

[2016-03-17 05:54] distalx commented on #54
I believe that we should consider some kind of _following_ or _subscription_ mechanism for that.
and suppose, If we are sending all the alerts to one specific or subject specific channel we might lose the _attention span_ of the users because nobody likes appearing _notifications_ or sound of _bling bling_ on duration of every 5 or even on ~ 20 some minutes, user might find this annoying.

Follow

[2016-03-17 06:28] sergeant-q opened #62 "Contributing Workflow Update Recommendations - Pull Requests (PRs) & Branch Naming"
## Pull Requests

I am suggesting we move to having contributors submit pull requests for new features/issues.  Considering we are working in a **shared repository model**, this workflow is aligned with best practices for contributing to open-source projects which offer the following key benefits:
- Notification to project maintainer of new code changes submitted
- Code Review (can view the actual

[2016-03-17 11:26] foxiae commented on #54
I didn't think it would be such a huge annoyance to user if this sort of integration was made. I just know, knowing myself, I won't check CBv2 for new hangouts to be created. If people don't publicize it in the channel (really the only way currently I know when a hangout is created), I don't know about it.

The current process for creating hangouts/publicizing them is 1) created hangout on website

[2016-03-17 14:56] sergeant-q commented on #46
@William-R-Wilson the issue @distalx is referring was an oversight in the delete and edit hangouts server methods.  This has been addressed in the following committ https://github.com/codebuddiesdotorg/cb-v2-scratch/commit/f7b8665a96b9c32f17d84d16b13f59c7b30996f6

Take a look at what was done there to apply the same **security check** on the remove or update operation on the collection.  In a nuts

[2016-03-17 15:08] William-R-Wilson commented on #46
Right on.  I modeled my own code on the hangouts methods.  I wondered if server side authorization was needed as well.  I can make sure this gets done in the next couple days and will post here when it's done.

[2016-03-17 17:12] sergeant-q commented on #54
I'm with @foxiae on this one. I see a few online bootcamps and similar sites follow this pattern.  [thinkful.com] (http://thinkful.com) comes to mind. They send a slack notification to a general channel announcing their 'session' (hangout for us) is about to start in X minutes.  They do not `@channel` so this makes it less intrusive but nevertheless a reminder was sent out for those interested.

*

[2016-03-17 20:35] distalx commented on #60
Have we decided on the type of search ?

[2016-03-18 03:11] lpatmo commented on #62
Whoa, just noticed Github now let us use emoticons to respond to issue posts! That's great!

Looks like four active people here endorse, so let's go with it.

To recap:

*We're going to do everything we did before (including creating a new branch, etc.) but *before* merging into master, create a new pull request for our commit so that we take advantage of Github's features for pull requests.*

[2016-03-18 03:30] lpatmo commented on #60
@distalx Not yet! Search issue is sort of part of the tagging issue here: https://github.com/codebuddiesdotorg/cb-v2-scratch/issues/34

Thanks for your PR! Have merged and am closing this issue now.

[2016-03-18 03:30] #60 closed

[2016-03-18 05:20] lpatmo commented on #61
Features we can remove from the MVP:
- "Rank level 1"
- Complete/Incomplete
- 2 day learning streak and associated grid

[2016-03-18 07:11] adachiu commented on #12
Here's a draft of the About page.
Zeplin link: https://zpl.io/Z1Rl08m

![about-1](https://cloud.githubusercontent.com/assets/13413986/13870953/b77a313a-ec9d-11e5-87b0-a0802030994e.jpg)

[2016-03-18 07:47] adachiu opened #67 "New Homepage View for Non-logged-In-Users"
The "Homepage for Non-logged-In-users" would emphasize **Slack community** + **Study hangouts**

Button **"Learn more here!"** re: Slack — This could open a new window to Slack's own site.
Buttons **"Join Us on Slack"** and **"Yes, I want to join CodeBuddies"** — After Slack registration, open up a brand new page that notifies users to do one of the following:
1) launch Slack chatroom link
2) open

[2016-03-18 13:02] distalx commented on #62
This blog is really intreating, it's regarding thoughtful git practises.
https://robots.thoughtbot.com/better-commit-messages-with-a-gitmessage-template

I believe we should also consider having a some sort of **_template_** for commit messages.

[2016-03-18 15:17] sergeant-q commented on #67
This is pretty **awesome**! This is exactly the type of call to action I was looking for when it came to joining our slack room!  Good job @adachiu !

[2016-03-18 15:26] sergeant-q commented on #62
Not a bad idea and good habit to get into.

[2016-03-18 19:26] William-R-Wilson commented on #46
This seems to be working in the master branch.  I've tested it locally by logging in with two different accounts.

[2016-03-18 23:02] lpatmo commented on #46
Agreed, @William-R-Wilson! Closing this issue. :)

[2016-03-18 23:02] #46 closed

[2016-03-19 04:34] lpatmo commented on #34
I'm going to move the search discussion out into a different issue, in case we want to revisit implementing tagging.

[2016-03-19 04:36] lpatmo opened #68 "Implement a search box"
Mockup:

![screen shot 2016-03-19 at 12 35 08 am](https://cloud.githubusercontent.com/assets/4512699/13896652/7ed1573c-ed6a-11e5-8eaf-a6b621bb49e1.jpg)

@distalx recommends the meteorhacks:search-source package: https://meteorhacks.com/implementing-an-instant-search-solution-with-meteor.html

[2016-03-19 09:13] distalx opened #69 "Bug: user is able to upvote his/her own learnings !"
Currently user is able to upvote his/her own learnings. I suppose it should be restricted to upvote his/her own learnings.

@William-R-Wilson  Thanks for reporting that.

[2016-03-20 05:28] lpatmo opened #70 "Feature: Give users the ability to clone hangouts"
Oftentimes I'll want to schedule a recurring hangout; would be nice if I could click "Copy" and not have to re-fill-out the title and description.

[2016-03-20 05:31] lpatmo opened #71 "Choose a hosting provider and deploy the app"
The leading candidate at the moment (because it's free and support open source projects that apply!) is OpenShift: https://www.openshift.com/

Previously we had discussed hosting on AWS, DigitalOcean, or Galaxy (the official Meteor hosting solution -- which is a little more expensive than the first two options.)

If you have any thoughts on hosting providers, please leave a comment.

[2016-03-20 18:15] oliikit opened #72 "Finish Site Documentation for Future Contributors at docs.codebuddies.org"
To ensure the site is well-maintained, we should look into documenting code structure, design principle, user functionality, etc.

From Slack, @lpatmo suggested a FAQ knowledge base, @adachiu suggested a style guide, and @William-R-Wilson suggested a code style guide (e.g., code organization/file structure, variable naming, tabbing).

@distalx mentioned we could use `@comments` to generate documen

[2016-03-20 18:21] foxiae commented on #70
Could we implement a 'reoccuring' feature as well?

Say for example, a channel is going through a book and they meet weekly at x time. So they can just schedule one meeting and have it repeat for x amount of weeks - just like the functionality you have when creating calendar invites.

[2016-03-20 19:21] sergeant-q commented on #71
For **OpenShift**. Is the set up and deployment for Meteor apps straightforward and well supported? I used it a while back and it was never easy to get things up and running.  A lot of 'dev ops' work needed to handled by the developer.

The whole point of these **PaaS** providers is to remove that headache and provide an almost ready-to-use server/platform to run your applications.  My experience

[2016-03-21 00:43] distalx commented on #71
Aws is like paradox of choices. sometimes you end up buying things you don't require.
using OpenShift as a hosting platform won't be easy there are tons of administrative task needs to be done before deployment but it's definitely worth a try. (it's free). Maybe we can automate those administrative task afterwards.
At least we should do one pilot testing with OpenShift.

DigitalOcean would be perf

[2016-03-21 07:59] lpatmo commented on #70
@William-R-Wilson Oops, Will, I started working on this bug while I was on the plane earlier today (while I didn't have any wifi) and created this pull request: https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/73. Feedback welcome!

The second part of the bug -- @foxiae's suggestion of giving users the ability to repeat a hangout X number of times weekly from the start -- I haven't tackled,

[2016-03-22 04:40] #69 closed

[2016-03-22 04:44] lpatmo commented on #42
This was fixed here: https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/56

[2016-03-22 04:44] #42 closed

[2016-03-22 17:40] distalx commented on #72
This package might be useful for doc genaration.
https://www.npmjs.com/package/meteor-jsdoc

[2016-03-22 17:50] distalx commented on #68
I'm thinking about rolling out our own custom search,
Currently I'm considering search
by `hangout title`
by `tags` (if we use tags)
by `users `

Guys, Please do let me know your thoughts.

[2016-03-22 19:07] sergeant-q commented on #72
**JSDocs** is the de facto or **go to** for documenting Javascript files and follows a good style and convention used by the community.  Going with this package seems like a good fit!

**As a side note**: this also means we should encourage and will have to refactor our codebase to properly document our code following this convention.

[2016-03-22 19:10] sergeant-q commented on #68
@distalx I think all of those three search fields are valid options and make sense. Can always just start with those fields and then add additional as we find necessary.

[2016-03-22 19:14] foxiae commented on #72
If JSDocs is what we should go with, I can look into the implementation over the weekend.

Does anyone know of an automated JS code reviews to catch styling issues for our current code base? I know rails has the gems robocop and pronto.

[2016-03-22 19:28] distalx commented on #59
Merged #63

[2016-03-22 19:28] #59 closed

[2016-03-22 22:22] sergeant-q commented on #71
I'm curious if MDG would even consider sponsoring us for their **Galaxy** offering considering it's a Meteor app we're running!

[2016-03-23 00:57] lpatmo commented on #71
Worth a try. :)

Companies on my potential-sponsors-to-email list now:
- DigitalOcean, MDG, Modulus.io, Slack

Also, thank you everyone for your thoughts on hosting providers! I'm going to try deploying the staging site on OpenShift either today or tomorrow (at least before March 25th), and see how it works out.

[2016-03-23 00:59] lpatmo commented on #68
I would also add `description` to the mix -- since likely there will be some keywords in the description not mentioned in the title. But at a minimum, would be good to search by `hangout title`.

Thanks for taking this issue, @distalx!

[2016-03-23 20:27] distalx opened #76 "Immune system for Codebuddies."
I think we should have some sort of filtering mechanism to naturally push out spammers, bad actors.

[2016-03-23 21:46] wuworkshop commented on #72
I haven't used DocumentCSS, but this article makes it sound pretty sweet.

http://blog.bitovi.com/style-guide-driven-development/

The article also mentions this nice list of style guide generators:

https://github.com/davidhund/styleguide-generators

[2016-03-23 22:24] sergeant-q commented on #54
There's a small bug or error actually showing up on the console indicating the `extend` method is not found on `undefined` on the custom slack function.  Will create fix branch for this.  This is **not** impacting the actual functionality but need to resolve the error.

`functions.js:18Uncaught TypeError: Cannot read property 'extend' of undefined`

[2016-03-24 01:32] distalx commented on #72
This is a nice approach for style guide
http://rscss.io/

[2016-03-24 01:39] distalx commented on #34
So, tagging system is a go or no go?

[2016-03-24 01:45] distalx commented on #36
Fixed #57

[2016-03-24 01:45] #36 closed

[2016-03-24 15:15] foxiae commented on #72
@wuworkshop, @distalx thanks for the sites! I'll make some sample docs over the weekend from these resources, and we can see what would work best.

[2016-03-24 17:30] sergeant-q commented on #54
I have conditionally fixed this error by wrapping the function inside an `if (Meteor.isServer)` block.  I am a little confused as to why this needs to be done if from the **meteor docs**, it states anything under the **/lib** directory is loaded first and on **both** the server and client.

The error is because the package variable `slack` is not available on initial page load so it can't find the

[2016-03-25 05:45] lpatmo commented on #76
We can implement this by giving some users "moderator" status, and give them permission to remove (and possibly edit) posts.

[2016-03-25 06:52] #68 closed

[2016-03-25 18:44] sergeant-q commented on #54
I believe this has been merged. So we can close it now!

[2016-03-25 18:51] sergeant-q commented on #12
Is the plan to update the **about.html** page to reflect @adachiu 's mockup?

[2016-03-25 18:59] lpatmo commented on #12
Yep! :)

[2016-03-25 19:07] sergeant-q commented on #17
I have a question for this request. Considering the new site will be using **Slack** as the sign-in mechanism, how valid is the need to _port_ over existing users from the old site?

The user's profile will be created (**and inserted into the user's collection**) on first log-in with the proper service provider's extra details like the user's profile image for example.  We are not using Slack on t

[2016-03-25 19:20] sergeant-q opened #80 "Hangout Details Page - Design/Layout Update Request"
I think we need to add a little more "life" to the hangout details page.  It's very basic right now and there's no organization around the details.

![image](https://cloud.githubusercontent.com/assets/1451729/14051884/40559158-f283-11e5-9fee-e2d862d29a60.png)

@adachiu any chance in getting your help mocking something up? :)

I'm thinking the layout should separate/highlight the host, participants

[2016-03-25 19:43] sergeant-q commented on #52
Can we have someone mock this up? @adachiu (**you da man!**)

[2016-03-25 20:22] adachiu commented on #52
Like issue 61?
https://github.com/codebuddiesdotorg/cb-v2-scratch/issues/61

The text area could be bigger. We could also put an icon for users to edit their information.

[2016-03-25 21:02] sergeant-q commented on #52
Yes, I guess issue #61 is a re-haul of the user profile.  I think what we need is a mock up on what the **edit view** would look like and what fields a user can edit/update.

And yes - an _edit_ icon would be nice to add (and only visible to the user themselves).

[2016-03-26 06:00] lpatmo opened #81 "CSS bug: layout breaks between 992px-1199px"
![screen shot 2016-03-25 at 10 52 03 pm](https://cloud.githubusercontent.com/assets/4512699/14058434/3080515a-f2dd-11e5-809a-c2a43dfc7543.jpg)

[2016-03-27 02:23] leewaygroups opened #82 "User (hangout host) should not be able to delete an ongoing hangout."
![cb_issue](https://cloud.githubusercontent.com/assets/7301892/14063480/76410f6a-f3fd-11e5-8dd9-331ba1a710b6.png)

[2016-03-27 05:05] distalx commented on #76
That would be great too,
But I'm thinking about a system which can identify a negative actors, by it self. And also a user could  able to report or flag those kinds of activities.

By Immune system I mean a system which can _differentiate_ between good and bad.
For that we need some rules for the each user input, based on that rule we can assign some value to each input.

[code]

IF hangout score

[2016-03-27 05:16] wuworkshop commented on #17
I'm definitely not opposed to starting off fresh. Realistically, we don't actually have over 1600 **active** members, so maybe a clean slate would be best. I actually think the 1600+ number on the current v1 app might be a little misleading to new members who sign up. They might think there's a larger community to get help from or pair program with or whatever.

[2016-03-27 05:18] lpatmo commented on #82
I'm kind of conflicted about whether this should be a feature.

What if a user creates a teaching hangout (with the expectation that they'll be teaching students), but has to cancel last minute -- or right as the hangout starts?

[2016-03-27 05:19] lpatmo commented on #54
Closing!

[2016-03-27 05:19] #54 closed

[2016-03-27 05:57] leewaygroups commented on #70
So, my understanding is hangout can either be one-off or recurring.

[2016-03-27 06:04] leewaygroups commented on #70
Would it make sense if recurring hangout schedule is made more flexible such that the user can pick the days on which the hangout will reoccur?

More like: Time: 12PM - 1PM and days: date1, date2, ... daten.

[2016-03-27 07:26] lpatmo commented on #17
Agreed, @sergeant-q and @wuworkshop. Doesn't make sense for to port over the old DB since cbv2 requires Slack login.

[2016-03-27 07:26] #17 closed

[2016-03-27 20:56] distalx commented on #17
Just a thought :-
Since We are not gonna port our current database with the new release, at least We should reach out to our users (via email) and notify them about this transformation that gonna take place.
That they won’t be able to access the new release of _codebuddies_ with their current credentials.
They have to use their slack credentials to access the system and If They haven’t joined the

[2016-03-28 05:47] wuworkshop opened #84 "Hangout RSVP 10 Participants Cap"
Since Google Hangouts has a cap of 10 users, should we limit RSVPs to 10? Or maybe there should be some sort of disclaimer info somewhere about the Hangouts cap?

[2016-03-28 05:52] adachiu commented on #84
@wuworkshop How about letting users choose the amount of participants? up to 10 allowed since it's the limit.

[2016-03-28 05:58] wuworkshop opened #85 "Easter Egg Surprise"
Might be fun to add an easter egg to the app, just as a nice surprise to users. Like maybe when a user types the Konami code they see something cool or funny.

Might I suggest 17 on http://tympanus.net/Development/Animocons/ ? :smile:

Example of Konami code implementation (please note it's a VERY old post) - http://www.paulirish.com/2009/cornify-easter-egg-with-jquery/#comment-68011

[2016-03-28 11:16] foxiae commented on #72
So I was able to check out a lot of style guides over the weekend. I think [SCS Style Guide Generator](http://styleguide.sc5.io/) will be the best. Working with nodejs is still really new to me, so it's taking me awhile to read up on how to implement it.  For the jsdocs,I just need to add/format already existing comments to have something to show.

@distalx, the RSCSS site is really good. And shou

[2016-03-28 11:19] oliikit opened #86 "Creating an Accomplished Page"
We have 'what am I learning' section, but can we create a page where people can post what they've recently accomplished (like our show and tell channel)?

[2016-03-28 11:21] oliikit opened #87 "Creating a Resource Page"
Codebuddiesdotorg contains repos of useful resources and people pin useful resources on Slack channels. Can we add a page with useful resources for learners?

[2016-03-28 12:04] distalx commented on #87
@foxiae
We have something like that incase if you missed it ..
https://github.com/codebuddiesdotorg/crowdsourced-resources
But definitely we can add this to our app and make it more accessible.

Would be a good idea if ppl can submit the resources they find useful ? But then we'll also need some sort of filtering and monitoring system for that.

[2016-03-28 12:38] foxiae commented on #87
@distalx that's the repo I was referring to. Is there a way we can push the .md to the site? That way, if people want to add something, it's somewhat controlled?

[2016-03-28 12:53] distalx opened #89 "Unit test and continuous integration."
Meteor 1.3 officially supports the mocha framework. We should take an advantage of it and add unit test to cb.
And also we should start using continuous integration.

[2016-03-28 13:15] foxiae commented on #89
Oh! Something kinda related? https://www.codacy.com/ is an automated code review site that's free for open source projects. It may be good to have with integration testing and such.

[2016-03-28 14:09] distalx commented on #87
I see, There are many ways to skin a cat. Let's see what other buddies feels about it.

[2016-03-28 17:57] adachiu commented on #86
That information (list of accomplishments) would be on each user's dashboard. Users can see other people's dash as well.

[2016-03-28 20:09] foxiae commented on #86
Oh, okay. I didn't notice. Would it be possible to have an 'accomplished feed' then? So whenever someone completes a project, the community can see it (or at least it gets announced to the community)? That way, it may open the dialogue of "hey I just finished this project - would anyone mind critiquing the code?"

[2016-03-29 02:27] #81 closed

[2016-03-29 03:38] distalx opened #90 "Migrating to Meteor 1.3 !"

[2016-03-29 03:42] lpatmo commented on #90
@sergeant-q said on slack: "Meteor 1.3 is out guys! Can we safely update CBv2? Love to take advantage of the module support and better testing!"

[2016-03-29 03:50] lpatmo commented on #86
I think we roll can this into the "learnings/accomplishments" tab (we've been referring it to so far as the "learnings" tab only, so it might've been confusingly thought as just a "what did I learn" section).

One idea: we can add a star or a checkbox next to each learning/accomplishment, and let users star which of their learnings/accomplishments they want to publish in the weekly shout-outs news

[2016-03-29 23:53] sergeant-q commented on #90
@wuworkshop made a good point about **breaking changes** if we want to update to 1.3.  Let's verify we are not impacted by [these](http://guide.meteor.com/1.3-migration.html#breaking-changes) changes

[2016-03-30 01:25] lpatmo commented on #32
Profile page mockup: https://zpl.io/1B2fCI

[2016-03-31 02:20] sergeant-q commented on #82
I agree, we should keep this option available at any time. Best case scenario, the host can reschedule the hangout session by _updating_ the hangout.

[2016-03-31 16:51] sebbel commented on #82
I would expand the error message if the hangout is live. Something like "Are you positive to leave this hangout? There are people here."

[2016-03-31 20:50] leewaygroups commented on #82
@sebbel I think your suggestion is a fine one. Let's see what other's think.

[2016-03-31 20:54] leewaygroups opened #91 "When deleting a hangout, user get's a 500 Error if button "Yes delete" is clicked more than once."
![cb_issue](https://cloud.githubusercontent.com/assets/7301892/14190423/ee15704a-f7bc-11e5-942e-89e94ec74cfb.png)

[2016-03-31 21:55] sergeant-q commented on #91
I'll take a look at this! thanks for testing @leewaygroups

[2016-04-01 01:14] sergeant-q opened #92 "Allow logged out users (non-members) ability to view scheduled hangouts"
I came across this bug while fixing issue #91. Someone can look up a hangout via the **console** by doing  a **mongo query** and grabbing the `id` of the hangout and going to the url ```hangout/:id``` even if you are not signed via Slack.

We need to restrict the **hangout details page** to _only_ logged in users.

[2016-04-01 02:18] sergeant-q commented on #91
This issue has now been fixed per this commit https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/93/commits/6f729562e061f811f46684d88d328a9e459558ef

Waiting on pull request https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/93 to be approved and merged.

[2016-04-01 02:20] lpatmo commented on #92
I don't think is a bug (it's a feature! :)) -- currently on hangouts.codebuddies.org we link to the individual posts when we want to share them, so that non-members can hear about it and sign up for the hangout if they're interested.

Let me know if this isn't what you're referring to.

[2016-04-01 02:25] sergeant-q commented on #92
Yes! With the new **logged out** page we just implemented, users are not even able to see any new scheduled hangouts. I see your point in making it available to non-members though! Good point!

[2016-04-01 02:29] lpatmo commented on #92
Good point... we might consider changing the home page later to populate some of the recent hangouts. At the moment, it's pretty good that the individual hangout links are public, IMO; those are the links most likely to be shared when someone wants to spread the word about a particular hangout.

@adachiu already started running usability tests, and we have some ideas for updating the home page eve

[2016-04-01 04:48] sergeant-q commented on #91
PR merged. Closing issue

[2016-04-01 04:48] #91 closed

[2016-04-01 11:50] sebbel commented on #90
but I think the rewrite will be well worth it considering the perks that Meteor 1.3 brings. (npm packages, wohooo)

[2016-04-02 23:32] lpatmo commented on #90
This has been started in https://github.com/codebuddiesdotorg/cbv2.

@distalx also started an awesome 1.3 contributing guidelines document: https://docs.google.com/document/d/1-C36kLD1FO6w5lP4E7gkHyFxGEEgU0v3Yr6AJ94wgNA/edit?ts=57003d66

[2016-04-07 02:25] #67 closed

[2016-04-07 02:29] #12 closed

[2016-04-07 02:29] #10 closed

[2016-04-07 02:29] #22 closed

[2016-04-07 02:35] lpatmo commented on #7
The problem with the hangouts button API (https://developers.google.com/+/hangouts/button) is that once the button renders, it creates a *brand new* hangout link each time the button is clicked on.

So, two people clicking on the same button that appears will join different hangouts.

I have an alternative solution in the works...

[2016-04-08 05:02] adachiu opened #96 "Home Page Update"
Zeplin link https://zpl.io/5qd4v
Logo asset in Zeplin

Use this screenshot for Slack window. Add shadow with CSS!
![slack-window](https://cloud.githubusercontent.com/assets/13413986/14374256/bdea155a-fd08-11e5-85b6-31d43b7d98e6.png)

"Video OFF, microphone OFF, ..." in each column is 13px non-italic and bold **OFF** or **ON**.
![screen shot 2016-04-07 at 9 53 22 pm](https://cloud.githubusercontent

[2016-04-08 14:43] sergeant-q commented on #96
@adachiu can we do a mock up with the v4 logo?

[2016-04-08 21:56] distalx opened #97 "Metadata and Search Engine Optimization."
Manage  titles & meta tags.
Add robots.txt & sitemap.xml.

[2016-04-09 04:08] lpatmo opened #99 "Create a new "Your First Pull Request" label to mark beginner-friendly issues newcomers could work on"
"I would like to have a proposal for you. I am currently contributing to a project called hood.ie on GitHub. That project is full of issues which can me taken by JavaScript or Tech-in-general newbies. Those issues are labeled with 'for starters' or 'your first pr'. I'd love to have some issues like that on the new codebuddies, so we could incorporate people from the Facebook group or the slack and

[2016-04-09 04:19] lpatmo commented on #99
Updated: the label is called "good-for-beginners"

[2016-04-09 04:26] lpatmo commented on #96
I can work on making the updates to the home page.

[2016-04-09 04:29] lpatmo commented on #87
@foxiae Were you suggesting that https://github.com/codebuddiesdotorg/crowdsourced-resources be a page on the website itself?

[2016-04-09 04:30] #58 closed

[2016-04-09 04:30] #39 closed

[2016-04-09 18:20] sergeant-q opened #100 "Create Hangout Start/End Time (datetime picker behavior)"
Currently, when creating a new hangout, the datetime picker logic defaults the **end time** to current time + 1 hour.  The issue is a user is unable to set the **start time** to some time in the future greater than the default *end time*.

<img width="802" alt="screen shot 2016-04-09 at 11 17 27 am" src="https://cloud.githubusercontent.com/assets/1451729/14405485/b9fa130e-fe44-11e5-868b-e5893a44cd

[2016-04-10 01:10] lpatmo opened #101 "CSS for hangout status buttons"
After a button is clicked on, its background should remain filled instead of returning to normal.

![screen shot 2016-04-09 at 6 09 23 pm](https://cloud.githubusercontent.com/assets/4512699/14407452/4c90e100-fe7e-11e5-945d-cd6e06839fae.jpg)

This is a good-for-beginners issue.

[2016-04-10 01:28] lpatmo opened #102 "Create a "help us keep this project alive!" page"
The link to this page is currently at the footer, but the page has not been created yet.

Content to be figured out, but would be nice to at least have the page in routes.js.

[2016-04-10 01:29] lpatmo commented on #102
Good for beginners -- someone can figure out how to create a new page.

[2016-04-10 02:30] #97 closed

[2016-04-10 05:48] lpatmo opened #103 "Replace green checkmarks with an alternative -- maybe "Leave" button?"
Folks have been commenting that this icon looks confusing:

![screen shot 2016-04-09 at 10 45 35 pm](https://cloud.githubusercontent.com/assets/4512699/14408326/d36a1fae-fea4-11e5-93d7-7ecd855b0999.jpg)

Maybe we should change it to be a button that says "Leave."

[2016-04-10 07:17] sergeant-q commented on #103
Yep. I made mention of this and it was totally confusing to me! Unfortunately, it is not as intuitive as one would think.

[2016-04-11 15:06] sebbel commented on #102
I'd like to have this exclusively for first-pr people and announce it in both slack and Facebook group. how would that sound to you people? :)

[2016-04-11 16:26] lpatmo commented on #102
@sebbel Sounds good.

[2016-04-12 08:57] lpatmo commented on #99
Update: let's use the suggestions from http://hood.ie/blog/starter-issues.html. (Thanks @sebbel for recommending.)

To start, let's add some checkboxes to each of the issues labled `good-for-beginners`, e.g.:

-[ ] Check out a branch by typing `git checkout -b [ISSUE-NUMBER-AND-BRANCH-DESCRIPTION]
-[ ] Push up the branch.
-[ ] Save and commit any changes.
-[ ] Create a pull request by going to X a

[2016-04-13 05:42] lpatmo opened #106 ""Moderator" Status"
There should be some way to make a user a moderator and give them the ability to edit hangout posts.

This issue is up for discussion.

[2016-04-14 03:44] distalx commented on #106
I propose a role based auth system with the following specs.
User roles `normal - moderator - admin`.

**user**
- create-edit-remove, join, report, `hangout`
- create-edit-remove, upvote `learning`
- report another user

**moderator**
- edit-remove reported hangout.
- block-unblock user

**admin**
- block / unblock user .
- add-remove  `moderator` (role).

[2016-04-14 04:23] sergeant-q commented on #106
@distalx @lpatmo what about learnings? do we care about moderating those?

@distalx does an **admin** inherit the permissions of a **moderator** and is this role able to edit/remove _any_ hangout for any user?

[2016-04-14 04:34] distalx commented on #106
@sergeant-q
-The permission flow will be  **admin** > **moderator** > **user**.
-I believe **moderator** should be able to edit/remove hangout of any user .

[2016-04-14 07:53] lpatmo commented on #103
![screen shot 2016-04-14 at 12 52 03 am](https://cloud.githubusercontent.com/assets/4512699/14520774/311546a4-01db-11e6-9ee6-913c9a5c166e.jpg)

Not sure if the button should say "leave" or "joined" or "Un-RSVP"... which one looks better?!

[2016-04-14 07:54] lpatmo commented on #103
Branch: `git checkout 103-green-checkmarks`

[2016-04-14 14:32] foxiae commented on #72
At this time, I'm going to put this issue on hold. Most frontend styleguides use gulp/grunt to get everything working, which, as I have learned, isn't that easy to implement with meteor.

With the implementation of 1.3, we can introduce Meteor's recommended [code style](http://guide.meteor.com/code-style.html). They recommend using Airbnb styleguide for both JS and CSS. ESLint will also work in 1.

[2016-04-14 15:12] foxiae commented on #76
@distalx I think this would be a good addition to have with the proposed moderator settings. Though I think we should give some thought as to what those flags should be.

Should users be notified that their hangouts need to be formatted a certain way (i.e., no foul language, must contain a certain length, etc)?

[2016-04-14 15:21] sergeant-q commented on #72
I think the style guide recommended by Meteor (Airbnb) is what we should definitely shoot for. Once we migrate the project to **1.3** we can probably take advantage of this NPM package or something similar to generate the actual docs for our site.

https://www.npmjs.com/package/meteor-jsdoc

[2016-04-14 16:57] sergeant-q commented on #103
My initial feeling is to use the **Leave** button. Perhaps add a tooltip when you hover it to provide better explanation that this means you are essentially un-RSVP'ng yourself.

[2016-04-14 17:07] adachiu commented on #103
@lpatmo  It's getting messy with too many perceived affordances. There's about 6 things that look clickable and we'll need to simplify it.

![screen shot 2016-04-14 at 9 47 57 am](https://cloud.githubusercontent.com/assets/13413986/14536188/ffe325d8-0225-11e6-897a-e79bba2b0305.png)

The following points correspond to the numbers marked in the screenshot:

**1** How important is it to show the time

[2016-04-14 17:26] sebbel commented on #76
Mistakes happen by accident. I would give feedback to the user why his hangout or hangout description was altered/removed/flagged

[2016-04-14 17:42] sergeant-q commented on #103
@adachiu I am not sure how valuable point `#1` is but I know it's being used on the current site.

`#2` - this button is actually designed to allow a user to **join** (RSVP) that scheduled hangout. If the user has already _joined_ the hangout, then the button will reflect either **Leave** or one of the other aforementioned recommendations that @lpatmo is trying to get feedback on.

For points on `

[2016-04-14 18:13] adachiu commented on #103
@sergeant-q

#2 is this for the home-logged-in page? The screenshot is very similar to the Personal dash hangout list so I'm a bit confused as to which it is.

If it is the home-logged-in page, then I agree that the "join" and "leave" button should be present.

For the personal-dash, the hangout list should only show what the user already joined and completed since the list is specific to the user

[2016-04-14 18:24] sergeant-q commented on #103
@adachiu

That is correct. `#2` is for logged-in users.  As for the personal dashboard a.k.a (profile page) - I agree with your points. I think that's already something your mock ups allude to.

@lpatmo thoughts?

[2016-04-15 04:25] lpatmo commented on #103
#1 - I could go for removing the "X minutes/hours" ago to unclutter the interface.

#2 - This was actually a screenshot from the home page, but re: showing "UPCOMING IN X hours/minutes" -- I like that! The only issue is the "joined" or "leave" button is something the user can click on to un-RSVP themselves from a hangout. So it could be a smaller button, but there needs to be something they can cl

[2016-04-15 05:08] sergeant-q opened #109 "Refactor code for Slack notifications re: created and cloned hangouts"
@lpatmo found the bug that when cloning (copying) an existing hangout, a slack notification is not fired off as it does for new normal hangouts.

[2016-04-15 05:08] sergeant-q commented on #109
This should be an easy fix.  I will make the updates tonight.

[2016-04-15 05:32] lpatmo commented on #109
We're reusing code for `createHangout` and `cloneHangout` in server/api.js.

[2016-04-16 04:50] wuworkshop commented on #14
This is a bit more specific to CB, but the "how to use Slack" page should stress that Slack is more asynchronous communication. Also, it's an international community, so members shouldn't expect an immediate reply when they need help with some code problem or something. But they should feel free to post their code and someone might post a reply later.

[2016-04-16 06:39] lpatmo commented on #106
**moderator**
edit-remove reported hangout.
block-unblock user
add moderators (role)

**admin**
block / unblock user .
add-remove moderators (role)

[2016-04-17 07:10] lpatmo commented on #103
@adachiu @sergeant-q How does this look?

![screen shot 2016-04-17 at 12 08 54 am](https://cloud.githubusercontent.com/assets/4512699/14585643/afd36c3a-0430-11e6-90b2-1547509291d7.jpg)

[2016-04-17 07:32] lpatmo commented on #103
Update: I also changed the icons around a bit.

![screen shot 2016-04-17 at 12 31 25 am](https://cloud.githubusercontent.com/assets/4512699/14585727/d88a8228-0433-11e6-933c-a4a2ab8ba05e.jpg)

Do you think this looks better?

[2016-04-17 08:04] sergeant-q commented on #103
So, are we removing the icons in place of "duplicate" and "edit"??

[2016-04-17 09:02] lpatmo commented on #103
@sergeant-q Yep. "Copy" is now named "Duplicate" and instead of the pencil icon, it says "Edit." Do you think it looks better or worse?

[2016-04-17 17:30] adachiu commented on #103
@lpatmo if I'm the host of a hangout, it won't show "remove RSVP" for me right?

The "upcoming hangout" doesn't have to be blue since it's not clickable. It could follow the same style as "COMPLETED"

[2016-04-18 15:19] sergeant-q commented on #103
@lpatmo I think keeping the **"delete"** icon wouldn't be so bad as opposed to just an **"x"**.

[2016-04-19 04:02] lpatmo commented on #103
@adachiu Yep, if a host is clicking on the link, a popup will appear and tell them they can't remove themselves from the hangout.

@sergeant-q Done, kept the "delete" icon!

![screen shot 2016-04-18 at 9 00 59 pm](https://cloud.githubusercontent.com/assets/4512699/14627381/af3dfd7a-05a8-11e6-91a7-ac079f45b2ee.jpg)

[2016-04-19 04:51] lpatmo commented on #103
@adachiu Distalx proposes cleaning up the meta content:

![image](https://cloud.githubusercontent.com/assets/4512699/14628102/9c109b8e-05af-11e6-8af8-b6c7da985bbb.png)

What do you think?

Ignore the tags and the comment icon for now.

[2016-04-19 05:07] adachiu commented on #103
@lpatmo I like how it cuts down the amount of text. The "people joined" icon might need a tooltip making it even more clear that it means people joined. Personally, i think it's fine without the tooltip, but who knows some people might think it means number of people already in hangout or number of people RSVPed only.

I like the 3 dots icon to  show the actions available. It definitely makes the

[2016-04-19 05:15] adachiu commented on #14
@wuworkshop has a great point on "members shouldn't expect an immediate reply when they need help"
@lpatmo we should reword the copy on the home page so it doesn't set any false expectations. Currently it's "Need help or want to chat about code?"

Instead of having a "how to use slack" page, we could have the slackbot message the new user with a brief intro to the channels available and reiterate

[2016-04-19 06:09] distalx commented on #103
@adachiu
Why is "report an option" here?
In the list that appears beneath the three-dot action bar, users will only be able to see the options available to them.

"Why does the checkmark mean? Completed? I think we should keep the "Completed" and "Upcoming" text because it's more clear."

I think we should use less text and try to invent our (Code Buddies) vocabulary, e.g. before Twitter "retweet"

[2016-04-19 06:30] lpatmo commented on #103
![screen shot 2016-04-18 at 11 28 34 pm](https://cloud.githubusercontent.com/assets/4512699/14629709/5b4ba5ae-05bd-11e6-9917-abe37a5d5ed5.jpg)

I added the three dots!

It's a little weird when clicked on, though... had to make it `position: relative;` instead of `position: absolute;`; otherwise it would get hidden.

If you have a solution for this problem, feel free to commit to the branch: `git

[2016-04-19 07:10] adachiu commented on #103
@distalx We could definitely try to create a CB vocabulary. However, I do think "COMPLETED" is more clear than a checkmark though because a checkmark could mean a variety of things: completed hangout, joined hangout, rsvp-ed for hangout, successfully created hangout, etc. We could have a tooltip for the checkmark I suppose.

In any case, we'll optimize the design once we get more testing done. 👌🏻

[2016-04-20 07:27] adachiu commented on #103
Some additional thoughts on @distalx screenshot.

1. We shouldn't use the same "person" (teaching hangout) icon for the "people joined" since it could confuse users.
2. In the screenshot @lpatmo posted, the "# joined" is very clear and it doesn't need any tooltips. If we substitute too many text with icons, we'll need a lot of tooltips. When there are so many tooltips, it could get annoying when h

[2016-04-20 08:47] adachiu commented on #96
@lpatmo that's a placeholder logo btw. Although, I'm leaning towards the smiley option 😝
Let me know what y'all think of this home page update.

1. Instead of the "Enter Slack channel," CTA, I suggest we have the "Join Slack channel" CTA with an email address input box. It looks effortless to join Slack this way.
2. Simplified "What is Slack" hyperlink text. The previous mock had a long "What is S

[2016-04-21 07:30] lpatmo commented on #96
This looks amazing, @adachiu! Two thoughts/questions:

1) Can you upload this to Zeplin? And I assume the new logo and the fantastic-looking icons for the hangout types will be downloadable via there.

2) I'm not actually sure if it's possible to have a Slack invite sent through a custom-built form. This problem is the reason we're using http://codebuddiesmeet.herokuapp.com, or https://github.com/

[2016-04-21 16:43] wuworkshop commented on #96
@adachiu I like those hangout cards! I think the revised copy is definitely clearer about what CB is and how it works.

[2016-04-25 14:54] #106 closed

[2016-04-28 17:15] distalx commented on #72
For project documentation with Markdown.
http://www.mkdocs.org/

[2016-04-29 19:43] PandaWhisperer commented on #7
Just did some reading up on this. Looks like the `wpt:hangouts` package that @wuworkshop suggested just wraps the most basic hangout button behavior.

I noticed that it’s possible to invite people when the hangout it started. So when the person who creates the hangout launches it, everyone who said they were interested could get an invite automatically, as long as we know their Google ID.

[2016-04-29 20:09] PandaWhisperer commented on #7
However, there is a `getHangoutUrl()` method in `gapi.hangouts`: https://developers.google.com/+/hangouts/api/gapi.hangout#functions-in-gapihangout

[2016-04-30 01:44] lpatmo opened #114 "Some improvements for the app: storing search terms, store view counts, add '\n \t' to descriptions, notifications for users"
Credit to @distalx for pointing out that we could make these improvements:

-we are not storing search terms, we should. (whenever user search something it should end up in our database for feature optimisations)
-we also should also store the view counts for each hangouts.
-for description we are storing everything as string - we should store `\n \t`
-notification for users, (whenever someone joi

[2016-05-02 04:34] lpatmo commented on #96
Closed!

[2016-05-02 04:34] #96 closed

[2016-05-02 05:32] lpatmo commented on #71
@distalx deployed the a staging version of the app on https://cbv2-staging.herokuapp.com/!

Production will use different credentials. I will reach out to potential sponsors after fixing the hangout button (issue #7) and the profile page.

[2016-05-05 20:17] PandaWhisperer opened #116 "Map of user locations / "CodeBuddies Local" feature"
This idea just came up in the `#remote-workers` Slack channel: it would be cool if there was a map (maybe heatmap) of where CodeBuddies users are located in the world. This could be populated from a (optional for privacy) field in the user profile.

Along with that, a feature to create local, in-person hangouts so CodeBuddies can schedule meetings IRL with other users.

[2016-05-09 00:05] adachiu opened #117 "Footer Mobile View"
Add media queries for footer because it looks like this at the moment:

![screen shot 2016-05-08 at 4 49 47 pm](https://cloud.githubusercontent.com/assets/13413986/15101211/d0ce1d80-153e-11e6-81c0-00ce7db0f02b.png)

[2016-05-09 00:33] adachiu commented on #116
Inspiration could be found here for data viz. http://www.datavizcatalogue.com/

[2016-05-09 00:46] adachiu opened #118 "Fix tab alignment for Home-Logged-In View"
Left edge is currently misaligned.

![screen shot 2016-05-08 at 5 39 35 pm](https://cloud.githubusercontent.com/assets/13413986/15101395/fcd2f2c0-1543-11e6-8168-84a2a0ef10c8.png)

[2016-05-09 05:28] lpatmo commented on #7
In order to use `getHangoutUrl()`, I have to use it in a hangouts app I create and POST it to the codebuddies instance.

So, first step: create a hangout app.

However, I ran into trouble trying to make my app public. Every time I check the "make my app public" checkbox and save, then reload the page, the box becomes unchecked.

According to the documentation, I need to fill in privacy and terms o

[2016-05-09 18:02] distalx opened #119 "Share Buttons for hangout."
The Share button will give user the ability to engage with people who are not on CB. as well as user could add a personalized message to links before they share on multiple social networks and platforms.

[2016-05-11 05:17] lpatmo commented on #7
Update: Wow, that took a while, and the google console admin is so confusing. But finally figured out that the reason I wasn't able to make the hangout app public was because I'd selected "web application" instead of "Other" when I was setting up the credentials for the app:

![screen shot 2016-05-10 at 10 13 55 pm](https://cloud.githubusercontent.com/assets/4512699/15170666/bcb8821c-16fc-11e6-80d

[2016-05-11 06:23] lpatmo commented on #7
Figured out that this is important to the process:

[code]

[2016-05-15 18:54] lpatmo commented on #102
New route should be /sponsor.

[2016-05-16 03:43] lpatmo commented on #7
Good news: created a hangout app that outputs the hangout URL and the ID of the post that it was created from.

[code]

Still need to figure out how to POST it to the cbv2 app. @PandaWhisperer suggested using Picker (a meteor package) and doing something like this:

[code]

[2016-05-23 01:11] pdotsani commented on #38
[Highcharts](https://atmospherejs.com/highcharts/highcharts-meteor) would be a good library to use if we don't have one installed already.

[2016-05-23 02:22] pdotsani commented on #102
Scaffolded a template with some dummy code for the route...
![capture](https://cloud.githubusercontent.com/assets/5272252/15458670/19e19510-2052-11e6-9d20-2070fd178808.png)

Anything content wise I should include?

[2016-05-23 02:49] lpatmo commented on #102
@pdotsani Looks great! We can worry about the content later. Feel free to push up the branch. :)

[2016-05-25 18:42] distalx commented on #103
@lpatmo I believe this has been merged. #108

[2016-05-26 06:12] lpatmo commented on #7
Thanks to @PandaWhisperer for figuring out how to connect the google API app with the cbv2 meteor app. :)

Relevant code:
[code]

[2016-05-27 02:22] lpatmo opened #123 "Clean up "launch hangout" area!"
1. When a user creates a post, they should see the "Launch hangout" button from Google.
2. Other users who click to RSVP to the post will see a grey, disabled "Join" button if the creator has not clicked on the hangout and clicked to join. (The XML hangout app we created will only send back the URL of the hangout after the creator joins the hangout.)
3. After the creator joins the hangout and is i

[2016-05-28 15:17] lpatmo commented on #123
Committed fixes to https://cbv2-staging.herokuapp.com/ -- please test it out!

[2016-05-29 00:24] lpatmo opened #124 "Page is blank if I refresh the single post page, but not when I initially click to it."
Example: https://cbv2-staging.herokuapp.com/hangout/Sa7oSrC6chccyge5K

No errors in the console!

[2016-05-29 00:24] #123 closed

[2016-05-29 18:33] pdotsani commented on #84
@wuworkshop @adachiu maybe a dropdown on the form we're using to create the hangout RSVP, then add that data into the body of the api call?

[2016-05-29 18:36] pdotsani commented on #38
@lpatmo what kind of chart are you thinking for this? If it's ok to install highcharts, here are a few [examples](http://www.highcharts.com/demo) to choose from.

[2016-05-29 22:59] lpatmo commented on #38
@pdotsani Hmm, good question. (I don't have any preference.) @adachiu, do you have any preferences? (Since you came up with the idea in the mockup.)

[2016-05-29 23:04] lpatmo commented on #84
@pdotsani Do you mean when a host creates a hangout, they'll see an extra dropdown where they can choose the # of participants?

[2016-05-30 02:11] adachiu commented on #38
@lpatmo I believe we discussed about a Github-like streak graph for learnings.

For hangouts, it could be a timeline, but do we need it? The profile page already has a list of hangouts that are upcoming or completed. It might become redundant if we have the original list of hangouts on profile page and another timeline showing the same data.

[2016-05-30 02:14] adachiu commented on #84
@pdotsani @lpatmo that works. Having the dropdown in the form to indicate participant limit.

[2016-05-30 04:50] lpatmo opened #125 "Add tooltips hover to user profile icons on /about page that describe contributions"
We have a lot of user icons on the about page (https://cbv2-staging.herokuapp.com/about). Everyone listed there has contributed to CBV2, but some have done more than others, or contributed different things. For example, @adachiu is the lead designer. @anbuselvan, @distalx, and @sergeant-q all contributed a lot on the code front. @panndawhisperer helped solve a tricky google hangouts API issue. etc

[2016-05-30 05:47] sergeant-q commented on #84
So a couple things that come to mind. Not all people who RSVP will actually show up to a hangout session. Giving the host the ability to choose the number of participants won't enforce anything on the backend.

A couple of suggestions:
 - provide a notice on the hangout list and single post view that the max participants limit is 10. First come, first serve.
 - keep count of RSVP'd participants on

[2016-05-30 07:06] adachiu commented on #125
I like this idea @lpatmo
It would be useful for new contributors to see as well. For instance, if they wanted to work on an element of the app which someone else had worked on, they can directly contact them for more information.

[2016-05-30 07:25] adachiu commented on #84
Previously discussed with @lpatmo about a ranking point system where if somebody doesn't attend an RSVP-ed hangout, they would have -1 point—this feature isn't high priority at the moment, and still needs more discussion.

I like the first-come-first-serve concept. However, there may be some anxiety for those who are eager to get in to the hangout!

[2016-06-01 02:09] lpatmo opened #126 "Create tooltips on the "create hangout" modal explaining the difference between silent, collaborative, and teaching"
![screen shot 2016-05-31 at 10 08 27 pm](https://cloud.githubusercontent.com/assets/4512699/15696210/44259c00-277c-11e6-9ec2-930ff732e2a0.jpg)

Hat tip to @techgeek503 for the issue!

[2016-06-01 04:18] lpatmo opened #127 "Avatars on hangout page should link to users' profile pages"
Example: https://cbv2-staging.herokuapp.com/hangout/mRwcBcmR6epGukAPX

The avatars at the bottom should link to something like:

<a href="/profile/{{creator}}/{{user_id}}">{{creator}}</a>

Relevant files:
client/templates/hangout/hangout-user.html
client/templates/hangout/hangout-user.js
client/templates/hangout/hangout.html
client/templates/hangout/hangout.js

[2016-06-03 03:03] #102 closed

[2016-06-05 04:31] #127 closed

[2016-06-05 06:13] lpatmo opened #130 "IDEA: "upcoming" list of hangouts on the home page"
When we switch over to the CBV2 site from hangouts.codebuddies.org, one key difference is that if you're not logged in, you won't be able to at-a-glance see all the upcoming hangouts anymore. And that could be factor in your decision in whether or not you want to log in/join the website.

Two alternative ideas:

1) Put an "upcoming" section on the not-logged-in-view homepage that displays the 5 up

[2016-06-05 07:29] adachiu commented on #130
Seeing at-a-glance from a non-logged-in view would be very beneficial due to the convenience of looking at the updates.

For new users, the recent/upcoming hangouts list would pique their interest to learn more about CB hangouts.

@lpatmo Are you referring to modifying the existing non-logged-in homepage? Specifically the section where there's the image of the example hangouts?

[2016-06-07 00:02] #124 closed

[2016-06-21 17:47] sergeant-q commented on #7
Is this key feature completed? Can we close this issue? @lpatmo

[2016-06-21 17:50] lpatmo commented on #7
Yes, let's close this issue!

[2016-06-21 17:50] #7 closed

[2016-06-21 18:19] sergeant-q commented on #100
@lpatmo  I think we can close this!

[2016-06-21 18:37] sergeant-q commented on #130
I think this is a valid point from an initial interest perspective. On the flipside, it does kind of give it a feel of exclusivity and that in itself can pique my interest to sign up.

[2016-06-21 18:43] lpatmo commented on #100
Thanks @sergeant-q!

[2016-06-21 18:43] #100 closed

[2016-06-22 06:50] lpatmo opened #132 "New schema reworking"
See: https://docs.google.com/document/d/15pVl9hyv6ZioqT6Aj7-pglbb-qafgYsBpuPXZU924Uc/edit?ts=576a0a40

Steps:
1. `meteor reset`
2. Change server/api.js to reflect the new schema
3. Create a new userStatus collection

[2016-06-22 06:54] lpatmo commented on #132
Line 44 --     var emails = hangout.email_addresses.join(","); -- would need to be changed if the new schema looks like:

[code]
instead of

[code]

[2016-06-27 18:53] adachiu opened #133 "Mobile view optimization"
There are alignment and spacing enhancements to do for optimizing the mobile view. The following screenshot is what I see on an iPhone6S

![screen shot 2016-06-27 at 11 52 21 am](https://cloud.githubusercontent.com/assets/13413986/16391829/aead8d62-3c5d-11e6-89d3-7de2132042e4.png)

[2016-06-27 18:57] adachiu opened #134 "Redundant About section in FAQ Page"
The FAQ page also has an "about" section and it seems redundant when we have a separate full page for "About" already. I suggest we remove the about in FAQ and move the text to the About page.

@lpatmo What do you think?

Also there seems to be a broken image link on the FAQ page.

[2016-06-28 02:39] wuworkshop commented on #133
@lpatmo Might be a good idea to sign up with Sauce Labs Open Sauce plan (it's a free plan for OSS projects) - http://saucelabs.com/opensauce/

[2016-06-30 03:52] lpatmo commented on #134
Good call.

I think the image on the FAQ page has been fixed.

[2016-06-30 03:54] lpatmo commented on #133
@wuworkshop Is opensauce similar to codeship?

[2016-06-30 03:55] lpatmo commented on #126
@techgeek503 solved this issue -- if you hover over each of the radio buttons on the "create hangout" modal, a description of the hangout type appears. :)

[2016-06-30 03:55] #126 closed

[2016-06-30 03:55] wuworkshop opened #135 "New icons"
These 2 icon images need to be updated with the new CB logo:

https://www.codebuddies.org/images/cb2-180.png
https://www.codebuddies.org/images/cb2-196.png

@adachiu, wanna take this one?

[2016-06-30 03:56] lpatmo opened #136 "Deployment FAQ/Documentation"
Started a google doc here: https://docs.google.com/document/d/1z4Uapmq6APJV1a7SZRpDLBBe0WA0Bnmb6zpmA2Vqk5w/edit

[2016-06-30 04:00] adachiu commented on #135
@wuworkshop would love to!

[2016-06-30 04:27] wuworkshop commented on #133
@lpatmo I think that depends on the Sauce Labs feature. From the Sauce Labs' site, their Open Sauce plan provides this:

I was thinking more about the cross-browser and mobile testing features.

[2016-07-06 02:58] lpatmo opened #138 "Failed to load resource: the server responded with a status of 404 ()"
Forgot to file an issue for the longest time, but for the record, getting this bug from the Google API, which *used* to work:

![screen shot 2016-07-05 at 7 57 22 pm](https://cloud.githubusercontent.com/assets/4512699/16606200/cecc4816-42ea-11e6-8cd2-481163e23d53.jpg)

Will write updates here in the comments.

[2016-07-06 06:12] lpatmo commented on #138
@anbuselvan's thoughts:

[code]

He found that if we did this in public/app.xml:

[code]

... the error disappears. However, I was not able to replicate.

On a brand new meteor app, that javascript/HTML combination below works:

[code]
[code]

The problem is related to some custom code we have that’s conflicting.

[2016-07-06 19:20] sergeant-q commented on #138
Once deployed to production, let's mark this for closure!

[2016-07-09 04:02] lpatmo commented on #138
CLOSED!!! Thanks to @sergeant-q!

[2016-07-09 04:02] #138 closed

[2016-07-09 04:02] lpatmo commented on #134
Fixed this in an earlier commit.

[2016-07-09 04:02] #134 closed

[2016-07-09 04:04] lpatmo opened #140 "Meta description change"
Maybe change the meta description from “We're a community of people learning to code via peer-to-peer Google Hangouts. Learning with others helps us learn faster. The project is free and open-sourced.” to “We're a community learning code via a Slack chatroom, a Facebook Group, and peer-to-peer Google Hangouts. Learning with others helps us learn faster. The project is free, open-sourced, and 100%

[2016-07-09 04:07] lpatmo opened #141 "Improve CSS on single post page"
The single page looks a little squashed with the “upcoming” text on the left.

[2016-07-09 04:09] lpatmo opened #142 "Update final logo everywhere"
Final logo: Need to change out the twitter.com/codebuddiesmeet and Slack icons!! (pending @adachiu deciding on a final logo, maybe).

We need something square for Slack and Twitter.

[2016-07-09 04:11] lpatmo opened #143 "Figure out import solution for mailing newsletter"
Mailing newsletter: figure out a way to automatically import Slack signups into tinyletter.com/codebuddies, or use a service besides tinyletter to make it easier to send out community-wide email announcements.

[2016-07-09 04:14] lpatmo opened #144 "Does it make sense that the creator of the hangout is the only one who can “activate” the button?"
Up for discussion!

I'm worried about a scenario where the hangout creator never "activates" the button by clicking on the google button and entering the hangout so that the google app populates and sends the link back to our website, and then others won't be able to join when the hangout starts.

On the other hand, since the creator is responsible for the hangout, guests can just create their own

[2016-07-09 04:16] lpatmo opened #145 "Slackbot welcome for new users"
Set up a slackbot on Slack so that new Slack signups get a link to the website and an explanation about how it works.
- Point them to #introduce-yourself
- Link to http://codebuddies.org and explain that they can schedule a silent, collaborative, or teaching hangout.
- (Anything else?)

I remember seeing a website that offered this feature, so we don't have to code the slackbot ourselves. Have to

[2016-07-09 04:17] lpatmo opened #146 "Give users the ability to leave comments on a hangout post"
This would be a nice feature to have.

(Hardest part: threading comments??)

[2016-07-09 04:19] lpatmo opened #147 "Give people the ability to add profile information to their profiles pages"
Possible form areas:
- personal website link
- github link
- "about me" description area

[2016-07-09 04:38] wuworkshop commented on #62
I just realized we weren't taking advantage of some of GitHub and Waffle.io's keywords that provide some nice automation to a project's workflow (like automatically closing issues after a PR is merged). After cbv2 is launched, might want to to tweak the naming convention to follow Waffle's recommended workflow here:

https://github.com/waffleio/waffle.io/wiki/Recommended-Workflow-Using-Pull-Reques

[2016-07-09 04:42] wuworkshop opened #148 "BUG: #todayilearned page doesn't exist on cbv2"
The #todayilearned bot links to a page that doesn't exist in v2.

[2016-07-09 05:02] wuworkshop commented on #143
According to this link - https://tinyletter.desk.com/customer/en/portal/articles/1470842-importing-subscribers

[2016-07-09 06:17] lpatmo commented on #143
I used to import the email addresses from Slack manually, but it got to be too much of a hassle, and also I'd need to keep track of which email address I imported last so I didn't accidentally re-import someone who'd unsubscribed.

We might need to get off tinyletter and use a custom mailer to add users to a list more easily.

[2016-07-09 06:18] lpatmo commented on #145
- Once #todayilearned is integrated with the app, add a mention about this hashtag too!

[2016-07-09 08:10] distalx commented on #143
When user sign in for the first time to coddebuddies.org we can add them to mailing list using apis.

[2016-07-09 08:30] lpatmo commented on #143
Mailchimp is a good start -- thanks @distalx. If we grow to roughly 5000 subscribers or more we may want to consider migrating to Sendgrid, which is a lot cheaper but will take more work. Right now we're around 1500 subscribers not including the new members on Slack, but the list needs to be cleaned.

[2016-07-09 17:37] wuworkshop commented on #145
Related issues #13 and #148.

[2016-07-09 18:38] wuworkshop commented on #143
Mailgun's pricing looks pretty affordable as well. Your first 10,000 emails are free every month.

Also, maybe the user's profile settings should have a checkbox or something where they can opt-in by checking the box and unsubscribe by unchecking the box to the newsletter. I agree with Tiny Letter's policy, the user should explicitly opt-in to the newsletter. Don't automatically add them just beca

[2016-07-09 18:47] anbuselvan commented on #143
I second @wuworkshop's recommendation as I'm using mailgun for 3 of my clients and there is no problem so far and it's very easy to integrate with meteor as well.

<img width="612" alt="mailgun-invoice" src="https://cloud.githubusercontent.com/assets/167158/16709608/ce17c2a0-45ca-11e6-8933-73a1c7d64ac6.png">

[2016-07-12 03:45] lpatmo commented on #143
Sorry for the slow response to this thread.

@anbuselvan Are you using Mailgun mainly for transactional emails, or are you also using it for mailing newsletters? I thought it was primarily used for the former.

@wuworkshop I'm for the unsubscribe link being visible in all mailings, but I think it's the default in a lot of sites for newly registered users to receive at least a welcome email from th

[2016-07-12 03:55] lpatmo opened #149 "Use QuillJS to aid description and comment writing"
http://quilljs.com/

Suggested by @distalx.

I think it'll be useful.

[2016-07-12 05:05] anbuselvan commented on #143
@lpatmo it's been used for both newsletters and other emails like notifications etc., An interesting story that when we first sent out about 8000 emails, and about 10% of them were bounced and Mailgun has suspended our account to investigate whether we are really using emails with users' approval. I just showed them the registration form and our meetup info where we collect the emails, then they e

[2016-07-12 18:50] leewaygroups commented on #140
I'll take this as a gentle entry.

[2016-07-13 04:51] distalx commented on #143
A few advantages for using MailChimp:
- It gives a  customization option for mailing list fields.
- We can schedule email deliveries according to recipient's timezone.
- Analytics are also good.
- 12000 monthly free emails

The only downside is the number of subscribers: 2000
We have ~1500 subscribers already, but we don't have any stats at this point to know approximately how many monthly users w

[2016-07-13 15:05] leewaygroups commented on #70
@lpatmo Is this feature (repeating hangouts) still needed?

[2016-07-13 15:49] anbuselvan commented on #143
@lpatmo good to know about MailChimp and thanks for sharing the details. I like the alternate option #1, and the option #2 seems expensive than maintaining a droplet ($5 we can run our own mail server and send unlimited emails).

[2016-07-15 00:53] adachiu commented on #146
I think it would be a nice feature to have. Users may want to add a comment about a resource link that they would like to discuss about during a hangout.

[2016-07-15 03:38] anbuselvan commented on #146
+1 it's an excellent feature. Not just during the hangout, whoever joined the hangout, they can immediately initiate or join any conversation to prepare themselves for the hangout and even after to discuss about what they learned.

I've like to work on this feature if everyone else is busy with other issues. Will fix all the other UI issues along with it.

[2016-07-16 04:13] lpatmo commented on #146
I think @distalx was interested in working on this feature too, but then he's got the schema issue on his plate too.

[2016-07-16 04:37] anbuselvan commented on #146
I'm glad to know it's been in progress already. I will have some time during this weekend, let me see I can fix any other priority issues or just get all the UI issues fixed.

[2016-07-16 06:50] distalx commented on #146
Sorry for the slow response .
I haven't started working on this one yet.
@abdulhannanali go ahead, It would be great if you can take this one.

[2016-07-16 16:20] lpatmo commented on #140
@leewaygroups Thanks! Let me know if you have any questions about how to go about it.

[2016-07-16 16:20] lpatmo commented on #136
Update: This is now a page on the wiki: https://github.com/codebuddiesdotorg/cb-v2-scratch/wiki

[2016-07-16 16:20] #136 closed

[2016-07-17 04:38] wuworkshop commented on #71
@lpatmo Can this issue be closed?

[2016-07-18 00:43] leewaygroups commented on #140
@lpatmo Thanks. I pushed to a new branch specific to this case already.
[here](https://github.com/codebuddiesdotorg/cb-v2-scratch/issues/140#issuecomment-233137985)

Let me know if I did the right thing.

Thanks once again.

[2016-07-18 01:05] leewaygroups commented on #141
I'll take this for a gentle beginning.

[2016-07-18 05:05] lpatmo commented on #140
@leewaygroups Looks good! Please create a pull request for it. Thank you!

[2016-07-18 05:20] lpatmo commented on #132
Issues we see so far:
- User icon does not show up if you RSVP to a hangout created by another user.

Fine:
[code]

[2016-07-19 03:09] #140 closed

[2016-07-19 20:58] leewaygroups opened #151 "Get contributors list from GitHub via GitHub API"
I think it would be nice to get contributors list from GitHub repos.

At the moment the list is hard coded. As more people contribute in future, a manual update of this list may be required. This can be eliminated by getting the list dynamically from GitHub.

 Less markup as well in the view.

[2016-07-20 01:52] wuworkshop commented on #145
Just so there's a record, from the Slack group, the website that offers the custom welcome message feature is https://www.hamsterpad.com/

[2016-07-20 02:50] wuworkshop commented on #151
I believe the reason why @lpatmo does it manually is because not all contributions have been done via GitHub. Some members have contributed via Google Hangouts and the Slack group. Also, not all contributions have been code-based contributions.

[2016-07-20 02:54] wuworkshop opened #152 "Add Privacy Policy Page"
This was brought up in the Slack group by @distalx , the new cbv2 app doesn't have a privacy policy.

Add a URL route to http://codebuddies.org/privacy

[2016-07-20 02:59] wuworkshop commented on #142
Could probably use the icons @adachiu is working on for issue #135

[2016-07-20 03:06] wuworkshop opened #153 "Add link to Code of Conduct"
Not entirely sure where the link should go, but it would be good to have a link to the [Code of Conduct](https://github.com/codebuddiesdotorg/cb-v2-scratch/blob/master/CODE_OF_CONDUCT.md) on the CB site somewhere that's easy to see.

[2016-07-20 04:14] adachiu commented on #153
Either in the About or FAQ page would make sense to have the link.

[2016-07-20 06:27] lpatmo commented on #153
Also maybe in the footer.

On Tue, Jul 19, 2016 at 9:14 PM, Ada <notifications@github.com> wrote:

[2016-07-20 06:43] sergeant-q commented on #147
I'll take this one if no is already working on it!

[2016-07-20 06:54] lpatmo commented on #147
@sergeant-q It's yours. :)

[2016-07-20 10:00] leewaygroups commented on #151
I see. Thanks for clearing that @wuworkshop . I sensed that when I saw that the current list was more than what is in Github. So I thought of getting what's in Github then merge the rest to have a complete list.

Again this brings us back to some what manual list. I'm not sure how nice this is. What do you think?

[2016-07-20 10:14] leewaygroups commented on #153
I think it'll be nice to have the link in both About and FAQ. Usually FAQ is link the goto place when people have questions about a project. Also if you just what a quick info About comes handy.

[2016-07-20 11:56] leewaygroups opened #154 "Enforce text entry before user updates "Today I learned ...""
![cb1](https://cloud.githubusercontent.com/assets/7301892/16985528/48055a4e-4eab-11e6-8800-ddbb215b6f51.png)

[2016-07-20 14:39] leewaygroups commented on #153
I'm thinking of adding this to FAQ
Q: What conducts are expected of a community member towards fellow community members
A: Our Pledge
link to the code of conduct
--------------------------------

What do you think?

[2016-07-21 07:48] adachiu commented on #142
Will be finalizing this weekend.

[2016-07-22 09:29] leewaygroups commented on #153
[Change set](https://github.com/codebuddiesdotorg/cb-v2-scratch/commit/0fce561b825dd3724b8d544071171c114c21f372)

[2016-07-22 09:29] #153 closed

[2016-07-22 09:37] leewaygroups opened #158 "CSS for Hangouts Alerts"
![hangoutalert](https://cloud.githubusercontent.com/assets/7301892/17053095/916f3468-502a-11e6-9e43-9aefb791eff8.png)

[2016-07-22 15:18] sergeant-q commented on #158
oddly the code shows it has always been this way but I can't recall it being this way! I _think_ I see the problemo.  I'll do a quick test and let you know.

[2016-07-24 20:58] lpatmo opened #160 "Add ability for user account to be deleted"

[2016-07-25 07:21] lpatmo commented on #142
New logo designed by @adachiu:

![cb-avatar-04](https://cloud.githubusercontent.com/assets/4512699/17093354/9c8106fe-51fd-11e6-9fd3-5af709434bd6.jpg)

[2016-07-25 07:21] lpatmo commented on #142
(Updated Slack and Twitter!)

[2016-07-25 07:21] #142 closed

[2016-07-27 05:51] lpatmo opened #161 "On the profile page, hangouts that the user did not participate in show up on the lefthand side."
The # of hangouts attended count is correct, but ALL the hangouts show up below.

Check: server/hangouts/methods.js

[2016-07-27 06:05] lpatmo opened #162 "Used WiredTiger instead of MMAP"
Instructions for switching to WiredTiger: https://docs.mongodb.com/v3.0/release-notes/3.0-upgrade/#change-storage-engine-to-wiredtiger

[2016-07-27 07:04] lpatmo commented on #135
I updated @adachiu's new logo on the favicon and on the "cancelled hangout" email template in private/email-hangout-alerts.html.

Also added Indian flag to the "about" page.

There might be places where I've missed the old logo.

[2016-07-28 02:30] lpatmo commented on #143
@distalx sent in a pull request that sends an invitation for any newly registered Slack signups to a Mailchimp invite. If they agree, their email gets adds to the list. /giphy YAY

Will keep this thread open for further discussion in case we migrate to another email provider in the future.

[2016-07-28 23:00] wuworkshop commented on #143
@distalx @lpatmo - I just logged in to the app for the first time and got the Mailchimp "codebuddies: Please Confirm Subscription" email. Should we be calling the list "codebuddies list x"? Can the email be customized to explain what they are subscribing to?

[2016-07-29 19:12] #161 closed

[2016-07-30 01:13] lpatmo opened #165 "Distinguish better the hangouts that have been completed"
The "Completed" words are too small — for a first-time user, it's not clear which hangouts are completed and which hangouts are still join-able. Maybe we should grey out the hangouts that have been completed so the title isn't blue, or so that the card is grey, or something.

[2016-07-30 01:21] lpatmo opened #166 "Add link to Slack chatroom at the top of nav in non-logged-out view."
- We should link to codebuddiesmeet.slack.com at the top on the non-logged-in-view. Link should be a hashtag.

[2016-07-30 01:22] lpatmo opened #167 "Add content to FAQ: explain that hangouts are not recorded"
- In the FAQ we should add a sentence explaining that the google hangouts are not recorded.

[2016-07-30 01:23] lpatmo opened #168 "Sort list of hangouts on home page by start_at date, not created_at date"
We should order the list of hangouts on the home page by start_at date so that they're easier to browse.

Also, all "currently happening" hangouts should be at the top of the list.

[code]

[2016-07-30 01:25] lpatmo opened #169 "Content: - In the About page, we should have a "How we built this" in addition to a "Why we built this" section"
In the About page, we should have a "How we built this" in addition to a "Why we built this" section

[2016-07-30 01:26] lpatmo opened #170 "Idea: put a snapshot of the description (maybe 50 char. max?) on the homepage for each hangout card"
There's a lot of white space in each hangout card on the home page. Maybe we should include the first 50 characters of the description in there, so people don't have to click through the title just to read the description, and can preview it.

Good for meteorJS beginners.

[2016-07-30 01:39] lpatmo opened #171 "UI issue: limit description of hangout to 200 characters in Slack notification"
Whenever a hangout is created, we get a notification in #general.

If the description is too long, the message looks really narrow and lengthy on Slack. We should limit the # of characters in the description in the Slack notification to 200.

See: `lib/functions.js`

[2016-07-30 02:18] lpatmo opened #172 "Change "..." to the word "Edit""
@iancmason and others pointed out it's not entirely clear that hangouts they've created are editable!

@ispol suggests that we can change the "..." to "Edit", and then change the "Edit" text inside to "Edit hangout details."

[2016-07-30 02:32] lpatmo opened #173 "Countdown to hangout (instead of saying "Upcoming in 2 minutes," count it down)"
@leewaygroups suggested this idea:

Instead of having static text saying "Upcoming in 2 minutes," we could have an interactive countdown timer.

Relevant SO links (maybe)? http://stackoverflow.com/questions/16129157/countdown-timer-using-moment-js

[2016-07-31 02:53] #169 closed

[2016-07-31 04:27] distalx commented on #152
@lpatmo , @ISPOL this sites lets you generate a privacy-policy http://www.iubenda.com/en

[2016-07-31 04:58] lpatmo commented on #152
Thank you @distalx!!

[2016-08-01 00:47] iancmason commented on #172
👍

[2016-08-02 05:23] lpatmo commented on #170
Created a new branch `issue-170-description` for this issue.

[2016-08-03 05:16] lpatmo commented on #146
An idea: let's include a "Today I Learned..." box above the comment thread, so people can post about what they learned/accomplished during the hangout directly on the single post page.

[2016-08-03 05:54] lpatmo opened #180 "Emoticon hangout alerts"
If the topic matches a certain keyword (e.g. javascript, laravel, meteor, etc.), the hangout alert in Slack will display an icon matching that keyword.

![screen shot 2016-08-02 at 10 54 03 pm](https://cloud.githubusercontent.com/assets/4512699/17355255/0d9dc572-5904-11e6-84ce-3f4cc15df0bc.jpg)

Certain keywords have more weight over others. For example, javascript > meteor.

[2016-08-03 06:37] lpatmo opened #181 "Hangout start/end automation"
Sometimes, we have this problem:

1) Hangout lasts longer than the host scheduled it for. Then, after the "end" time, new visitors won't be able to join.
2) Hangout lasts for a shorter amount of time than the host scheduled it for.

@distalx suggests we could try to implement this solution:
1) Write another callback; check using the Google API if people have left the hangout after joining. If so,

[2016-08-03 06:37] #165 closed

[2016-08-03 06:43] lpatmo commented on #168
@leewaygroups I pushed up a commit to `issue-168-sort-hangout-by-start-at-date` that sorts the hangouts by start_at date. I also merged in the latest changes from master. Please `git pull` in the branch!

A related issue: @distalx pointed out to me that we'll be using up a lot of memory getting each hangout if there are more than a dozen people on the site. We can lessen the chances of the site cr

[2016-08-03 06:57] lpatmo commented on #158
I just got this email alert, and I think it looks fixed!

[2016-08-03 06:59] lpatmo commented on #135
Update: @adachiu is doing an A/B test on the logos.

Though I have my personal biases, we haven't yet made an official final decision on which one to use.

[2016-08-03 07:00] #71 closed

[2016-08-03 07:04] #103 closed

[2016-08-03 07:06] lpatmo opened #182 "Bug: profile page contains list of all hangouts, not individual user's completed hangouts"

[2016-08-04 02:48] distalx commented on #154
fixed in #155

[2016-08-07 00:35] wuworkshop commented on #172
PR #183 resolved this issue.

[2016-08-07 00:35] #172 closed

[2016-08-07 00:37] wuworkshop commented on #166
PR #185 resolved this issue.

[2016-08-07 00:37] #166 closed

[2016-08-09 10:10] distalx commented on #143
@wuworkshop Sorry for the delayed response.
we are adding users to the mailchimp list when they loggins in for the very first time. mailchimp sends a confirmation email behalf of us ! if user approves that, mailchimp will add that user to the mailing list.

`codebuddies list x` list was just created for trial purpose - I guess we forget to replace that with our custom template !

[2016-08-09 15:39] lpatmo opened #186 "Create a terms of service page"
URL: http://codebuddies.org/terms-of-service

Include this:
[code]

[2016-08-09 15:41] #141 closed

[2016-08-09 15:42] #158 closed

[2016-08-09 15:47] #154 closed

[2016-08-21 20:59] lpatmo opened #189 "Exception in template helper error"
[code]

I'm not quite sure where this is coming from.

[2016-08-21 21:04] distalx commented on #189
@lpatmo  check out this issue !
https://github.com/stubailo/meteor-reactive-method/issues/18

[2016-08-22 02:38] #189 closed

[2016-08-22 04:21] lpatmo opened #191 "New error found in google hangout console"
![screen shot 2016-08-22 at 12 02 04 am](https://cloud.githubusercontent.com/assets/4512699/17843614/0d6ce0a2-67fe-11e6-9f7e-48cf4b483303.jpg)

The errors from #189 and #190 are fixed, but the hangout URL is still not POSTing to the app. Now this is the error message I see when I open up the console in a google hangout launched from the "Start hangout" button on the app.

I'm tempted to revisit ht

[2016-08-22 04:57] lpatmo commented on #191
Update: Actually, I don't think the error above has anything to do with the problem. On staging, the hangout URL POSTing works and I still see this error message in the console:

![screen shot 2016-08-22 at 12 55 26 am](https://cloud.githubusercontent.com/assets/4512699/17844038/37dbfb84-6803-11e6-9522-98d4b4fbc25c.jpg)

https://cbv2-staging.herokuapp.com/

Maybe the bug here is more recent, since

[2016-08-22 05:10] distalx commented on #191
maybe it's related callback url in app.xml !! ?

[2016-08-22 06:05] lpatmo commented on #191
Closing -- @distalx figured out the wrong callback url in app.xml got pushed up (which is why staging's hangout button was miraculously working).

[2016-08-22 06:05] #191 closed

[2016-08-22 16:56] sgtphips commented on #186
Hey Linda! I wouldn't mind taking care of this issue. Any particular format that is required?

[2016-08-22 17:00] sgtphips commented on #173
Adding a link to the moment-countdown plugin
https://github.com/icambron/moment-countdown

[2016-08-22 17:07] sgtphips commented on #170
I would like to take a look at this one.

[2016-08-22 17:52] lpatmo commented on #186
Thanks @sgtphips! Don't worry about the content for now. The Terms of Service page layout could just be a copy of the FAQ page layout, and contain one column instead of two columns in the content area.

[2016-08-25 04:44] lpatmo opened #193 "Make hangout start/end time optional"
Noticing that having to commit to a time for a hangout is a lot of pressure.

Let's make the start/end time optional, and include a "now" link so that the "start" field prefills with the time right now to help those who still want to create a hangout that starts immediately, instead of TBD in the future.

[2016-08-25 04:46] lpatmo opened #194 "Change "Study Session Topic" to "Question/Goal""
It's hard to come up with the name for a topic, but easier to just ask a question or to have a goal.

Let's change the words "Study Session Topic" to "Question/Goal".

What do you think?

[2016-08-31 05:38] lpatmo commented on #168
Update: the hangouts on production are now sorted by scheduled_at date! I will put the rest in a separate bug.

[2016-08-31 05:39] lpatmo opened #195 "Stop loading ALL the hangouts on the home page"
1) separate out the "completed" hangouts into a separate URL path (e.g. codebuddies.org/completed) that you can get to if you click on a "Browse all completed hangouts" link at the bottom of the list.
2) ONLY show the upcoming and "in progress" hangouts on the home page.
3) Load 8 hangouts each time, and only load more if the user clicks to load more. Right now we're loading ALL the hangouts initi

[2016-08-31 05:40] lpatmo commented on #145
This is done! New users are getting a welcome message from Slack.

[2016-08-31 05:40] #145 closed

[2016-09-01 07:37] lpatmo commented on #142
@adachiu designed a new logo that's compatible everywhere:

![cb-logo](https://cloud.githubusercontent.com/assets/4512699/18159143/3c5153b8-6fdc-11e6-9792-c09480e37af3.jpg)

Have replaced Slack and Twitter; just need to replace on website.

[2016-09-01 13:41] sergeant-q commented on #142
Awesome!

[2016-09-05 18:17] lpatmo opened #196 "Single post pages: turn links into clickable URLs by adding QuillJS"
On a post such as https://codebuddies.org/hangout/6rBuM7pG3adGMDBLw, it'd be nice if all the links were clickable.

[2016-09-05 18:27] distalx commented on #196
http://quilljs.com/ ?? !

[2016-09-11 08:47] lpatmo commented on #149
This is a duplicate of #196.

[2016-09-11 08:47] #149 closed

[2016-09-12 16:47] PandaWhisperer opened #199 "'About' page: Contributor images not showing"
I noticed that the contributor images on the about page do not appear to be loading correctly. Only two are shown, with a lot of empty space in between. Additionally, the popovers don't seem to work either.

Using the Web Inspector to investigate, I found a bunch of error messages saying that images weren't loaded due to some "Content Security Policy" that apparently allows external images only fr

[2016-09-12 17:14] lpatmo commented on #199
@PandaWhisperer I need to deploy the fix to this issue. Thanks for filing!

[2016-09-13 07:40] lpatmo commented on #199
This is fixed now!

[2016-09-13 07:40] #199 closed

[2016-09-14 20:38] lpatmo commented on #182
Distalx says:

meteor does not support `$eq ` operator at this moment - so we are not able to run `{users:{ $elemMatch:{ $eq: userId}}` this query at client side - and we end up displaying all the hangouts

[2016-09-14 21:31] William-R-Wilson commented on #182
Thanks, that's helpful!

[2016-09-15 01:59] lpatmo opened #201 "Add "Learnings" section to each single post"
- [ ] 1. On each hangout post, add a textarea\* that lets users submit notes about what they learned during the hangout.
- [ ] 2. The single post page will also display all the "learnings" in that hangout.
- [ ] 3. The learnings will also feed into the global "learnings/accomplishments" tab on the home page.

Having this will be nice for those who want to keep track of their progress, or at least

[2016-09-15 21:41] salaxander commented on #194
I'd be happy to tackle this! Working on getting up and running locally right now.

[2016-09-16 23:33] #194 closed

[2016-09-18 04:53] sergeant-q opened #203 "IDEA: Home(Dashboard) Redesign using CSS Cards"
I am opening this up for feedback and suggestions but it's an idea. The current design of the two column grid with the hangouts listed on the left hand side seems a bit difficult to consume and discover.

I am proposing a redesign that incorporates a "**card-based**" design. Below is an example for inspiration:

![google now card design](http://thenextweb.com/wp-content/blogs.dir/1/files/2015/06/S

[2016-09-18 09:08] lpatmo commented on #195
Solved w/ the merge of PR #195.

[2016-09-18 09:08] #195 closed

[2016-09-18 09:11] lpatmo commented on #203
Agreed! The home page looks better with a narrower sidebar (8-4 instead of 7-5 grid), and having cards will ensure that a user can see more about what's going on without having to scroll.

I need to mock up where the date should go on each card (maybe at the top).

[2016-09-18 20:37] lpatmo opened #204 "Hangouts are listed in wrong date order"
Hangouts are ordered by oldest first, not newest first.

[2016-09-18 20:38] lpatmo commented on #204
Fixed in https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/205.

[2016-09-18 20:38] #204 closed

[2016-09-20 01:50] lpatmo commented on #170
Since we're going to be turning the events into hangout cards (see https://github.com/codebuddiesdotorg/cb-v2-scratch/issues/203), maybe the description preview could be in a popover? (See: popover effect over the contributor icons on the about page)

[2016-09-21 02:18] lpatmo commented on #170
We've created a branch called `s-description-170`. Need to add ellipses to the end of the description text.

Then, let's merge this issue in with the hangouts card issue (#203) so that the description text appears in a popover.

[2016-09-21 02:43] lpatmo commented on #171
Can do something like `.substr(0,201);` to truncate the text. (see: `s-description-issue-170 branch`)

[2016-09-21 06:18] sergeant-q commented on #171
@lpatmo I tested it and it looks great! Do we want to do the same for the hangout subject as well? Not sure how often hangouts are created with really long subjects (title) but we can also truncate it if need be.

[2016-09-21 06:47] lpatmo opened #206 "Broken logo image on hangout reminder email notification"
Screenshot of hangout reminder email notification:
![screen shot 2016-09-20 at 11 46 24 pm](https://cloud.githubusercontent.com/assets/4512699/18700521/8d6944a8-7f8c-11e6-937b-9c164a5d1362.jpg)

[2016-09-21 16:13] lpatmo commented on #171
@sergeant-q Good idea; we should also limit the subject line! Maybe to 120 characters or thereabouts.

[2016-09-22 03:19] #132 closed

[2016-09-22 03:19] #146 closed

[2016-09-22 03:20] lpatmo opened #208 "Improve hangout single page UI (mockup below)"
I played around with a mockup of the single page UI in the browser:

![screen shot 2016-09-21 at 8 18 26 pm](https://cloud.githubusercontent.com/assets/4512699/18736115/d289a4ae-8038-11e6-9896-959b7a68e520.jpg)

Thoughts?

Improving the look of this page will be helpful to newcomers, IMO.

[2016-09-22 03:42] sergeant-q commented on #208
Looks much better. I do have a question regarding the participants.  How would it look like if there's more than three as you have it set up in the mock up?

[2016-09-22 03:46] lpatmo commented on #208
@sergeant-q Good question! Maybe we can move it all down to the right...

![screen shot 2016-09-21 at 8 46 07 pm](https://cloud.githubusercontent.com/assets/4512699/18736507/839ff72c-803c-11e6-910c-c868f90e4a71.jpg)

[2016-09-22 04:39] adachiu commented on #203
I like the idea! Here's a mock of the card layout for discussion. The sidebar's main state could be focused on **1) I'm working on** and **2) Today I learned** ... when you click on the arrow, it shifts the sidebar state to show either "# people are online learning" or "# accomplishments"

This way we can keep the home dash less crowded with information and focus on the higher priority features.

[2016-09-22 04:42] anbuselvan commented on #203
Awesome @adachiu.

[2016-09-22 04:48] adachiu commented on #203
@lpatmo For the number count of accomplishments, is it not a daily count? On the live site right now, it's showing the total amount of accomplishments since it started so the number of accomplishments would just keep on increasing. Did we want to consider maybe capping it at weekly or even monthly accomplishments?

[2016-09-22 05:53] lpatmo commented on #203
It looks brilliant, Ada!!

Yeah, the number of accomplishments is a global count. I think it would be nice to see the total number of accomplishments the community has completed, but a weekly/monthly would certainly be more helpfull. :) (And in the future we can sort people into houses! And people can earn points for their house!!! /harrypotter hat)

@adachiu A quick note on the categories -- @dis

[2016-09-24 20:14] lpatmo opened #211 "Use React instead of Blaze"
See: branch `white-sandpiper`, started by @distalx.

This'll require a bit of work, but the advantages are:
- more people and projects are using ReactJS vs. Blaze, and more questions are being asked about ReactJS vs. Blaze
- easier for new contributors?

Disadvantages:
- will take work for us to rewrite our templates
- possible harder learning curve for ReactJS vs. Blaze

[2016-09-24 21:01] lpatmo opened #213 "`meteor reset` is necessary for people who have existing data and hadn't updated in a while"
Will's avatar didn't show up when he logged in at localhost:3000 because he had old data for his `user` with an old data structure.

Solved by deleting the user (or a `meteor reset`).

Question is: will this bite users on the live site if they had signed up a few months ago, but hadn't logged in since the schema change?

I think most users didn't sign up until _after_ the schema change, so we're a

[2016-09-24 21:09] lpatmo commented on #208
Merged! (https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/212)

[2016-09-24 21:09] #208 closed

[2016-09-24 22:02] William-R-Wilson commented on #213
What would be the impact of doing a function call when people log in to see if their current data matches the new schema, and pull new data if it's the old schema?

[2016-09-24 23:32] lpatmo opened #214 "Bug: hosts can leave their own hangout, and when they rejoin their avatars appear twice."
![screen shot 2016-09-24 at 4 27 39 pm](https://cloud.githubusercontent.com/assets/4512699/18811861/83a0e116-8274-11e6-8f14-6ac219dab35e.jpg)

I've got a fix for this. - LP

[2016-09-25 00:39] #214 closed

[2016-09-25 02:50] leewaygroups commented on #211
I think this article makes a nice read on Blaze vs React.
`https://themeteorchef.com/blog/react-vs-blaze/`

[2016-09-27 07:40] lpatmo opened #216 "Auto-renew SSL certificates"
The cron job @distalx set up to autorenew our SSL certificate from `Let's Encrypt` (see: end of https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-14-04) failed, and we had to reset it manually. (Also ran into a complication where running `certbot-auto renew` didn't immediately fix the problem, and @distalx had to re-issue a new certificate in order t

[2016-09-27 17:05] lcrossan commented on #206
Hey, I'd like to fix this. What do you need?

[2016-09-27 23:07] osanseviero commented on #180
Hey. is anybody still working on this? If not, I could do it.

[2016-09-27 23:39] William-R-Wilson commented on #206
this ought to get you started:  https://github.com/codebuddiesdotorg/cb-v2-scratch#how-do-i-contribute-to-this-project

[2016-09-28 01:25] lpatmo opened #220 "New hangouts created aren't put in the right order"
I just noticed that a new hangout created on the live site ended up *below* other posts that had already ended. Haven't dug a *lot* into why, but wanted to file this issue to look into later.

![screen shot 2016-09-27 at 6 21 48 pm](https://cloud.githubusercontent.com/assets/4512699/18897491/b729468c-84df-11e6-82bc-0b2b34a84570.jpg)

[2016-09-28 01:31] lpatmo opened #221 "Allow hangout creators to end a hangout manually, instead of asking them to input an "end time" in advance"
A bunch of hangouts scheduled by creators have ended *after* their scheduled time. Creators can get around this by editing the hangout and moving the end time to a couple of minutes later.

However, having to edit the end time is a little bothersome. It would be nice to have the end time be open-ended, and to be able to hit a button to "End this hangout."

(Or maybe the end-time open-endedness sho

[2016-09-28 01:36] sergeant-q commented on #206
@lcrossan as Will noted, feel free to create a new fix branch and then submit a PR and we'll review it! Let me know if you have any questions in the meantime!

[2016-09-28 01:39] lcrossan commented on #206
Sorry if I wasn't clear -- Git fundamentals are great, but I was actually asking about the issue itself! What would a fix look like? What image would y'all want in the email? Are there any pain points on this project in particular that I would likely run into on this?

Thanks!

[2016-09-28 02:17] distalx commented on #180
closing this issue - it's not feasible.

[2016-09-28 02:17] #180 closed

[2016-09-28 02:21] sergeant-q commented on #206
@lcrossan the logo in the email reminder should be the CB logo we are using throughout the site. The email reminder is using an HTML template that **references** the logo image under `public/images`. You can find the template in `private/email-hangout-reminder.html`.

The code that provides the data to the template is located under `server/email/methods.js`.

The fix is to ensure the code is prope

[2016-09-28 02:52] lcrossan commented on #206
Hey, looks like I'm not allowed to push.

[code]

Is this a config error on my end?

[2016-09-28 05:54] sergeant-q commented on #206
@lpatmo do we have to add him as a collaborator to the repo? I can't recall if this is the case or if he is dealing with a local config issue.

[2016-09-28 06:00] sergeant-q commented on #221
@lpatmo I am not entirely certain this issue is **good-for-beginners**.  I like the idea but could be difficult for a beginner to tackle if they're just getting comfortable with the code base. Thoughts?

[2016-09-28 06:06] sergeant-q commented on #44
Has this been completed yet? Otherwise, we can add it to hacktoberfest for some help.

[2016-09-28 06:21] lpatmo commented on #221
@sergeant-q Agreed! I think I mostly added the tag because I was hoping that newcomers would see it and maybe feel compelled to discuss the user experience they'd like to see, but you're right -- might be confusing for this bug to be labelled so. I'll remove.

[2016-09-28 06:26] lpatmo commented on #206
Sorry, just saw this. @lcrossan And I'll add you as a collaborator so you can push the branch. And then please create a pull request for your branch. :) Thank you!

General note/talking to myself: in the future, let's start encouraging new contributors to fork this project instead of cloning directly so that they don't have to wait to be added in order to `git push` to their cloned repo. Since eve

[2016-09-28 06:33] lpatmo commented on #44
Issue update:

@JelaniThompson opened a pull request on this issue, but it contained an upgrade to meteor 1.4. From reading the discussion in #codebuddies-meta, @William-R-Wilson volunteered to try to cherry-pick the fix tomorrow, but actually... I think a safer solution is to open up a new pull request with the meteor update commit reverted, or committed over, so that we have the record of the me

[2016-09-28 06:34] lpatmo commented on #196
I started working on this issue in branch `issue-196`.

[2016-09-28 06:57] lpatmo commented on #203
I'm probably going to start another 4-hour long hangout sometime this weekend to start and hopefully complete this issue.

[2016-09-28 06:58] #125 closed

[2016-09-28 07:33] lpatmo opened #224 "New users are confused about the non-error they get if they try to log in using a Slack other than codebuddiesmeet.slack.com"
If you're a member of multiple Slack teams, and if you're not currently logged into codebuddiesmeet.slack.com, clicking on "Sign In" and then on one of the other Slack teams will result in the popup disappearing, and the home page not changing. There is no error message.

This is confusing for new users who might think they're already logged in, or can't remember the name of the Slack team (`codeb

[2016-09-28 07:40] lpatmo opened #225 "Instead of hiding the "browse hangouts" behind the logged-in view, make it public"
Proposal:
- [x] 1) Add a "Browse" link to the top of the header menu.
- [x] 2) Allow visitors to click on it to see the logged-in view of the home page.
- [x] 3) If a non-logged-in visitor tries to take an action on the home page, they'll get a popup asking them to log in.

At the moment our `templates/home/home.html` contains this logic:

[code]

We'll have to change logic a bit so that the `home

[2016-09-28 07:43] lpatmo commented on #225
The advantages to making the logged-in view public, IMO:
- less mystery for new visitors who might wonder how the hangouts + the learnings section work
- more incentive to sign up to participate, maybe?

One note: I'm not sure how the "X users online learning right now" list will show anonymous users; will have to test that out.

[2016-09-28 08:03] lpatmo commented on #173
Below is an example of where we could replace the "Upcoming in X hours" with a dynamic countdown:

![screen shot 2016-09-28 at 1 02 42 am](https://cloud.githubusercontent.com/assets/4512699/18905307/5a33a0e8-8517-11e6-908a-109434caba35.jpg)

[2016-09-28 08:16] lpatmo commented on #220
Update: I'm not able to replicate this bug in localhost:3000.

[2016-09-28 13:57] ollikarppinen commented on #118
This seems doable. :)
I could try to tackle this one.

[2016-09-28 14:50] mankinchi commented on #101
Hi I am working on this one

[2016-09-28 15:07] mankinchi commented on #101
https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/226

Please have a look on this pull request

[2016-09-28 15:40] lpatmo commented on #118
@ollikarppinen Go ahead! :) Please create a branch for this issue.

[2016-09-28 15:50] #160 closed

[2016-09-28 15:52] lpatmo commented on #135
We have a final logo! It is https://codebuddies.org/images/cb-logo.jpg.

[2016-09-28 15:52] #135 closed

[2016-09-28 15:56] lpatmo commented on #117
This looks fixed.

[2016-09-28 15:56] #117 closed

[2016-09-28 15:56] #109 closed

[2016-09-28 15:59] lpatmo commented on #147
This issue is a duplicate of #52

[2016-09-28 15:59] #147 closed

[2016-09-28 17:29] leewaygroups opened #228 "Inconsistency in hangout's RSVP count."
In all hangouts listing page, the RSVP count for a hangout does not match the actual RSVP counts shown in the hangout's detail page.
![joined 1](https://cloud.githubusercontent.com/assets/7301892/18924704/6cd1d6f6-85db-11e6-9a2b-5d8722ceeca0.png)
![joined 2](https://cloud.githubusercontent.com/assets/7301892/18924734/87ee7066-85db-11e6-9df1-4c25e8737513.png)

[2016-09-28 20:03] lpatmo commented on #167
@vishnubhagwan Please add the sentence to https://codebuddies.org/faq. Thanks!

[2016-09-28 20:26] vishnubhagwan commented on #167
@lpatmo please review the changes #230 .

[2016-09-28 20:58] vishnubhagwan commented on #18
#232

[2016-09-28 21:03] adachiu commented on #225
@lpatmo Instead of having the "browse" link on header menu to open up a different page, would it be simpler if we replaced the homepage's "join hangouts" screenshot with the logged-in cards view (minus the "Today I Learned" sidebar"). This way new users will get a glimpse immediately when they first arrive to the home page.

Side note: that image is also now outdated since the UI is going to be ca

[2016-09-28 21:17] adachiu opened #233 "Update homepage's Slack screenshot with new logo"
The homepage's Slack screenshot isn't updated yet.

I'm going to update the screenshot.

![screen shot 2016-09-28 at 2 13 27 pm](https://cloud.githubusercontent.com/assets/13413986/18932533/c51997aa-8585-11e6-8235-40de5aa1040a.png)

[2016-09-29 02:23] Gouravchawla commented on #233
Hi, Could I make a pull request for this issue?
This is what I came up with:
![slack-window](https://cloud.githubusercontent.com/assets/2922351/18938885/a3014764-8619-11e6-9305-928e1168a826.png)

[2016-09-29 02:26] adachiu commented on #233
@Gouravchawla I already made a PR for this earlier today.

[2016-09-29 02:28] crazcalm commented on #182
Is anyone working on this? I am not sure if I can fix it, but I would like to try :)

[2016-09-29 02:50] William-R-Wilson commented on #182
I'm still working on it, slowly but surely.  Might do a hangout next time I work on it if you're interested.

[2016-09-29 03:17] crazcalm commented on #182
Okay. Understood. I am not sure if this helps, but in the meteor issue linked above, the comment posted by " udiedrichsen commented on Jun 16, 2015 " has a one line work around for the missing $eq functionality.

[2016-09-29 03:47] adachiu commented on #224
@lpatmo Can we change the "codebuddiesmeet" name to "codebuddies" ? Or is it taken? Slack says [here](https://get.slack.help/hc/en-us/articles/201663443-Change-your-team-name-or-domain) that you can change the team name.

[2016-09-29 03:50] lpatmo commented on #224
@adachiu I had tried before, but `codebuddies` had already been taken! This was in March 2015. :/

[2016-09-29 04:05] adachiu commented on #224
@lpatmo Tried to search for the codebuddies slack team, but couldn't find anything. Maybe it's private. If it's unused, I wish we could contact the owner to give us the name..

[2016-09-29 04:22] distalx commented on #90
@lpatmo this could be closed.  we already have updated to 1.3

[2016-09-29 05:22] Gouravchawla commented on #233
I did not see a PR when I was going through the list of PR. I must have missed it. I'll work on some other issue then.
Thanks!

[2016-09-29 08:13] lpatmo commented on #18
@vishnubhagwan Sorry, should've described this issue better --

![screen shot 2016-09-29 at 1 10 39 am](https://cloud.githubusercontent.com/assets/4512699/18945950/9c16bfac-85e1-11e6-9344-c078488c08ca.jpg)

- [ ] When you hover over the red "silent" hangout icon, a popover should appear. Its content should say: ```Create a silent hangout to motivate yourself to get through a tutorial with others w

[2016-09-29 08:45] lpatmo opened #236 "Add character count to "learnings" tab as well"
![screen shot 2016-09-29 at 1 43 12 am](https://cloud.githubusercontent.com/assets/4512699/18947019/396d169e-85e6-11e6-8ae3-15fe20207d6d.jpg)

It's not immediately apparent that this learnings/accomplishments box is limited to 140 characters, just like the status box in the first tab.

Would be nice to see a character count next to the left of the Update button.

PR#235 might help: https://github.

[2016-09-29 08:47] lpatmo opened #237 "Make "Get Your Slack Invite" area on home page responsive (HTML/CSS issue)"
![screen shot 2016-09-29 at 12 53 07 am](https://cloud.githubusercontent.com/assets/4512699/18947106/97c40f22-85e6-11e6-817a-2f8e32d1c06b.jpg)

Let's center the Slack signup button + surrounding text.

[2016-09-29 08:52] lpatmo commented on #225
@adachiu Code-wise it might actually take a few more steps to dynamically load in the hangouts here in place of the image, but I'm not against the idea of replacing this image with loaded-in posts. :)

My concern is whether we want new visitors to see:
- that we *do* have a learnings tab
- that there's a "What did you learn?" area underneath each hangout (this feature isn't implemented yet, but on

[2016-09-29 10:28] Briix commented on #237
I can get this done 👍

[2016-09-29 13:46] abhiii5459 opened #238 "Adding tooltips for "Interested in" buttons."
First Issue/PR 😄
When I first checked out the website, I was confused as to what the buttons meant. I was like, "Can I provide voice input or something?". Then I checked out the FAQs. So I guess tiny tooltips showing the meaning of the buttons would help.

Working on it.

[2016-09-29 13:53] camilleriluke commented on #238
Added some labels for context and assigned you to the issue so it won't be picked up by anyone else :)

[2016-09-29 13:58] abhiii5459 commented on #238
Thanks @camilleriluke ! :) I've submitted a PR . I had the fix in hand before creating the issue coz I knew it was so obscenely easy, it was bound to be picked up :)

[2016-09-29 14:02] camilleriluke commented on #238
It would great to link the PR with the issue to ease navigation between issues and PRs (further reading: https://github.com/blog/957-introducing-issue-mentions)

[2016-09-29 14:03] camilaavilarinho commented on #236
I'll try this one! :)

[2016-09-29 14:47] lcrossan commented on #206
PR submitted. Thanks y'all!

[2016-09-29 16:33] #233 closed

[2016-09-29 16:34] #167 closed

[2016-09-29 18:34] jmabry111 commented on #236
Sorry @camilaavilarinho, I did not see that you commented till just now...

[2016-09-29 18:58] christiansafka commented on #237
@Briix Are you working on this, or can I give it a try?

[2016-09-29 19:03] adachiu commented on #237
@lpatmo Shall we encourage contributors to `assign` themselves and use the `in-progress` label for issues so we don't have the ongoing questioning of who is working on something?

[2016-09-29 19:10] christiansafka commented on #173
I can do this.  Does someone else need to assign me?  I'm new to open source.

[2016-09-29 19:13] adachiu commented on #173
@christiansafka You can assign yourself so that we know who is working on this issue. Thanks!

[2016-09-29 19:17] christiansafka commented on #173
@adachiu Can you add me as a contributor?  Or else I can't assign myself.

[2016-09-29 19:27] Briix commented on #237
@christiansafka Yes, I am working on it :-)
If it's okay though, I would like to wait with submitting it until the 1st October (Saturday) so it actually counts towards the hacktober score 😇

@adachiu @lpatmo I would have loved to do that, but this is my first issue I have "claimed" so I don't know a whole lot about how that actually works or how I would even assign myself to the issue and create t

[2016-09-29 19:51] camilaavilarinho commented on #236
It's ok, I'll search another one...

[2016-09-29 19:55] camilaavilarinho commented on #237
I'd like to know too how to assign a issue to myself and create a label

[2016-09-29 22:03] adachiu commented on #225
@lpatmo What if we showed a static image of the hangout cards and have a button to `View all hangouts` which brings the user to view the logged-in home? This would give a glimpse of the hangout cards on the home page. Doing this is probably easier to implement; save those steps.

In addition, below the hangout cards section, we can showcase the features `Share what you're working on` and `Today I

[2016-09-30 01:13] crazcalm commented on #193
Is this still an issue? If so, I would like to take an crack at it.

[2016-09-30 01:45] BratCat commented on #18
I think I can handle this one if it's not already taken.

[2016-09-30 01:48] lpatmo commented on #193
@crazcalm Hi Marcus -- this is still an issue! :)

Happy to discuss, since I'm not entirely sure of what it should look like. The main goals:

- Allow end-time setting to be optional, but still be there if a user wants to fix it (maybe the date/time box could be hidden behind a `Set end time` link)
- Creators of a hangout and admins of the site can click a button to mark a hangout as completed aft

[2016-09-30 01:52] lpatmo commented on #173
@christiansafka I added you as a collaborator! After this, though, I think we're going to start phasing out the use of the "assignees" feature on the right so that folks don't have to wait a while to be added before they can assign themselves to an issue. A comment indicating that you're interested in/are going to start working on the issue in Branch X should be fine. :)

@christiansafka You can `

[2016-09-30 01:54] lpatmo commented on #18
@BratCat Hi Marcia! Please hold for a minute... I think I saw another issue that looked very similar to this one, that had already received a pull request. Let me check that one first.

[2016-09-30 02:03] BratCat commented on #18
@lpatmo will do.

[2016-09-30 02:05] lpatmo commented on #18
@BratCat You are good to go! :) Turns out the other PR I was afraid overlapped only introduced the `title` attribute to the HTML tags. This issue is still needed, so this issue is yours if you're still interested in working on it. Thanks!

[2016-09-30 02:07] BratCat commented on #18
@lpatmo ok thanks so much I'll go ahead an start working on it. Thanks!

[2016-09-30 02:31] distalx commented on #206
resolved in #241 .

[2016-09-30 02:31] #206 closed

[2016-09-30 02:32] crazcalm commented on #193
@lpatmo I think I understand the main goals. I also do not know what it should look like. I will try to get the functionality down first. We can tweak the UI after I prove to myself that I can actually do this ticket, lol.

Questions:
- Is the start time still mandatory? I ask because the ticket title is slightly different from the goals you just mentioned.
- If one does not choose an end time on

[2016-09-30 04:28] #238 closed

[2016-09-30 04:31] lpatmo commented on #193
- Hah, yeah, sorry for the confusion! I was initially thinking no, but I'm leaning towards it being auto-populated with the current time (as it currently is)....
- Good question. If a date format is necessary, maybe a safe "never ending" datetime would be 1 month in the future calculated from the start time.

[2016-09-30 04:32] lpatmo commented on #221
Closing this issue -- this is a copy of https://github.com/codebuddiesdotorg/cb-v2-scratch/issues/193.

[2016-09-30 04:32] #221 closed

[2016-09-30 06:21] distalx commented on #236
@jmabry111 Thanks for the PR! :confetti_ball:
@lpatmo I just noticed that If you copy paste something inside a `I'm working on` or `Today I learned` block it doesn't have any effect on the counter. Dose it qualify as a new issue or it's something that could be addressed here ?

[2016-09-30 07:14] lpatmo commented on #236
I left two other notes in PR#243: https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/243.

I think either way is fine. If it's not an easy fix, @jmabry111 could create a new issue for it.

[2016-09-30 08:29] distalx commented on #44
I believe this issue has been resolved in #235 and related ongoing issue could be found at #236 ,

[2016-09-30 08:29] #44 closed

[2016-09-30 13:35] jmabry111 commented on #236
@distalx I fixed the counter to updated if text is pasted in... thanks for the heads up on that!
@lpatmo conflicts are resolved and counter works with no confusion between tabs now.
Thanks! 😀

[2016-09-30 16:33] pv2k commented on #151
I am new to open source world and I would love to work on this issue.

[2016-09-30 18:21] lpatmo commented on #151
@pv2k Awesome! It's yours if you want to take it.

Steps:
- [ ] Create a new "Github Contributors" section on the /about page.
- [ ] Have the section pull in a list of avatars, with each avatar linking to the contributors' Github profile.

If you create a branch in your forked repo, just leave a comment here indicating what you named the branch if you want anyone to look it over before you submit

[2016-09-30 18:57] hi15 commented on #228
I'm working on it!

[2016-09-30 19:19] adachiu commented on #228
@hi15 is @leewaygroups already working on this?
I'll label this as `in progress`

[2016-09-30 19:25] distalx commented on #228
#246 !!

[2016-09-30 22:01] William-R-Wilson commented on #220
I am seeing this in my local environment.  Just finished my other issue so I'll start on this one

[2016-09-30 23:34] adachiu opened #249 "Duplicate blinking live icon on single post page"
Spotted an extra `live` icon blinking simultaneously with the main `live` icon. The blinking icon above the join button should be removed.

![screen shot 2016-09-30 at 4 26 03 pm](https://cloud.githubusercontent.com/assets/13413986/19009660/07708f5e-872b-11e6-8fed-04cacb842a98.png)

[2016-09-30 23:54] samc1213 commented on #249
going to take a look at this

[2016-10-01 00:55] wuworkshop commented on #224
@adachiu if you go here https://codebuddies.slack.com/ and look at the bottom, it says:
"If you have an @codebuddies.de email address, you can create an account." So whoever owns that domain name probably owns the Slack name.

[2016-10-01 01:05] adachiu commented on #224
@wuworkshop I saw that and already contacted someone on Twitter, but he said he was once related to the @codebuddies.de and is no longer. I'm asking him if he knows who has that email address so I can directly ask him/her if they can free up the team name if it's not used!

[2016-10-01 01:10] lpatmo commented on #55
Let's do this!

In the #codebuddies-meta channel on Slack, @William-R-Wilson asked about packages and  @distalx recommended using this meteor package to add fixtures:  https://github.com/marak/Faker.js/

[2016-10-01 01:12] lpatmo commented on #237
@camilaavilarinho We've stopped using the "assign feature" feature, so now if you want to work on an issue, please just leave a comment in the thread! :) And issues that are already being worked on will have an `in progress` label maintained by repo maintainers. What label did you want to create?

[2016-10-01 03:09] distalx opened #250 "Disable Logging in Production."
There are `console log` statements are present in many places. by override the logging functions we can disable logging in production.

[2016-10-01 06:52] distalx commented on #228
@lpatmo here `joined` count  refers to  number of attendees or attendees + host ?

[2016-10-01 08:44] pv2k commented on #151
@lpatmo Thank you, this means a lot to me.

[2016-10-01 09:30] anu0012 commented on #186
Can I contribute ?

[2016-10-01 09:33] distalx commented on #186
@anu0012 , I think @camilleriluke is already working on this.

[2016-10-01 09:53] raj-maurya commented on #249
@adachiu

I am interested in fixing this issue.

[2016-10-01 10:07] distalx commented on #249
Hi @raj-maurya, I believe @samc1213 is already working on this issue.

[2016-10-01 10:24] camilleriluke commented on #151
@pv2k and @lpatmo https://github.com/kentcdodds/all-contributors might be of interest to you :)

[2016-10-01 11:36] ollikarppinen commented on #250
I could take this one, if it's up for grabs?

[2016-10-01 15:14] lpatmo commented on #250
@ollikarppinen I think @distalx already took this one. Sorry!

https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/251

[2016-10-01 15:42] ollikarppinen commented on #250
Ok, cool. No worries! Just have to find something else then :)

[2016-10-01 16:53] lpatmo commented on #220
Great, claimed by @William-R-Wilson!

On the live site, I've noticed that this happens if I duplicate a hangout that was created on an older date.

[2016-10-01 17:02] lpatmo commented on #196
Two issues I ran into:

- [ ] Need to figure out how to load `<link href="https://cdn.quilljs.com/1.0.6/quill.snow.css" rel="stylesheet">` and `<script src="https://cdn.quilljs.com/1.0.6/quill.js"></script>` globally on all the meteor pages. Previously was doing

[code]
in `templates/hangout/hangout.js`, and in each of the other templates.

I think there's a special way to do this for meteor apps.

[2016-10-01 17:05] lpatmo commented on #152
Claimed by @ISPOL.

[2016-10-01 17:08] lpatmo commented on #148
Tasks:

- [ ] Create a new page (http://codebuddies.org/learnings)
- [ ] Inside it, include the text: "Learnings coming soon."

Let's reuse the template from templates/other/about.html or templates/other/faq.html.

I'll open up another bug to discuss what the page should look like with the content, but for now someone can work on create a new URL route in this meteor app. :) (Hint: look at `lib/ro

[2016-10-01 17:13] lpatmo commented on #133
Just noting here that the homepage CSS issue in the screenshot above was filed and claimed in #237.

[2016-10-01 17:14] lpatmo commented on #130
Closing; this issue is a duplicate of #225.

[2016-10-01 17:14] #130 closed

[2016-10-01 17:21] lpatmo commented on #119
Two options to discuss, before we mark this issue for `Hacktoberfest`:

- We can use a meteor social share package? (Most of them look pretty old.)
- We can just integrate twitter sharing, and manually write in the twitter share link (http://stackoverflow.com/questions/6208363/sharing-a-url-with-a-query-string-on-twitter)

[2016-10-01 17:55] lpatmo opened #257 "Change "RSVP" to "Launch Now" on button for hangouts in progress"
![screen shot 2016-10-01 at 10 17 31 am](https://cloud.githubusercontent.com/assets/4512699/19015892/f60847f6-87c1-11e6-82a7-800fb19bd87b.jpg)

For hangouts that are active/in progress, the button on the homepage says "RSVP." It should say "Launch Now", because clicking on the button technically launches the in-progress google hangout.

This button shows up based on this logic in `templates/hangou

[2016-10-01 18:03] eddieduro commented on #257
On it!

[2016-10-01 18:13] Briix opened #259 "Fix hangout cards on frontpage"
The hangout cards on the frontpage doesn't work very well on smaller screens and are in some cases unreadable.
<img width="321" alt="screen shot 2016-10-01 at 20 08 50" src="https://cloud.githubusercontent.com/assets/953798/19016160/f8c5cada-8812-11e6-9a90-07e28596bd0e.png">
<img width="320" alt="screen shot 2016-10-01 at 20 09 07" src="https://cloud.githubusercontent.com/assets/953798/19016159/f8

[2016-10-01 18:38] lpatmo commented on #259
@Briix You should be able to add labels now (added as collaborator).

And thanks for filing the issue! I'll add the label `claimed`.

[2016-10-01 18:40] lpatmo commented on #257
@eddieduro Great, thanks! Added the `claimed` label.

[2016-10-01 19:00] lpatmo opened #260 ""Go get a coffee or something. This is going to take a while" text is sad."
Fix in this file:
`client/templates/admin/inc/loading.html`

Line 2:
[code]

Maybe change the text to:
```Please wait a few seconds!```

Other text suggestions welcome!

[2016-10-01 19:12] lungyiin commented on #260
How about "This will only take a moment"?

[2016-10-01 19:18] lpatmo commented on #260
@lungyiin Sure!

[2016-10-01 19:33] samc1213 commented on #249
You can take it. I can't get the project to run locally. Thanks

On Saturday, October 1, 2016, distalx <notifications@github.com> wrote:

[2016-10-01 20:21] distalx commented on #119
I'd suggest carrot/share-button https://github.com/carrot/share-button

[2016-10-01 20:24] abhiii5459 commented on #118
Claimed  by @ollikarppinen .

[2016-10-01 20:26] abhiii5459 commented on #101
Claimed by @mankinchi

[2016-10-01 21:37] adachiu opened #265 "Incorrect listing of hangouts on profile page"
The profile page should only show the user's own history of hangout participation. Currently it's showing all of the hangouts ever created by users.

The user's own list of hangouts should include hangouts that they...

- completed
- joined/RSVP-ed
- created
- deleted

![screen shot 2016-10-01 at 2 15 24 pm](https://cloud.githubusercontent.com/assets/13413986/19017059/5c4d8b8c-87e2-11e6-9e29-f669b

[2016-10-01 21:41] adachiu commented on #265
Woops, just noticed there's another issue #182  opened for this 2 months ago.
Closing this.

[2016-10-01 21:41] #265 closed

[2016-10-01 21:59] khaleelsyed commented on #148
Can I give this a shot?

[2016-10-01 22:33] camilleriluke commented on #148
Sure marking it claimed and in progress. Enjoy @khaleelsyed :)

[2016-10-01 22:37] raj-maurya commented on #249
Thanks @samc1213

[2016-10-02 02:58] camilleriluke commented on #196
Quill is added as an npm package and everything is sorted (it's just the CSS that needs to be loaded like this)

Some updates from the latest CB sessions

- Data is being save and retrieved well (although it is in it's own format), also it will be taking care of backward compatibility.

- The only issue I am struggling with now is that, when we reply back the description back on the client the lin

[2016-10-02 09:02] abhiii5459 commented on #171
@lpatmo Are you still working on this? Can I take it? 😄

[2016-10-02 11:27] pv2k commented on #151
Sorry to mind @lpatmo, can you tell me where should i start???? I've tried to understand the code and understood a bit of it.

[2016-10-02 12:03] sagarchoudhary96 commented on #257
@eddieduro can i do that?

[2016-10-02 12:07] ollikarppinen commented on #170
Is this taken? If not I could work on this one

[2016-10-02 13:00] jsoranno commented on #201
I'd like to try it!

[2016-10-02 17:21] adachiu commented on #257
@sagarchoudhary96 when the issue has a "claimed" label, it means it's already taken.

Please search for other issues that's labeled "not-claimed" :) Thanks!

[2016-10-02 17:55] #260 closed

[2016-10-02 17:57] #250 closed

[2016-10-02 17:59] William-R-Wilson commented on #151
@pv2k what questions do you have? Do you have questions about the app code or the API?  Might be helpful to talk over on slack.

[2016-10-02 18:25] lpatmo commented on #228
Number of attendees + host is fine. Merged.

[2016-10-02 18:25] #228 closed

[2016-10-02 19:59] BratCat commented on #18
@lpatmo Hi! I had to create a new css file for the tooltips in update_status, it's update_status.scss...what file do I need to update for it show the styles? Right now I have a link in the html file.

[code]

[2016-10-02 20:08] lpatmo commented on #18
Hi Marcia! You need to import the file in style.scss. The <link rel> etc. is unnecessary because we have a meteor package that automatically looks for scss files in style.scss and compiles them. Hope that helps!

P.S. Am typing from phone so sorry for any inconsistencies.

Sent from my iPhone

[2016-10-02 20:38] BratCat commented on #18
Ok, thank you!

[2016-10-02 22:38] khaleelsyed commented on #148
Cheers @camilleriluke I'll keep you posted on my progress.

[2016-10-02 23:07] crazcalm commented on #193
@lpatmo I have not been worrying the UI yet, but I think I have most of the functionality down.

So, if the end time is not set by the creator of the event, then I set it for 28 days in the future (the p tag has a onclick function attached to display the date picker).
![screen shot 2016-10-02 at 6 52 24 pm](https://cloud.githubusercontent.com/assets/3482344/19024446/dae35266-88d1-11e6-8a33-8cf2200

[2016-10-03 01:02] adachiu commented on #193
@crazcalm @lpatmo One month in the future is a long time.
What if there is an auto-end time if the creator forgets to mark it as complete? (ex. after 24 hours from starting time)

It seems safe to have the auto-end/complete within 24hours from the starting time since the hangouts have all been within a day's time.

After the auto-end is triggered, we could have an email notification to tell the cr

[2016-10-03 01:44] crazcalm commented on #193
@adachiu @lpatmo One month in the future is a long time. 24 hours does sound more reasonable. However, if you want to change it in the future, it should be an easy change.

@adachiu In terms of your thoughts on triggering an email after the auto-end has been reach, I am not sure that is possible. I have not looked into the email system, so I do not know how it works. Also, "auto-end" and the curre

[2016-10-03 01:44] kazoni commented on #216
This may be a stupid question, but why not set a 3 month cronjob up?  I've got one that hammers away at the renew every half hour (which is actually pretty obsessive, I need to change it) and I just ignore that "not ready yet" message.

0 0 25 3,6,9,12 * /path/to/certbot-auto renew

[2016-10-03 02:34] adachiu commented on #193
@crazcalm  RE auto-end: if the email notifications system is not achievable, would it be possible to trigger a notification on `https://codebuddies.org/notifications` ? We could set up another ticket for this.

RE mark/unmark: When you say the `edit page`, you mean the `edit modal` window right? I agree on your points for the mark/unmark button feature.

Additionally, I think that Instead of `edit

[2016-10-03 02:52] crazcalm commented on #193
@adachiu After I finish the mark/unmark button, I can look into the email notification, but I would like for that to be another ticket.

You are right. I did mean the edit modal window.

I may not of been clear on the "edit you hangout" part.
![screen shot 2016-10-02 at 10 35 28 pm](https://cloud.githubusercontent.com/assets/3482344/19026232/2f2912d8-88f1-11e6-92bf-5509ad8ca80a.png)

The edit moda

[2016-10-03 03:11] distalx commented on #193
Some thoughts on this one.

What if we give a replace the end date/time picker with a drop down menu.

![image](https://cloud.githubusercontent.com/assets/11193792/19026528/aa6771d0-8944-11e6-8f3b-a07822418378.png)

And if time has set to undefined === never-ending, give user (host) the ability to end that hangout.

![image](https://cloud.githubusercontent.com/assets/11193792/19026539/ce2b8606-894

[2016-10-03 04:43] lpatmo commented on #171
@abhiii5459 It's yours! I will change the `claimed` label. Thanks!

[2016-10-03 05:02] adachiu commented on #193
@crazcalm I mean the "Edit your Hangout" button can be called "Save changes" instead. Because it's more clear that the changes are being saved. Besides, the modal window already has the "Edit your hangout" title at the very top. From a UX perspective, it would be more clear to the user if the blue button was called "Save changes" 😄

@distalx Interesting idea. In your wireframe, does the start date

[2016-10-03 05:48] lpatmo opened #268 "When browsing different profiles, logged-in users will always see their own learnings"
... not the learnings of the user whose profile they're currently browsing.

[2016-10-03 05:48] lpatmo commented on #268
@distalx is taking this issue.

[2016-10-03 06:02] lpatmo commented on #216
Thanks for your comment, @kazoni! :)

My understanding is that @distalx had set up a cronjob to renew the certificate as suggested in https://www.digitalocean.com/community/tutorials/how-to-secure-nginx-with-let-s-encrypt-on-ubuntu-14-04, although I remember when I ran `sudo crontab -e` (as mentioned in the tutorial) I saw that the lines had been commented out.

So I'm not sure if the cron job act

[2016-10-03 06:15] distalx commented on #193
@adachiu, yes it does.

[2016-10-03 06:18] #236 closed

[2016-10-03 08:01] distalx commented on #216
@kazoni,

Whenever we decide to release new updates to codebuddies.org, we push all the changes from this repo [master] to another private repo,  From there, Codeship will take over and deploy the code.

For the deployment process, we are using `meteor-up`. `meteor up` creates a docker container and uploads the application build.

However, `meteor up` doesn't have `Let's Encrypt` integrated. (See:

[2016-10-03 08:12] distalx commented on #182
resolved in #248 .

[2016-10-03 08:12] #182 closed

[2016-10-03 08:17] distalx commented on #201
@jsoranno It's yours! I will change the `claimed` label. Thanks!

[2016-10-03 08:23] distalx commented on #237
resolved in #258.

[2016-10-03 08:23] #237 closed

[2016-10-03 08:29] distalx commented on #18
resolved in #244.

[2016-10-03 08:29] #18 closed

[2016-10-03 15:41] khaleelsyed commented on #148
I'm not sure if I can continue on this issue. I've been really struggling to get [meteor-js](https://aur.archlinux.org/packages/meteor-js/) installed on my Arch Linux box and I don't think I can keep on this if I've not got Meteor.

[2016-10-03 15:47] sharynneazhar commented on #52
Is this still open? I would like to try working on this :)

[2016-10-03 15:51] camilleriluke commented on #148
@khaleelsyed Did you follow the instructions @ https://www.meteor.com/install?

[2016-10-03 15:55] William-R-Wilson commented on #220
I think this is the answer:  https://stackoverflow.com/questions/15153349/meteor-subscribe-doesnt-update-sort-order-of-collection

Will work on it tonight

[2016-10-03 15:56] khaleelsyed commented on #148
@camilleriluke I'll try giving a shot using those official docs.

[2016-10-03 15:56] sharynneazhar commented on #52
Or is this already done with issue #147?

[2016-10-03 15:59] lpatmo commented on #52
@sharynneazhar This issue is still open! I'll mark this as claimed if you want to work on it. :)

[2016-10-03 15:59] sharynneazhar commented on #52
@lpatmo Sweet, thank you!

[2016-10-03 16:01] lpatmo commented on #52
Np! Let us know if you have any questions about it.

[2016-10-03 16:02] sharynneazhar commented on #52
Like @sergeant-q suggested, do we have a mock-up I should follow for this?

[2016-10-03 16:02] lpatmo commented on #170
@ollikarppinen Sorry, the `not-claimed` label was put on here mistakenly. We've created a branch called `s-description-170`.

[2016-10-03 16:29] lpatmo commented on #52
@sharynneazhar

![image](https://cloud.githubusercontent.com/assets/4512699/19044983/765a135a-894b-11e6-8e5e-31c79d6b5aa6.png)

This is the only mockup we have so far. Maybe on the right-hand side (in place of the quote), we could have an "Edit Profile" button, and when that gets clicked on a couple of fields open up, with:

Twitter   [    ]
Github  [    ]
Slack [    ]
Bio [    ]
Programming Inter

[2016-10-03 18:38] Subway19 commented on #257
I would like to claim this.

[2016-10-03 22:09] William-R-Wilson opened #270 "Slack reminders have the time wrong"
The slack reminder for a hangout that is starting right now says that the hangout will be starting in less than two hours:
![starts in less than 2 hours](https://cloud.githubusercontent.com/assets/7865866/19055978/b43dc3ee-8994-11e6-86c5-07f51500682f.png)

This hangout had actually already started at 5:48 pm my local time

[2016-10-03 22:16] duffbuster opened #271 "Higher res assets?"
Any chance there are some higher resolution asset images floating around? Everything on the app just looks super low res on a retina display.

[2016-10-03 22:50] adachiu commented on #271
@duffbuster This is in-progress already, thanks for mentioning it here though!

[2016-10-03 23:01] khaleelsyed commented on #148
I tired installing using the official docs method: [This was the output](https://gist.github.com/khaleelsyed/117e225f3e8dc4036a46f13bd43de7bf). I still continued anyway assuming it should be installed anyway. After I try running the command `meteor --settings settings-development.json`, I get the issue `Unexpected mongo exit code 1. Restarting.` and I was able to get in the mongo shell without any

[2016-10-03 23:47] distalx commented on #148
@khaleelsyed Try this in order. and let me know the output.
[code]

[2016-10-04 02:22] jsoranno commented on #201
@distalx I'm going to have to learn Meteor first! I'll give this one back to the community now. I'll be back!

[2016-10-04 04:59] BratCat commented on #270
I can take a look at this one. :)

[2016-10-04 07:22] #268 closed

[2016-10-04 07:28] lpatmo commented on #270
@BratCat Thanks! Will change the label to `claimed`. :)

[2016-10-04 07:29] lpatmo commented on #257
@eddieduro Do you need any help with this issue? The if/else statements in hangout-item.html can be a little hairy, sorry...

[2016-10-04 08:01] lpatmo commented on #193
Sorry for the slow response. This thread got long. :)

Thank you for your work, @crazcalm! To answer your original two questions:

If they un-mark it, then the end time should be 24 hours from the time right *now*.

I think it makes most sense for this button to be below where the "launch the hangout" button is on the single post page, as shown in @distalx's second mockup above. (And we can figure

[2016-10-04 08:05] lpatmo commented on #193
@adachiu And good observation re:

I can file a new `good-for-beginners` issue for that (pretty easy, so someone can take it for a quick PR).

[2016-10-04 08:07] lpatmo opened #275 "Change text on button "Edit Hangout" to "Save Changes" in Edit Hangout Modal"
- @adachiu

![image](https://cloud.githubusercontent.com/assets/4512699/19066617/f6394734-89ce-11e6-85dd-7b7713e7e929.png)

Relevant file to edit: `i18n/en.i18n.json` file.

[2016-10-04 08:13] ollikarppinen commented on #275
I can do this one :)

[2016-10-04 08:56] lpatmo commented on #275
@ollikarppinen Awesome!

[2016-10-04 11:08] camilleriluke commented on #196
This one is moving a long quite nicely.

Most of the code is ready, just a couple of cleanups and doc, I will be submitting a PR soon ✌️

[2016-10-04 12:19] abhiii5459 commented on #170
@ollikarppinen Mea culpa!

[2016-10-04 16:11] abhiii5459 commented on #116
Can I look into this?
@adachiu @PandaWhisperer

[2016-10-04 18:35] abhiii5459 opened #279 "Introduce timeout/retry while setting up cb-v2-scratch dev environment"
Maybe it's just me , but during the initial setup, sometimes when I run `"meteor --settings settings-development.json"` , (have setup from scratch on 3 different systems), and there's some dependency being downloaded, it just halts there, giving the impression that the download's happening, but if internally it's stuck  or network's gone down, there's no indication. So maybe we should introduce so

[2016-10-04 18:36] jllamasi commented on #275
@lpatmo I took the liberty of doing this issue. There's a PR open, thanks!

[2016-10-04 20:50] camilleriluke commented on #89
First set of unit tests: https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/280 `\0/`

[2016-10-04 21:23] wuworkshop commented on #224
I just realized the copy on the homepage says:

What is "Select CodeBuddies" even referring to? O-o Wouldn't that just make people think the Slack url is "codebuddies.slack.com"?

[2016-10-04 22:40] adachiu commented on #224
@wuworkshop I believe it's because of this window which the user needs to click on "CodeBuddies" to proceed further

![screen shot 2016-10-04 at 3 37 50 pm](https://cloud.githubusercontent.com/assets/13413986/19095093/a8f3365e-8a48-11e6-8712-76fccf692152.png)

[2016-10-05 03:25] crazcalm commented on #193
I just created the pull request. I am pretty new at this so I am not sure if I was suppose to do something special for it to show up here, but you can find it there https://github.com/codebuddiesdotorg/cb-v2-scratch/pull/281

In terms of the UI elements, I am happy to pass that on to someone who knows what they are doing (because I do not).

In terms of the end hangout button, I am not sure of how

[2016-10-05 03:56] lpatmo commented on #193
Thanks for opening up the PR (yay, first Hacktoberfest PR!) and pushing up your branch, @crazcalm. :) I'll make some commits re: the UI.

[2016-10-05 05:14] lpatmo commented on #275
Thanks for the PR, @jllamasi! But working on it when @ollikarppinen had already left a comment to claim it was disrespectful to @ollikarppinen. This isn't a race! Please watch out for the `claimed` label in the future, or coordinate with the person who claimed the issue. Thanks.

[2016-10-05 05:14] #275 closed

[2016-10-05 06:41] #55 closed

[2016-10-05 08:07] Briix opened #282 "Refactor css colour variables"
Since we're using sass we should really make use of it's variables.
I would like to clean up the sass and at least make sure that every colour has a variable name and that the variable name is used to style elements, i.e right now we have a `$bg-white` variable that is sometimes used and sometimes not and multiple definitions of `#fff`, `#ffffff` and `white` in the codebase.

So put colours into v

[2016-10-06 04:35] iamsk9 commented on #282
Hello @briix I would like to solve this issue. I will change all the colors definitions with their respective variable names.

[2016-10-06 05:32] adachiu commented on #282
@iamsk9 Looks like @Briix already put the `claimed` label on this issue. Please look for issues with the `not-claimed` label! Thanks!

[2016-10-06 05:38] iamsk9 commented on #282
ok thank you @adachiu

[2016-10-06 06:22] distalx commented on #220
@William-R-Wilson is this issue has been resolved in PR #272. ?

[2016-10-06 11:56] abhiii5459 opened #286 "Edited - Changing this to countdown slack alert times. (Old title - Time displayed on Slack for hangout alerts is in UTC as opposed to the user's respective timezone)"
Discussed this with @lpatmo .
I think this can be remedied by obtaining the timezone of each individual user using Slack APIs and adjusting dynamically.
This is a vague description. I'll add more to it.

Self-assigning to attempt to fix it.

[2016-10-06 12:47] distalx commented on #286
@abhiii5459
Heads up
We are already storing _timezone_ details into `users` collection.

[code]

I am not sure if I understand the issue correctly, but it seems that  you are planning/thinking about  displaying hangout start time in _slack alerts_ according to individual user's preferance !! and if that's the case how are you planning to achieve that ? I'm just curious here.

[2016-10-06 14:48] William-R-Wilson commented on #220
Yes! @distalx

[2016-10-06 14:48] #220 closed

[2016-10-06 22:32] longp commented on #84
Is anyone working on this?

[2016-10-06 22:56] camilleriluke commented on #151
@pv2k how is this one going along? If you need any help, please don't hesitate to ask.

[2016-10-07 06:01] #271 closed

[2016-10-07 07:13] lpatmo commented on #151
@pv2k Did `meteor reset` help resolve the issues you were facing?

[2016-10-07 07:14] lpatmo commented on #84
@longp No one is working on this issue (capping the # of attendees on each post to 10). Are you interested in it?

[2016-10-07 07:30] lpatmo opened #288 "Remove duplicate starbursts on single hangout post page"
This is a [starter issue](http://hood.ie/blog/starter-issues.html), highly inspired by the great job of the folks at [Hoodie](http://hood.ie). 👍
## 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Timers

[2016-10-07 07:45] lpatmo opened #289 "Add documentation to contributing.md about how to seed a blank localhost:3000"
When new contributers first start up the app, there aren't any posts, and it's a hassle creating new fake hangouts.

@distalx solved this with a PR, but there's no documentation in contributing.md about how to run the app with the seeded posts/fixtures.

Task:
In contributing.md, add a line about how running the app (meteor with `"seeder":false,` in settings-development.json will seed a couple of

[2016-10-07 07:50] aj07 commented on #288
I will go on it :100:

[2016-10-07 07:53] distalx opened #290 "update getting started instruction in contributing.md."
This is a [starter issue](http://hood.ie/blog/starter-issues.html), highly inspired by the great job of the folks at [Hoodie](http://hood.ie). 👍

#### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Tim

[2016-10-07 08:02] lpatmo commented on #201
@jsoranno Do you need any help with this issue? Let us know! :)

[2016-10-07 08:03] wuworkshop commented on #288
@aj07 Sorry, but we'd like this issue to go to `first-timers-only` - as in someone who has never contributed to open source before. Perhaps you can work on some other [issues](https://github.com/codebuddiesdotorg/cb-v2-scratch/issues)?

[2016-10-07 08:03] lpatmo commented on #173
@christiansafka If you're still planning on working on this issue, do you need any help with it? Let us know!

[2016-10-07 08:03] #171 closed

[2016-10-07 08:10] wuworkshop commented on #116
@abhiii5459 I don't think anyone has looked into this. So go right ahead!

[2016-10-07 08:23] pvskarthikeya commented on #290
Hey! I will do this.

[2016-10-07 08:44] adnrs96 commented on #289
Can i give this one a try?

[2016-10-07 09:05] distalx commented on #290
@pvskarthikeya It's yours! I will change the claimed label. Thanks!

[2016-10-07 09:06] distalx commented on #289
@adnrs96 It's yours! I will change the claimed label. Thanks!

[2016-10-07 10:19] nachiketdhamankar commented on #288
Hey! I would like to work on this :)

[2016-10-07 11:27] Briix opened #293 "Add editorconfig"
Would it make sense to have an .editorconfig file in place so we all follow the same standard, i.e. tabs gets converted to spaces, no trailing whitespaces etc.

If so I would like to implement it.
My suggestions would be:

[code]

[2016-10-07 12:31] abhiii5459 commented on #201
@distalx @jsoranno we can work together on this and you can make it your first PR if you like :)

[2016-10-07 12:35] abhiii5459 commented on #286
@distalx I understand that there's a dependency on the client side here and that's the challenge. I haven't really thought through it :( I'm led to believe that there's another issue that is tracking counting down the time left per hangout on slack notifications (to make the time left relative). If i can't figure out a satisfactory solution, I'll give up on this and look into contributing to the o

[2016-10-07 14:05] christiansafka commented on #173
@lpatmo Hey, I had some problems installing Meteor when I was going to fix this, and now do not have time for anything.  Sorry!  Issue is open to anyone.

[2016-10-07 15:11] jsoranno commented on #201
That would be awesome!

On Fri, Oct 7, 2016 at 8:31 AM, Abhiram R <notifications@github.com> wrote:

[2016-10-07 15:35] vedipen commented on #288
Can I work on this?

[2016-10-07 16:07] aditya-konarde commented on #290
Hey @distalx ! I see that this issue has been claimed. Is there anything else I can do?

[2016-10-07 16:19] lpatmo commented on #288
@nachiketdhamankar It's yours! Changing the `not-claimed` label to `claimed`.

@vedipen Sorry, @nachiketdhamankar commented first. If he doesn't want to work on it anymore we'll let you know.

[2016-10-07 16:19] lpatmo commented on #173
@christiansafka Thanks for letting us know! I will add back the `not-claimed` label.

[2016-10-07 17:23] camilleriluke commented on #293
Very good suggestion @Briix!

After this [eslint](http://eslint.org/) would be great also :)

[2016-10-07 17:32] distalx commented on #290
@aditya-konarde, There are still some other issues to work on, you can check out the remaining [issues](https://github.com/codebuddiesdotorg/cb-v2-scratch/issues?q=is%3Aissue+is%3Aopen+label%3Anot-claimed)!

[2016-10-07 17:44] distalx commented on #286
@abhiii5459 Yes, instead of displaying  `start date time` if we display `countdown time` that might work.

[2016-10-07 17:51] khaleelsyed commented on #148
@distalx  I still got a mongo exit code 1 when I ran that. Really sorry for such a late reply.

[2016-10-07 18:03] distalx commented on #201
some ideas for ui.
For notes and accompaniment we could place an icon for each, aside hangout.
<img width="320" alt="screen shot 2016-10-07 at 9 13 20 pm" src="https://cloud.githubusercontent.com/assets/11193792/19200042/96689ed6-8ce4-11e6-819a-02d1c8d110e1.png">

On click, icons could pop a modal view.

Notes
<img width="833" alt="screen shot 2016-10-07 at 11 26 55 pm" src="https://cloud.githubus

[2016-10-07 19:48] longp commented on #84
Yeah I am interested, Just cloned it and will be poking around now

[2016-10-07 20:18] pv2k commented on #151
No, it didn't work @lpatmo and i am not able to get any help from google too.

[2016-10-07 21:50] wuworkshop commented on #288
@vedipen This issue is for `first-timers-only`. Perhaps you can work on some other [issues](https://github.com/codebuddiesdotorg/cb-v2-scratch/issues) that haven't been claimed yet?

[2016-10-08 04:26] lpatmo opened #298 "CSS issue at a specific browser width"
This is a [starter issue](http://hood.ie/blog/starter-issues.html), highly inspired by the great job of the folks at [Hoodie](http://hood.ie). 👍

#### 🆕🐥☝ First Timers Only

This issue is reserved for people who never contributed to Open Source before. We know that the process of creating a pull request is the biggest barrier for new contributors. This issue is for you 💝 Read more about [First Tim

[2016-10-08 04:59] mohit3011 commented on #298
I'll work on this issue

[2016-10-08 05:00] wuworkshop commented on #298
@mohit3011 Great. It's all yours. I've updated the label to `claimed`.

[2016-10-08 05:21] mohit3011 commented on #298
I have installed meteor 1.4.1.2 but when I try to run this command " meteor --settings settings-development.json" it gives error that meteor 1.3.2.4 is not installed and could not be downloaded

[2016-10-08 06:28] wuworkshop commented on #298
@mohit3011 I just noticed we have an open issue #290 to update the contributing.md file in the getting started section. Could you try this instead to start the app?
[code]

[2016-10-08 06:34] mohit3011 commented on #298
@wuworkshop

is not working and displays the message " Sorry, this project uses Meteor 1.3.2.4, which is not installed and could not be downloaded"
.

[2016-10-08 06:43] distalx commented on #298
Hi @mohit3011 , To install meteor `1.3.3.1`.
[code]
A word of caution, though; it will replace your current meteor version with `1.3.3.1`.

[2016-10-08 07:03] mohit3011 commented on #298
Sorry but there is one more error

[code]
Actually I'm using a proxy network so I have changed the proxy settings in npm

[2016-10-08 12:48] ricjon commented on #148
I think I can give this a shot also if it's ok.

[2016-10-08 17:00] lpatmo opened #300 "Design Issue: login confusion for new users who click to a single post page"
This is a starter issue, highly inspired by the great job of the folks at [Hoodie](https://github.com/hoodiehq). 👍
#### 🎃🙀👕🔭😻 Hacktoberfest: Free T-Shirt from DigitalOcean for Your Open-Source Contributions!

If you haven’t yet, [sign up for Hacktoberfest](https://hacktoberfest.digitalocean.com/) to earn an exclusive T-Shirt, which you can win after making four open pull requests.
#### 🤔 What you

[2016-10-08 17:06] RichardTran commented on #300
I can work on this issue

[2016-10-08 17:07] lpatmo opened #301 "CSS issue on `master` branch"
The culprit:
[code]

[2016-10-08 17:13] abhiii5459 commented on #286
@distalx I think we'll go ahead with that approach then . Starting work on that.

[2016-10-08 17:18] dantesolis commented on #301
I can work on this If no one has it yet

[2016-10-08 17:37] camilleriluke commented on #151
I'm posting this here for transparency's sake and maybe it will be helpful to someone else.

---

This was your comment:

[code]

---

It seems to be an issue related with meteor 1.4 (CB is not using 1.4 yet). So please check the meteor version you are using when running CB.

Go into the checkout folder and run `meteor --version` it should return `Meteor 1.3.2.4`

If it doesn't please make sure yo

[2016-10-08 18:00] distalx commented on #193
@lpatmo are we using `select option` for end dates ?

[2016-10-08 18:25] lpatmo commented on #301
@dantesolis It's yours! I'll put the `claimed` label on this. Please let us know if you have any questions from contributing.md. Thanks!

[2016-10-08 19:28] gytdau opened #302 "Add the Lithuanian flag"
I'm Lithuanian! Should we add the Lithuanian flag to `flags` in `section about-middle`?

[2016-10-08 19:31] lpatmo commented on #302
Let's! :) Put the `claimed` label on this issue for you, @gytdau

[2016-10-08 19:32] distalx commented on #151
Just a though.
Instead of using `APIs` - what if we store contributor's details  into a `json` file. it's not going to change that frequently !!?

[2016-10-08 19:48] #302 closed

[2016-10-08 19:54] #290 closed

[2016-10-08 19:55] gytdau opened #304 "'Get your slack invite' button is cut off in the FAQ section"
Take a look:
![capture image](https://cloud.githubusercontent.com/assets/8823299/19215555/68bc8a5a-8d99-11e6-980f-e0280520c4e3.png)

In the HTML, it does have the full text 'Get your slack invite', so the intention was to have the full word of 'invite' displayed.

[2016-10-08 21:17] #304 closed

[2016-10-08 21:43] khaleelsyed commented on #148
@ricjon You can take over, I don't mind.

[2016-10-08 22:09] dantesolis commented on #301
thanks @lpatmo. I'll get to it.

[2016-10-08 22:39] dantesolis commented on #301
Hey guys running the master branch on my machine but I don't see any bug. The footer is at the bottom as it should. Can someone confirm?  Thanks

[2016-10-09 04:30] lpatmo commented on #301
@dantesolis Sorry, can you `git pull`? The footer is broken in the non-logged-in home page view, but fixed on the `localhost:3000/browse` link. Thanks!

[2016-10-09 06:26] wuworkshop commented on #301
hi @dantesolis, I'm assuming you're working off of your own fork of the CB repo. Do you have the original CB repo set up as the `upstream` branch? See Github's instructions here on how to add it:

https://help.github.com/articles/configuring-a-remote-for-a-fork/

Then sync your fork by following these instructions:

https://help.github.com/articles/syncing-a-fork/

[2016-10-09 12:36] ricjon commented on #152
How is the progress with this? Maybe I can take it if no one are working with it.

[2016-10-09 12:56] abhiii5459 commented on #173
@distalx This is the issue that's the original of the one I opened right? #286 . May I take this one?

[2016-10-09 13:07] distalx commented on #173
Sure. :)
On Oct 9, 2016 6:26 PM, "Abhiram R" <notifications@github.com> wrote:

[2016-10-09 13:48] nachiketdhamankar commented on #288
Hey guys! Is there any way I can contact you? Other than commenting here of course :)

[2016-10-09 13:49] abhiii5459 commented on #288
@nachiketdhamankar  Join the slack channel - codebuddiesmeet.slack.com  :)

[2016-10-09 13:53] nachiketdhamankar commented on #288
@abhiii5459 I've not used slack before, but a quick search told me I've to get some invitation to join the channel :O

[2016-10-09 13:55] abhiii5459 commented on #288
Click on the link. Sign up for slack with your email id. When it prompts you to enter the channel, enter "codebuddiesmeet", provide your email id and password. You should be in the slack room :)

[2016-10-09 14:00] nachiketdhamankar commented on #288
@abhiii5459 Thank you so much!

[2016-10-09 14:06] ricjon commented on #152
If some responsible here can generate a free privacy policy at https://www.freeprivacypolicy.com/  or similar and then add the text here in this thread, A lot of questions to answer and I don't know all the answers myself.

[2016-10-09 16:20] dantesolis commented on #301
@lpatmo & @wuworkshop thanks for the headsup, I actually had forgotten to do the `git fetch upstream` & `git merge upstream/master`

Just did that. However, right now getting a `TypeError: Cannot call method 'toLowerCase' of undefined` the  moment I try to run the app??

This is the full error stack trace:

[code]

[2016-10-09 16:28] abhiii5459 commented on #301
@dantesolis When you do a "git diff" do you see your changed file?

[2016-10-09 19:14] ericathedev opened #309 "View user number has different font"
<img width="934" alt="screen shot 2016-10-09 at 21 09 17" src="https://cloud.githubusercontent.com/assets/18517177/19222995/2ed2da48-8e65-11e6-86f0-97128e04beed.png">

The number 2 near the eye has a different font from the rest of the text.

[2016-10-09 19:15] ericathedev commented on #309
I will be working on this 😄

[2016-10-09 19:18] lpatmo commented on #309
@ericathedev Wow, good eye!

[2016-10-09 19:19] abhiii5459 commented on #309
Looks so "Times New Roman"-y :D

[2016-10-09 19:27] abhiii5459 opened #310 "Adding a couple of ground rules to contribution.md"

[2016-10-09 21:36] lpatmo opened #311 "Add instructions to contributing.md about how to add the CB repo as the upstream branch"
H/t to @wuworkshop for these links:

https://help.github.com/articles/configuring-a-remote-for-a-fork/

Then sync your fork by following these instructions:

https://help.github.com/articles/syncing-a-fork/

We need to add a step between instructions 5 and 6 on https://github.com/codebuddiesdotorg/cb-v2-scratch/blob/master/contributing.md that instructs new contributors who forked the repo how to

[2016-10-09 21:46] madan96 commented on #311
I would like to work on this issue.

[2016-10-09 21:54] lpatmo commented on #152
Hi @ricjon! There is now a `privacy.html` file in `templates/other/privacy.html` if you `git pull` from the CB master branch. :) (You may have to set up the CB master branch as an upstream branch first.) You can follow the HTML layout of about.html or faq.html if you'd like. Let us know if you have any questions. Thanks!

[code]

[2016-10-09 21:56] wuworkshop commented on #311
@madan96 go for it! I've updated the label to `claimed`.

[2016-10-09 21:57] dantesolis commented on #301
@abhiii5459 no changes when doing `git diff`and this is the output for `git remote`:

[code]

[2016-10-10 00:36] #311 closed

[2016-10-10 06:16] ricjon commented on #152
Great, I take care of this when I get home from work

[2016-10-10 07:07] lpatmo opened #314 "Figure out how to host a "system maintenance" page for when we need to take the site down"
Occasionally we need to take down the site (`mupx stop`).

At the moment, @distalx has overwritten the nginx system maintenance page so that it makes more sense, but ideally we should use Github Pages to host our "system maintenance" page. (Maybe?)

How is this done amongst other DigitalOcean sites, best-practice wise?

[2016-10-10 10:10] camilleriluke commented on #314
I can have a look at this and come up with some suggestions on how we can achieve this. However I need a rough overview of the infrastructure of CB (maybe @distalx can help me out here ✌️)

[2016-10-10 12:51] dantesolis commented on #301
So the above error when away after doing `meteor reset`,

But now getting this one:

[code]

[2016-10-10 13:01] dantesolis commented on #301
Never mind, it was a stupid mistake was running it with `meteor run` instead of `meteor --settings settings-development.json`

[2016-10-10 13:37] foxiae commented on #72
Just an update on this. Looks like there's some meteor packages available for style guide (https://atmospherejs.com/?q=style%20guidea).

I tried installing [Hubble](https://atmospherejs.com/rhjulskov/hubble) since we are using Blaze, but fourseven:scss was incompatible. I didn't play around with the configuration settings. But if we're moving over to React ([Issue 211](https://github.com/codebuddi

[2016-10-10 17:04] distalx opened #316 "Feature request: user profile should have a follow button."
Presently, it’s not possible to receive an alert when specific host creates a hangout.

Add a button to the user profile that let others follow/unfollow that user.
Followers will receive an updates on when host creates an hangout.

Alert could be either a notification or an email. Or it could be both.

[2016-10-10 17:44] yasirunilan commented on #309
is this assigned?

[2016-10-10 17:46] lpatmo commented on #309
@yasirunilan Yes, I think @ericathedev has claimed this.

[2016-10-11 04:19] sergeant-q commented on #80
@lpatmo I think this has been already been implemented correct? Can we close this issue?

[2016-10-11 04:21] sergeant-q commented on #62
@lpatmo @distalx @wuworkshop I think it's fair to say these new guidelines are now being followed? Can we close this issue?