[2017-10-19 17:39] lpatmo opened #674 "Add "donate" link to navbar"
`good-for-beginners` issue:

1. Remove the "Open Collective" link from its position at the bottom of "Community"
2. Add a new "Donate" link to the right of "Study Groups"
3. Link to opencollective.com/codebuddies

==
New contributors: please check out docs.codebuddies.org.

[2017-10-19 17:48] DennyScott commented on #674
I'd like to take this one on if possible.

[2017-10-19 19:58] agatac commented on #568
Hi, I can have a look if nobody claimed this issue!

[2017-10-20 02:47] lpatmo commented on #674
Thanks @DennyScott!

[2017-10-20 02:47] #674 closed

[2017-10-20 03:30] lpatmo opened #679 "UI: make clearer the difference between upcoming and past/completed hangouts"
Noticed that for first-time users, it's not entirely clear that the slightly-more-greyed-out hangout cards refer to events that have ended.

Maybe we should separate out the /hangouts page into two sections, like:

Upcoming Events
// upcoming hangout events

Past Events
// completed hangout events

![screen shot 2017-10-19 at 8 24 49 pm](https://user-images.githubusercontent.com/4512699/31804154-5

[2017-10-20 04:05] railsstudent commented on #679
I can try it.  I want to practice CSS and MongoDB.

[2017-10-20 04:22] lpatmo commented on #679
@railsstudent Thanks! :) I believe the relevant file is `hangout_cards.html`.

[2017-10-21 06:03] distalx opened #681 "seo : add meta data templates for study-group."

[2017-10-21 08:26] #670 closed

[2017-10-21 08:27] #619 closed

[2017-10-21 08:31] #668 closed

[2017-10-21 08:33] #681 closed

[2017-10-21 09:10] lpatmo opened #683 "Easy fix: Rename`Resources` to `Links`"
The list of resources that study group admins can compile is really a list of links; let's call it by it's name, perhaps?

Task: rename "Resources" to "Links"

![screen shot 2017-10-21 at 2 06 55 am](https://user-images.githubusercontent.com/4512699/31850313-b7d3f350-b604-11e7-9340-9b4199b6e85c.jpg)

Relevant file:
i18n/en.i18n.json
```141:  "resources": "Resources",```

Note: let's not worry abou

[2017-10-21 09:37] kristinakarnitskaya commented on #683
I'll take this :)

[2017-10-21 09:56] lpatmo commented on #683
@kristinakarnitskaya It's yours! Let us know if you have questions.

[2017-10-21 18:56] lpatmo commented on #667
@AshishkrGoyal No worries! How's it going? Do you need any help?

[2017-10-21 18:59] angelocordon commented on #655
Is anybody tackling this issue? cc: @AshishkrGoyal

[2017-10-21 19:16] lpatmo commented on #655
It's been a few days, so I assume @AshishkrGoyal isn't working on it anymore.

[2017-10-21 19:27] angelocordon commented on #655
Cool - I can tackle over the weekend - @AshishkrGoyal, if you got this started, feel free to push the branch up and I can take over; no biggie if not :)

[2017-10-21 23:19] railsstudent commented on #679
I am busy with hackathon this weekend. I will tackle this issue  tonight or tomorrow

[2017-10-21 23:20] railsstudent commented on #667
If he is not working on it, I can take over.

[2017-10-21 23:59] lpatmo commented on #679
@railsstudent Thanks, no rush -- enjoy the hackathon!

[2017-10-22 02:03] #655 closed

[2017-10-22 12:13] railsstudent commented on #673
@BoYuanZheng  You can look at the last PR I made.  Slack notification is sent when a new study group is created.

[2017-10-23 08:47] dangillet opened #690 "Study group admin role cannot access the 24/7 study group Hangout"
In the PyStudy group, with the admin role, if I click on the 24/7 Hangout tab, I see the message **Please join the study group to access the 24/7 hangout.** as if I was logged out.

With the Moderator role, everything works perfectly.

[2017-10-23 14:48] dangillet opened #691 "See number of people in 24/7 Hangouts"
When going in the Study Groups page, it would be great to see how many people are actually online in the 24/7 Hangout.

At the moment there is no way to know if someone is there beside connecting into it. So if we're looking for company, we would potentially have to connect in every single Hangout.

I believe those 24/7 Hangouts are not used so much for that reason. There is a lack of visibility o

[2017-10-24 05:54] lpatmo commented on #691
Makes sense. Thanks for logging this issue, @dangillet!

Notes: According to https://github.com/jitsi/jitsi-meet/blob/master/doc/api.md, Jitsi gives us participantJoined, which will return the JiD of the participant. So from that I think we can calculate the number of people in a Jitsi hangout.

Perhaps the visual display could be:

`2 people are currently in the 24/7 hangout.`

(Feedback welcome.

[2017-10-24 07:28] #690 closed

[2017-10-24 07:29] lpatmo commented on #690
@dangillet Thank you so much for catching this! I will hotfix in https://github.com/codebuddiesdotorg/codebuddies/pull/693.

[2017-10-24 10:39] dangillet commented on #691
For the visual, I would place it in a few different places:

- In https://codebuddies.org/study-groups, I would add an icon next to the green icon showing the number of users registered in the group.
- In the study-group page (`https://codebuddies.org/study-group/<group-name>`), I would add a badge next to the 24/7 Hangout tab showing the number of people connected.
- When the tab 24/7 Hangout is

[2017-10-24 16:02] lpatmo commented on #691
Do you mean this new icon would display the number of group members who are online at the time?

[2017-10-25 06:53] #683 closed

[2017-10-25 06:53] lpatmo commented on #608
A link to this PPT has been added to docs.codebuddies.org. :)

[2017-10-25 06:53] #608 closed

[2017-10-25 06:54] lpatmo commented on #594
Un-marking this as claimed. Help wanted once again!

[2017-10-26 06:08] dantesolis commented on #594
@lpatmo may I claim this one again please? Thanks

[2017-10-26 06:35] lpatmo commented on #594
@dantesolis Yep!

[2017-10-26 06:37] dantesolis commented on #594
@lpatmo thank you for this!!! 👍

[2017-10-26 16:55] soueuls opened #695 "Timezone aware event"
**Do you want to request a feature or report a bug?**
A feature

**What is the current behavior?**
Hangouts are generally (always?) given in CEST timezone.

**What is the expected behavior?**
Hangouts should ideally be stored in UTC but displayed in a timezone-aware format. moment-timezone makes it very easy (it uses different strategies to detect the user's local timezone)

**Which browser / OS a

[2017-10-26 23:36] sergeant-q commented on #695
I thought this issue was brought up a few times in the past? I can't recall what was discussed or decided on?

[2017-10-27 01:37] lpatmo commented on #695
@soueuls Is your computer clock currently in CEST time? On mine, events show up in PDT time. We are also using the `moment` library already. :)

If you change your computer clock time, the time of the event/hangout will automatically get converted to the respective timezone.

Do you have any ideas about how we can better improve the UI to make it obvious that the time has been automatically conver

[2017-10-27 04:17] lpatmo commented on #691
Final specs:

- [ ] In https://codebuddies.org/study-groups, add an icon next to the green icon showing the number of users registered in the group that shows a number indicating the number of people in the group's 24/7 hangout, *if there are users in there*
- [ ] In the study-group page (https://codebuddies.org/study-group/<group-name>), add a badge next to the 24/7 Hangout tab showing the number

[2017-10-27 05:47] railsstudent commented on #691
I have questions about the subtasks.
For item 2 and 3,  jitsi is loaded when load button is clicked.  If  user does not click it,  number of participants cannot be calculated and event is not set up to listen to new participant joined
Do you expect to clone the jitsi logic in single study group and call it there?

For item 1, it requires individual study group to load jitsi meet and calculate a sn

[2017-10-27 06:15] lpatmo commented on #669
@angelocordon @distalx One quick fix we can make:

Study group members don't need to see the "description" tab over and over (I find myself always heading over to the `members` tab to see the current status of where everyone is), so maybe:

- if a user has not joined the group, the `description` tab is the default tab
- if a user is a member/moderator/admin of the group already, the default tab is

[2017-10-27 06:58] lpatmo opened #696 "Design/UI feedback: can we improve the display of events?"
Complaints I've heard:
- The date is too small to read
- It's not clear that each event is tied to a study group (or the default `CB`, if no study group is tied to the event)
- Users want to be able to read more of the description, and not be forced to click through on the card to the event page itself

Current design:
See: http://codebuddies.org/hangouts

Here is a screenshot of an individual eve

[2017-10-27 07:22] #679 closed

[2017-10-27 07:54] railsstudent commented on #691
i can work on it if i have better understanding in the jitsi, jitsi event binding and how study group passes data to hangout. Thanks.

[2017-10-27 14:32] sahiljain95 commented on #696
Hey @lpatmo . I was looking through this. I think that having two rows is sufficient. It will give enough information to get someone interested. Can change the truncated descrption length ~100 for this.

Also for the study group binding issue, I think adding the Study Group: CB/ Study Group: PyStudy will make it quite clear. The additional text will increase the tag width which will be in proporti

[2017-10-27 16:22] angelocordon commented on #696
👍 on the alternative design

[2017-10-27 20:21] mindovermiles262 commented on #696
If events are based on dates, wouldn't it make sense to use a calendar display of some sort? Use colored events to differentiate programming languages

[2017-10-28 05:06] lpatmo commented on #696
@mindovermiles262 Yes, that makes sense. :) Maybe something like what we'd see on meetup.com?

IMO redesigning the event cards area is especially needed because @railsstudent's recent PR fixed the display so that we can distinguish between past and upcoming/current events, and now it's more obvious that there needs to be some grid layout cleanup:

![screen shot 2017-10-27 at 10 04 25 pm](https://u

[2017-10-28 05:23] lpatmo commented on #691
Yes, that is true. A user needs to join the Jitsi in order to be counted.

I don't entirely understand this question; are you asking if Jitsi is already available on a single study group? (It is in the 24/7 hangout tab.)

So in `templates/hangout/hangout-frame.js`, we have these lines:
[code]
... and I totally forgot that already called `instance.api.getNumberOfParticipants();`, hah! So if you add

[2017-10-28 05:24] lpatmo commented on #673
@BoYuanZheng Please let me know if you're still interested in working on this issue or not! I am bumping up the priority level of this issue, to increase the likelihood of scheduled hangouts getting seen by potentially interested participants.

[2017-10-28 06:48] railsstudent commented on #691
Yes.  The tab resides in single_study_group.js and how can single_study_group.js obtains the value of jitsiParticipants variable in hangout_frame.js and display it?

If I listen to participantJoined and participantLeft events and update jitsiParticipants (make it a reactiveVar), will the tab update the value in real time?

instance.api.addEventListener('participantJoined', () => {
     jitsiPartic

[2017-10-29 02:39] ArhantJain commented on #588
I'm interested in tackling this as a part of Hacktoberfest.Where might I take a look for this?

[2017-10-29 10:32] railsstudent commented on #673
@lpatmo  I can work on it if @BoYuanZheng  cannot continue. Thanks.

[2017-10-29 15:26] dantesolis commented on #588
@ArhantJain , I was tackling this, but I'm working on two others, so please take it. Many different ways to do it:

- you could change the color on the icon after it has been toggled; (the quickest) (check: `_status_list.scss`)
- you could also do it with js  and add an down arrow icon; (a bit more time) (check: `learning-item.js, status-item.js`);

[2017-10-30 05:19] lpatmo commented on #691
@railsstudent I believe we can use session variables (e.g. Session.set() and Session.get()) to pass the data between different javascript files.

@distalx and @sergeant-q -- do you have any thoughts?

[2017-10-30 05:20] BoYuanZheng commented on #673
@railsstudent Ah, sorry, been far busier than I originally imagined. Please work on it instead.

[2017-10-30 05:24] lpatmo commented on #673
Thanks for volunteering to work on it, @railsstudent -- I believe you win something like the PR MVP award this month. :)

[2017-10-30 05:41] lpatmo opened #697 "HTML/CSS: Make "Click to load hangout" text green"
H/t @bethanyg for raising up this issue. When a user unfamiliar with how to join a hangout RSVPs to an event goes to the hangout page, they've sometimes gotten confused and missed the "Click to load the hangout" link to load the hangout, and clicked on the Google Hangout "start" button instead because it's bright green.

As a first step, let's turn `<a class="load-hangout display-inline">Click to

[2017-10-30 05:48] lpatmo opened #698 "HTML: Move "Want to use Google Hangouts?" button over to the left sidebar."
Part II of https://github.com/codebuddiesdotorg/codebuddies/issues/697. When a user unfamiliar with how to join a hangout RSVPs to an event goes to the hangout page, they've sometimes gotten confused and missed the "Click to load the hangout" link to load the hangout, and clicked on the Google Hangout "start" button instead because it's bright green.

Let's move the "want to use Google Hangouts in

[2017-10-30 05:57] angelocordon commented on #697
What actually gets invoked when `Click to Load Hangout` is clicked? Wondering if it's easy enough to wrap in a function and load the hang out on page load?

I didn't actually realize that the text was clickable. So not necessarily making the text color green could  100% solve the issue - I think it may actually make it more confusing. I'd suggest turning it to a primary button instead and organizi

[2017-10-30 05:59] thivatm commented on #698
I would like to work on this project

[2017-10-30 06:15] lpatmo commented on #697
Thanks for your questions/thoughts, @angelocordon! Glad nobody picked up this issue yet. :)

The technical issue I faced when I tried to implement this the first time around (having the hangout load automatically when the hangout time arrives) is that if I already have this page open, the page would need to reload before the hangout frame could load. So it was a technical barrier, not a user desig

[2017-10-30 06:15] lpatmo commented on #698
@thivatm I will mark this as `claimed` for you. Thanks!

[2017-10-30 14:23] soueuls commented on #695
I took the time to verify, and you are completely right.

I was used to moment showing timezone such as "Europe/Paris" but you are using zone, thus it shows CEST.

That's completely my fault, I was not aware of this notations therefore CodeBuddies currently support local timezone, I am closing this.

[2017-10-30 14:23] #695 closed

[2017-10-31 16:27] #673 closed

[2017-11-01 05:22] railsstudent commented on #691
@lpatmo I can research on Session.set() and Session.get(). I am new to MeteorJS

[2017-11-03 01:31] railsstudent commented on #691
@lpatmo @distalx @sergeant-q  I think Session.set and Session.get will work for task 2 and 3.
hangout-frame.js set a session variable for 24/7 and single-study-group.js get notifies when changes to the session variable occurs. Then tab in single_study_group.js is updated to show new variable.

For task 1, this is my guess here. hangout-frame.js update a session variable that is array of 24/7 hango

[2017-11-04 01:24] railsstudent commented on #697
I will take over and tackle it next week.

[2017-11-05 23:16] railsstudent commented on #691
@distalx , so update participants_count in event listener too?

nstance.api.addEventListener('participantJoined', () => {
AppStats.upsert({hangout_id: room}, { $inc: { participants_count: +1 } });
});

instance.api.addEventListener('participantLeft', () => {
AppStats.upsert({hangout_id: room}, { $inc: { participants_count: -1 } });
});

In other template js, subscribe AppStats collection?
<templat

[2017-11-07 04:31] distalx commented on #691
@railsstudent,

That was just a rough example, Jitsi's event listener might be more suitable for this use case.
But for some reason if event listener don't work as expected we could always fallback to blaze api.

Yes.

[2017-11-07 05:01] railsstudent commented on #691
@distalx @lpatmo Thanks.
I will arrange time to work on it. Given the complexity, please expect a lot of questions from me in slack

[2017-11-07 18:25] angelocordon commented on #696
@lpatmo - I started thinking about this page recently and thought of a few things we can do to rework it better. I do have a few questions though:

How does Hangouts relate to Study Groups? Is it important to showcase the old events?  I'm looking at this from a sense where I want to click on hangouts to see what's upcoming, not necessarily what I missed.

[2017-11-07 18:25] angelocordon commented on #696
From an event card perspective, what do we consider important information for the event?

[2017-11-08 02:32] BethanyG opened #704 "Hangouts: Deleting a Scheduled Hangout Triggers a <500> From the Server"
On MacOS Sierra, using latest Chrome Browser build.

Steps:
1)  Go to www.codebuddies.org and create a Hangout
2)  Once the Hangout is created, click the [**edit**] menu, and select [**delete**]

Expected:  Hangout is successfully deleted.

Actual:   ![screen shot 2017-11-07 at 6 28 56 pm](https://user-images.githubusercontent.com/5923094/32528746-9477a35a-c3e9-11e7-997f-ed3370a8a0f0.png)

_..and

[2017-11-08 16:44] distalx commented on #704
@BethanyG  Thanks for filing this issue.

[2017-11-09 07:50] stain88 opened #706 "CSS: Constant height when filtering study groups"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
When you start filtering the Study Groups, each card no longer has a fixed height, leading to weird shuffles.

<img width="1236" alt="screen shot 2017-11-09 at 07 46 11" src="https://user-images.githubusercontent.com/8461452/32594085-741dca64-c522-11e7-91f5-1ef5db108594.png">

What is the expected behavior?
Same c

[2017-11-09 08:26] lpatmo opened #707 "Let group members (not just admins/mods of a group) add links too"
The default right now is that group members can't add links to the group. H/t to @stain88 for pointing out.

May or may not be complicated: allow admins/mods to delete links created by group members, in case of spam. (Actually nvm, don't think it's complicated.)

Relevant files:
`resources_list.html` and `study_group_resources.html`.

[2017-11-10 06:25] distalx commented on #707
@lpatmo This is the expected behaviour, this change needs to be reverted.

[2017-11-10 07:25] ajparise commented on #547
I think the scrollbars are a little distracting and maybe unnecessary?

The hangouts page seems busy/noisy with a ton of information to parse through, sometimes less is more.

What about something neat and succinct?
https://www.eventbrite.com
![image](https://user-images.githubusercontent.com/2686067/32646684-a54c33de-c5bb-11e7-98b0-913d09879aea.png)

https://www.picatic.com/events
![image](https:

[2017-11-11 07:06] lpatmo commented on #696
`How does Hangouts relate to Study Groups? Is it important to showcase the old events? I'm looking at this from a sense where I want to click on hangouts to see what's upcoming, not necessarily what I missed.`

Heh... maybe not so important to showcase old events. I suppose we can think of hangouts as `virtual events`, and study groups as `meetup groups`.

Great question. Will try to draw up some

[2017-11-11 09:44] lpatmo commented on #547
Thank you for those design screenshots/examples, @ajparise! :) I hope to work on this issue this weekend.

Noting that this issue is closely related to https://github.com/codebuddiesdotorg/codebuddies/issues/696.

[2017-11-11 14:48] railsstudent commented on #706
@lpatmo  I find the root cause of the issue. Can you let me tackle it? Thanks.

[2017-11-11 23:24] lpatmo commented on #706
@railsstudent You are so on top of things, Connie! Thank you.

[2017-11-11 23:26] lpatmo commented on #706
Fixed by @railsstudent in https://github.com/codebuddiesdotorg/codebuddies/pull/710!

[2017-11-11 23:26] #706 closed

[2017-11-12 06:24] #704 closed

[2017-11-13 09:23] #697 closed

[2017-11-13 09:33] #698 closed

[2017-11-14 01:10] mindovermiles262 commented on #547
Agree 💯

This learnings/status feed may be more useful in replacing the root of a logged in user, like Twitter or Facebook

[2017-11-15 21:20] BethanyG opened #715 "Tips and Tricks for Study Group Leaders Info Page"
We need an info page/post/guide for Study Group organizers about what they can do to get up and running.  Practical things like:

Making sure you have a Short but attractive description for people to read.
Having clear and well-labeled resources and links
Making a private Slack channel, and setting a good purpose for it
Inviting and welcoming new members when they join the Study Group and the Slac

[2017-11-16 04:04] osanseviero commented on #89
Revisiting this topic, I'll probably jump into this in the following weeks.

[2017-11-16 04:10] osanseviero commented on #89
Revisiting this topic, I'll probably jump into this in the following weeks.

https://guide.meteor.com/v1.3/testing.html

Checking that guide, I think that we could have
- Unit tests
- Integration tests
- e2e tests

The hard part is that pretty much all of the user stuff is related to Slack, so we will need to see how to mock that for integration and e2e tests. Meteor seems to have nice support for

[2017-11-16 05:02] kvie commented on #715
I think this is a good start! I think this information should be provided in a couple of places so that people can easily understand what the study groups are intended for, and how to be a member and a leader of a study group, though some thought should be given to how much participation we would ideally like to ask of members and owners each.

I'd like to see a description of study groups on the

[2017-11-16 07:04] #707 closed

[2017-11-16 07:24] lpatmo commented on #715
Thank you for filing this issue, @BethanyG, and thanks for your thoughts, @Kvie! I started writing up a draft called `Guide for Study Group Owners` at https://docs.google.com/document/d/1Vk4IewieuHEdwrfwo3TvsS3OEpw5dVDEx7ZFUUtlKLE/edit#. Feel free to comment/edit as you desire.

Maybe after this draft is finalized, I will file separate/new issues to:
1) put the content of the study group owners' g

[2017-11-17 10:06] railsstudent commented on #667
@AshishkrGoyal A month has elapsed,  are you still working on it?
Thanks.

[2017-11-17 18:45] distalx opened #718 "make use of external-link icon"
Currently, We have several external links `sponsor us, facebook, slack, github, medium, etc ...`
if we use external-link icon to distinguish these links from normal link, that could improve the user-experience.

external-link icon :
http://fontawesome.io/icon/external-link/

[2017-11-17 22:19] BethanyG commented on #715
Just went through the doc and made edits....but as always, would love if someone else took a look.  Thank you for making the Doc, Linda!

[2017-11-18 07:01] lpatmo commented on #715
Thank you so much for expanding on the sections, @BethanyG!

I am going to paste the contents here and leave it up for a few days; if anyone else lurking on this thread has feedback/comments, please leave a comment in the google doc! After we agree that this is final, I will create two new Github issues:
- one to task a contributor to create a new page containing this guide, and
- another that has

[2017-11-18 08:03] ajparise commented on #446
No idea if this is still relevant.
Found a pretty good article here related to auto-setting the language.
https://themeteorchef.com/tutorials/i18n-and-meteor#tmc-auto-setting

**From that I came up with this**
[code]

![image](https://user-images.githubusercontent.com/2686067/32978155-62e21a54-cc0a-11e7-8a43-f3a5ee36657b.png)

[2017-11-18 10:22] railsstudent commented on #718
Do you refer to the hyperlinks in the footer or the menu items in navigator bar?
The menu items in the community menu are ready using font-awesome icons.
Please clarify. Thanks.

[2017-11-18 14:43] distalx commented on #718
I think all the external links, could use this icon. if any external link already uses some icon, then that could be replace with external-link icon.
<img width="145" alt="screen shot 2017-11-18 at 8 00 21 pm" src="https://user-images.githubusercontent.com/11193792/32981442-e7469284-cc9b-11e7-876f-86f5e08a91ad.png">

cc @lpatmo

[2017-11-18 21:38] lpatmo opened #720 "Update 140 character limits to be 280"
When a new study group or a new hangout is scheduled, it automatically gets tweeted out to https://twitter.com/codebuddiesmeet. We still have our max limits set to 140; we should update it to be 280 given Twitter's recent policy change.

[2017-11-18 22:38] lpatmo opened #723 "Only show "hangout alternatives" title when hangout is in progress"
The Google Hangout button only loads when a hangout is in progress; it can be confusing to see the "Hangout Alternatives" title in the sidebar above it with blank space below it if you're looking at the page of an upcoming or completed hangout.
![screen shot 2017-11-18 at 2 35 13 pm](https://user-images.githubusercontent.com/4512699/32985367-2b5ba5a0-cc6e-11e7-8ebd-4bd137cb6d77.jpg)

Screenshot: s

[2017-11-19 08:22] angelocordon commented on #547
Hi here!

Drafted up something for the hangouts page -

![image](https://user-images.githubusercontent.com/3891869/32988708-400d68f8-ccbe-11e7-9522-1c7398f04ce6.png)

As per some discussion over in #codebuddies-meta about the hangouts page, we've take out some components where we thought weren't very necessary to the page in order to make it clearer as to what the page is for. I've also introduced

[2017-11-19 08:51] angelocordon commented on #696
As per #547

![image](https://user-images.githubusercontent.com/3891869/32988851-90713600-ccc1-11e7-82b4-6c084bf1a139.png)

We've cleaned up the cards a little bit to only show what's the most important information in terms of looking for hangouts.

The anatomy of a hangout card is as follows:

![image](https://user-images.githubusercontent.com/3891869/32988900-84cfa150-ccc2-11e7-89ea-6dee4c51e717

[2017-11-19 08:55] osanseviero commented on #696
Really cool! I like the new, fresh design.
Something that I'm wondering. Looking at it, I would suppose that I can click at the owner username (bethanyg in this case). As I understood it, when hovering over the card, that part would be replaced with the RSVP. Is that right?

[2017-11-19 08:56] angelocordon commented on #696
Great catch @osanseviero! yeah that would totally not work

[2017-11-19 08:58] angelocordon commented on #696
Maybe better off to swap the dates instead with the rsvp button?

![image](https://user-images.githubusercontent.com/3891869/32989000-c17ee744-ccc4-11e7-91d2-93f2da8a1235.png)

[2017-11-19 08:58] osanseviero commented on #696
Hah. I was going to say exactly that.

[2017-11-19 09:00] osanseviero commented on #696
Mmm actually wondering...

With that design, would users be able to see when the hangouts will be? (after they do the RSVP).

[2017-11-19 09:00] angelocordon commented on #696
and last correction, these cards shouldn't have a border (didn't see it with the bright blue background 😅 )

![image](https://user-images.githubusercontent.com/3891869/32989023-15d27f68-ccc5-11e7-969f-30cc4a262388.png)

[2017-11-19 09:01] osanseviero commented on #547
Excellent work! Looks more organized and there isn't too much information at the same time.

[2017-11-19 09:02] osanseviero commented on #696
Perfect :)

[2017-11-19 09:03] osanseviero commented on #696
Last question - sorry for multiple posts.

Is there any visual feedback to know which hangouts have been RSVP without hovering over them?

[2017-11-19 09:04] angelocordon commented on #696
Yup! The checkmarks on the top right should appear (not just on hover)

[2017-11-19 09:05] osanseviero commented on #696
Cool! Didn't catch that detail.

[2017-11-19 09:06] angelocordon commented on #696
My last concern I think is how long study group names and hangout names get :\

![image](https://user-images.githubusercontent.com/3891869/32989124-bda8b054-ccc5-11e7-8b38-d1f876afcefe.png)

We'll have to truncate them after a certain point - not sure if that's a _huge_ deal

[2017-11-19 09:08] osanseviero commented on #696
Yes, that's an issue. For now I think that it could be ok to just leave it like that. Maybe we could do some resizing to allow the full name to fit in the card. The other would be to limit the length (I think there's already a limit) in the names.

@lpatmo might be able to confirm.

[2017-11-19 09:18] osanseviero commented on #446
Oh, wow. Great work!

@lpatmo what do you think?

[2017-11-19 09:46] nalbina opened #726 "scrollbars visible"
Hey there, I am on Windows 10, latest Chrome.
When I browse codebuddies.org/hangouts I see the scrollbars on each card which is not so pretty.

![scrollbars](https://i.imgur.com/gCqG4jz.png)

Does anybody else see this?

[2017-11-19 09:52] nalbina commented on #457
Can't we offer both options at the same time? I know that we could use accounts-github for the github stuff and leave slack like it is?

[2017-11-19 09:54] nalbina commented on #551
Will this be properly advertised, integrated?

[2017-11-19 10:46] railsstudent commented on #726
@nalbina  I see it in my linux machine.
It is CSS issue.  overflow: scroll makes scrollbar always visible.  Change it overflow: auto will make the scrollbar to appear when the topic and description in the hangout card is too long

[2017-11-19 11:59] railsstudent commented on #696
@angelocordon  Text length could pose an issue in hangout since scrollbars appear when goal/ description is long and the scrollbar width takes up space and hide the text

[2017-11-19 12:36] distalx commented on #547
@angelocordon , thanks for putting it all together.

RE: past hangouts
If system has more than 12-14~ upcoming/live hangouts scheduled already then user won't see the past hangouts section at all. user will only see the past hangouts when system will run out of upcoming/live hangouts, and would be able to browse it till the beginning of the time.

[2017-11-19 12:49] #726 closed

[2017-11-19 12:52] lpatmo commented on #547
Love the description at the top! Hadn't thought of it before, but it makes sense to provide some context to the user about what hangouts are.

One thing I wonder if we can add to the design: when a user hovers over a hangout card, show the description. That way they wouldn't have to click through to see the goals and description.

[2017-11-19 12:53] lpatmo commented on #726
Thanks for filing, @nalbina, and @railsstudent for fixing.

[2017-11-19 12:55] lpatmo commented on #551
No one's really had time to work on it, but @kvie (on Slack) is interested in looking at it and possibly taking the lead on figuring out how we can use Discourse the best way! An API key expired, so I have to figure that out (possibly rebuild the whole thing) before I can invite her to it.

[2017-11-19 15:41] #718 closed

[2017-11-19 17:01] nalbina opened #729 "Migrate to env variables"
I would like to gather opinions about getting rid of the `meteor.settings` file in favor of an `.env` file. Using environment variables would make the project more portable, as they are easily configurable on CI's or cloud platforms, whereas you can't really easily inject a json file.

[2017-11-19 17:53] angelocordon commented on #696
@railsstudent I do agree that text length _is_ an issue and the scrollbars is a side effect of the problem :( My question is, should we enforce a ~50 character limit on hangout names or just truncate them?

Or are hangout names incredibly important that we should just lengthen the hangout cards so that names can fit? We may be able to get way with 3 lines of text on the hang outs (so about ~75 cha

[2017-11-19 17:59] angelocordon commented on #696
@BethanyG @lpatmo - I'm going to answer your [comments](https://github.com/codebuddiesdotorg/codebuddies/issues/547#issuecomment-345514303) regarding the hangout card here to keep the threads succint

I'm a bit weary of adding more hover complexities on the card - but a modal might be better here?

[2017-11-19 18:01] angelocordon commented on #696
and a relevant point, should we also limit characters on study group names as well?

[2017-11-19 18:04] kvie commented on #547
Ideas: That description at the top of the page should absolutely express intentions and purposes of hangouts. It's an excellent place, I think, to tackle that awkward question of "Do I have to have my mic on?" (Just because that seems to be such a deterrent for hangouts) ;D

I think that the past hangouts should have a visual contrast from live or upcoming hangouts in addition to a spatial separat

[2017-11-19 18:24] distalx commented on #594
@dantesolis  could you give us an update? Thanks.

[2017-11-19 18:28] #568 closed

[2017-11-19 18:36] nalbina commented on #216
we could use caddy https://caddyserver.com/

[2017-11-19 18:38] nalbina commented on #151
Is this being worked on?

[2017-11-19 19:16] angelocordon commented on #547
@kvie - agree with your points - yes the past hangouts should visually look different than active ones to signify that they have already passed.

Regarding the `TIL`s, I think there are a lot more questions around that that needs more thought -

Just a bit of rubber ducking here 🦆 -

While I agree that the notes from a hangout are important, I don't necessarily think we need to display all of it i

[2017-11-19 20:02] distalx commented on #151
@nalbina nope, feel free to take a jibe at it.

[2017-11-19 20:45] #446 closed

[2017-11-19 20:52] #723 closed

[2017-11-19 21:15] nalbina opened #732 ""Must be logged in to create StudyGroup""
I feel like this is a huge bummer when I already thought out my studygroup title, description and tags only to see that message when I try to create a study group. Maybe we should blank out the possibility to do that entirely while logged out or prompt them to login.

[2017-11-19 22:12] osanseviero commented on #696
I think that a limit would be a good idea. I also agree with you that we shouldn't overload the card..

[2017-11-19 23:38] angelocordon commented on #715
I'd also merit that this is an excellent resource to post on our Medium blog and reference it as a link within the app

[2017-11-20 05:19] railsstudent commented on #732
Hide the button unless user is logged in?

[2017-11-21 07:27] dantesolis commented on #594
@distalx this is right now on a [PR-714](https://github.com/codebuddiesdotorg/codebuddies/pull/714)

[2017-11-21 21:44] #599 closed

[2017-11-21 21:47] #720 closed

[2017-11-21 22:37] nalbina commented on #732
I think I would lean towards having a greyed out button, so that the user still knows that he can create study groups but on hover gets something like. `You need to be signed in` or smth.

[2017-11-22 05:11] railsstudent commented on #732
@nalbina It is feasible but requires some CSS work and logic to check whether user is logged
Initially the "start a study group" button is disabled.
I am not sure whether this will work.  In OnRendered of all study group,  add event handlers to jQuery hover() to  add title attribute "You need to be signed" when mouse enters the button and the person is not logged in. Similarly, the title attribute

[2017-11-22 05:36] angelocordon commented on #732
Why not follow the same pattern as hangouts where a modal forces you to sign in first before creating anything -

![image](https://user-images.githubusercontent.com/3891869/33111649-113d5374-cf04-11e7-997f-b780a59433b9.png)

[2017-11-22 05:37] angelocordon commented on #732
The authentication pattern should probably be consistent across the board anyways.

[2017-11-22 19:26] distalx commented on #691
With the current implementation of PR #719 we are capturing following user actions
`join hangout` when user clicks on `click to load hangout button`.  `(participant++)`
`leave hangout` when user goes to the different url. `(participant --)`

When participant leaves the hangout by closing a browser tab (firefox) in which hangout is running or browser it self, those actions are not being captured. a

[2017-11-22 21:10] sergeant-q commented on #691
@distalx I haven't reviewed the spec on this feature but is the issue with having a _real-time/up-to-date_ count of participants while the hangout is _active_ or at the conclusion of the hangout?

In other words, do we care how many participants joined the study group or are currently in the active hangout?

[2017-11-24 02:21] #732 closed

[2017-11-26 06:44] #592 closed

[2017-11-26 20:42] tracypholmes opened #739 "Feature Request: Add to Calendar"
Before you open an issue, please check if a similar issue already exists or has been closed before. Also please remember that you can also get help in the [#codebuddies-meta channel on the CodeBuddies Slack](https://codebuddiesmeet.slack.com/messages/codebuddies-meta/). (If you are not a member, you can get your invite from [here](http://codebuddiesmeet.herokuapp.com/).

Do you want to request a f

[2017-11-28 19:11] BethanyG opened #741 "STUDY GROUPS: Resource Links 'Improvements'"
I was going to make this a specific feature request around re-ordering links, but realized we may want to have some discussion about the whole  **[Links]**  section and how it behaves.

To that end, I have the following list I think would be nice to add - and would like to solicit opinions and feedback.
______________________________________________________________
**_Please chime in_**.

1. The *

[2017-11-28 19:28] angelocordon commented on #741
1.) Possibly be sorted with *4* - I don't always think that new information is necessarily better than old ones (not always, sometimes) but new information can be up voted also.
2.) This isn't available?? 😮
3.) 50/50 here (sounds like it could be useful, but unsure if worth the added complication; why can't we just use the Progress Logs here? Looking specifically for the pain point...)
4.) See *1*

[2017-11-28 19:37] stain88 commented on #741
As @angelocordon said, merge 1 and 4 with upvotes.
2 and 5: 👍
3 and 6: YAGNI, in my opinion

[2017-11-28 21:11] ajparise commented on #741
Same as @stain88

3 and 6: YAGNI, in my opinion

2: ✔️ feature complete
5: Pinned links should be surfaced on the description tab of the group as well
    Only pinned links are manually sortable
    Unpinned links are sorted by date created desc

4: seems like YAGNI at the moment. It's cool in theory, but is there enough content to benefit from this?

[2017-11-29 04:58] lpatmo commented on #741
Thanks for filing this issue, @BethanyG! Nice comprehensive listing of specs that'll round out this feature.

I agree that we should prioritize #2 and #5. #2 should be pretty straightforward (we can follow what we've done with editing learnings). With #5, I can see a "pin" checkmark or icon next to each link card -- and if it it's checked, then the background of the card changes to be highlighted,

[2017-11-29 05:00] lpatmo commented on #739
Thank you for filing this issue, @tracypholmes! ++ to the mockup. Perhaps we should also have those "add to google cal/ical" buttons on the hangout page itself, after the popup is closed.

[2017-11-29 05:00] lpatmo commented on #739
This is probably the API we want for Google Calendar: https://developers.google.com/google-apps/calendar/v3/reference/events/insert

[2017-11-29 05:36] railsstudent commented on #739
To use google calendar api,  user has to login gmail and give permission to codebuddies.org to add event to calendar on user's behalf.

[2017-11-29 05:42] lpatmo commented on #739
Hmm, or maybe we can do what Meetup.com does for Google Calendar and pass parameters into a URL string? It doesn't look like they use an API key, though I could be wrong.

For example, if you click on this link:
https://www.google.com/calendar/event?action=template&ctext=each+fri+9am-2pm+for+2+weeks+test+at+home
(Credit: https://webapps.stackexchange.com/questions/43650/correct-url-for-google-cale

[2017-11-29 05:52] railsstudent commented on #739
The above link  opens log in dialog of google and prompts password

[2017-11-29 06:05] railsstudent commented on #739
https://github.com/carlsednaoui/add-to-calendar-buttons
https://github.com/tardate/jquery.addtocalendar
http://keith-wood.name/icalendar.html

JQuery plugins add event to calendar.

[2017-11-29 06:39] lpatmo commented on #739
Nice! Thanks for finding. I like the easy support for multiple calendars, although I'm a little wary of one of the plugins being out of date or not compatible with the version of jQuery we're using. Perhaps just need to test.

Re: https://www.google.com/calendar/event?action=template&ctext=each+fri+9am-2pm+for+2+weeks+test+at+home -- it'll prompt a password if you're not logged into Google or are

[2017-11-29 15:12] tracypholmes commented on #739
@lpatmo re: _"Perhaps we should also have those "add to google cal/ical" buttons on the hangout page itself, after the popup is closed."_ I like that idea! It makes it very convenient.
I'll help you all where I can, especially if you need me for testing. So, just let me know.

[2017-12-10 20:09] varshika03 commented on #460
I liked this idea and would love to work on this. I am a complete beginner and this will be the first issue I will handle. I wanted to ask how will the list updated dynamically because there will be new contributors. Will the script run after every new pull request?

[2017-12-10 20:32] nalbina commented on #460
hey @varshika03 thanks for your interest in taking this up :)
yea I would guess every new pull request could trigger this. Do you already have a plan on how to achieve this or should be brainstorm together?

[2017-12-11 14:42] varshika03 commented on #460
Hi @nalbina , I was wondering if contributors are themselves adding their names to readme.md, we can ask them to preserve the alphabetical order and add their names at the right position.  Other than this, the admin can run a script before merging the PR. Can you think of an automated way to modify readme after every new pull request?

[2017-12-11 15:45] stain88 commented on #460
I think this would be a one-off thing: subsequent additions can be checked pre-merge, and fail the review if it's not in the right place 😉

[2017-12-16 20:22] lpatmo opened #742 "Improve styling of CodeBuddies' reminder/follow-up email templates"
![image](https://user-images.githubusercontent.com/4512699/34073999-4ad72ac8-e25b-11e7-911c-865b549d3660.png)

![image](https://user-images.githubusercontent.com/4512699/34074002-4ff8e6f4-e25b-11e7-8b37-45b216273d50.png)

![image](https://user-images.githubusercontent.com/4512699/34074003-533f62fc-e25b-11e7-9ad3-ba9d1612d195.png)

H/t @alfougy for finding this bug!

Color schemes are off, so we sh

[2017-12-17 07:32] #691 closed

[2017-12-17 08:06] xXSupernaturalBuilderXx commented on #742
This is the design I came up with.
![screenshot 2](https://user-images.githubusercontent.com/26035222/34077669-4a9a3376-e2d7-11e7-9e98-f0f8762bf327.png)

[2017-12-17 08:07] lpatmo commented on #742
Looks wonderful, @xXSupernaturalBuilderXx!!

[2017-12-17 15:24] angelocordon commented on #742
Looks great, I like that it follows the same style as the website.

My only feedback here is that perhaps we can lose the background on the paragraph text (okay to keep it around the headlines).

The blue background and the thin font makes it difficult to read.

[2017-12-17 17:09] sergeant-q commented on #742
Yes please! My initial roll out of these templates were based off mail chimp default styles. Happy to see they're finally getting the TLC they deserve!

[2017-12-18 05:29] lpatmo commented on #742
@xXSupernaturalBuilderXx Could we give the top header ("Hangout Alert") a blue background, but leave the paragraph fonts black and non-bold? And remove the background blue for the container?

[2017-12-18 23:54] angelocordon commented on #742
![image](https://user-images.githubusercontent.com/3891869/34133530-238c67de-e40a-11e7-8779-935e4bd7f9cc.png)

@xXSupernaturalBuilderXx - meant for something simpler. Just drafted off what you got :) As these are email templates, it's probably best to keep it simple (they'll probably be coded as tables, and CSS with emails are annoying)  :)

[2017-12-18 23:55] angelocordon commented on #742
There's lots of improvements for copy - I just did enough to show what I meant

[2017-12-21 07:35] lpatmo opened #746 "Integrate Slack signups with `mail-for-good` setup (newsletter)"
See: https://github.com/freeCodeCamp/mail-for-good

Background:
We currently have ~4000 on our tinyletter.com/codebuddies newsletter. Tinyletter offers free sends for up to 5000 subscribers. If we ever end up with more users than we expected after "launching" on HN or something, it'd be good to sign up those additional users to the newsletter. Mailchimp is pricey after a couple thousand users, and

[2017-12-21 07:59] #667 closed

[2017-12-22 14:23] railsstudent opened #747 "Blank study group name in edit hangout dialog"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
Enter a hangout page and click edit details button, Edit Hangout modal pops up.
Study group name is blank in the modal

What is the expected behavior?
Study group name should be populated in the modal automatically

Which browser / OS are affected by this issue? (An *isolated* way to reproduce the bug)
All browser

[2017-12-22 14:25] railsstudent commented on #747
![edithangoutmodal](https://user-images.githubusercontent.com/1159649/34301284-ef3fcae2-e766-11e7-8ed4-f0f3a0c33f6f.png)

[2017-12-22 22:42] albertfougy opened #749 "Do not have option to change username"
Before you open an issue, please check if a similar issue already exists or has been closed before. Also please remember that you can also get help in the [#codebuddies-meta channel on the CodeBuddies Slack](https://codebuddiesmeet.slack.com/messages/codebuddies-meta/). (If you are not a member, you can get your invite from [here](http://codebuddiesmeet.herokuapp.com/).

Do you want to request a f

[2017-12-22 23:54] lpatmo commented on #749
Thanks for filing this issue, @albertfougy!

Quick thought, from an implementation perspective --
Tables we'll have to update to comprehensively update the name change:

`users.username`
`study_groups.members.name`
`hangouts.host.name`
`learnings.username`
`notifications.actorUsername`
`comments.authorName`
`resources.author.name`

[2017-12-23 05:50] #747 closed

[2017-12-23 06:19] lpatmo opened #750 "IDEA: Let study group owners automate hangout announcements to a specific designated channel"
Feature

Currently, every time a new hangout is scheduled, it gets automatically posted to the #announcements channel, and it's easy for the Slack community to miss them due to other hangouts being scheduled. Ideally, the hangout creator would also post in a specific channel as well -- e.g. the following hangout announcement should also probably be shared in the #python channel:

![screen shot 201

[2017-12-23 06:31] railsstudent commented on #749
@lpatmo Why are so many collections store username instead of user id?
 If these collections (except users) store userid, only users.username needs to be updated.
Updating so many collections at once is very risky.

Can the UIs that display username executes this.subscribe([userids]) to obtain users collection and render usernames in html template?

[2017-12-23 06:32] lpatmo opened #751 "IDEA: Let study group admins choose a channel to automate 24/7 participation notifications"
Feature

Our next release (thanks to https://github.com/codebuddiesdotorg/codebuddies/pull/719 submitted by @railsstudent) will help solve the problem of people not knowing who else is in a study group's 24/7 hangout.

At the moment, discovery is still a bit cumbersome; a user will have to be logged into the site, and having the study group page open as a tab before they'll notice that others are

[2017-12-23 06:50] railsstudent commented on #750
For part a)
1) We can call https://api.slack.com/methods/channels.list lists all public slack channels and populate a select2 dropdown, or
2) Add a new tab or under settings, study group owner/admin/administrator can maintain a list of slack channels and send hangout announcements from the list

For part b, I prefer settings

Hangout announcements should be able to send to multiple slack channels.

[2017-12-23 07:36] lpatmo commented on #750
Thanks for your input! Agreed on Approach 1.

For part b) though, I'm thinking we may want to cap the maximum number of channels that can be notified (maybe 3? Or 2?) because otherwise it may be all too easy to "spam" multiple channels. Your example re: #data-science and #python sounds fine, but it might get annoying with more than that.

[2017-12-23 15:19] railsstudent commented on #750
@lpatmo  Setting a cap on the number of channels is good idea because it avoids possible spamming.  However, some technologies have more related slack channels than others; therefore, 2 -3 may be not enough. For example, there are five JS-related slack channels already.  Allowing only 2 channels means the rest of the channels are omitted.

[2017-12-23 16:15] stain88 commented on #750
Just because there are 5 js channels doesn't mean the announcement should be posted to all of them - either it's generic enough to go into the main #javascript channel, or it goes in one of the more specific ones.
I think starting with 3 max is enough to allow some cross-channel announcements, and if it becomes obvious that more are needed, we can increase later.

[2017-12-24 01:36] railsstudent commented on #750
@stain88  Yeah, I think hangout owner can post the link to specific channels if 3 is not enough.
the max number should be config value is settings.json.  If not specified in the json, default to 3.

Select allows limit selection
$(".js-example-basic-multiple-limit").select2({
  maximumSelectionLength: 2
});

[2017-12-24 17:52] stain88 opened #753 "Dead image on /about/ page"
Not sure who shetrives is, but the image is coming up as 404:

<img width="139" alt="screen shot 2017-12-24 at 17 46 55" src="https://user-images.githubusercontent.com/8461452/34328270-2633d620-e8d3-11e7-927a-a44dfcadd8a7.png">

Which seems a bit unfortunate

[2017-12-25 02:58] railsstudent commented on #739
https://calendar.google.com/calendar/r/eventedit?text=Your+Event+Name&dates=20140127T224000Z/20140320T221500Z&details=For+details,+link+here:+http://www.example.com&location=Waldorf+Astoria,+301+Park+Ave+,+New+York,+NY+10022&sf=true&output=xml

this link opens  a page with event details. Now I am worry about timezone that requires some testing.

[2017-12-25 05:02] lpatmo commented on #739
@railsstudent This is what I see:

![screen shot 2017-12-25 at 12 01 37 am](https://user-images.githubusercontent.com/4512699/34333090-db8ba8bc-e906-11e7-8553-8f0f6dc3732f.jpg)

[2017-12-25 11:13] railsstudent commented on #739
@lpatmo  Yes.  User clicks the link to open it in a new tab and save the hangout event.
No external library is required.

[2017-12-25 19:43] lpatmo commented on #739
@railsstudent I meant to say I shared the screenshot as a helper for timezone testing. :) My google calendar is in EST time and I saw 5:40pm to 6:15pm.

[2017-12-27 06:57] railsstudent commented on #739
<img width="867" alt="screen shot 2017-12-27 at 2 55 11 pm" src="https://user-images.githubusercontent.com/1159649/34373456-15269e2c-eb16-11e7-9c50-e9e2d872dc75.png">

@lpatmo  My Start time is 13hrs ahead of you that is expected.  However, my end time is only 12hrs ahead that is wrong.

[2017-12-30 05:34] lpatmo commented on #739
@railsstudent Thank you for the link! I've submitted a PR here: https://github.com/codebuddiesdotorg/codebuddies/pull/755

My HTML:
             <a href="https://calendar.google.com/calendar/r/eventedit?text={{topic}}{{#if group}} ({{group.title}}{{/if}})&details={{description}}&location=https://meet.jit.si/cb{{_id}}&dates={{getHangoutGoogleCalendarDate start}}T{{getHangoutGoogleCalendarTime start

[2017-12-30 05:38] lpatmo commented on #554
Closing this, since Jitsi has been pretty stable and it's easy to paste the Google Hangout link directly into the description.

[2017-12-30 05:38] #554 closed

[2017-12-31 20:59] #753 closed

[2018-01-01 00:21] lpatmo commented on #547
I've got a PR for this issue at https://github.com/codebuddiesdotorg/codebuddies/pull/757, but I'm going to keep this thread open because the discussion is awesome, and we haven't addressed all of the points raised by @angelocordon and @kvie yet.

[2018-01-01 03:17] lpatmo commented on #739
https://github.com/codebuddiesdotorg/codebuddies/pull/755 has been merged into production. If anyone has suggestions for improvement, feel free to suggest! I realize we don't support iCal yet.

[2018-01-01 03:17] #739 closed

[2018-01-04 05:00] xXSupernaturalBuilderXx opened #759 "IDEA: New tab on CodeBuddies for posting fixes for issues and voting on them"
It would be usefull to add another tab to CodeBuddies that you can see issues and post project responses. In these project responses you can post multiple ideas, and take other peoples feedback to make them better. Also in these projects, you would be able to vote for peoples ideas to see what people like most.

[2018-01-04 05:06] lpatmo commented on #759
@xXSupernaturalBuilderXx Is your idea to let people post fix ideas for the CB site itself, or for any project?

[2018-01-04 05:07] xXSupernaturalBuilderXx commented on #759
This would mainly be directed to any sort of issue that would show up on github for CodeBuddies.

[2018-01-04 23:10] wuworkshop commented on #669
I actually think there should be a general tour of the whole CB app. Maybe something similar to what Hashnode does - https://hashnode.com/tour

Judging from the fact that the same questions about Slack, the CB app, etc. pop up all the time, I honestly don't think people go through Slack's initial walk-through and they probably don't read everything on the CB app or the welcome message they get in

[2018-01-05 04:53] lpatmo commented on #669
Shall we call this page codebuddies.org/welcome, or codebuddies.org/tour?

Perhaps we could fold in the following into this page:
- The "Slack etiquette" section from codebuddies.org/faq (except styled better)
- Everything from codebuddies.org/hangout-faq

[2018-01-05 05:17] abhiii5459 commented on #669
@lpatmo Being the community it is, I'd vote for welcome! "Tour" somehow feels...enterprise.

[2018-01-05 19:28] wuworkshop commented on #669
I just noticed Stack Overflow also has a tour page:

https://stackoverflow.com/tour

Design-wise, I think I prefer Hashnode's approach. Perhaps @angelocordon or @adachiu have some better design ideas?

An app I use called "You Need A Budget" (a.k.a YNAB), has a menu option to go through specific walkthroughs. The ability to repeat a walkthrough is something I always liked in YNAB and a thing that'

[2018-01-10 18:29] #511 closed

[2018-01-11 00:30] xXSupernaturalBuilderXx commented on #742
Does anybody have any other ideas for improvment that I could possibly make?

[2018-01-11 14:07] railsstudent opened #761 "Today I Learn and What am I working on broken in hangout page"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
No tweet is sent when Today I Learnt is submitted and What am I working on is not displayed

What is the expected behavior?
Tweet is sent when Today I Learnt is submitted and What am I working should show my status

Which browser / OS are affected by this issue? (An *isolated* way to reproduce the bug)
all browser

[2018-01-11 14:34] stain88 commented on #761
It's not just the tweeting that's an issue, number of people online doesn't seem to be being read properly, and toggling between the two tabs throws an error in console.

Confusingly, the before and after photos of release 0.9.91 both show 0 people learning, although since @lpatmo is signed in, I would have thought that would show at least 1. Maybe something from release 0.9.90?

[2018-01-14 10:14] lpatmo commented on #742
@xXSupernaturalBuilderXx I honestly think the next step is to implement it. If you want, we can tackle this issue together in a hangout/submit the PR sometime! I predict will take 1-2 hours.

[2018-01-14 10:24] lpatmo opened #766 "Updated layout for codebuddies.org/about page"
Inspiration: https://www.postgresql.org/community/contributors/

(It'd be nice to display more detail about what each contribution consisted of.)

Also, let's have separate sections for the different types of contributors, e.g.
- Code contributors
- Slack community managers
- Newsletter contributors
- Study group and hangout organizers
- Past contributors
- Sponsors
- Donors
- Inspirations

[2018-01-15 07:55] xXSupernaturalBuilderXx commented on #742
@lpatmo that can work

[2018-01-16 04:39] lpatmo commented on #742
Reportback: we worked on it together, and I pushed up a new branch called `issue-742-email`: https://github.com/codebuddiesdotorg/codebuddies/blob/issue-742-email/private/email-hangout-alerts.html

TODO: still need to apply the design upgrades to the other email templates in that `private` folder.

[2018-01-20 05:26] lpatmo opened #767 "Update Facebook Group notifications to display more information"
Currently:
[code]

Let's try:
[code]

[2018-01-20 05:38] lpatmo opened #768 "Fix UI for "deleted" hangouts"
At the moment, if a site admin deletes a hangout, it's not evident from the cards' view that the hangout is actually deleted. The status is only evident on the details page. H/t @BethanyG for reporting.

[2018-01-20 08:28] #768 closed

[2018-01-20 19:39] lpatmo commented on #715
After we create the page (/study-group-owners-guide, maybe?) we could link to this page from the study groups' page too.

[2018-01-21 06:21] BethanyG opened #773 "Slack / Community Etiquette Page"
Propose we have a static web page (codebuddies.org/slack-etiquette) that holds our Slack / Community Etiquette rules.  The link below is a combination of ideas from https://www.reactiflux.com/tips/ and our previous Slack Etiquette doc.  Suggestions and revisions are welcomed.

https://slack-files.com/T04AQ6GEY-F8VRAGD0S-ebfb2269d1

[2018-01-21 07:46] BethanyG opened #774 "Community Welcome Page"
Propose a static **"Community Welcome"** page.  Not sure if this should be new copy for the **Home** page, or just a welcome page that we send people to from the Slack channel.  Either way, I think the copy linked below (which is currently a pinned post in the **#start_here** channel in Slack) might need to be re-worked.  The page itself will (obviously) need some design love.

https://slack-files

[2018-01-21 19:24] #715 closed

[2018-01-26 21:37] BethanyG opened #775 "Auto-Email Slack Welcome Message on Signup by New Members"
Craft code for generating & emailing a custom **_Slack Welcome_** on new user Sign-up.

- [ ] The body of the email will be  a variant of the [attached Welcome message](https://slack-files.com/T04AQ6GEY-F8X5U3HRV-d0892dda60) that is currently in use in the Slack _#start_here_ channel.
- [ ] The email will be triggered on on of the following:
        -  new user signup via the codebuddies.org websi

[2018-01-27 21:12] BethanyG opened #777 "Custom Slackbot Welcome Message as Replacement to Janitr"
Replace current Janitr integration that welcomes new users with a variant of https://slack-files.com/T04AQ6GEY-F8X5U3HRV-d0892dda60, in a custom Slackbot message.

See https://api.slack.com/best-practices/blueprints/new-user-notification for Slack's How-To
See https://glitch.com/~slack-terms-of-service-blueprint  for a Step-by-step, and hackable boilerplate.

[2018-01-28 08:18] BethanyG commented on #777
![screen shot 2018-01-28 at 12 16 43 am](https://user-images.githubusercontent.com/5923094/35480347-baf3cd9e-03c0-11e8-9177-5ecc057994e6.png)

[2018-01-28 08:21] BethanyG commented on #777
An additional enhancement of an interactive questionnaire is TBD.

[2018-01-30 20:40] julianjohannesen commented on #759
I love the idea of sort of "suggestion box" that users can use to suggest improvements, fixes, etc. and that would also allow users to vote up their favorite ideas. It's a clever way to get community buy-in and participation in bug tracking and could be an entry point into deeper participation in the community.

[2018-01-30 21:25] julianjohannesen opened #779 "IDEA: Video walk through for beginners"
As a new member, one of the things that would help me is a video walk through of how to set up your development environment and how to use Git and GitHub to begin making contributions to the community. It's awesome that @lpatmo and others are willing to do this via hangout and in some ways that's better. However, that's not always convenient. There are also advantages to a video. Nothing is forgot

[2018-01-30 21:28] julianjohannesen opened #780 "IDEA: Set default availability"
It would be really convenient to be able to set default availability for study groups. If I'm only going to be around on Saturday's from 1:00 to 3:00, it would be great if I could just set that as my default so that whenever I join a study group, that availability appears in the availability tab.

[2018-02-01 23:32] otawestside opened #781 "Signed on as a new user and wanted to change the user name, noticed I was unable to. Thought I would delete the account and setup an email with a username that I wanted but it appears that the delete window is not working. The button does indicate that it has been clicked."
Delete window is not working.

[2018-02-03 22:38] angelocordon commented on #781
Thanks for posting @otawestside - though I think this may be a duplicate or with the general direction as #749. Going to close this issue to keep our issues logs clean 👍

[2018-02-03 22:39] #781 closed

[2018-02-03 22:59] otawestside commented on #781
I think the duplicate only mentions the situation about not being able to edit the username.
I wanted to add that the delete account page/window is non-functional.

[2018-02-03 23:02] otawestside commented on #781
Hi Angelo,

Appreciate the reply.  My apologies, don't know how to look up past posts.
Kinda new at this.
I think the duplicate only mentions the situation about not being able to
edit the username.
I wanted to add that the delete account page/window is non-functional.
Should I re-post with only the delete issue?
thx

On Sat, Feb 3, 2018 at 5:39 PM, Angelo Cordon <notifications@github.com>
wrote:

[2018-02-03 23:08] angelocordon commented on #781
hi @otawestside -

gotcha - yes please, it would helpful to edit or make a new issue talking about deleting an account  💪

Thanks!

[2018-02-04 00:01] wuworkshop commented on #779
@julianjohannesen Out of curiosity, did you initially try to set up your development environment from reading our contributing.md file over here - https://github.com/codebuddiesdotorg/codebuddies/blob/staging/contributing.md#the-quick-steps-on-contributing ?

Did you read our documentation site here - https://docs.codebuddies.org/ ?

I'm trying to get a sense of where people are getting confused a

[2018-02-05 06:44] lpatmo opened #783 "Minor (easy) issue: update `codebuddiesdotorg` links to `codebuddies`"
@nalbina and @distalx helped rename the organization repo from https://github.com/codebuddiesdotorg to https://github.com/codebuddies! :)

All the places we should update: https://github.com/codebuddies/codebuddies/search?utf8=%E2%9C%93&q=codebuddiesdotorg&type=

[2018-02-06 03:04] julianjohannesen commented on #779
@wuworkshop, I did eventually read the docs all the way through and they were very good. I just think video tutorials can be helpful for people who learn better by watching someone else work.

[2018-02-06 03:17] julianjohannesen opened #784 "Hangout Learnings are Auto-Tweeted without Author's Knowledge or Consent"
Do you want to request a feature or report a bug?
Feature

What is the current behavior?
Hangout Learnings are auto-Tweeted without users knowledge or consent

What is the expected behavior?
Users should  be warned that Hangout Learnings are auto-Tweeted and can opt-out of that behavior

Which browser / OS are affected by this issue? (An *isolated* way to reproduce the bug)

[2018-02-08 05:41] #783 closed

[2018-02-10 19:57] #669 closed

[2018-02-10 21:16] #750 closed

[2018-02-10 21:22] lpatmo opened #787 "Add unsubscribe link to automated email reminders"
We need to add an unsubscribe link to the automated 24-hour hangout email reminder and cancellation notification. #bestpractices

Ideally, we'd have a page where users can manage their email preferences, but we can do that later.

Note: we may want to integrate this into https://github.com/codebuddies/codebuddies/pull/776.

[2018-02-11 05:39] #742 closed

[2018-02-11 06:29] BethanyG commented on #777
Should probably close this issue and start tracking enhancements/bugs/fixes in the greetbot repo.  However - I can't seem to turn on issues.  Is that because the dang thing is forked?

[2018-02-11 06:35] lpatmo commented on #777
I took a look in the `Options` tab on the greetbot repo and checked the "Issues" checkbox, so issues should now be appearing in that repo!

[2018-02-11 06:37] lpatmo commented on #777
~The welcome bot is live already for new users signing up to codebuddies.slack.com! Please see https://github.com/codebuddies/greetbot for new issues regarding the greetbot.~

[2018-02-11 06:37] #777 closed

[2018-02-12 06:05] lpatmo opened #790 "CSS issue: "Select up to 3 slack channels" message in select box hidden by width of 100px"
![screen shot 2018-02-11 at 10 00 57 pm](https://user-images.githubusercontent.com/4512699/36085037-8c9d3878-0f77-11e8-9f1c-6e8c26c1a10b.jpg)

You'll land on this screen if you are the owner of a study group, and click on the `Settings` tab within the group.

This is a `good-for-beginners` issues. Docs at docs.codebuddies.org. Please comment if you'd like to work on it, or if you have any question

[2018-02-12 06:14] lpatmo opened #791 "Add #python and #machine-learning to list of default slack channels"
Remembered we want to send automated notifications to these channels as well. :)

[2018-02-12 06:14] #791 closed

[2018-02-12 06:16] lpatmo commented on #784
As a first step for implementation, let's add a message below the learnings box to warn users that their learnings will be auto-tweeted to @codebuddiesmeet.

Next step:
Add a checkbox that -- when checked -- will NOT tweet out the message.

What do you think? Or should the checkbox have the opposite behavior?

[2018-02-12 06:16] #767 closed

[2018-02-12 07:53] nalbina opened #794 "force-ssl blocks docker container"
We are using the meteor package `force-ssl`. With that, we can't build docker containers, because it keeps redirecting away from the exposed port.
@distalx What do we use it for and can we possibly remove it and force SSL on the webserver level?

[2018-02-12 08:09] Sult commented on #794
Dont know much from the setup (just actively reading some things ) What i do is redirect inside nginx (or apache2 or whatever) every incoming request to https on same url.

[2018-02-12 08:46] Sult commented on #216
certbot renews certificates. While will be updated on the already existings files, and whenever someone connects if needed browser makes a new handshake.
There is no need to replace old cert etc, certbot does it all for you (its why i like it so much)

[2018-02-13 01:06] distalx commented on #794
@nalbina, earlier we were using a heroku as our staging env, where `https` wan't a default behaviour - this package was added to counter that.

We could probably remove that since we are no longer using heroku as a staging env.

[2018-02-14 21:43] julianjohannesen commented on #784
I think opting out is fine.

[2018-02-14 21:59] julianjohannesen commented on #784
So, if i wanted to add the notification, would I do that in client/templates/hangout/hangout.html or in hangout-learned.html?

[2018-02-15 18:08] julianjohannesen commented on #784
Ah. Okay. I missed that one.

[2018-02-18 05:16] rmorabia commented on #790
I think I can claim this? It may take me a while since I've never worked with large git projects & Meteor, but I'm going to at least say I'll try?

[2018-02-18 06:47] railsstudent commented on #790
@rmorabia  There is a bug in select2 that causes this issue to happen. You can refer to this https://github.com/select2/select2/issues/291 to see the hack people do.
Or try your own hack to get the width working. Thanks.

[2018-02-18 06:58] railsstudent commented on #790
@rmorabia  Please kindly work on it. The first PR is always the sweetest.

[2018-02-19 05:49] #581 closed

[2018-02-19 06:37] #790 closed

[2018-02-24 14:16] railsstudent commented on #784
@julianjohannesen  Are you working on this issue?

[2018-02-24 18:07] railsstudent commented on #729
We can use dotenv in https://github.com/motdotla/dotenv to store environment variables required in server side.
settings-development.json is still needed because it includes a public setting "isModeDebug" that browser uses somewhere.

[2018-02-24 18:09] railsstudent commented on #729
Migrating to .env file implies someone has to apply the same migration in production environment.

[2018-03-05 07:22] lpatmo opened #799 "Compliance with the The EU General Data Protection Regulation (GDPR)"
General Data Protection Regulation (GDPR) is a new regulation which applies to anyone in the EU, but also to anyone who collects and processes data from EU residence. If your website has EU users, this affects you.

See: https://www.eugdpr.org/

Right to Access

    •    What information / data are you collecting from me?
    •    What is its purpose?
    •    To whom are you sharing the data (e.g

[2018-03-17 06:26] lpatmo opened #800 "Scheduling a hangout under the `CB Default` group does not trigger a notification in the #announcements channel on Slack."
I've tested this out on staging.codebuddies.org.

To reproduce:
1. Click to create a hangout
2. Select "CodeBuddies Default" as the group
3. Click to schedule the hangout, and notice that the popup does not disappear (it should disappear)
4. Notice the "internal server error", and also the fact that the #codebuddies-ops channel on Slack does not get an automatic notification:

![screen shot 2018-0

[2018-03-18 02:53] lpatmo commented on #800
Hmm, took a look at this but wasn't able to figure it out. @railsstudent, when you have time, could you take a look? No rush!

[2018-03-18 03:01] railsstudent commented on #800
@lpatmo  sure. I will take a look

[2018-03-18 03:24] lpatmo commented on #800
Thank you!

[2018-03-29 18:54] distalx commented on #794
`force-ssl` is removed in #795.

[2018-03-29 18:54] #794 closed

[2018-03-30 15:13] nalbina commented on #787
Are we using a service for sending the emails? Shouldn't they auto-add an unsubscribe link already?

[2018-04-03 07:38] #800 closed

[2018-04-09 09:41] distalx commented on #787
I'll take this one.

[2018-04-10 14:47] stain88 opened #809 "STAGING: css issue with username on discussion item page"
**Do you want to request a feature or report a bug?**
Bug

**What is the current behavior?**
![screen shot 2018-04-10 at 15 44 59](https://user-images.githubusercontent.com/8461452/38564031-2c29f06c-3cd6-11e8-9149-af9d218bbb61.png)
codebuddies username falls outside the box.

**What is the expected behavior?**
Username should be contained inside the box, maybe above the title to avoid width issues

[2018-04-10 18:54] stain88 commented on #809
I'll be honest, did it for the caterpillar

[2018-04-12 06:53] #809 closed

[2018-04-13 08:25] lpatmo commented on #774
Belated update: @julianjohannesen submitted a PR to make https://codebuddies.org/welcome a while back. Closing this issue now. :)

[2018-04-13 08:25] #774 closed

[2018-04-13 08:26] lpatmo commented on #766
The new `about` page is live on staging.codebuddies.org and will be deployed soon in a release. If you see edits you want to make, let me know (or file an issue). Thanks!

[2018-04-13 08:26] #766 closed

[2018-04-15 06:05] lpatmo commented on #457
@railsstudent and @distalx finished up this issue in https://github.com/codebuddies/codebuddies/pull/802 and https://github.com/codebuddies/codebuddies/pull/811.

[2018-04-15 06:05] #457 closed

[2018-04-15 06:10] #626 closed

[2018-04-15 06:12] lpatmo commented on #558
@distalx submitted a PR for this feature in https://github.com/codebuddies/codebuddies/pull/801.

[2018-04-15 06:12] #558 closed

[2018-04-15 10:16] lpatmo opened #818 "Increase height of `completed` hangouts to 180px"
Problem:

![screen shot 2018-04-15 at 3 14 08 am](https://user-images.githubusercontent.com/4512699/38777342-376b044c-405b-11e8-9884-be6dfa9c74ff.jpg)

If we increase the height of these cards in _hangout_card.scss to 180px (or 185px??) instead of 160px, we can clean this up.

This issue is for a first-timer pull requester.

[2018-04-15 11:08] WinterCore commented on #818
Hi, May I work on this one ?

[2018-04-15 11:31] lpatmo commented on #818
@WinterCore Hi -- yes, sure! Let me know if you have any questions. The docs are at docs.codebuddies.org.

[2018-04-15 11:37] lpatmo commented on #598
Here's what I'm thinking for a redesigned side bar on codebuddies.org/hangouts:

1) Some global site numbers, like:
![screen shot 2018-04-15 at 3 55 01 am](https://user-images.githubusercontent.com/4512699/38777750-4513a9bc-4062-11e8-9059-e03f94ce8ba8.jpg)

2) Keep the "I'm working on"/"Today I learned" section, but confine the height of the section.

3) Add a `Global Activity` section that publis

[2018-04-15 20:01] #818 closed

[2018-04-15 22:43] lpatmo opened #821 "Sweetalert: add "sign in with Github" option to popup that user sees when they're not logged in"
Now that we support logging in with Github, we should add a "Sign in with Github" button here:

![screen shot 2018-04-15 at 3 41 16 pm](https://user-images.githubusercontent.com/4512699/38784216-af99eb5a-40c3-11e8-9216-b849f76c336b.jpg)

[2018-04-16 00:45] railsstudent commented on #821
You beat me into submitting the issue.

[2018-04-16 06:45] lpatmo opened #823 "CSS: Prevent long URLs from overflowing content box on profile page, in the list of completed hangouts"
The problem:
![screen shot 2018-04-15 at 11 40 48 pm](https://user-images.githubusercontent.com/4512699/38793571-b22a62c6-4106-11e8-8109-3fd56540445a.jpg)

The solution:
https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap

Note:
@railsstudent solved a similar issue in https://github.com/codebuddies/codebuddies/pull/804/files.

Probable place to fix:
p.overflowtext in `client/css/_hangou

[2018-04-16 08:03] dantesolis commented on #823
hey guys, back from sick leave. can I tackle this one? if it's not yet taken?

DS

[2018-04-16 11:51] dantesolis commented on #823
@nalbina. I'll take it. Thanks  :)

[2018-04-16 12:48] railsstudent commented on #823
@dantesolis  Can you finish other issues under your username too? thanks.

[2018-04-16 18:11] distalx opened #824 "Remove repetitive code."
In codebase, several times we are using `Meteor.loginWithSlack(options);`. it can be replace with a `continue-popup`. [this](https://github.com/codebuddies/codebuddies/blob/bba20e9df58fc7f3179281815ed6db67c87f44b3/client/layouts/layout.js#L2)

For example [Here](https://github.com/codebuddies/codebuddies/blob/bba20e9df58fc7f3179281815ed6db67c87f44b3/client/templates/hangout/hangout-item.js#L64), i

[2018-04-16 18:14] distalx opened #825 "Remove Dead Code."
[This](https://github.com/codebuddies/codebuddies/blob/bba20e9df58fc7f3179281815ed6db67c87f44b3/client/templates/main.js#L81) register helper function is no longer in use. it should be removed.

[2018-04-16 18:25] distalx opened #826 "Add 'Sign in with GitHub' link."
On the landing page following text could be rephrase.

<img width="564" alt="screen shot 2018-04-16 at 11 49 29 pm" src="https://user-images.githubusercontent.com/11193792/38827565-f166d760-41d0-11e8-8adb-7ba0c799efbb.png">

[2018-04-17 04:02] lpatmo opened #828 "Vote: Change "Hangouts" to say "Calendar" on the nav?"
We generally want to point users to the "hangouts" tab (codebuddies.org/hangouts), where they can RSVP for hangouts on the calendar and schedule new ones. And a leaderboard/global activity feed will soon be on the sidebar on this page too.

I've been thinking that "calendar" is a more useful term than "hangouts", like so:

![screen shot 2018-04-16 at 8 48 56 pm](https://user-images.githubuserconte

[2018-04-17 07:43] distalx commented on #598
We could also add this on landing page.

It could have it's own page i.e. `/feed`
In `Activity Feed` We should display primary actions. (new Hangout, new Study Group, new Discussion). So feed don't get cluttered by information.
All the secondary actions (in reaction to primary action) could be a part of a notification section. (RSVP, Reply, Join , etc.)

A gamification of CB, should have it's own

[2018-04-17 07:49] #825 closed

[2018-04-17 08:19] lpatmo opened #829 "Gamification"
Proposal: Gamify CB! :) Users will be able to win points for scheduling a hangout, starting a group, sharing a learning, starting a discussion, replying to a discussion, or getting upvoted on a learning or upvoted on a discussion.

In the future, perhaps these points could be translated into monetary rewards that users could get reimbursements for on opencollective.com/codebuddies.

## Points syst

[2018-04-17 08:29] abhiramr commented on #829
I have always been a advocate of gamification. I'd like to be part of the discussion :)

[2018-04-17 08:30] stain88 commented on #829
http://www.fantasynamegenerators.com/

[2018-04-17 08:34] stain88 commented on #829
I don't see an issue with winning points for any study group you belong too - what are your concerns about them becoming behemoths?

[2018-04-17 08:45] lpatmo opened #830 "Add some global site numbers to the landing page"
On the landing page on codebuddies.org, let's show some global site numbers:

- number of hangouts scheduled
- number of study groups
- number of learnings
- number of discussions

![screen shot 2018-04-17 at 1 23 10 am](https://user-images.githubusercontent.com/4512699/38858557-e1b445fe-41e0-11e8-8173-d52cd18af9dc.jpg)

[2018-04-17 08:49] lpatmo commented on #598
@distalx Thank you for your thoughts! I've filed a gamification issue at #829 and a global site numbers feed at #830.

[2018-04-17 08:50] distalx commented on #829
we have two other open  issues  regarding this https://github.com/codebuddies/codebuddies/issues/378, https://github.com/codebuddies/codebuddies/issues/61

[2018-04-17 09:00] lpatmo commented on #829
@stain88 Re: behemoths -- if group activity (new hangouts, new discussions, learnings, etc.) end up corresponding to "points" for that group, I was worried that users would be incentivized to keep making a single group really active, and not branch off to create new groups for other study topics. I could see a general "Javascript" study group being incentivized to compete with a "Python study" gro

[2018-04-17 09:02] lpatmo commented on #61
After #829 is fleshed out more, let's come back to the profile page and add at least:

- a "total points accumulated" number for the user at the top of their profile page
- consider implementing the learning streak graph

[2018-04-17 09:02] lpatmo commented on #378
Let's revisit this issue of badges after implementing some sort of points counter for users and groups (see: #829)

[2018-04-17 09:05] lpatmo commented on #378
Re: badges -- maybe after a certain # of points, users will be entitled to a free CodeBuddies sticker? A free CodeBuddies t-shirt? Something they can get reimbursed from opencollective.com/codebuddies, assuming we have enough money there?

This'll be more in the future, since first I want to make sure contributors (folks who've been working on the site and been active helping out on Slack) get the

[2018-04-17 09:35] billglover commented on #829
I'm a sceptic when it comes to gamification. Having lived through it being rolled out at a large organisation I'm concerned around the behaviours they incentivise, particularly if the end result is a monetary award. In general, I'm definitely in favour of using it an incentive to discover new features, but less so to encourage repetitive behaviour that adds little value.

There are a couple of ide

[2018-04-17 09:42] lpatmo commented on #829
Currently on https://codebuddies.org/study-groups, it's hard to tell which groups are active. I mean, naturally, it's totally fine for a group to die off.

But maybe we can take advantage of gamification here by displaying a "points" value for the total # of points the group has earned through its lifespan, as well as a a "points earned in the last month" number that reflects how "active" the grou

[2018-04-17 10:59] nalbina opened #831 "Fix Dockerfile"
I am currently debugging our failing docker builds.
Filing issue for visibility.

[2018-04-17 11:03] billglover commented on #829
Really like the "points earned in a study group" idea of showing active groups. This emphasizes the importance of the group/buddy rather than the importance of self. I'm not sure what I learn by seeing the lifespan total.

[2018-04-17 13:15] railsstudent commented on #828
I prefer Hangouts over Calendar.

[2018-04-17 14:42] cbelsole commented on #829
I worked on a demo with a leaderboard that was trying to promote participation rather than top score. One idea that came out of it was to rank progress (read: points per timeframe). This keeps points from becoming stale and promotes continued investment. The important thing is not to call it a weekly wipe of points because then people think that their progress is lost. Instead, run the leaderboard

[2018-04-17 14:46] cbelsole commented on #829
Just floating this idea, what if only study groups could earn points? We are called Codebuddies after all. This would aim to promote people who work together.

[2018-04-17 17:39] railsstudent commented on #821
@lpatmo @distalx  It seems sweetalert 1.x does not support three buttons in the dialog. Another suggestion to make a custom dialog that renders three buttons? thanks.

[2018-04-17 18:05] distalx commented on #821
Should we update to SweetAlert 2?

-----Original Message-----
From: "Connie Leung" <notifications@github.com>
Sent: ‎17-‎04-‎2018 11:09 PM
To: "codebuddies/codebuddies" <codebuddies@noreply.github.com>
Cc: "distalx" <distalx@gmail.com>; "Mention" <mention@noreply.github.com>
Subject: Re: [codebuddies/codebuddies] Add "sign in with Github" option topopup that user sees when they're not logged in (#

[2018-04-18 04:25] lpatmo commented on #829
Thanks @cbelsole and @billglover!

Your comments make me think that we should only show the individual total on the individual's profile page, and highlight a "in the last 30 days" or "in the last 7 days" leaderboard on the main site.

We do this with our ++ bot already to give points to users on Slack, so I'm wondering if there's any way we can integrate this or have a similar feature on the site

[2018-04-18 06:46] lpatmo opened #835 "Upgrading to Meteor 1.6"
@nalbina reports: "Inherent bug in Meteor < 1.6: it keeps building the node 4 packages with node 6 and then it fails." And would like 1.6 to complete #831.

Background reading: https://stackoverflow.com/questions/43876438/meteor-node-js-latest-version

@distalx reports that there have been issues with 1.6, however.

Have started this thread so that we can post updates here.

UPDATE: @nalbina has m

[2018-04-18 08:27] billglover commented on #829
Completely agree with the focus on hangouts.

I really like this and it leads me to the following two proposals:

* Points for the first time you schedule a hangout - encourage people to try it
* Points for the first time 3 people join a hangout you've scheduled - encourage people to promote their hangouts

This could be adjusted to be 'first each week' or 'first each month' if necessary.

The mos

[2018-04-18 08:29] billglover commented on #829
Out of interest, do we have data available (anonymised of course) that would allow us to moddle some of these scenarios and see what the points totals would look like for the current user base?

[2018-04-18 08:43] #826 closed

[2018-04-18 13:39] cbelsole commented on #829
Assuming a monthly sliding scale you can also award people points for 4 hangouts in a month (once a week) that 3 or more people join, and if they get 4,8,12 consecutive weeks they could get a badge on their group like ON FIRE!!! or something. This would promote long-running groups.

[2018-04-19 04:51] nalbina commented on #831
Done in 0fea3449f585c5ff704fe0066eec8141bbb1ec98

[2018-04-19 04:51] #831 closed

[2018-04-19 07:30] lpatmo opened #837 "CSS: prevent overflow of long URLs on discussion threads"
The problem:
![screen shot 2018-04-19 at 12 29 15 am](https://user-images.githubusercontent.com/4512699/38977297-d6e6fda4-4368-11e8-966c-f62e4c6ac8eb.jpg)

The solution:
https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap

Note:
@railsstudent solved a similar issue in https://github.com/codebuddies/codebuddies/pull/804/files.

This is a `good-for-beginners` issue. Docs are at docs.codeb

[2018-04-19 11:35] dantesolis commented on #823
@railsstudent will do, let me see which other are on my name. Thanks ;)

[2018-04-19 17:52] saminap92 commented on #837
I can look at this if it is not taken up by anyone else already

[2018-04-19 22:42] railsstudent commented on #837
Go for it

[2018-04-20 09:18] piyushmittal25 commented on #837
Actually I already send a pull request for that

[2018-04-21 05:47] lpatmo commented on #829
@cbelsole Haha. @yipnm123 and @julianjohannesen have definitely gotten that ON FIRE!!! badge; they've scheduled hangouts every week since January 31st of this year while participating in the Grow with Google Scholarship program, in the https://codebuddies.org/study-group/udacity's-grow-with-google-scholarship-program/vKbeuXSbQfuYMFnBe group.

[2018-04-21 07:15] lpatmo opened #840 "Use prettier as a pre-commit hook"
See: https://github.com/prettier/prettier

```Prettier can be run in your editor on-save, in a pre-commit hook, or in CI environments to ensure your codebase has a consistent style without devs ever having to post a nit-picky comment on a code review ever again!```

[2018-04-21 16:47] nalbina commented on #837
closed via f6846a8. thanks again @piyushmittal25

[2018-04-21 16:47] #837 closed

[2018-04-21 17:02] #520 closed

[2018-04-21 17:04] nalbina commented on #314
@distalx where do we currently manage the codebuddies domain?

[2018-04-21 17:05] nalbina commented on #89
@distalx *poke*

[2018-04-21 17:09] nalbina commented on #828
Voting for Hangouts here. One of the compelling points of codebuddies are the hangouts, so that should atleast be visible in the menu at all times.

[2018-04-21 18:10] lpatmo commented on #828
@railsstudent @nalbina Thank you for voting/leaving a comment! It seems others don't have a strong opinion, so I will close this issue.

[2018-04-21 18:10] #828 closed

[2018-04-21 18:32] lpatmo commented on #823
Closing this issue, since https://github.com/codebuddies/codebuddies/pull/839 applies `overflow-wrap: break-word;` globally to `p` tags. So the problem on the profile page was fixed.

[2018-04-21 18:32] #823 closed

[2018-04-21 18:33] lpatmo commented on #823
@dantesolis I believe the three issues assigned under you are https://github.com/codebuddies/codebuddies/issues?q=dantesolis+is%3Aopen. If you don't want to work on them anymore, or if you have any questions, let us know! :)

[2018-04-21 19:26] nalbina commented on #618
I like the idea of a DM being sent although this can get easily spammable. Maybe put this into the greetbot?

[2018-04-21 19:28] nalbina commented on #551
Now that we have discussions can this be closed?

[2018-04-21 20:11] stain88 commented on #618
definitely could do something along the lines of `/study-group group-name @user`. My one concern is the URL slug that gets generated - what's it for, and why so random, since /study-group/group-name/ also gets created?

[2018-04-21 20:58] #835 closed

[2018-04-21 22:22] lpatmo opened #844 "IDEA: Incorporate "buy me a coffee" links onto user profiles on CodeBuddies"
@distalx raised this idea.

https://www.buymeacoffee.com/ is a platform that launched late 2017 that lets users easily create a "buy me a coffee" donate page for themselves, which I just found out about today (thanks @distalx).

On CodeBuddies, we've been discussing various ideas to support and encourage more hangout organizers -- including the idea of reimbursing each hangout organizer $5 (with a

[2018-04-21 22:27] rmorabia commented on #844
I'm on board with the idea of adding the option for tipping next to a CB user's profile so someone can tip if they find a Hangout useful.

However -- Is there an alternative platform like BuyMeACoffee that works for both charity & individual tipping? Or does BuyMeACoffee support that themselves? I know if I was to do a Hangout (sooooooon), I'd want my tipping link to just link directly to a charit

[2018-04-21 22:33] lpatmo commented on #844
On CB's side, we can have the options on a profile page be:

[link to your buymeacoffee profile page]
OR
[link to a charity of your choice]

How does that sound? That way the we can decide what we want our tips to go to. Only downside of linking to a charity of choice vs. buymeacoffee is I don't know what charity sites out there will display the total $ of donations collected. Because that number

[2018-04-21 22:39] rmorabia commented on #844
Yeah, it's definitely in the minority. It's only for big charities like Charity Water where you can create a custom fundraising campaign. Even something like OpenCollective -- if someone chooses to link to a project like that wouldn't necessarily show anything special & individual based on the referrer. But oh well, not a _huge_ deal.

[2018-04-22 05:53] nalbina commented on #211
I want to bring this back up to attention. We could slowly migrate components to react while not having to rewrite everything at the same time.

You can actually render React component inside blaze. https://guide.meteor.com/react.html#using-with-blaze using `react-template-helper`. WDYT

[2018-04-22 05:58] railsstudent commented on #211
We are actually learning React in the Sunday hangout

[2018-04-22 05:59] nalbina commented on #211
yea, then this should be a great task for that right?

[2018-04-22 07:32] #840 closed

[2018-04-22 11:46] nalbina commented on #799
What happens when we delete our account at codebuddies? Would all hangout participations in the past also have my name pruned?

[2018-04-22 11:52] nalbina opened #847 "[GDPR] Provide a transparent way for users to display all data codebuddies has about them"
In accordance to the GDPR, we would need to provide an easy way for the user to see which data we have saved about him.

- [ ] What information do we save from the user? Username, Membership in Study Groups etc.
- [ ] What would be a good format to present to the user?

[2018-04-22 11:56] nalbina opened #848 "[GDPR] Remove all data for a user when account is closed"
http://www.privacy-regulation.eu/en/article-17-right-to-erasure-'right-to-be-forgotten'-GDPR.htm

In accordance to the GDPR, we should review how deletion of accounts works.

[2018-04-22 13:03] nalbina opened #849 "IDEA: User can choose, if he wants to join jitsi-hangouts in a seperate window"
I could imagine an option on the settings page where I can choose if the hangout should open inline, as it does now, or it just opens the jitsi website without the need for a user interaction.

[2018-04-23 07:55] lpatmo opened #850 "Encourage using `git cz` (commitizen) by telling contributors about it in docs.codebuddies.org"
The staging branch now supports commitizen: http://commitizen.github.io/cz-cli/

This means that after `git add`, instead of `git commit`, I can type `git cz` and be walked through some prompts that'll package a better looking commit message.

Proposal:
1) Update docs.codebuddies.org (github.com/codebuddiesdotorg/documentation) to encourage users to use `git cz`
2) Make an announcement about it in

[2018-04-23 09:40] lpatmo commented on #829
Thanks so much to everyone for your feedback and thoughts! Here's my latest proposal + some rough browser screenshot mockups:

## MVP Specs (we can add more on later, and add badges later):
First time I schedule a hangout - 10 points
Scheduling a hangout - 5 points
Starting a group - 5 points
RSVPing to a hangout - 2 points

## /hangouts sidebar
- Explanation of points system if I hover over a (?)

[2018-04-23 09:45] lpatmo commented on #829
Also, wanted to share @adachiu's thoughts:
```Gamification will work with regulating the hangout RSVPs. Docking off points if they don’t show up to an RSVP’d hangout sounds appropriate. (I think we had a GitHub Issue discussing this before). Also, maybe the hangout creator could get double the points for being the initiator while participants just get regular 1 point per completed hangout.```

[2018-04-23 09:52] #784 closed

[2018-04-23 21:07] billglover commented on #829
Really like this @lpatmo. Particularly the fact that all points are time bound.

[2018-04-26 08:07] lpatmo commented on #829
Thanks @billglover! The designs could use improvement, but at least this is a functional sketch. I was planning to think about badges in Version 2.

That Harry Potter mobile game (Pokemon Go sequel) launched today, and I was *so* tempted to think about magical badges. Like, you graduate to be a "grand coding wizard" after earning 1000 points or something. (Let's assume that by that time you truly

[2018-04-26 08:14] lpatmo commented on #844
My only fear is that the incentive of "coffee" might make beginner coders less likely to schedule hangouts out of the misguided notion that they have to be super prepared and also be prepared to "teach" whatever topic they proposed, when in reality the hangout organizer doesn't necessarily have to be prepared -- e.g. the hangout proposal could be "let's take turns reading this chapter out loud to

[2018-04-26 09:32] stain88 opened #851 "CSS Issues in profile completed hangouts column"
Do you want to request a feature or report a bug?
**Bug**

What is the current behavior?
![label nowrap](https://user-images.githubusercontent.com/8461452/39297806-641fc646-493c-11e8-949e-7765e2b294d8.png)
![rsvp button](https://user-images.githubusercontent.com/8461452/39297807-64352bc6-493c-11e8-990b-541e017b00b8.png)

Both .label and .btn have a `white-space: nowrap;` property, from the default

[2018-04-26 10:00] railsstudent commented on #829
@lpatmo  Great mockup and point system.  Point deduction also stress commitment to attending hangouts and achieving the hangout goal.

[2018-04-26 23:31] aimeerpierce commented on #851
I'm looking for a beginner-friendly bug to tackle as a first-time contributor! I'd love to look into this one.

[2018-04-26 23:35] railsstudent commented on #851
@aimeerpierce  Go for it. It is your.

[2018-04-27 07:14] lpatmo opened #852 "EXPERIMENTAL IDEA: Global Silent Hangout Page (e.g. codebuddies.org/silenthangout)"
### Problem:
Occasionally I'll have anywhere between 30 minutes and 3 hours some random evening or weekend where I want to be productive with my coding projects/learning goals, but I'll be too easily distracted to focus.

In the past, I've found that having some study company (other people in a hangout at the same time, screensharing what they're working on if they want to, and sharing their produ

[2018-04-27 08:01] stain88 commented on #852
Aren't there already generic 24/7 co-working hangouts? thinking of #co-working1 channel here, but not sure how it got set up. The idea of an "obvious url" is a plus though.

[2018-04-27 08:05] distalx commented on #852
I vote for codebuddies.org/anythinggoes

-----Original Message-----
From: "Linda" <notifications@github.com>
Sent: ‎27-‎04-‎2018 12:44 PM
To: "codebuddies/codebuddies" <codebuddies@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Subject: [codebuddies/codebuddies] EXPERIMENTAL IDEA: Global Silent HangoutPage (e.g. codebuddies.org/silenthangout) (#852)

Problem:
Occasionally I'l

[2018-04-28 06:31] lpatmo opened #854 "Remove "scheduled by @username" from Slack announcement notification message"
Reasons:
1) There is a strange bug that bit @rmorabia when she scheduled a hangout: the Slack announcement showed a completely unrelated username in the announcement message. We haven't seen this happen with other users.

The bug was mysterious because the code and the document in the DB checked out; that is, there was no clear reason why `hangout.host.name` shouldn't have output @hi (the username

[2018-04-28 21:49] #854 closed

[2018-04-30 06:11] dantesolis commented on #823
@lpatmo still want to work on them :) :) was looking for my issues. Thanks 👍

[2018-04-30 08:00] lpatmo commented on #851
@aimeerpierce Let us know if you need help getting started! Or if you're stuck on something. Feel free to ask in the #cb-code channel on the CodeBuddies Slack too.

[2018-04-30 09:10] lpatmo commented on #852
Yep, but those 24/7 tabs aren't very shareable, and I'd like to see if we can make this 24/7 silent hangout a "norm" in the community, just as plusplus is a norm. I mean -- not everyone has to try it out if the idea doesn't appeal to them, of course -- but I am itching for this type of motivation, and it'd be wonderful if I could do less work to get the experience of a silent "yay, the fact that I

[2018-05-03 21:59] lpatmo opened #861 "Link directly to Slack invite page under "Start learning with us now!" heading on home page"
Problem:
On the home page of codebuddies.org, clicking on the second "get my Slack invite" button at the bottom of the page leads to the email input box opening up at the top.

Instead of using `<script async defer src="https://codebuddiesmeet.herokuapp.com/slackin.js?large"></script>`, let's simply link to http://codebuddiesmeet.herokuapp.com with the text _Get your Slack invite here._

Thanks to

[2018-05-04 22:47] lpatmo commented on #852
I made a prototype. Feedback welcome! Screenshots below.

Not logged in:
![screen shot 2018-05-04 at 6 38 06 pm](https://user-images.githubusercontent.com/4512699/39656104-9fa5cbbc-4fcb-11e8-80c6-a3be81463d28.jpg)

After a user has logged in:
![screen shot 2018-05-04 at 6 44 18 pm](https://user-images.githubusercontent.com/4512699/39656083-878b7f18-4fcb-11e8-9082-c36118950215.jpg)

After a user ha

[2018-05-04 22:49] lpatmo commented on #852
@railsstudent I also tweaked the twitter warning functionality so that by default the checkbox is *unchecked*, and the message says "Tweet this message automatically out on @codebuddiesmeet."

[2018-05-05 01:50] wuworkshop opened #863 "Mixed Content Error for materialdesignicons.min.css"
Do you want to request a feature or report a bug?
A bug.

What is the current behavior?
In Chrome devtools, you get a "Mixed Content" error message. Specifically, it says this:
`
Mixed Content: The page at 'https://codebuddies.org/' was loaded over HTTPS, but requested an insecure stylesheet 'http://cdn.materialdesignicons.com/1.5.54/css/materialdesignicons.min.css'. This request has been blocked;

[2018-05-08 04:38] lpatmo commented on #829
OMG, learning preferences! That's an intriguing idea. I'm imagining the "don't bother me I just want a silent hangout" house competing with the "I learn by practicing teaching" house vs. the "Let's just discuss the topics" house... just kidding. Maybe half kidding.

![image](https://user-images.githubusercontent.com/4512699/39738199-d2e7f98a-5257-11e8-9532-2dd63b3afe61.png)

Love this idea, @adach

[2018-05-08 12:55] billglover commented on #829
This is one I'd love to hear more about. Do we have examples of leaderboard schemes that people have enjoyed participating in?  I've found the quickest way to get me to give up on a goal is to present something that is achievable. Trying to climb a leaderboard when the top spots are dominated by those with a time-based head start will destroy my motivation to participate. Knowing that I can have a

[2018-05-10 04:56] lpatmo opened #865 "IDEA: Add a "new" label next to the "Discussions" tab on the navbar"
## Idea:
Highlight the "Discussions" link in the navbar as "new"

## Context:
The new discussion feature built by @distalx is pretty amazing -- users can subscribe to email notifications on thread replies, there's markdown support and preview, users can start discussions *within* groups, and users can even send an alert to specific channels in the CodeBuddies Slack.

To a newcomer, it might appear

[2018-05-10 09:36] adachiu commented on #829
@lpatmo I like the preferences like “don’t bother me I just want a silent hangout” rather than just a preference name like “silent hangout.” It gives CB’s brand more personality (casual and friendly).

Competitions between groups with different learning styles would be great to analyze what’s more effective for learning. Just a stats experiment that may have interesting results.

🏆 trophies are pr

[2018-05-10 12:03] BogDAAAMN commented on #861
I'd love to claim this issue for my first time contribution!

[2018-05-10 13:52] sergeant-q commented on #861
@BogDAAAMN it's all yours! 👍

[2018-05-10 19:24] ApCoder123 opened #867 "The `stylus` package has been deprecated."
Do you want to request a feature or report a bug?
Report a bug
What is the current behavior?
In Chrome devtools, you get a "The `stylus` package has been deprecated." error message. Specifically
[code]
What is the expected behavior?
The newer version of the package should be used
Which browser / OS are affected by this issue? (An *isolated* way to reproduce the bug)
Google Chrome, Windows 10. User

[2018-05-10 20:07] distalx commented on #867
@ApCoder123 Thanks a lot for filing this issue! Would you like to write a patch for this? We'd be more than happy to walk you through the steps involved.

[2018-05-10 20:13] distalx commented on #847
Maybe a Compiled HTML format!!?

[2018-05-10 20:27] distalx commented on #799
All the information related to account holder(learning hangouts, studygroups) gets soft deleted.
We archive user's profile (id, email, username) information into a separate collection.

Hangout created by you will be soft deleted but if your an attendee of some hangout your avatar will still appear on that hangout. Still avatar would be clickable, but the link to your profile would be dead.

[2018-05-10 20:39] distalx commented on #799
This article covers some of the technical aspects:
https://techblog.bozho.net/gdpr-practical-guide-developers/

[2018-05-11 02:49] #863 closed

[2018-05-11 03:32] #830 closed

[2018-05-11 04:47] distalx opened #868 "Archive studygroups and discussions on `delete my account`."
r/n when user deletes their account we are archiving their [Hangouts](https://github.com/codebuddies/codebuddies/blob/3335e76cbbc325175abdd68f97e09d23399b412a/server/archived_users/methods.js#L49), [Learnings](https://github.com/codebuddies/codebuddies/blob/3335e76cbbc325175abdd68f97e09d23399b412a/server/archived_users/methods.js#L50) and other informations related to that user.

Similarly archive

[2018-05-11 16:48] gokul0 commented on #429
Hi @lpatmo , If could explain me what has to be done, I will be able to finish it ASAP. Would love to work on it.

[2018-05-11 22:47] nodeiris commented on #868
Can't delete my account. No matter how many times I click "Delete".

[2018-05-12 23:43] rmorabia opened #871 "Feature Reqest: Mass-notify Study Groups & Hangout RSVPers"
Do you want to request a feature or report a bug?

Feature request

What is the current behavior?

If there are any non-cancellation changes to the Hangout (eg. changing the date), those who RSVP get zero notification.

What is the expected behavior?

Either be able to send a custom notification to the relevant users on Slack or via email, or automatically have the CodeBuddies bot say "Hey, change

[2018-05-13 00:13] #861 closed

[2018-05-13 05:17] billglover commented on #871
Remember GDPR: we’ll now need to
- gather email :frowning:
- ask people for permission to email them
- handle cases where people don’t want to provide email

I’ve personally really enjoyed the email free CodeBuddies experience so far.

[2018-05-13 10:43] railsstudent commented on #871
@rmorabia   It is an excellent suggestion, no fun to miss a hangout due to time change.
I think to reuse the slack notification logic in create hangout.
When hangout is updated, send notification to announcement and designated study group slack channels.

[2018-05-16 07:37] lpatmo opened #876 "IDEA: CodeBuddies Connect (weekly ask)"
Many awesome people join and introduce themselves in the #introduce-yourself channel, but it can still be hard to dive into the community on Slack, and shy people sometimes hesitate to ask for help. Connection requests and messages frequently get lost because of the ephemeral nature of chat.

### PROPOSAL:
Every week, ask the question "What are you looking for this week?" in a community-wide notif

[2018-05-16 08:00] lpatmo commented on #876
Here is the full list of options, for easier readability:

## What are you looking for this week?
[ ] Algorithms coding practice w/ a pair programming partner
[ ] An interviewing practice partner
[ ] Motivation to finish (or continue working on) a tutorial or MOOC
[ ] Feedback on a personal project
[ ] Contributors to an open-sourced personal project
[ ] An open-sourced project to contribute to
[

[2018-05-17 08:11] adachiu opened #880 "Redesign: Home Page V3"
Requirements on home page (order of sections not determined yet):

**1. Mission statement/goals**
**2. BuyMeACoffee links for hangout organizers** #844
**3. Global Silent Hangout**
**4. CodeBuddies Connect**
**5. Gamification**

[2018-05-17 11:28] BogDAAAMN commented on #821
Is this issue still unresolved? If so, I'd like to claim it.

[2018-05-17 22:28] distalx commented on #799
@billglover, Thank you for raising those questions.

We do have a `users` collection. It is a system defined collection (defined by account-base package). So you wouldn't find it under `collections.js`.  `users` collection is attached to the global `Meteor` object.

I think we should absolutely do delete data where it's possible. If not possible then pseudo-anonymization it.
AFAIK Under GDPR, One

[2018-05-17 22:41] distalx commented on #868
Not able to reproduce this.

[2018-05-17 23:26] railsstudent commented on #821
@BogDAAAMN, thanks for showing interest on this issue.  It is not claimed but it depends on @lpatmo and @distalx decision to upgrade sweetalert to v2 or not.
It is because sweetalert v1 dialog does not support more than 2 buttons while v2 can configure to have more than 2 buttons.

However, upgrading to v2 also means than all sweetalert modals need to upgrade.   If you are interested, would you st

[2018-05-18 06:28] BogDAAAMN commented on #821
Alright, I'll take a look. Keep you posted.

[2018-05-18 06:35] lpatmo commented on #821
For what it's worth, I have no objections to upgrading to v2. Thanks for taking a look, @BogDAAAMN.

[2018-05-18 06:40] #851 closed

[2018-05-18 06:42] lpatmo opened #881 "Design improvements for staging.codebuddies.org/coworking"
See: https://staging.codebuddies.org/coworking

[2018-05-18 07:07] lpatmo commented on #881
e.g. Maybe removing the white background is less ugly:

![screen shot 2018-05-18 at 12 06 43 am](https://user-images.githubusercontent.com/4512699/40220864-753b2688-5a2f-11e8-8728-52d100354274.jpg)

[2018-05-18 07:11] railsstudent commented on #821
Claimed by @BogDAAAMN

[2018-05-18 07:48] lpatmo commented on #881
Updated design, after thinking about the feedback from @adachiu on Slack:

![screen shot 2018-05-18 at 12 41 41 am](https://user-images.githubusercontent.com/4512699/40222436-53908906-5a34-11e8-88a4-9f032e530af9.jpg)

![screen shot 2018-05-18 at 12 42 31 am](https://user-images.githubusercontent.com/4512699/40222470-72e7ee16-5a34-11e8-8d12-d6e0ca9afc9c.jpg)

[2018-05-18 07:51] #881 closed

[2018-05-19 10:44] lpatmo commented on #868
@ghost I was able to delete my account successfully too. Can you give us more details, like which browser you were using? And do you see any errors in the console when you click to delete?

[2018-05-24 11:01] lpatmo commented on #799
Thanks @billglover, @distalx, and @nalbina for your comments and advice/thoughts here.

My thoughts on actions:

1) We need to obtain the consent of EU subjects to collect and use their data, who must positively opt in.
Proposal: show a checkbox next to a submit button on the header on the navbar. If a user checks the checkbox and clicks on "submit," the header will disappear.

2) ++ on adding an

[2018-05-25 05:29] lpatmo commented on #773
@aimeerpierce pierce pierce I think if you're logged into the CodeBuddies Slack, you should be able to see https://slack-files.com/T04AQ6GEY-F8VRAGD0S-ebfb2269d1. I don't think we reference it anywhere currently on Slack, actually! And it's not in the repo either.

Thanks for your interest in tackling this! :) Let us know if you have any questions.

[2018-05-25 06:08] railsstudent commented on #773
Claimed by @aimeerpierce

[2018-05-25 16:07] wuworkshop commented on #773
@aimeerpierce Hmm... when I click on that link, it just opens in a new browser tab for me. I'm not even logged in to the CB Slack in a browser. I think since it's a public file link, you should be able to just view it in a browser? 🤔

[2018-05-26 08:50] #871 closed

[2018-05-26 23:08] #787 closed

[2018-05-27 04:22] lpatmo opened #890 "On /silent (/coworking) hangout page, logged-in users would appear with the name `guest` instead of their username"
We have `guest` as the backup name if a user isn't logged in, but even logged-in users would have `guest` appear as their username.

(Fixing this now.)

[2018-05-27 04:45] lpatmo opened #892 "CSS issues on iphone (Safari)"
On iPhone 5s, the width of the screen is around 320px and looks something like this:

![screen shot 2018-05-26 at 9 44 05 pm](https://user-images.githubusercontent.com/4512699/40582527-109f91ae-612e-11e8-8da0-86d3139c471f.jpg)

Need to add `overflow-wrap: break-word;` and some media queries to fix.

[2018-05-27 05:05] #892 closed

[2018-05-27 05:05] #890 closed

[2018-05-27 06:53] lpatmo opened #895 "Display total learnings count instead of the # of learnings currently loading on /coworking page"
On codebuddies.org/coworking (or codebuddies.org/silent), we should show the total number of learnings (the same number that's reflected on the home page) here, instead of "5 learnings":

![screen shot 2018-05-26 at 11 51 16 pm](https://user-images.githubusercontent.com/4512699/40583258-d74e6076-613f-11e8-90c0-207c9f817b79.jpg)

[2018-05-27 11:49] sailowcat opened #897 "[Bug] User's profile picture"
### Preamble

Users need profile images to easily recognize each other on codebuddies.org. And privacy.

### What is the current behavior?

When I've created the account I've automatically got a generic profile image from Gravatar.

There are several other users with the the same picture (which defeats the purpose) but different addresses (used for tracking).

### What is the expected behavior?

T

[2018-05-27 12:42] railsstudent commented on #897
Does it mean we cannot use Github or Slack to login user?

[2018-05-27 15:18] sailowcat commented on #897
We can login with Github and Slack (or not) whether we solve this or not.

It is indeed related with the privacy leak but to keep it clean I'd say we should talk here about the profile picture only.

[2018-05-28 02:12] distalx commented on #897
@sailowcat Thanks a lot for filing this issue!

I'm not sure why using a Gravatar compromises a user’s privacy or how it's a breach of GDPR compliance.
1) we are not storing any private data.
2) we are only displaying a user’s Gravatar if they have one.

Originally we only had a login with slack option available on CB, and the users who joined CB using slack login might have their slack avatar as

[2018-05-28 02:38] wuworkshop opened #898 ""Click to load the hangout" button throws an error"
Do you want to request a feature or report a bug?
Bug on the newly released coworking page here:
https://codebuddies.org/coworking

What is the current behavior?
When you click the "Click to load the hangout" button you get an error in DevTools that says:
`Uncaught TypeError: Cannot read property 'username' of null`

What is the expected behavior?
Clicking it should load the hangout.

Which browse

[2018-05-28 03:58] #898 closed

[2018-05-28 05:16] #895 closed

[2018-05-28 06:17] lpatmo commented on #898
Thanks for reporting, @wuworkshop, and thanks @distalx for fixing! I've hotfixed this.

[2018-05-28 07:34] sailowcat commented on #897
Thank you distalx for taking the time to respond.

That Gravatar image is actually a [web bug](https://en.wikipedia.org/wiki/Web_beacon). It is used to track users even when they don't use the service themselves but they view web pages with images from Gravatar.

Under the GDPR we are not only forbidden to sell the tracking data ourselves, but also to giving it away to services like Gravatar, Slac

[2018-05-28 20:57] lpatmo commented on #897
Wow, I didn't know that Gravatar tracked users! Gravatar is a product of Automattic/Wordpress, right? Thanks for flagging that, and thanks @distalx for listing some of the alternatives to Gravatar. Agree we should switch.

[2018-05-29 00:57] distalx commented on #897
@sailowcat, I see your point, I didn’t realise that the unique hash used by Gravatar could be also used as a unique tag to track the user. Gravatar doesn’t add any infrastructure cost and it’s being widely used by various communities, So it seemed like a viable option at the time.

I agree that we should stop using Gravatar as soon as possible. And serving the avatar directly from the 3rd party CD

[2018-05-29 06:07] lpatmo opened #902 ""Someone is in the hangout" message appears all the time on codebuddies.org/coworking"
Originally found by @rmorabia.

### Do you want to request a feature or report a bug?
Bug

### What is the current behavior?
"Someone is currently in the 24/7 hangout" text appears on codebuddies.org/coworking all the time

### What is the expected behavior?
"Someone is currently in the 24/7 hangout" text should only appear if 1 or more people have the hangout room open

### Which browser / OS are

[2018-05-29 07:08] sailowcat commented on #897
I'm afraid so. I guess we can use third party services but we need to study their terms of service and I definitely need to study GDPR more to knowingly make the right decisions. I'd say we can't go wrong by hosting our avatars.

I'd love to, thank you.

[2018-05-31 04:52] lpatmo opened #903 "Make sure video is default-muted when participants (including the first participant) joins the hangout"
### Do you want to request a feature or report a bug?
Bug

### What is the current behavior?
The video does not default-mute for the first participant of a hangout, despite this line of code in hangout-frame.js:
`let configOverwrite = { startVideoMuted: 0 };`

### What is the expected behavior?
The video should always default-mute

### Which browser / OS are affected by this issue? (An *isolated*

[2018-05-31 05:03] lpatmo commented on #903
For future reference: the Jitsi API docs are at https://github.com/jitsi/jitsi-meet/blob/master/doc/api.md

[2018-05-31 05:34] #903 closed

[2018-05-31 18:08] distalx commented on #897
One another temporary solutions could be [Letter Avatars](https://codepen.io/arturheinze/details/ZGvOMw).
This is not exactly what we are looking for but it could be used as temporary solutions.
Also, it doesn't add any infrastructure cost and would be fun to implement.

cc @lpatmo,  @railsstudent, @sailowcat.

[2018-06-02 07:58] lpatmo opened #907 "Upgrading to FontAwesome v5 from v4"
Let's explore how (or if we can easily) upgrade to FontAwesome v5, which gives us more icons like a `Patreon` icon.

[2018-06-02 08:02] lpatmo commented on #844
Update: I've reached out to Buy Me A Coffee about them potentially giving CB members some credits in return for us listing them as a sponsor, and they told me they would get back to me! But they were busy with a Product Hunt launch, so I need to follow up with them.

Let's add three additional profile fields:
1) Buy Me A Coffee link
2) Patreon link
3) Link to a non-profit a user might want to supp

[2018-06-02 08:14] #902 closed

[2018-06-03 03:00] distalx commented on #907
This might help.

https://fontawesome.com/how-to-use/upgrading-from-4

[2018-06-09 06:56] lpatmo commented on #876
Revamped the questions based on the responses so far (here is a public spreadsheet: https://docs.google.com/spreadsheets/u/4/d/1iVMwyMv9hEVlZWdfXOh4B9XSmDZ_QW5PCF3bQKfFMXA/edit#gid=0)

# What are you looking for this week?
## A coding or accountability partner
### Can you elaborate on what you'd like to work on with a coding partner?
- Algorithms coding practice (pair programming)
- Interview prac

[2018-06-09 07:46] lpatmo commented on #876
I'm going to pretend this is a sorting hat quiz:

![screen shot 2018-06-09 at 12 45 54 am](https://user-images.githubusercontent.com/4512699/41189178-8b885414-6b7e-11e8-875f-57e057016dd0.jpg)

[2018-06-09 08:19] lpatmo commented on #876
![screen shot 2018-06-09 at 1 18 58 am](https://user-images.githubusercontent.com/4512699/41189464-33c34af4-6b83-11e8-96c9-bb2776b7d784.jpg)

Design feedback welcome.

[2018-06-10 08:16] lpatmo commented on #907
Does https://github.com/codebuddies/codebuddies/pull/908/files complete our upgrade, or do we need to update all our old fontawesome names as well?

[2018-06-12 21:52] stain88 commented on #780
Going to jump in here for a few other availability comments:
As well as the default availability above, would be nice to have a "set" of available times, and then checkbox which ones you want to apply for a specific study group.
I've also noticed the times seem to be linked to system time? I set one slot for 9-5 in winter, but now that we've jumped forward for BST, it appears as 10-6: I would expe

[2018-06-14 15:53] billglover opened #909 "Feature: a dedicated channel for promotional posts"
**Do you want to request a feature or report a bug?** feature

**What is the current behavior?** Members of the community are unsure where (or even if) they should post promotional material. Topic focussed channels may seem like an obvious choice but in some cases these are low traffic and so people gravitate to posting in general channels. Even though intentions are good, this can be seen as spam

[2018-06-14 15:57] kvie commented on #909
I am all for a promotional channel. I'm personally interested in what other people are working on to contribute to the coding and creation community overall and I want to support members of the community the same way that members support the community. Being able to share their projects with confidence might lessen the burden on members and the community both.

[2018-06-14 16:03] billglover opened #910 "Feature: make it easier for people to host hangouts on alternate platforms"
**Do you want to request a feature or report a bug?** feature

**What is the current behavior?** Some members of the community have existing channels for running hangouts (Twitch, Google Hangouts, Skype, etc.). Although members can leave a comment that indicates the hangout is hosted elsewhere, this can easily be missed and so hosts feel the need to share direct links on Slack. This can be interpr

[2018-06-14 16:05] angelocordon commented on #909
What about other kinds of links that could potentially belong to multiple channels? Does it make more sense to post in `#general` than to x-post in multiple channels?

[2018-06-14 16:19] billglover opened #911 "Feature: add channel guidance to the welcome/reminder bot"
**Do you want to request a feature or report a bug?** feature

**What is the current behavior?** New members (and even some of us who have been around for a while) need some guidance as to the purpose of the more general channels. When posting a message that doesn't relate to a specific topic it can be unclear which of these general channels should be used (e.g. `#general` vs `#water-cooler` vs `#

[2018-06-14 16:22] billglover commented on #909
We have `#brag` which appears to be low volume. I wonder if this could be re-named to  `#promote`? I brag about my personal projects in  `#personal-projects`.

[2018-06-14 16:52] billglover commented on #911
Continued discussion on Slack suggests that guidance could be considered around:
* guidance around where to post general messages/announcements
* guidance around what is considered acceptable to post
* guidance around things you may want to re-consider before posting

[2018-06-14 17:06] lpatmo commented on #909
I like the idea of renaming #brag to #promote! I've always thought of suggest #personal-projects as a place to promote, too, but this makes it a lot clearer. Especially if a post is asking for users to sign up for a different service.

[2018-06-14 17:58] spirodonfl commented on #911
Perhaps we can add some verbiage around users not joining just for posting links to their community solely and making sure they contribute back directly? Some kind of encouragement, too, like "If you're an active contributor to the cb community you're more likely to get awareness and build trust" or something along those lines.

[2018-06-15 08:24] buoyantair opened #912 "Unable to login via Github or Slack"
### Do you want to request a feature or report a bug?
Report a bug
### What is the current behavior?
I am not able to login to codebuddies.org via Github or Slack

After I log into slack or github and give authorization to login, I get a blank window and I am not redirected to codebuddies as should have been if I logged in successfully.

### What is the expected behavior?

I should be able to logi

[2018-06-15 09:56] distalx commented on #912
@buoyantair Thanks a lot for filing this issue!
I was able to login to my account successfully.
do you see any errors in the console when you try to login?

[2018-06-16 14:15] distalx commented on #907
Yes, we do have to update the prefixes of old icons according to this guide `https://fontawesome.com/how-to-use/upgrading-from-4`

[2018-06-16 15:19] buoyantair commented on #912
@distalx I am not sure because I tried it again yesterday after a couple of hours, and it turns out I was able to login! :O

[2018-06-16 17:10] distalx commented on #912
Please re-open this issue if it still occurs.

[2018-06-16 17:10] #912 closed

[2018-06-16 17:36] sergeant-q commented on #910
@billglover can you give me an example of what you're looking for? Is the feature request simply to add more details in the Slack hangout notification with the url or the alternate platform or?

[2018-06-16 18:20] distalx commented on #867
This are my findings :

The official stylus packages has been deprecated. here is the fork of it  https://github.com/coagmano/meteor-stylus I try to replace `stylus` with `meteor-stylus` but getting the same warning `The 'stylus' package has been deprecated.`.

`stylus` package is dependency for `accounts-ui-bootstrap-3`. in order to remove `stylus` we have to stop using  `accounts-ui-bootstrap-3`

[2018-06-16 18:51] distalx opened #913 "feat-inbox"
Problem:
Since now we have added a signin with GH added to the CB it’s a bit difficult to get in touch with any one who joins a studygroup or hangout after logging in with GH.

This will feat will provide a way to directly communicate with other members on the platform.

Specs:
User can start a new conversation by selecting a user by their username.

It will create a new private thread between the

[2018-06-16 19:09] lpatmo commented on #910
Here's an idea of how we could implement this feature:

![screen shot 2018-06-16 at 12 04 59 pm](https://user-images.githubusercontent.com/4512699/41501670-a19b00d2-715d-11e8-95ed-836bddcdd112.jpg)

- Scheduler of the hangout can check this checkbox if they want to use an alternative platform
- If checkbox is checked, they'll see a field where they can input a URL (e.g. a zoom URL or a google hang

[2018-06-16 23:48] sergeant-q commented on #910
@lpatmo will this setting be available after the hangout has been scheduled or before?

I like the idea but trying to figure out how this will be passed down in the Slack notification.

[2018-06-17 01:54] lpatmo commented on #910
I was thinking a host would be able to change the setting after they schedule a hangout, since they might not have the link ready at the time the create hangout popup is open.

[2018-06-17 03:39] sergeant-q commented on #913
@distalx a couple of questions and comments. First off, I really like this idea for a few points:

1 - An opportunity to move discussions (and traffic) more onto the platform itself
2 - Increase overall engagement between the community members
3 - Improve the knowledge base and documentation of learnings

However, before we truly consider this "inbox" feature. I am going to pose some questions tha

[2018-06-17 07:42] #844 closed

[2018-06-17 21:01] lpatmo commented on #910
`"edit a hangout and resend the notification"` is done for updated hangout times. @railsstudent added that feature in the last release. I'm not convinced we need to make Slack send a new notification if the hangout platform is updated, though, because in the past we never put the hangout link directly in the Slack notification either. People simply clicked through to the hangout page and joined th

[2018-06-17 21:40] billglover commented on #910
I had originally assumed that people would be able to specify the link during hangout creation/editing on this screen.

<img width="828" alt="screen shot 2018-06-17 at 22 38 03" src="https://user-images.githubusercontent.com/94501/41512377-76ec512e-727f-11e8-9717-27a76cfc9f44.png">

I haven't used any of the other platforms though so it may well be the case that users aren't given a link until the

[2018-06-23 04:56] sergeant-q commented on #876
@lpatmo the design mock-ups look great. I'd love to see what happens next? I'm trying to visualize these "trello" like cards and what comes of those cards/responses?

If the goal is to match folks, I think we should really flush out this feature. Sounds very promising in my opinion.

[2018-06-23 16:38] nalbina commented on #913
basically reinforcing what @sergeant-q said here. Offloading communication to Slack is totally fine.

[2018-06-23 16:58] sergeant-q commented on #913
This also pushed the need to revive the forum idea. I think the self documenting knowledge base for our community can only be possible this way. I think study group discussions can be effectively managed via private discussions on the forum.

[2018-06-28 04:44] lpatmo opened #914 "IDEA: Add testimonials to home page"
From https://medium.com/codebuddies/codebuddies-community-survey-results-really-insightful-commentary-from-yall-8dcb36965d71, we have a couple of survey responses to the question "How did CodeBuddies help you?" that we could highlight as testimonials, e.g.:

=========
We could also explicitly ask some members who've been active to share more testimonials.

[2018-07-13 04:53] titchimoto commented on #914
@lpatmo Not sure if this issue is up for grabs? But I would love to have a go at this and make it look nice & pretty.

[2018-07-13 05:05] lpatmo commented on #914
It's up for grabs! :)

On Fri, Jul 13, 2018, 12:53 AM titchimoto <notifications@github.com> wrote:

[2018-07-13 05:12] titchimoto commented on #914
Oh, awesome! I’d love to have a go at it, please! Shall I just stick with the above quotes for now, or did you get others, too? I’ll put something together in the next day or two & submit a PR. Thanks!

[2018-07-13 05:36] railsstudent commented on #914
Claimed by @titchimoto

[2018-07-13 17:05] lpatmo commented on #914
@titchimoto I haven't gotten around to asking folks directly to submit quotes, so the above from the survey are fine. Thank you!

[2018-07-13 21:23] titchimoto commented on #914
That's fine! I used all the ones you provided earlier, and I think those work well.

This is what I have so far in code, is this the kind of thing you were thinking? It's pretty simple but I've tried to keep it nice and clean.

![testimonials](https://user-images.githubusercontent.com/29615325/42714483-303859b6-86a8-11e8-9a2e-f30e8e5f2e29.png)

Let me know what you think and I'll make a couple mor

[2018-07-14 02:28] lpatmo commented on #914
@titchimoto That looks great! Maybe "Don't just take our word for it; these are what some of our members have said anonymously about CodeBuddies"

Are the quotes meant to be wrapped around the text? :)

Will defer to @adachiu on design feedback, in case she has any thoughts.

[2018-07-14 10:39] railsstudent commented on #914
How do you do the CSS for the bubble with triangular pointer?  Look awesome.

[2018-07-14 12:13] adachiu commented on #914
@lpatmo it's hard to say how it will fit with the revised home page at the moment since we haven't gotten to it yet so I have no comments.

[2018-07-14 22:05] titchimoto commented on #914
Fair enough.

@lpatmo Thanks! I changed the text now to match yours. And I originally tried to get the quotes around the text but it looked weird? Maybe because they're big or something, so I left them as a little icon looking thing instead. I've just fixed a few other little tweaks and spacing issues etc. made the font size smaller, so I'll submit the PR and I'll leave it up to you guys to decide

[2018-07-19 03:45] #914 closed

[2018-07-19 04:38] #909 closed

[2018-07-21 18:29] #868 closed

[2018-07-22 02:36] sergeant-q commented on #880
How are we tackling this? Do we have design mockups for us to review? Should we be holding meetings to go over each item listed above? I know some of these features have already been implemented so just curious as to what we're looking to do next in the redesign.

[2018-07-22 03:09] sergeant-q commented on #821
@BogDAAAMN what is the status on this issue?

[2018-07-22 04:00] adachiu commented on #880
@sergeant-q
I was waiting for the completion of the features or for us to get to a certain stage before starting the home page mock ups.

Could we list the status of each of the features in a comment here?

[2018-07-22 04:50] sergeant-q commented on #551
https://forum.codebuddies.org is now live (again) and hopefully staying for good. @lpatmo can we close out this issue?

[2018-07-22 06:11] #551 closed

[2018-07-22 06:54] lpatmo commented on #880
I was waiting until I finished CB Connect (which, um. Soon.)

Great idea!

Maybe we can feature the four goals outlined in https://medium.com/codebuddies/codebuddies-in-2018-a-project-status-letter-to-the-community-7f8c2c34e950?

@distalx finished this; this feature is coming in the next release! Which will be out after I merge in the `fontawesome` PR from @railsstudent.

Hey, we have this feature

[2018-07-22 06:57] lpatmo opened #919 "Add link to forum.codebuddies.org in the navbar under *Community*"
Instructions:
Add a link to https://forum.codebuddies.org in the navbar under the "Community" section, under the "Slack" link and above the "Github" link:

![image](https://user-images.githubusercontent.com/4512699/43043169-c8950052-8d41-11e8-813c-9ac902438fc6.png)

+++++
Instructions for new contributors:
1. Read http://docs.codebuddies.org to set up meteor and get the app running!
2. Fork the pr

[2018-07-22 07:13] praveeno commented on #919
hey, i can help you with this

[2018-07-22 08:50] railsstudent commented on #919
@praveeno  It is all yours.  Can you wait until I finish upgrading fontawesome icons of the site to v5.
#907 is currently WIP.

[2018-07-22 09:01] railsstudent commented on #919
Can show https://fontawesome.com/icons/comments?style=solid  icon in menu

[2018-07-22 09:15] praveeno commented on #919
Sure @railsstudent

[2018-07-22 20:31] sergeant-q commented on #211
All, I and @distalx have been discussing this in more detail and we believe the better route would be to migrate the front-end to [Vue](https://vuejs.org/).

Some highlights to why this framework would be a better choice:
[code]

The caveat is making Vue work within a Meteor project but there are OSS projects to make that work out of the box and it would be the same challenges for using React.

I

[2018-07-22 20:36] lpatmo commented on #211
I don't mind either way, but can you highlight what the advantages of migrating to vue.js vs. keepign blaze are?

[2018-07-22 22:05] sergeant-q commented on #211
@lpatmo there is no issue in keeping blaze to be honest. It works for the current state of the project. However, some advantages to switching to Vue (or easily React) are:

 - **Component-based UI architecture**. As the project functionality grows, building out the UI in a component-based approach is ideal. Makes it easier to manage and support. Blaze _kind of_ supports "components" via its templa

[2018-07-22 22:09] lpatmo commented on #211
Thank you for outlining all of those reasons out! :)

[2018-07-23 05:02] sergeant-q commented on #749
To @lpatmo 's point, we will need to successfully update the user references in the other collections. We do store the user ids in these reference collections so we could actually consider creating new publications that return this data for us.

This, however, will require building efficient queries which we are not currently set up to do. One option is to implement and use [grapher](https://githu

[2018-07-23 05:37] railsstudent commented on #211
I also spoke with @distalx a while back and expressed my interest to pick up Vue.
SFC architecture of Vue keeps model, template and CSS in one file; therefore, developer can focus on making changes in one place instead of switching from tab to tab to make incremental changes (AngularJS and Angular).
Vue is the hybrid of AngularJS and React, anyone with either experience can pick up the framework w

[2018-07-23 08:53] lpatmo commented on #211
Thanks for your input, Connie. Let's go for it. Especially since this point @sergeant-q highlighted is true: ``` - Incrementally adoptable. Meaning we can slowly replace all Blaze templates and run both in parallel```

My only wish is that maybe @sergeant-q, @distalx, or whoever else starts playing around with Vue in a branch (after the Meteor 1.7 upgrade) for 30-60 minutes can open up a hangout,

[2018-07-23 14:53] sergeant-q commented on #211
I think we can certainly arrange that @lpatmo ! @distalx and I will work on the logistics and prep work to make the hangout valuable for others.

[2018-07-26 02:58] lpatmo opened #921 "Define a Content Security Policy"
h/t @oliikit for the flag.

[code]

See: https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP

[2018-07-26 08:46] distalx opened #922 "feat - slack alert for 24/7"
Send an slack alert to co-working channel each time when someone joins the [24/7 room](https://codebuddies.org/coworking).

[2018-07-27 06:26] lpatmo opened #924 "Update codebuddies.org/slack page with updated content"
We need to update http://codebuddies.org/slack with the awesome new content from this Slack document:

https://slack-files.com/T04AQ6GEY-F8VRAGD0S-ebfb2269d1

Full text:
[code]

[2018-07-27 13:31] kelikaterina commented on #919
Hello!
I'm beginner and the first time here.
I believe I will manage this task. Or everything is already done?

[2018-07-27 13:36] stain88 commented on #919
Looks like it's already claimed by @praveeno, @kelikaterina. Just holding for @railsstudent to finish a PR first

[2018-07-27 16:10] sendmebiscuits commented on #924
Hey, I'll look into this! I just want to clarify before I start, the new content only replaces the old content under the **What is the Slack Etiquette in this community?** section right?

[2018-07-27 17:29] lpatmo commented on #924
@sendmebiscuits I'll mark that you claimed this issue. Thanks!

[2018-07-27 21:23] sendmebiscuits commented on #924
Hey 2 quick questions. I found the slack.html and the _slack.scss, should I update the styling as well? Also should I replace the emojis (the :cd:) in the html, just wondering 😅.

[2018-07-27 21:32] sendmebiscuits commented on #924
Oh wow that makes more sense, sorry I read cb as cd. Thanks!

[2018-07-27 21:33] lpatmo commented on #924
Haha, no worries!

[2018-07-28 06:07] #907 closed

[2018-07-28 14:03] distalx commented on #921
@lpatmo I believe we are already managing CSP for CB using [browser-policy](https://atmospherejs.com/meteor/browser-policy) package.

[2018-07-28 19:47] lpatmo commented on #919
@praveeno The fontawesome PR has been merged in, so you can tackle this issue now. :) Sorry for the wait.

For future icons, we are using this syntax:

<i class="fas fa-NAME"></i>

Please do not use `far` or `fal` (PRO icons that need a license), only `fas` or `fab`.

Thanks! (And let us know if you're still interested in working on it.)

[2018-07-29 12:24] praveeno opened #927 "Fix Hangouts link in README.md"
Do you want to request a feature or report a bug? Bug
Readme.md file points to old hangouts subdomain - http://hangouts.codebuddies.org/

What is the current behavior?
![image](https://user-images.githubusercontent.com/19618730/43366260-6b3245ba-9358-11e8-9f71-14e53f2c24cd.png)

What is the expected behavior?
Hangouts link should point to this URL - https://codebuddies.org/hangouts

Which browser

[2018-07-30 04:35] wuworkshop commented on #927
@praveeno Out of curiosity, where did you find that link?

[2018-07-30 11:33] praveeno commented on #927
in README File

[2018-07-31 00:45] #924 closed

[2018-07-31 14:11] billglover commented on #852
Has this been implemented now? I'd always assumed this was the 24x7 space for silent productivity.

[2018-07-31 14:29] billglover opened #930 "Users following 'blank screen' instructions for the 24x7 hangout end up in the wrong room"
Do you want to request a feature or report a bug? **Bug**

What is the current behavior?

What is the expected behavior?

Which browser / OS are affected by this issue? Version 67.0.3396.99 (Official Build) (64-bit) on macOS High Sierra Version 10.13.6.

I expect this is not a browser specific bug but haven't tested this extensively. A brief look at the code indicates there may be an issue in the

[2018-07-31 17:04] lpatmo commented on #852
Yes, oops. Thanks. Let me close this issue. The implementation is at codebuddies.org/coworking.

[2018-07-31 17:04] #852 closed

[2018-07-31 17:45] #919 closed

[2018-07-31 17:54] praveeno commented on #927
hey @wuworkshop , should we remove this link ?

[2018-07-31 17:59] wuworkshop commented on #927
@praveeno Instead of removing the link in the README, it should be updated to the correct URL. The URL should be this: https://codebuddies.org/hangouts

[2018-08-01 00:27] peoray commented on #927
I would like to pick up this issue if nobody has indicated any interest yet!

[2018-08-01 02:06] railsstudent commented on #927
@peoray  It is yours.

[2018-08-01 03:45] praveeno commented on #930
i love to help

[2018-08-01 07:26] railsstudent commented on #930
@praveeno   It is yours.

[2018-08-01 07:44] lpatmo opened #931 "Move Slack registration into the after-site-signup user flow, and ask users some CB Connect questions"
h/t @angelocordon for this idea and drafting up the sample questions.

The idea:

1. Remove Slack signup/registration buttons from home page.
2. When a new user logs in for the first time using either Slack or Github, ask them some additional introductory questions on the "confirm your name" screen, like:
+ Where are you from? (gives us a sense of time zone)
+ What do you currently do? (ideas on p

[2018-08-01 08:02] lpatmo commented on #930
I really appreciate @billglover finding this bug, because honestly I thought the silent hangout room was meet.jit.si/cb for the longest time! :P (And didn't even realize that meet.jit.si/cbcoworking was loading.)

@praveeno I took a look, and I think this is what you need to do:
1. Create a new helper function inside hangout-frame.js that returns `Template.instance().room.get()`, which according t

[2018-08-02 04:38] lpatmo commented on #931
## Design Concept #1:

Screen 1/2:
![image](https://user-images.githubusercontent.com/4512699/43562405-30be89a4-95d1-11e8-9243-d6b9ffac7051.png)

Screen 2/2:
![image](https://user-images.githubusercontent.com/4512699/43562718-190c4696-95d3-11e8-9b94-6284c476338b.png)

Second screen could probably be improved -- eg maybe split up into further steps?? Show screenshots of Slack and the forum?? Walk t

[2018-08-02 08:38] lpatmo opened #932 "On codebuddies.org/slack, be clearer about where commercial posts should be posted"
Thanks to a recent PR, we've got a nice, updated version of the Slack etiquette guide published (you can see the PR on staging now: https://staging.codebuddies.org/slack).

However, we don't clearly explain the rules about commercial posts, such as:
- promoting ticket sales to a conference
- promoting an external Slack or Discord or community
- promoting a book/course one's written that isn't free

[2018-08-02 13:33] railsstudent commented on #931
tag @distalx

[2018-08-03 02:35] sergeant-q commented on #932
👍🏽 I think this is great.

[2018-08-03 02:50] lpatmo commented on #910
Note to self: prioritize this issue, since @julianjohannesen and co. would find it beneficial to be able to insert a link on Hangout Create pointing directly to Zoom, instead of having to paste it into the description.

[2018-08-03 02:58] #751 closed

[2018-08-03 02:58] #642 closed

[2018-08-03 02:58] #773 closed

[2018-08-03 03:01] #867 closed

[2018-08-06 06:34] lpatmo commented on #930
@praveeno Does my comment make sense? Let me know!

[2018-08-06 06:35] lpatmo commented on #932
Looking for someone now to add the content in the draft above to the codebuddies.org/slack page.

[2018-08-07 02:14] #927 closed

[2018-08-07 03:56] praveeno commented on #930
hey @lpatmo i caught somewhere, not able to help, any one who interested can pick this up

[2018-08-07 04:33] lpatmo commented on #930
@praveeno No worries, thanks for letting me know! I might just commit this and submit it as a PR 😅

[2018-08-07 17:00] peoray commented on #930
This is a meteor thing, right?

[2018-08-07 17:04] peoray commented on #932
I guess this is my cue. May I work on this if nobody has indicated interest?

[2018-08-08 01:32] lpatmo commented on #932
@peoray Yayyy! I will mark this as claimed. :) Thanks.

[2018-08-08 04:13] lpatmo opened #934 "Some users unable to log in, with "blocked frame" error in the console"
See screenshots:
![image](https://user-images.githubusercontent.com/4512699/43815871-b7bdfaa2-9a86-11e8-86c5-b6ef789ff7b0.png)

![image](https://user-images.githubusercontent.com/4512699/43815862-a36482b0-9a86-11e8-9d26-7d3a275b0038.png)

[2018-08-08 04:16] lpatmo commented on #934
Also: ![image](https://user-images.githubusercontent.com/4512699/43815927-0b88c3ce-9a87-11e8-8b3d-fd8d8cf783ca.png)

I googled the "blocked a frame with origin" error message and found this:
https://stackoverflow.com/questions/44530467/meteor-single-signon-oauth-popup-is-blank-cross-origin-frame-error

[2018-08-08 04:29] lpatmo commented on #930
@peoray More of a wrong-link-buildup thing, but understanding a little of meteor helps; for example, in Meteor/Blaze (which is what we're using), there is the idea of a "helper function" which allows you to pass context variables into the template (ie the HTML). meteortips.com is a good resource site to get up to speed for Blaze, but we _will_ be moving to VueJS soon. :)

[2018-08-08 05:14] lpatmo commented on #934
Update:
Logging in on https://www.codebuddies.org will not work.
Logging in on https://codebuddies.org is fine.

I added a redirect on DigitalOcean to hopefully get www.codebuddies.org redirecting to codebuddies.org, but it may be a few hours before it works.

Not sure if there's a best practice way to redirect www -> https://.

The meteor forums at https://forums.meteor.com/t/solved-single-signon

[2018-08-08 08:10] peoray commented on #930
Can't wait for Vue!!!

[2018-08-08 12:34] d3vild06 commented on #932
Oops sorry. Didn't mean to close the issue. @peoray what command are you using to start up the project locally?

[2018-08-08 13:28] peoray commented on #932
@d3vild06 `meteor --settings settings-development.json`

[2018-08-08 17:25] distalx commented on #934
@lpatmo Great work on hunting this down. The above mention solution should work.

[2018-08-10 23:40] peoray commented on #932
If I can be directed on what to do, I can work on this @wuworkshop

[2018-08-10 23:43] peoray commented on #932
Well, I finally got it working on my localhost but silly question, I don't know where to find the link to take me to the page to make the changes, that's  https://staging.codebuddies.org/slack

[2018-08-11 00:00] peoray commented on #932
Okay, figured it out!

[2018-08-11 20:29] lpatmo opened #937 "Schedule a hangout from Slack directly"
Idea proposed by @gauravchl: `#create-silent-hangout topic: learn graphql with me. Time: tomorrow at 7pm`. Message could create a new hangout on codebuddies.org.

@stain88: `POST codebuddies.org/hangouts?type=silent&title=work%20on%20greetbot&time=1900&date=20180812&timezone=UTC&organiser=stain88`

@angelocordon: Could be set up as `/hangout [type] [title] [time] [timezone]`

[2018-08-12 05:14] d3vild06 commented on #937
Some things to consider and discuss:

*Authentication/Authorization*
Today we require a user to be logged in to create a new hangout. Primarily to protect from anyone creating and deleting a hangout in the site/app. We also capture who the organizer is and this info is also fed into their profile (# of hangouts created for example).

*Unique identifier for a user*

With the recent github login fea

[2018-08-13 14:12] stain88 commented on #937
How does the login work? Does it just match up profiles based on email? Or filling in the GitHub field in your profile? Could we add a "slack username" field?

Having an API exposed would be a pretty cool feature: those could be hooked up to `greetbot` to get upcoming hangouts, create a new one, or view study groups / send invite to a study group

[2018-08-14 00:43] wuworkshop opened #938 "BUG: Study Groups page doesn't list all groups"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?
On the Study Groups page (https://codebuddies.org/study-groups), when you scroll all the way down to the bottom of the page it doesn't load the full list of study groups. For example, I don't see the new "Colt Steele's JavaScript Algorithms and Data Structures Masterclass" study group. Searching for it does work t

[2018-08-14 17:09] julianjohannesen opened #939 "Feature request - reduce header height on study group page"
## Feature Request - reduce header height on study group page

## Current behavior:
The study group landing page has an enormous header dedicated to a description of what the page is and a button to create a study group. The search bar appears at the bottom of the page just above the fold on my laptop and you can't see any of the extant groups.

## Desired behavior:
Reduce header size dramatically

[2018-08-16 17:54] #910 closed

[2018-08-18 02:27] railsstudent commented on #937
Claimed by @gauravchl

[2018-08-18 02:28] railsstudent commented on #939
@julianjohannesen any screen capture.  I am using old mac book air 13" and do not observe the behavior. Thanks.

[2018-08-18 16:03] sebbel opened #945 "Disable docker ci step for PR's"
It's confusing for everyone to have a failing docker step in their PR's. so lets disable it for now.

[2018-08-18 16:04] sebbel commented on #945
/done cc @lpatmo

[2018-08-25 05:36] distalx commented on #945
Thanks @sebbel , resolved in #946.

[2018-08-25 05:36] #945 closed

[2018-08-25 07:39] lpatmo opened #948 "Default email notification settings"
- An easy way for study group owners to send out an announcement to the group right now is to start a new discussion within the study group
- Members will only get those notifications if they have setting checked in their Email Notification Settings
- Proposal: set the following as default:

![image](https://user-images.githubusercontent.com/4512699/44616139-4b805200-a7ff-11e8-856d-330634b29f4b.pn

[2018-08-25 07:40] #922 closed

[2018-08-25 07:42] lpatmo opened #949 "Add heat map to identify user behavior"
cc: @wuworkshop

[2018-08-25 08:00] lpatmo opened #950 "[Discussion] Requiring user RSVPs before joining hangout?"
@sebbel @angelocordon I'm interested in hearing more about your thoughts re: the pain points of RSVPing part of the experience before joining a non-24-7-coworking hangout.

Some pain points I'm imagining are:
- having to login (extra step)
- extra step involved in clicking the RSVP button
- only being able to join a bit of the hangout, and feeling guilty about leaving early (or wanting to lurk to

[2018-08-25 08:45] lpatmo commented on #913
Heh, we did it poorly because sometimes users would log in with Slack accounts that _weren't_ linked to CB, so it was difficult to find them on Slack.

We now have discussion threads, which lets users start public discussions. The two big missing pieces are:
###  What if a user wants to message the organizer(s) of the study group they joined?
### What if the study group organizer(s) wants to messa

[2018-08-25 20:59] wuworkshop commented on #949
I'm not sure if a Meteor package is necessary for this, but there is a package for Hotjar over here:

https://atmospherejs.com/goltfisch/hotjar

Not sure if CB qualifies for the Personal plan (maybe they can be a sponsor?):
https://www.hotjar.com/pricing

Another one that has a Meteor package is Inspectlet:

https://atmospherejs.com/xolvio/inspectlet

Inspectlet has a free plan:
https://www.inspec

[2018-08-30 05:41] lpatmo commented on #949
- I'm looking forward to whenever we improve the design of the hangout pages (maybe during Hacktoberfest?)
- That said, I personally wonder how much of an impact design could have on hangouts usage. eg Even if people understand immediately what a "collaboration" hangout is, would they start one without first some prompting and schedule availability discussion? Something like the 24/7 coworking spa

[2018-08-30 14:43] stain88 commented on #948
`Unsubscribe` takes you to a page with a Yes/No option, for that specific email type.
I think @lpatmo wants another link, "Change your email preferences", which goes directly to the settings page.

[2018-09-05 14:12] peoray commented on #932
Please, can I get a link to the form to fill?

[2018-09-08 20:18] lpatmo opened #958 "Future @cb_jarvis upgrades"
(Thanks @julianjohannesen for feedback)

- pass in description
- pass in hangout type (silent, collab, teaching)
- pass in external link in case folks want to use Zoom, LiveStream, etc.

[2018-09-10 13:05] Danny-G-Smith opened #959 "Unable to get slack invite"
When I click on [slack invite](http://codebuddiesmeet.herokuapp.com/) I get the following error.

Application error
An error occurred in the application and your page could not be served. If you are the application owner, check your logs for details. You can do this from the Heroku CLI with the command
heroku logs --tail

This happens from multiple browsers and from multiple IP address.

[2018-09-10 15:23] TheBaileyBrew commented on #959
Same here. It's an error across all browsers (Firefox, Safari, Chrome, Edge) from my end as well regardless of my network connection.

[2018-09-10 15:33] billglover commented on #959
@Danny-G-Smith, @TheBaileyBrew if you'd like an invite to Slack feel free to get in touch while we investigate the issue with the auto-invite. Best to drop me a mail: bill@billglover.co.uk.

[2018-09-10 17:58] billglover commented on #959
@distalx this feels like an app that sits idle for most of the time so shouldn't take much in the way of resource. Do we have data that shows how often it is being called (and how often the invites are successful)? I wonder if we need to consider:

* the need for auto-invite in the first place
* different hosting options

[2018-09-13 07:50] lpatmo opened #962 "Turn CB signup plugin on home page into an HTML link"
We had to merge in the latest code from rauchg/slackin repo, which has a bit of broken plugin. So it'll be easier to turn it into a link instead of using the iframe.

Should link to https://codebuddiesmeet.herokuapp.com.

Currently looks like:
![image](https://user-images.githubusercontent.com/4512699/45474311-4b80bd00-b6ee-11e8-9c7c-1c73aa275eef.png)

Turn into:
![image](https://user-images.githu

[2018-09-13 07:56] lpatmo opened #963 "Show Slack Messages count (440K) instead of Study Group Discussions Count on home page"
Currently, we're showing the # count from the "discussions" feature (part of study groups) on the home page:

![image](https://user-images.githubusercontent.com/4512699/45474886-b4b50000-b6ef-11e8-8e5f-6c57037da370.png)

I'm wondering if we should just put a static number up there instead -- eg 440K, which is the # of messages stored on Slack, currently.

[2018-09-13 09:04] distalx commented on #963
Currently what we are projecting on a landing page is a stats about CB platform, the total number of message on the slack 440k in itself is not related to the platform. So I think the best place to display this figure would be somewhere on the [slack page](https://codebuddies.org/slack).

[2018-09-15 05:49] lpatmo opened #964 "Star (or highlight) active groups on the /studygroups page"
Thanks to @clockwerkz for this idea:

Clicking through the groups, it's hard to figure out which ones are active unless you click through and look through progress logs or past hangouts.

Would be helpful to highlight the active ones.

[2018-09-15 19:52] drunkenkismet commented on #962
Currently working on this issue as part of a walkthrough series.

[2018-09-15 19:53] lpatmo commented on #962
Thanks @drunkenkismet!

[2018-09-15 19:57] #962 closed

[2018-09-22 02:35] lpatmo commented on #959
App is back up at https://codebuddiesmeet.herokuapp.com/. Had to merge in latest code to fix bug. Thanks for filing, @Danny-G-Smith!

[2018-09-22 02:35] #959 closed

[2018-09-22 02:36] lpatmo commented on #921
Thanks @distalx! I will close this.

[2018-09-22 02:36] #921 closed

[2018-09-23 09:05] brylie opened #967 "Learning tweets should contain user twitter handle mention, if available"
In PR #333, users were allowed to share learnings via a tweet. The learning tweet contains their codebuddy username, like so:

As an enhancement to this, it would be cool if the user's Twitter handle were @ mentioned, if one is available.

[2018-09-25 13:39] brylie opened #968 "Allow users to change first and last name"
Feature request

What is the current behavior?
Users cannot change first and last name.

What is the expected behavior?
Users should be able to change first and last name

[2018-09-25 13:49] stain88 commented on #968
Curious, what's the use case for having first/last name on the site, and editable?

[2018-09-26 08:42] brylie commented on #968
That's a good question, and brings up a broader decision.

The site asks for first and last name during sign up. If we don't want to use them at all, then it might be good to remove them from the profile. Since we already have them as part of the profile, we should allow the end-user to change their info, along with other profile fields.

[2018-09-26 08:48] stain88 commented on #968
Oh really? @lpatmo @distalx has that always been the case? I really don't remember having to do that, but that doesn't mean I didn't do it!

[2018-09-26 08:59] brylie commented on #968
My colleague registered on the site yesterday, via GitHub, and was asked for a first and last name.

[2018-09-26 09:01] stain88 commented on #968
I'm not denying it's the case now, maybe it's something that was added in when GitHub sign-in was added. Maybe @railsstudent has info too?

[2018-09-26 09:12] brylie commented on #968
Jeppers, just clarifying the context (i.e. steps to reproduce).

[2018-09-26 17:27] distalx commented on #968
@brylie
Thanks a lot for filing this issue!
@stain88
The sign-in workflow has been changed, since we have enabled sign-in with github.
Earlier (when we only had slack sign-in option) we used to get `firstname` and `lastname` from slack-api, but thats not the case with github. So I guess we added that step.

[2018-09-27 06:47] gauravchl commented on #937
This is done!

[2018-09-27 06:47] #937 closed

[2018-09-27 07:04] gauravchl commented on #958
More command ideas for jarvis:

1. `@cb_jarvis stats`
    o/p: Total hangouts organized, learnings reported, study groups, discussions, online users, total users etc...
2. `@cb_jarvis 24/7 hangouts`
    o/p: all 24/7 hangout detail(title/studyGroupName) with jitsi link
3. `@cb_jarvis #TodayILearned`
   o/p: Random "today i learned" post from last 10 posts. With user name.

[2018-09-27 07:31] lpatmo commented on #911
I remember that we added something to https://github.com/codebuddies/greetbot; if we want to tweak the message there further, let's file an issue on that repo!

[2018-09-27 07:31] #911 closed

[2018-09-27 07:31] #934 closed

[2018-09-27 07:32] lpatmo commented on #938
Note to new contributors: please check out docs.codebuddies.org for the docs on how to get started!

[2018-09-27 07:34] lpatmo commented on #848
I believe we have, for account deletion. Closing this issue now.

[2018-09-27 07:34] #848 closed

[2018-09-27 07:35] lpatmo commented on #939
@phavor I believe @julianjohannesen is talking about this page:

https://codebuddies.org/study-groups
![image](https://user-images.githubusercontent.com/4512699/46130044-26f80b00-c1ed-11e8-81e1-8703a8d6e0ad.png)

Hope this helps!

[2018-09-27 07:38] lpatmo commented on #958
Love all those ideas. If they can be pulled into separate PRs/issues, we can definitely do that so that you (and potentially other contributors!) get max credit. :)

[2018-09-27 07:52] lpatmo commented on #967
++

In a user's CB profile, users _are_ given the option to fill out a twitter handle, so perhaps we could:
- check that a user has saved a twitter handle
- if so, append `@twitter_handle` to the learning they're sharing, assuming they've checked the checkbox to give the CB app permission to share on twitter.

![image](https://user-images.githubusercontent.com/4512699/46131066-9f5fcb80-c1ef-11e8-8

[2018-09-27 08:00] lpatmo commented on #964
The specific page I'm talking about is this one:
![image](https://user-images.githubusercontent.com/4512699/46131189-e6e65780-c1ef-11e8-9d3f-22f7aa87655e.png)

As users scroll and join groups, it can be hard to tell which study groups are still active.
(Note: in reality, most activity I've seen from study groups has moved to private channels or DMs on Slack. But let's assume that we want to figure

[2018-09-27 08:17] lpatmo commented on #931
I'm going to separate out this issue into smaller issues. Closing this thread for now.

[2018-09-27 08:17] #931 closed

[2018-09-27 08:19] lpatmo opened #970 "Add three new fields to the signup screen"
When a new user logs in via Slack or Github for the first time, they are asked to fill out their name. Let's add three new fields to this screen, and also make these three fields editable on the profile page (see: profile-edit.html and profile-edit.js).

The three fields:
- One-line intro of yourself
- What skill(s) can you help others with?
- What skill(s) do you want to improve on?

See screensh

[2018-09-27 08:28] lpatmo commented on #775
We still don't automatically send out a welcome email to new users after they log in to the site for the first time.

The contents of the email could be a mirror of what users currently see when on the #landing_pad channel in Slack, as written beautifully by Bethany:

![screen shot 2018-09-27 at 1 28 21 am](https://user-images.githubusercontent.com/4512699/46133136-a63d0d00-c1f4-11e8-94e6-6f22f2bc

[2018-09-27 08:34] lpatmo opened #971 "Hide the "24 people in 24/7 hangout" message on codebuddies.org/coworking"
Until we can figure out why the wrong count is showing up underneath the Jitsi hangout frame, an easy "fix" would be to hide that particular message using CSS on https://codebuddies.org/silent.

NOTE: Please only hide the message for the codebuddies.org/silent, not for any other pages. This means a CSS fix is required.

Getting started:
1) Check out https://docs.codebuddies.org
2) Reply to this th

[2018-09-27 08:44] lpatmo opened #972 "Slack API: Send auto-email invite to user to codebuddies.slack.com when new user registers for the first time"
Instead of asking users to sign up for the Slack and for the website separately, we should send an auto-invite to the user's email to codebuddies.slack.com as soon as they log in for the first time on codebuddies.org.

Note:
- if a user chooses to log in via another Slack account, we'll still have their email when they sign up, and we should send an invite to that email.
- if a user chooses to log

[2018-09-27 08:45] lpatmo commented on #972
Note: If this feature is completed, it'll mean that we can remove https://codebuddiesmeet.herokuapp.com links from the home page, and have it around as a backup for logged-in users in case the auto-invite email fails.

[2018-09-27 15:44] gauravchl commented on #958
Good idea. So let's create new issues for every command with `#help wanted` and `#good first issue`?
https://help.github.com/articles/helping-new-contributors-find-your-project-with-labels/

Does [theses projects](https://github.com/codebuddies/codebuddies/projects) are still relevant?
May be we could keep above tasks well organized there as well.

[2018-09-30 16:50] AnnaDodson commented on #938
Hi, I would like to look at this one. Thanks

[2018-10-01 04:42] AjayPoshak commented on #970
I would like to take it.

[2018-10-01 04:44] AjayPoshak commented on #971
I would like to take it.

[2018-10-01 04:56] railsstudent commented on #970
@AjayPoshak  It is yours.

[2018-10-01 04:57] railsstudent commented on #971
@AjayPoshak  It is yours.

[2018-10-01 07:09] lpatmo commented on #948
@railsstudent The relevant email template to edit should be `private/templates/email/new_member.html`!

As for testing, I _think_ if the settings-development.json SMTP API password key is updated, it will work, but I don't remember if there is another step. @distalx, do you happen to remember?

[2018-10-01 07:14] lpatmo commented on #938
@AnnaDodson Thanks Anna. Let us know here or in the #cb-code channel on the CodeBuddies Slack if you get stuck!

(In case you haven't seen it already, docs.codebuddies.org will hopefully be helpful.)

[2018-10-01 07:30] distalx commented on #948
This emails are being triggerd via cron job. it can be found here
https://github.com/codebuddies/codebuddies/blob/38543a844f06d50466ee0eec7596e81c18fb13ab/server/cron_job/methods.js#L95

For testing keep `isModeDebug` : `true` and the cron will run at every 4 minutes.
https://github.com/codebuddies/codebuddies/blob/f8018a08e09de340c925d61c3a2b4292f9988f7b/settings-development.json#L3

[2018-10-01 08:16] distalx commented on #948
@lpatmo

The above mention solution will only work if the user has already signed in, otherwise, the app will redirect the user to the home page.

@railsstudent
The current **unsubscribe** link takes the user to the "_unsubscribe me_" route. here, `unsubscribeLinkId` is unique for each user.
https://github.com/codebuddies/codebuddies/blob/f8018a08e09de340c925d61c3a2b4292f9988f7b/lib/routes.js#L300

[2018-10-01 10:35] railsstudent commented on #930
@lpatmo  Is this issue fixed? Can it be closed? Thanks.

[2018-10-01 10:53] railsstudent commented on #972
I will work on it after finishing #948

[2018-10-01 12:54] vinmaster commented on #967
I would like to tackle this issue

[2018-10-01 13:36] railsstudent commented on #967
@vinmaster It is yours.  Have fun!!!

[2018-10-01 23:45] WizardOfAus commented on #829
This is an interesting discussion.

In the current vein of gamifying, it seems to be incentive/point driven. What about actual developer games/mini challenges/create a game?

[2018-10-02 04:35] 20djm commented on #939
Hi all I'm going to start working on this!

[2018-10-02 05:55] hiteshpr commented on #970
Is the issue over? I am interested.

[2018-10-02 05:56] stain88 commented on #970
There's currently a PR under review, @hiteshpr

[2018-10-02 06:17] hiteshpr commented on #970
No problem @stain88. Let me know if any new issue opens up.

[2018-10-02 07:59] #970 closed

[2018-10-02 08:16] lpatmo opened #985 "Let users edit their profile re: skills they can help others with, and skills they want to improve on"
I just merged in PR#974 (https://github.com/codebuddies/codebuddies/pull/974/files) to the `staging` branch, which adds three new fields to the Users collection: `intro`, `skillsHelpOthersWith`, and `skillsWantToImprove`.

![image](https://user-images.githubusercontent.com/4512699/46336547-fdb9ef00-c5df-11e8-8789-5bba91d3a9a2.png)

## TODO:
### 1) Give users the ability to go to their profile page

[2018-10-02 08:17] lpatmo commented on #967
@vinmaster Let us know if you have questions!

[2018-10-02 08:23] lpatmo opened #986 "[Bug] Github signup takes two tries"
On codebuddies.org, users can sign up one of two ways:
- sign up using Github (automatic auth)
- sign up via a Slack account (ideally their CodeBuddies Slack account)

I've noticed new users sometimes taking two tries of clicking on the "Sign in with Github" button before the app truly registers their username and logs them in via Github.

I can sometimes replicate this, and sometimes not. This wi

[2018-10-02 08:36] lpatmo commented on #937
For archival purposes, wanted to congratulate @gauravchl again on closing this issue (a couple of people have commented to me how impressive this PR was) and to drop a link to https://medium.com/codebuddies/interview-w-gaurav-coding-a-slack-integration-that-lets-users-schedule-codebuddies-hangouts-b8f8e43cedc6.

[2018-10-02 08:38] lpatmo commented on #913
This feature is in progress, claimed by @distalx.

[2018-10-02 08:38] #865 closed

[2018-10-02 08:40] #594 closed

[2018-10-02 08:40] tarunjindal790 commented on #985
I am working on this. :)

[2018-10-02 08:44] railsstudent commented on #948
@distalx  I am working on unsubscribe link and CB Mailer returns error log
20181002-04:41:00.052(-4)? inside mailer new_hangout
I20181002-04:41:00.799(-4)? { Error: Invalid login: 535 5.7.8 Sorry.
I20181002-04:41:00.800(-4)?     at SMTPConnection._formatError (/Users/connieleung/.meteor/packages/email/.1.2.3.1d12ouy.i83b++os+web.browser+web.cordova/npm/node_modules/node4mailer/lib/smtp-connection/

[2018-10-02 08:45] railsstudent commented on #948
Found smtp config in settings-development.json.

[2018-10-02 08:52] lpatmo opened #987 "Minor CSS issue: black-text-on-red-button"
Entirely minor issue. If I am a moderator for the site, and I go to the hangout page for a hangout another user scheduled, I'll see some moderator-only features like a "Delete" button.

Currently, it's black text on red button. And the "M" icon indicating "Moderator" is too close to it.

Fix:
- either remove red background `warning` CSS class or update that color of that button text to white
- add

[2018-10-02 09:02] 20djm commented on #986
I can try working on this one

[2018-10-02 09:02] tarunjindal790 commented on #987
I am trying to work on this.

[2018-10-02 09:04] lpatmo commented on #987
@tarunjindal790 Thanks! I just realized I didn't give clear instructions on *how* to make yourself a moderator once you've logged into localhost:3000; here are the instructions:

https://github.com/codebuddies/codebuddies/blob/staging/contributing.md#how-do-i-start-up-the-app-locally-and-log-in-as-an-admin

[2018-10-02 09:09] lpatmo commented on #958
Sounds good! I will start doing that.

Er... wow, I totally forgot about those projects. Thanks for reminding me. I think some of those issues are relevant still, but working with projects hasn't been very intuitive, so I will try to turn them into issues. I've mostly still been using the Trello board at https://trello.com/b/3Olzq5sh/codebuddies.

That said, if you like the Github Projects feature

[2018-10-02 09:12] tarunjindal790 commented on #987
Thanks for this! I was a bit confused there. @lpatmo

[2018-10-02 09:15] lpatmo commented on #987
Np! If you get stuck somewhere or if it doesn't work let me know!

[2018-10-02 09:16] lpatmo commented on #985
@tarunjindal790 Thanks! I will mark this as claimed for you. :) Let us know if you need help.

[2018-10-02 09:32] lpatmo commented on #696
@angelocordon I can't believe we dropped this. I just re-discovered this thread and love your design for the card. Would it be all right with you if I created a CSS issue for this card design for Hacktoberfest?

[2018-10-02 09:39] lpatmo opened #988 "Remove "I'm working on..." section from /hangouts; default to list of learnings"
Sadly, because the https://github.com/mizzao/meteor-user-status package was deprecated, our box displaying the count of current users online and each users' current status is not working anymore.

The original idea was that folks would have codebuddies.org/hangouts open, see other users and their current status message as they logged in, mark whether they were up for a silent/teaching/collaborativ

[2018-10-02 09:50] lpatmo opened #989 "Know when a user is online or idle on codebuddies.org"
We used to use https://github.com/mizzao/meteor-user-status/issues to display when a user was logged in and online/potentially up for a hangout in a study group. (See: the "online members" section of a group.) However, the package is not compatible with Meteor 1.7.

I noticed there might be alternatives, such as https://github.com/copleykj/socialize-user-presence, or https://github.com/VeliovGroup

[2018-10-02 10:00] lpatmo opened #990 "Slack API: share a learning to CodeBuddies directly from Slack (@cb_jarvis)"
Currently, users can schedule a hangout directly from Slack (see: https://github.com/codebuddies/codebuddies/pull/943).

On the site, we have a learnings tracker that hasn't gotten a lot of love (only ~300 learnings reported):

![screen shot 2018-10-02 at 2 55 54 am](https://user-images.githubusercontent.com/4512699/46342070-b6872a80-c5ee-11e8-9835-64180a1f866e.jpg)

As you might be able to tell f

[2018-10-02 10:09] lpatmo opened #991 "On profile page, add a textarea so users can type in something they learned directly above their log of learnings"
If you go to your profile page on https://codebuddies.org, you'll see a log of learnings that you've shared.

![screen shot 2018-10-02 at 3 02 15 am](https://user-images.githubusercontent.com/4512699/46342517-c9e6c580-c5ef-11e8-9e3e-5820cc814c6e.jpg)

Currently, there is no way to share a learning directly on this page.

Borrowing from the "Today I learned..." section from https://codebuddies.org/

[2018-10-02 10:19] LeomarAmiel commented on #988
Working on it! 😁

[2018-10-02 11:34] codemzy commented on #991
I will have a go at this 😅

[2018-10-02 12:41] tarunjindal790 commented on #987
Hey, @lpatmo Sorry for the delay but I am stuck whenever I try to run the project .The terminal shows up downloading meteor-tool and freeze there.I will try to make things right.Meanwhile,I think @9jaswag can take up the issue.

[2018-10-02 12:43] tarunjindal790 commented on #985
Hey, @lpatmo Sorry for the delay but I am stuck whenever I try to run the project .The terminal shows up downloading meteor-tool and freeze there.I have been trying to fix it for hours but nothing seems to work.

[2018-10-02 13:29] 9jaswag commented on #987
Okay. I'll work on it

[2018-10-02 14:45] 9jaswag commented on #987
@lpatmo I have been able to set up the app locally and I'm trying to add myself as an admin but the instruction just says `add your email and username to settings-development.json.` without saying how. Is there a particular key/value pair for adding email and username?

[2018-10-02 14:47] railsstudent commented on #948
Cc @lpatmo

[2018-10-03 02:42] tyberious-1 opened #994 "Clojure Status Icon"
Before you open an issue, please check if a similar issue already exists or has been closed before. Also please remember that you can also get help in the [#codebuddies-meta channel on the CodeBuddies Slack](https://codebuddiesmeet.slack.com/messages/codebuddies-meta/). (If you are not a member, you can get your invite from [here](http://codebuddiesmeet.herokuapp.com/).

Do you want to request a f

[2018-10-03 02:55] lpatmo commented on #994
@tyberious-1 Are you talking about the status icon on Slack, or on the website?

[2018-10-03 03:02] tyberious-1 commented on #994
![image](https://user-images.githubusercontent.com/5651834/46387912-3537a280-c697-11e8-96d5-5c9dc2fa4083.png)

[2018-10-03 03:07] lpatmo commented on #994
@tyberious-1 Ah, that's Slack, not a Github issue. Questions like that can go to #codebuddies-meta. I added a :clojure: emoji for you in the Slack workspace -- I think you should be able to get it now!

[2018-10-03 03:07] #994 closed

[2018-10-03 07:39] lpatmo commented on #948
Sorry for the slow reply! I don't really understand the error. My guess is the API key for `password` in settings-development.json key needs to be updated, so I created a new one in a new test Sparkpost account, but I haven't had any luck getting an email to fire. I think maybe I need to have the domain verified first. There is a Slack Sparkpost community that I joined (http://slack.sparkpost.com/

[2018-10-03 07:42] railsstudent commented on #948
Thanks Linda for the response. I am using a workaround to dump the unsubscribe link in console and paste it to browser to test at the current moment

[2018-10-03 07:55] lpatmo commented on #948
Okay, I finally remembered how to get back into the old account that had the domain already verified, and I have a new key I will DM you on Slack.

[2018-10-03 08:01] lpatmo commented on #987
@tarunjindal790 Sorry that happened! You were stuck on the installing meteor step? Could you file a new Github issue with some details about which OS you are using and the error message you got?  I can help you troubleshoot there.

@9jaswag The two lines to changes are 41 and 42 in settings-development.json, here:
[code]

Hope this helps! And for some reason if the email is not firing, let me know

[2018-10-03 08:05] #939 closed

[2018-10-03 08:18] #991 closed

[2018-10-03 08:42] railsstudent commented on #948
@lpatmo I can receive email in my email account now. thanks

[2018-10-03 09:09] 20djm commented on #986
@lpatmo I've really tried to replicate this bug, but I haven't been able to. I also reviewed the existing functionality for the sign in with github button, and I haven't found any glaring errors. Of course, this doesn't mean that there isn't a bug in there somewhere; however, if there is, I don't think I can find it anytime soon.

[2018-10-03 09:59] lpatmo commented on #986
@20djm Thank you for taking a look! I will leave this issue up in case anyone else is able to replicate it.

[2018-10-03 12:01] railsstudent commented on #821
The person has not started the item for a long time. Are you interested? Thanks.

[2018-10-03 17:40] 9jaswag commented on #987
@lpatmo I'll give that a try. Thanks

[2018-10-03 17:47] rahul1995 commented on #972
I am looking into this for time being?

[2018-10-03 17:48] rahul1995 commented on #972
Can I look into this for time being?

[2018-10-04 02:43] kdaker commented on #971
@AjayPoshak are you still working on this?

[2018-10-04 05:41] railsstudent commented on #972
@rahul1995  I am working on it now.

[2018-10-04 07:38] railsstudent commented on #972
@lpatmo I would like to clarify the scope of this task.
![screen shot 2018-10-04 at 3 36 00 am](https://user-images.githubusercontent.com/1159649/46459369-b752c480-c786-11e8-890c-4b23039f421c.png)
Does the auto-invite email look similar to the one sent by Slack? I have question about the underlying url of the Join Now button.  It is created by Slack, I would not able to generate it.  Please advise

[2018-10-04 07:54] lpatmo commented on #972
I think we need to use the undocumented `user.admin.invite` method from Slack: https://github.com/ErikKalkoken/slackApiDoc/blob/master/users.admin.invite.md

I found a short tutorial at https://www.robinwieruch.de/slack-invite-javascript-react/ which uses React, but covers the basics. Eg:

[code]

[2018-10-04 09:02] peoray commented on #821
@railsstudent yes I am

[2018-10-04 17:35] rahul1995 commented on #986
Can I try looking into this one?

[2018-10-05 14:02] rmorabia commented on #453
@lpatmo Is this still an issue? Any general update on how you want to tackle this (1 year later)?

[2018-10-05 16:16] lpatmo commented on #453
@rmorabia Thanks for pointing this out! I will close it. Not much of a priority issue anymore, since we have a static countdown at the top of hangout pages now (see screenshot below). However, if someone wanted to tackle it, I wouldn't be opposed. Here is an approach I might take: https://codeburst.io/a-countdown-timer-in-pure-javascript-f3cdaae1a1a3

![image](https://user-images.githubusercontent

[2018-10-05 16:16] #453 closed

[2018-10-05 17:45] 9jaswag commented on #987
@lpatmo I got an `Error: Invalid login` error when resetting Meteor and running the app after adding my email and username

[2018-10-05 18:47] lpatmo commented on #972
If a user signs using in Slack using a different Slack (because they are not a member of the CB Slack yet), we'll still grab their email address associated with that Slack account, and they'll see the welcome screen where they'll fill out the rest of their info like first name, last name, username, intro, and skills.

Then, theoretically/ideally, the automatic invite-to-CB-Slack will fire, and the

[2018-10-05 18:52] railsstudent commented on #972
@lpatmo  I saw the welcome screen and input the entry as expected.
In my test slack gmail account, I saw this instead.

![connected-app](https://user-images.githubusercontent.com/1159649/46554441-3e4e8c80-c8ae-11e8-91b5-a646f6bd075d.png)

[2018-10-05 19:03] lpatmo commented on #972
That looks fine, since we haven't built the invite-a-user-to-Slack feature yet. I think even if the user disconnects this test Slack account from the "Connected Accounts" page, the next time they log in to cb.org using a Slack account with this email, we'll still recognize them.

[2018-10-05 19:14] railsstudent commented on #972
Then, they will not receive email with the Join Now button to join codebuddies workspace.

[2018-10-05 19:20] railsstudent commented on #972
I don't know if it is bad wifi at airport or bad code, I do not receive email when logging with github account. I will leave it until I return to HK.

[2018-10-06 07:17] lpatmo opened #998 "CSS: Improve hangout cards design based on mockup"
@angelocordon designed this last year:

![image](https://user-images.githubusercontent.com/4512699/46568605-9613e480-c8fc-11e8-9a2a-4743a61ed31d.png)
Source: https://github.com/codebuddies/codebuddies/issues/696

Right now one of our hangout cards on codebuddies.org/hangouts looks like this:
![image](https://user-images.githubusercontent.com/4512699/46568648-14708680-c8fd-11e8-95f4-f088ba3ed520.pn

[2018-10-06 13:33] adityatandon007 commented on #998
@lpatmo I would like to try this !

[2018-10-06 15:52] AnnaDodson commented on #938
Hi, I think the problem seems to be the window scroll listener triggering the scroll handler multiple times before the study groups have loaded in. The scroll handler checks if the number to display limit is equal to the number of study groups currently loaded and increases the page limit if it's not. So by the second time it's hit, the page limit is greater because the study groups haven't had ti

[2018-10-06 16:57] lpatmo commented on #938
Thanks for taking a look, @AnnaDodson! I'm leaning towards making the study groups work the same way as the hangouts page -- with a button to load more rather than lazy loading them in. @distalx -- do you have any thoughts on this?

[2018-10-06 19:03] Bigocb commented on #990
I would like to try this one!

[2018-10-06 22:45] mahamshahid18 commented on #998
@lpatmo Hi. I'd like to work on this if this is still open?

[2018-10-06 23:07] mahamshahid18 commented on #964
Hi @lpatmo I'd like to work on this issue.

I like your suggestions. Other things that can be done are:
* Add a `Created On` field to the db and also add it on the card
* As a further addition to this, maybe as an extension for the future, the cards can be filtered by their `created on` date or by latest activity (as you mentioned above)

[2018-10-06 23:18] mahamshahid18 commented on #85
Hello. I'd like to work on this, sounds fun 😄 @wuworkshop

[2018-10-07 03:36] #967 closed

[2018-10-07 03:42] lpatmo commented on #998
Hey @mahamshahid18, we still need help with this issue! PR#999 added some changes, so it now looks like this:
![image](https://user-images.githubusercontent.com/4512699/46577999-50acf100-c9a8-11e8-9fbc-b794d2036adf.png)

But we want the card to look like this:
![image](https://user-images.githubusercontent.com/4512699/46578000-573b6880-c9a8-11e8-8c44-bbd6f3228e8e.png)

Let me know if you need help

[2018-10-07 10:34] askesis commented on #998
@lpatmo I'll try make this task, but I have some questions.

1. Where is the `join now` button on a new card ?
2. What is the `i` sign on a card header?

[2018-10-07 11:52] mahamshahid18 commented on #998
@lpatmo yes for sure, I'll work on this 👍

[2018-10-07 11:57] mahamshahid18 commented on #964
This is great, this really helps. I'll start on this in a bit ^_^

[2018-10-07 11:58] mahamshahid18 commented on #821
Oh alright then. Hey @peoray, if you're not done with it already, let me know if you want to collaborate on it :)

[2018-10-07 16:59] railsstudent commented on #990
@Bigocb it's your to tackle

[2018-10-07 17:23] AnnaDodson opened #1003 "Hangouts Load More button takes you to the top of the page after clicking it"
Bug. Related to the PR #1002 for issue #938

What is the current behavior?
Currently, when clicking on the load more button, more Hangouts are loaded but the page scrolls to the top and you need to scroll all the way back down again to find your place.

What is the expected behavior?
I would expect to click the button and the Hangouts be dynamically loaded in so my place isn't lost on the screen.

[2018-10-07 20:28] AnnaDodson commented on #1003
Great! Will do. I'll wait for the review on PR #1002 before raising a PR for this one in case there are any issues. Thanks :smile:

[2018-10-08 02:16] peoray commented on #821
Sure, we can. If you are in the slack channel, send me a PM on @peoray

cc @mahamshahid18

[2018-10-08 03:33] lpatmo commented on #821
@peoray The popup is generated via sweetalert, in `client/layouts/layout.js`

No preference re: styling; IIRC the tricky thing is getting Github supported.

[2018-10-08 05:56] #968 closed

[2018-10-08 18:43] joelmheim commented on #775
I would like to take a stab at this, if it is not already being worked on.

[2018-10-08 18:52] lpatmo commented on #775
@joelmheim Thanks, go ahead! Let us know if you have questions.

[2018-10-08 21:06] joelmheim commented on #775
Will do. Have started looking into it.

[2018-10-09 07:50] #948 closed

[2018-10-09 07:56] lpatmo commented on #964
Note: we may have to double check that `createdAt` is actually being saved every time a new study group is created. @mahamshahid18 I'm also happy to file this as a separate Github issue in case it is a real bug, and you can continue working on this bug after that issue is fixed.

[2018-10-09 07:58] #988 closed

[2018-10-09 08:02] lpatmo commented on #985
@tarunjindal790 Sorry, I missed your message somehow! I will mark this as `unclaimed`. What OS are you on? What was the error, and did the error happen when you were running the meteor install command?

[2018-10-09 08:05] #972 closed

[2018-10-09 18:12] NicBonetto commented on #985
@lpatmo I can take this on if it is still unclaimed.

[2018-10-09 19:50] mahamshahid18 commented on #964
I'll take a look at this and confirm if it is indeed a bug. I'm working on the hangouts card issue right now. I'll start this one afterwards 👍

[2018-10-09 23:52] mahamshahid18 commented on #998
Hey @lpatmo here's how the cards are looking right now in different states.

**State: Hangout Scheduled**
![card-scheduled](https://user-images.githubusercontent.com/12479952/46705194-e9ad6780-cc47-11e8-89fa-e4817cf75876.PNG)

**State: Hangout Scheduled : card hover**
![card-scheduled-hover](https://user-images.githubusercontent.com/12479952/46705232-0c3f8080-cc48-11e8-9ebc-ac64eec61f87.PNG)

**St

[2018-10-10 02:33] railsstudent commented on #985
@NicBonetto It is still unclaimed. You are welcome to work on it. Thanks.

[2018-10-10 04:45] #327 closed

[2018-10-10 04:46] #525 closed

[2018-10-10 04:47] #466 closed

[2018-10-10 04:53] lpatmo commented on #998
@mahamshahid18 That looks great! Thank you! Maybe one more check: could you test what it looks like if the study group name has many words? Perhaps we could truncate it using CSS (eg https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/).

![image](https://user-images.githubusercontent.com/4512699/46713836-6707b680-cc0d-11e8-89e2-8b9c676cf80f.png)

Otherwise, feel free to submit a PR!

[2018-10-10 04:54] #938 closed

[2018-10-10 14:04] mahamshahid18 commented on #998
@lpatmo I did check for long study group names and it looked very messy. Thanks for the link, I've added string truncating as well now. Here's how it looks

![card-study-group-name-truncating](https://user-images.githubusercontent.com/12479952/46741815-384a1880-ccbf-11e8-9d6c-43fce2382dcb.PNG)

I'll submit a PR now :)

[2018-10-10 15:54] NicBonetto commented on #985
@railsstudent Ok sounds good. Just for clarification, I am merging this to the `staging` branch not `master` branch correct?

[2018-10-10 15:57] stain88 commented on #985
yeah, branch from `staging`, back to `staging`

[2018-10-10 17:08] lpatmo commented on #987
@9jaswag Sorry I missed this. Can you share a screenshot of the `Error: Invalid login` message you're seeing? I'm a little confused about the error message.

[2018-10-10 22:47] nathanejbrown commented on #985
I can probably knock this out. My thinking is that I would send the skills to the back end as an array. Is there another data structure that's preferable?

[2018-10-11 06:00] lpatmo opened #1009 "CSS adjustments for hangout card"
1) When the study group title is too long, it is too close to the "i" icon

2) Expand and center the "RSVP to this Hangout" button; right now it is very narrow.

Let's make the button look more like:

![image](https://user-images.githubusercontent.com/4512699/46783710-288efc00-cce0-11e8-9eb2-75cd0c537aa9.png)

3) Remove the "Join now" green button from "LIVE NOW"/active events

[2018-10-11 06:02] #998 closed

[2018-10-11 06:41] mendaomn commented on #1009
Hey, I'd like to take up the issue! :) Trying to set everything up right now

[2018-10-11 06:51] lpatmo commented on #985
@nathanejbrown Sorry, @NicBonetto just submitted a PR for this issue. Re: your question, for future reference -- the `skills` is a textarea, so would be submitted to the backend as a string.

[2018-10-11 07:02] lpatmo commented on #1009
I just realized that all my copy/paste screenshots were off. Will edit the post shortly!

[2018-10-11 11:19] jhorner32 commented on #1009
@mendaomn, let me know if you need any help. I'd love to help on this as well :)

[2018-10-11 15:41] mahamshahid18 commented on #964
@lpatmo just checked, the `createdAt` field is being saved, so we don't need to worry about that 😅

[2018-10-11 21:01] mahamshahid18 commented on #964
Hey @lpatmo I've added the logic to update the value of the `updatedAt`  field when a study group document is modified. This is working (it's getting updated).
However, I've run into a weird problem. The `updatedAt` field is not saved when a new study group is created. Using ctrl+m on the main study groups page, I can see that none of the new groups that I created had an `updatedAt` field, but if

[2018-10-11 21:30] joelmheim commented on #775
I have been looking at this, and while I must admit that I've had some problems finding my way in the codebase (mostly because I'm not familiar with Meteor), my plan so far is to somehow trigger email sending from the Accounts.onCreateUser callback that is already implemented. The problem is that there are multiple return statements in this method depending on the login service. Feel we should hav

[2018-10-12 05:33] #930 closed

[2018-10-12 06:59] lpatmo commented on #964
@mahamshahid18 That sounds like a publications issue! Perhaps you need to adjust line 40 on server/study_groups/methods.js so that `updatedAt` is published to the "all study groups" view? (Don't quote me on the line number, but I do think that's the file to look into.)

[2018-10-12 07:12] lpatmo commented on #775
Thanks for looking into this, @joelmheim! A couple of quick thoughts:

- We should send the email welcome message regardless of which service the user signs up with, so like the `SlackAPI.inviteUser(user.email);`, maybe we could have a `

- Templates for existing emails currently live in the `private` folder. One template you could probably copy/paste and fill in the welcome content for: private/t

[2018-10-12 12:47] mahamshahid18 commented on #964
Hmm. Ok thanks, I'll take a look

[2018-10-12 15:19] mahamshahid18 commented on #964
Hey @lpatmo I figured it out. Here's how the study group card looks now (if there is an `updatedAt` field present):

![last-activity-on-study-group-card](https://user-images.githubusercontent.com/12479952/46878188-1508a000-ce5c-11e8-9cdb-26ea8cad38ae.PNG)

Is this good or do you want any changes to it?

[2018-10-12 17:15] lpatmo commented on #964
That looks great!

[2018-10-12 18:22] joelmheim commented on #775
Will start putting this into code. I will create an initial suggestion as a pull request, and then we can refine it together before we merge it in. I will make sure the initial version is functional to the extent that I can. Much easier to discuss once we have some code to look at.

[2018-10-12 19:17] mahamshahid18 commented on #964
Ok then I'll submit a PR for this :)

[2018-10-12 21:15] joelmheim commented on #775
Can you direct me to the code where these templates are used for sending email? Having trouble finding it on my own.

Also, I will start putting together a PR on this. I think it is easier to discuss different options once we have some code to look at. We can do more iterations on it before we merge it, if necessary.

[2018-10-12 21:42] joelmheim commented on #775
I think I figured it out. Trying to get a PR in tomorrow or Sunday as a first suggestion.

[2018-10-13 03:04] shuayb01 commented on #987
Is this still open?

[2018-10-13 06:03] lpatmo commented on #987
@shuayb01 I believe @9jaswag is working on this, sorry! We just managed to get the admin password firing. I will update contributing.md and docs.codebuddies.org with some updated instructions about the gotchas involved.

[2018-10-13 06:33] lpatmo commented on #775
@joelmheim Thanks. Re: code involving sending email -- did you find `imports/libs/server/cron/initial_email_notifications.js`? I see a couple of calls to `CBMailer` in there.

[2018-10-13 10:03] 9jaswag commented on #987
I'll be raising a pull request for the issue today

[2018-10-14 07:32] lpatmo commented on #821
@peoray Thanks for poking at me to follow up on this thread. (Sorry I missed this!) To clarify, this is the task for this issue:

- upgrade sweetalert from sweetalert 1.x to sweetalert 2.x.

The relevant code is in https://github.com/codebuddies/codebuddies/blob/38543a844f06d50466ee0eec7596e81c18fb13ab/client/layouts/layout.js. As Connie mentioned above, sweetalert 1.x currently only supports one

[2018-10-14 07:38] lpatmo opened #1014 "Upgrade sweetalert 1.x to sweetalert 2.x"
I am filing this bug after discussion in https://github.com/codebuddies/codebuddies/issues/821 (adding a "sign in using Github" link on the sweetalert) surfaced the fact that we need to upgrade to sweetalert 2.x before we can support having both a Github and Slack sign-in actions on the sweetalert.

The task:
- upgrade to sweetalert 2.x from 1.x
- Guidelines to follow: https://sweetalert.js.org/gu

[2018-10-14 07:42] lpatmo commented on #1014
Update: Oh wait, actually it looks like we have https://atmospherejs.com/patrickml/swal installed, which supposedly supports sweetalert 2.

Wonder if someone can confirm that the following works:
[code]

[2018-10-14 07:55] #987 closed

[2018-10-14 08:06] eragon512 commented on #1014
hi, i'd like to take up this issue, if its available

[2018-10-14 10:52] eragon512 commented on #1014
Sweetalert Screenshot with the above markup:

![screenshot_2018-10-14 codebuddies org codebuddies org](https://user-images.githubusercontent.com/9765685/46915732-2e7d2980-cfcd-11e8-9229-37154565a9b9.png)

[2018-10-14 21:00] joelmheim commented on #775
@lpatmo Will you have a look and maybe test the functionality? I'm having problems in dev with wrong login information for the SMTP service, so I wasn't able to test the email sending and look at the format.

[2018-10-15 08:45] railsstudent commented on #775
@joelmheim I can send you smtp api id after work tonight.   However, please do not commit it to github. Thanks.

[2018-10-15 09:33] joelmheim commented on #775
@railsstudent Great. Appreciate it.

[2018-10-15 15:03] mendaomn commented on #1009
Hey, I'm working on the issue

How can I reproduce a "live now" hangout? I've gone ahead and set `feeder: true` but it doesn't populate with live events

[2018-10-15 16:11] lpatmo commented on #1009
@mendaomn You need to click on the "schedule a hangout" button on codebuddies.org/hangouts. The default start time will be "now," so when you schedule one the hangout will be scheduled to start automatically, and will be "live now."

Oh, yes -- the title should be blue, according to the screenshot. Thanks for catching!

[2018-10-16 08:37] joelmheim commented on #775
Tested again now, and confirmed that the email sending is working.  Attached is a PDF of the email I received in test. Happy to work further with you on the format of the email. But the functionality is certainly working. We can also discuss the code itself. As you can see I've made some changes to the main.js file, so it will affect all user sign-in.
[codebuddies-welcome-email.pdf](https://github

[2018-10-18 19:52] sebbel opened #1019 "Dev instances of Codebuddies should not log messages to #codebuddies-ops"
kinda spammy but for every hangout in every dev instance out there, we get a message in #codebuddies-ops

[2018-10-19 05:30] lpatmo commented on #1019
I think you can set which Slack channel your test hangout alerts on line 38 in settings-development.json:

```  "slack_alert_channel": "#codebuddies-ops",```

We could create a new Slack channel (#codebuddies-test-hangouts) and have all the local hangout notifications log there. (Update: just created it. :))

Hacktoberfest PR proposal:
- Update `#codebuddies-ops` to be `#codebuddies-test-hangouts`

[2018-10-19 05:34] lpatmo opened #1020 "Slack reminder alerts are not sending out"
We have a bit of code that sends out reminders to the #announcements channel that a hangout is set to start in less than 2 hours (see: `server/slack/methods.js`):

[code]

However, although announcements about new hangouts are firing, this reminder code is not. Wonder if someone could look into it.

[2018-10-19 05:51] #1003 closed

[2018-10-19 09:09] yoksanherlie commented on #1020
I would like to work on this :)
Can you tell me how to reproduce this issue? Do I just create a new hangout?

[2018-10-20 02:06] thunatos commented on #1014
I would like to work on this issue.

[2018-10-20 03:12] thunatos commented on #1014
Hello Ipatmo,

I went ahead and confirmed that

swal({
  title: '<strong>HTML <u>example</u></strong>',
  type: 'info',
  html:
    'You can use <b>bold text</b>, ' +
    '<a href="//github.com">links</a> ' +
    'and other HTML tags',
  showCloseButton: true,
  showCancelButton: true,
  focusConfirm: false,
  confirmButtonText:
    '<i class="fa fa-thumbs-up"></i> Great!',
  confirmButtonAriaLabe

[2018-10-20 04:35] lpatmo commented on #1014
@thunatos Thanks for looking! I tried it out myself; unless I'm missing another setting, it looks like the HTML isn't supported, unfortunately:

[code]
[code]

[2018-10-20 05:49] thunatos commented on #1014
After further research, it appears that there required a new plugin. I went ahead and upgraded to sweetAlert2 with a package wrapper by performing:

--- meteor add cleandersonlobo:sweetalert2

Here are the results:

![image](https://user-images.githubusercontent.com/831191/47251954-e60ca400-d3f0-11e8-8c9d-ceec8f2c9eb0.png)

[2018-10-20 05:53] lpatmo commented on #1014
@thunatos That looks great! Do you want to create a PR only adding the new packages? swal 2.0 support means we'd finally be able to tackle #821 now.

[2018-10-20 06:03] vividh commented on #1019
I'll take this!
Suggestion: `isModeProduction` can be relied on to not send slack messages in dev mode. Should I include that as well?

[2018-10-20 06:12] lpatmo commented on #1019
Thanks @vividh! We're actually still sending the notifications to #codebuddies-ops even when `isModeProduction` is false, heh. I do think it's important to see these messages -- eg when we're testing the formatting of these messages, or testing that they are firing as expected.

So this change should be pretty straightforward: changing #codebuddies-ops to #codebuddies-test-hangouts.

[2018-10-20 06:19] #775 closed

[2018-10-20 06:24] lpatmo opened #1021 "Redirect new users to the "welcome" page after they sign up for the first time"
After a new user signs up for the first time (aka after they see this screen):
![image](https://user-images.githubusercontent.com/4512699/47252236-fa06d480-d3f5-11e8-9507-2729165576ca.png)

... let's redirect them to https://codebuddies.org/welcome.

We're using `FlowRouter`, so the URL path should be something like `FlowRouter.go("path")`.

If you're a new contributor and need to get set up, plea

[2018-10-20 06:29] vividh commented on #1019
Alright. Will send PR in a while!

[2018-10-20 06:29] lpatmo opened #1022 "CSS issue on 'welcome' page"
See:

![image](https://user-images.githubusercontent.com/4512699/47252256-a34dca80-d3f6-11e8-8e0a-f2adf53cdaf0.png)

This currently only appears on https://staging.codebuddies.org/welcome. It's related to some CSS tweaks merged in a previous PR that adjusted the styling of the h1 on the staging.codebuddies.org/study-groups page, I believe.

TODO: fix this on the welcome page and double check that

[2018-10-20 06:44] TomerPacific commented on #1022
Hi @lpatmo ,
I would like to tackle this issue. Anything else I should be aware of other than what you said?

[2018-10-20 06:53] lpatmo opened #1023 "Update the "welcome" text on the codebuddies.org/welcome page and welcome email"
The two files that need to be updated:
- private/templates/email/welcome_message.html
- client/templates/other/welcome.html

This is a `good-for-beginners`, pure HTML issue.

Please update the text to say:

------------------------------------------------------------

***What exactly is CodeBuddies?***

We’re a community of independent code learners sharing knowledge and helping each other learn f